#formulaInfo {
    -moz-appearance: textfield-multiline;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    overflow: auto;
    padding: 2px;
    resize: both;
    height: 90px;;
    background-color:#fff;
    border-style: solid;
    border:1px solid #c2cad8;
    border-radius:4px;
    padding-left:10px;
  }
 .formula-color{
    color:#0095b3;
    font-size: 15px;
  } 
   .formula-default{
    font-size: 15px;
    line-height: 1.42857;
    color: #898788;
  
  }
  
  .formula-btn{
      background-color: white;
      color: #666666;
      border: 1px solid;
  }
  .formula-btn:focus{
   outline: 0
  }
  .formula_button{
   margin:0px 5.5px 8px 0px;
   background-color: white;
   color: #666666;
   border: 1px solid;
  }
  .formula_span[disabled] {
    pointer-events: none;
  }
 .formula_function{
     margin: 0px 3px 9px 0px;
     background-color: white;
     color: #666666;
     border: 1px solid;
  }