<app-breadcrumb [breadcrumbData]="breadcrumbDataFrom">
</app-breadcrumb>
<br>
<p-growl [(value)]="msgs"></p-growl>
<div notifybar style="position:fixed;top:40px;right:0;z-index:1000"></div>
<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light bordered fullscreendashobard">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers "></i>
                    <span class="caption-subject bold">{{dashboardName}}</span>
                </div>
                <div class="actions">
                    <!-- <a class="btn btn-circle btn-icon-only btn-default bg-yellow bg-hover-grey-salsa font-white fa-icon fa-edit " style="border: 0px solid transparent !important;">
                    </a> -->


                    <a class="btn btn-circle btn-icon-only btn-default " href="javascript:;" title="Edit" data-toggle="tooltip" data-placement="top"
                        data-(click)="enableEdit(uuid,version)">
                        <i class="fa fa-edit" style="display: block;margin: 2px auto;color:#a0a0a0;"></i>
                    </a>

                    <a class="btn btn-circle btn-icon-only btn-default fullscreen  " href="javascript:;" title="" data-toggle="tooltip" data-placement="top"
                        data-(click)="fullscreen()">

                    </a>


                    <!-- <a class="btn btn-circle btn-icon-only btn-default  bg-green bg-hover-grey-salsa font-white  fa-icon fa-sitemap" href="javascript:;" tooltip-placement="{{showtooltip}}" uib-tooltip="Show Dependencies" data-ng-click="showDashboardGraph(dashboarddata.dashboarddata.uuid,dashboarddata.dashboarddata.version)"data-ng-show="showdashboard" style="border: 0px solid transparent !important;">
                    
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default bg-green bg-hover-grey-salsa font-white fa-icon fa-file" href="javascript:;" tooltip-placement="{{showtooltip}}" uib-tooltip="Show Details" data-ng-show="!showdashboard" data-ng-click="showDashboardPage()" style="border: 0px solid transparent !important;">
                    
                    </a>
                    <a href="javascript:;" class="reload btn btn-circle btn-icon-only btn-default  bg-dark bg-hover-grey-salsa font-white fa-icon fa-refresh" ng-click="showdashboard==true?callGraph():broadcastRefreshData()" data-original-title="" title="" style="border: 0px solid transparent !important;">
                    
                    </a> -->
                    <a href="javascript:;" class="btn btn-circle btn-icon-only btn-default" title="Close" (click)="goBack()">
                        <i class="fa fa-times" style="margin: 2px auto;color:#a0a0a0;"></i>
                    </a>
                </div>
            </div>
            <!--End portlet-title-->
            <div class="portlet-body" style="margin-bottom:-15px;">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 col-sm-12">
                        <div class="portlet box green" style="border:1px solid #e7ecf1!important">
                            <div class="portlet-title">
                                <div class="caption">Filter
                                </div>
                                <div class="tools">
                                    <a title="Refresh" href="javascript:;" (click)="refreshDashboard(filterAttribureIdValues.length)" style="height:14px;">
                                        <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row" style="margin-top: 15px;">

                                    <div class="col-lg-4 col-xs-12 col-sm-12" *ngFor="let filterdata of filterAttribureIdValues" style="margin-bottom:25px;">
                                        <label>
                                            <b>{{filterdata.dname}}</b>
                                        </label>

                                        <select class="form-control" [(ngModel)]="selectedAttributeValue[filterdata.index]" name="selectrole" (ngModelChange)="onFilterChange(filterdata.index)">
                                            <option *ngFor="let data of filterdata.values" [ngValue]="data">{{data.value}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End portlet box green Filter-->
                    </div>

                    <div *ngFor="let row of sectionRows;let parentIndex = index">

                        <div class="col-md-{{data.fullWidth?'12':(row.columns.length < 3 ? 12/(row.columns.length) : '4')}}" *ngFor="let data of row.columns;let childIndex = index">
                            <div class="portlet light bordered" *ngIf="data.vizpodDetails.show==true">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span class="caption-subject font-dark bold ">{{data.vizpodDetails.name}}</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default"  [routerLink]="['/app/dataVisualization/vizpod',data.vizpodDetails.uuid,data.vizpodDetails.version,false]">
                                            <i class="fa fa-pencil-square-o" style="display: block;margin:2px 0px 0px 1px;"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" (click)="data.fullWidth =!data.fullWidth;fullScreenVizpod(parentIndex,childIndex)">
                                            <i class="{{data.vizpodDetails.iconclass}}" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div *ngIf="(data.vizpodDetails.type)!='data'&& (data.vizpodDetails.type)!='bubble' && data.vizpodDetails.isChart==true">
                                        <!-- <c3-chart [chartId]="data.vizpodDetails.id" [chartData]="dataChart" [ChartColumns]="columns" [chartColor]="color" [chartType]="data.vizpodDetails.type"  [chartDatax]="'name'"></c3-chart> -->
                                        <c3-chart [chartId]="data.vizpodDetails.id" [chartData]="data.vizpodDetails.datapoints" [ChartColumns]="data.vizpodDetails.dataColumns"
                                            [chartColor]="color" [chartType]="data.vizpodDetails.type" [chartDatax]="data.vizpodDetails.dataX"></c3-chart>
                                    </div>
                                    <div *ngIf="(data.vizpodDetails.type)!='data' && (data.vizpodDetails.type)=='bubble' && data.vizpodDetails.isChart==true">
                                        <c3-chart [chartId]="data.vizpodDetails.id" [chartData]="data.vizpodDetails.datapoints" [ChartColumns]="data.vizpodDetails.dataColumns"
                                            [chartColor]="color" [chartType]="'scatter'" [chartDatax]="data.vizpodDetails.dataX"></c3-chart>
                                    </div>
                                    <div *ngIf="(data.vizpodDetails.type)=='data' && data.vizpodDetails.isChart == true">
                                        <!-- rowData -->
                                        <ag-grid-angular style="width:100%;" class="ag-fresh" [rowData]="data.vizpodDetails.datapoints" [columnDefs]="data.vizpodDetails.dataColumns"
                                            [gridOptions]="data.vizpodDetails.gridOptions" (gridReady)="onGridReady($event)"
                                            [ngStyle]="getGridStyle(data.vizpodDetails.datapoints)" (selectionChanged)='onSelectionChanged($event)'>
                                        </ag-grid-angular>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>