.d3-context-menu {
	position: absolute;
	display: none;
    background-color: #333;
	/* border-radius: 4px; */
	font-family: Open Sans;
	font-size: 13px;
	min-width: 150px;
	border: 1px solid #d4d4d4;
	z-index:1200;
}

.d3-context-menu ul {
	
	list-style-type: none;
	margin: 0px !important;
	padding: 0px;
	cursor: default;
}
  
  
.d3-context-menu ul > li{
	position: relative;
	padding: 10px 10px;
	color: White;
}
  
.d3-context-menu ul > li:not(:last-child) {
	border-bottom: 1px solid white;
}
.d3-context-menu ul li:hover {
	background-color: #32c5d2;
	color: white;
}

.parent-menu-after::after {
	position: absolute;
    margin-top: 3%;
    right: .5em;
    z-index: 1;
    width: 0;
    height: 0;
    content: '';
    border-color: transparent transparent transparent white;
    border-style: solid;
    border-width: .35em 0 .35em .35em;
	
}


.d3-context-menu .parent-menu >li ul li:hover {
	background-color: #32c5d2;
	color: white;
}

.d3-context-menu ul li > ul {
    position: absolute; 
	background-color: #333;
	/* border-radius: 4px; */
	top:50%;
	left:100%;
	min-width: 150px;
	z-index: -1; 
	border: 1px solid #d4d4d4;
}
d3-context-menu .parent-menu li  ul >li{
	padding: 7px 16px;
	color: White;
}