<p-growl [(value)]="msgs"></p-growl>
<app-breadcrumb [breadcrumbData]="breadcrumbDataFrom"></app-breadcrumb>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="portlet light bordered" id="form_wizard_1">
      <div class="portlet-title" style="margin-bottom:0px;">
        <div class="caption">
          <i class=" icon-layers "></i>
          <span class="caption-subject  bold ">DQ Rules Wizard -
            <span class="step-title"> Step 1 of 4 </span>
          </span>
        </div>

        <div class="actions">
          <a class="btn btn-circle btn-icon-only btn-default currentpage left-margin" title="Main" data-placement="top"
            tooltip [ngClass]="showForm==true ? 'currentpage':'notcurrentpage'" data- (click)="showMainPage(dqdata.uuid,dqdata.version)">
            <i class="fa fa-home" style="display: block;margin: 2px auto;color:#a0a0a0;"></i>
          </a>

          <a class="btn btn-circle btn-icon-only btn-default left-margin" href="javascript:;" title="Edit" data-toggle="tooltip"
            data-placement="top" tooltip [ngClass]="isEdit == true? 'currentpage':'notcurrentpage'" data-(click)="enableEdit(dqdata.uuid,dqdata.version)">
            <i class="fa fa-edit" style="display: block;margin: 2px auto;color:#a0a0a0;"></i>
          </a>

          <a class="btn btn-circle btn-icon-only btn-default left-margin" href="javascript:;" title="Show Dependencies"
            data-placement="top" tooltip [ngClass]="showForm==false ? 'currentpage':'notcurrentpage'" data- (click)="showGraph(dqdata.uuid,selectedVersion.label)">
            <i class="fa fa-sitemap" style="margin:2px auto;color:#a0a0a0;"></i>
          </a>

          <a href="javascript:;" class="reload btn btn-circle btn-icon-only btn-default left-margin" disabled="true"
            (click)="showGraph(dqdata.uuid,selectedVersion.label)" data-original-title="" title="Refresh">
            <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:#a0a0a0;"></i>
          </a>

          <a class="btn btn-circle btn-icon-only btn-default left-margin" (click)="goBack()" title="Close">
            <i class="fa fa-times" style="margin: 2px auto;color:#a0a0a0;"></i>
          </a>
        </div>
      </div>

      <div class="form-body graph-body" *ngIf="showDivGraph" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQYV2NkIBIwgtStWrXqf1hYGJiNC+CVRNY0qhBv0AMAsKgECyGgekgAAAAASUVORK5CYII=');">

        <div class="form-body text-center" id="errorMsg" style="color:blue;"></div>
        <div class="spinner" id="graphloader">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <div class="show-graph-body" id="graphWrapper">
          <knowledge-graph></knowledge-graph>
        </div>
      </div>

      <div class="form-body" *ngIf="showForm">

        <div class="centercontent" style="min-height:500px;" *ngIf="isEditError">
          <h3 style="font-size:14px;color:red;">Some Error Occur</h3>
        </div>

        <div class="centercontent" style="min-height:500px;" *ngIf="isEditInprogess">
          <div class="spinner" id="graphloader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>

        <div class="portlet-body form" *ngIf="!isEditInprogess && !isEditError">
          <div>
            <div class="form-wizard">
              <div class="form-body">
                <ul class="nav nav-pills nav-justified steps" style="margin-bottom:20px;">
                  <li [ngClass]="{'active' : continueCount == 1,'done':continueCount>1}">
                    <a class="step" aria-expanded="true">
                      <span class="number"> 1 </span>
                      <span class="desc">
                        <i class="fa fa-check"></i> Rule Setup </span>
                    </a>
                  </li>
                  <li [ngClass]="{'active' : continueCount == 2,'done':continueCount>2}">
                    <a class="step">
                      <span class="number"> 2 </span>
                      <span class="desc">
                        <i class="fa fa-check"></i> Rule Source
                      </span>
                    </a>
                  </li>

                  <li [ngClass]="{'active' : continueCount == 3,'done':continueCount>3}">
                    <a class="step">
                      <span class="number"> 3 </span>
                      <span class="desc">
                        <i class="fa fa-check"></i>Rule Checks
                      </span>
                    </a>
                  </li>
                  <li [ngClass]="{'active' : continueCount == 4,'done':continueCount>4}">
                    <a class="step">
                      <span class="number"> 4 </span>
                      <span class="desc">
                        <i class="fa fa-check"></i>Rule Execute
                      </span>
                    </a>
                  </li>

                </ul>
                <div id="bar" class="progress progress-striped" role="progressbar" style="height:10px;">
                  <div class="progress-bar progress-bar-success" [style.width]="progressbarWidth"></div>
                </div>
                <div class="tab-content">
                  <div class="tab-pane" id="tab1" [ngClass]="{'active' : continueCount == 1}">
                    <form class="form-horizontal" name="myNewForm1" novalidate="novalidate" (ngSubmit)="myNewForm1.form.valid && countContinue()"
                      #myNewForm1="ngForm">

                      <div class="form-group" *ngIf="mode">
                        <label class="col-md-3 control-label">UUID</label>
                        <div class="col-md-6">
                          <input type="text" class="form-control" [(ngModel)]="dqdata.uuid" name="uuid" placeholder=""
                            [disabled]="true" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label" [ngClass]="{'has-error': myNewForm1.submitted && (myNewForm1.form.controls['name']?.invalid)}">Name
                          <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-6">
                          <input type="text" class="form-control" [(ngModel)]="dqdata.name" name="name" (ngModelChange)="onChangeName($event)"
                            [disabled]="mode == 'true'" #name="ngModel" required placeholder="" [ngClass]="{'has-error':myNewForm1.submitted && (myNewForm1.form.controls['name']?.invalid)}">
                          <div *ngIf="myNewForm1.submitted && (myNewForm1.form.controls['name']?.invalid)">
                            <div class="help-block has-error error-msg">
                              This field is required
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group" *ngIf="mode">
                        <label class="col-md-3 control-label">Version </label>
                        <div class="col-md-6">
                          <p-dropdown [options]="versionList" [(ngModel)]="selectedVersion" name="selectedVersion"
                            [style]="{'width':'100%','padding':'3px'}" [filter]="true" [disabled]="mode == 'false'"
                            (onChange)="onVersionChange()">
                          </p-dropdown>
                        </div>
                      </div>
                      <div class="form-group" *ngIf="mode">
                        <label class="col-md-3 control-label">CreatedBy</label>
                        <div class="col-md-6" *ngIf="locations!=''">
                          <input type="text" class="form-control" [disabled]="true" [(ngModel)]="dqdata.createdBy.ref.name"
                            name="createdBy">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="mode">
                        <label class="col-md-3 control-label">CreatedOn</label>
                        <div class="col-md-6">
                          <input type="text" class="form-control" [disabled]="true" [(ngModel)]="dqdata.createdOn" name="createdOn">
                        </div>
                      </div>
                      <div class="form-group taginput">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Tags</label>
                        <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="locations!=''">
                          <!-- <tag-input [(ngModel)]="tags" name="tags" [disable]="mode == 'true'" theme='bootstrap' style=" max-height: 40px;overflow-x: hidden;padding-left:5px; border: 1px solid #ccc;overflow-y: scroll; border-radius: 5px;"></tag-input> -->
                          <p-chips [(ngModel)]="dqdata.tags" styleClass="pchip-height" [disabled]="mode == 'true'" name="tags"></p-chips>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Desc</label>
                        <div class="col-md-6">
                          <textarea [disabled]="mode == 'true'" [(ngModel)]="dqdata.desc" name="desc" class="form-control noresize "
                            rows="2" style="resize:none;"></textarea>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding: 0.7% 0% 0% 1.5%;">
                          <div class="btn-group">
                            <ui-switch [disabled]="mode == 'true' || mode == 'false'" [(ngModel)]="active" name="active"
                              [checked]="active" color="#32c5d2" labelOn="Yes" labelOff="No"></ui-switch>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lock</label>
                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding: 0.7% 0% 0% 1.5%;">
                          <div class="btn-group">
                            <ui-switch [(ngModel)]="locked" name="locked" [disabled]="mode == 'true' || mode == 'false'"></ui-switch>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding: 0.7% 0% 0% 1.5%;">
                          <div class="btn-group">
                            <ui-switch [disabled]="mode == 'true' || mode == 'false'" [(ngModel)]="published" name="published"
                              [checked]="published" color="#32c5d2" labelOn="Yes" labelOff="No"></ui-switch>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <label class="control-label col-md-3"></label>
                        <div class="col-md-4" style="padding-top: 2%;">
                          <button type="submit" class="btn btn-outline green">
                            Continue
                            <i class="fa fa-angle-right"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- End Tab1-->

                  <!--Start Tab2-->
                  <div class="tab-pane" id="tab2" [ngClass]="{'active' : continueCount == 2}">

                    <form class="form-horizontal" name="myNewForm2" novalidate="novalidate" (ngSubmit)="myNewForm2.form.valid && countContinue()"
                      #myNewForm2="ngForm">

                      <div class="form-group">
                        <label class="col-md-3 control-label">Source Type
                          <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-6">
                          <select id="source" class="form-control" [(ngModel)]="source" name="source" [attr.disabled]="mode =='true'?true:null"
                            placeholder="-Select-" required #sourceid="ngModel">
                            <option *ngFor="let app of sources" [ngValue]="app">{{app}} </option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label">Source Name
                          <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-6">
                          <p-dropdown [options]="allNames" [(ngModel)]="sourcedata" name="sourcedata" dataKey="uuid"
                            [disabled]="mode == 'true'" [style]="{'width':'100%','padding':'3px'}" [filter]="true"
                            (onChange)="changeType()" placeholder="-Select-">
                          </p-dropdown>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label">Attributes
                        </label>
                        <div class="col-md-6">
                          <p-dropdown [options]="allAttribute" [(ngModel)]="selectAttribute" name="selectAttribute"
                            dataKey="u_Id" [disabled]="mode == 'true'" [style]="{'width':'100%','padding':'3px'}"
                            [filter]="true" (onChange)="onSourceAttributeChagne()" placeholder="-Select-">
                          </p-dropdown>
                        </div>
                      </div>

                      <div class="portlet light bordered">
                        <div class="portlet-title">
                          <div class="caption">
                            Filter
                          </div>

                          <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                              <div class="x_title">{{filterTableArray|json}}
                                <!-- <button type="Button" class="clickRemoveFilter btn btn-danger fa fa-minus pull-right"
                                  (click)="removeRow()" [disabled]="mode == 'true'"></button>
                                <button type="Button" class="clickAddFilter btn btn-success fa fa-plus pull-right"
                                  (click)="addRow()" [disabled]="mode == 'true'"></button> -->
                                <div class="actions pull-right" style="position:relative;padding-right: 5px;">
                                  <a class="btn green-haze btn-outline btn-circle auto-map btn-sm" href="javascript:;"
                                    data-toggle="dropdown" tooltip-placement="left" uib-tooltip="Move" data-hover="dropdown"
                                    data-close-others="true" aria-expanded="false" [attr.disabled]="(moveToEnable == false) ?'disabled' : null">
                                    <span class="fa fa-arrows" aria-hidden="true" style="margin-right: 5px;"></span>
                                    <i class="fa fa-angle-down"></i>
                                  </a>
                                  <ul class="dropdown-menu pull-right" style="z-index:10000;top:28px;right:45px;position:absolute">
                                    <li (click)="updateArray(0, '')">
                                      <a href="javascript:;" [attr.disabled]="fitlerAttrTableSelectedItem[0]==0?'disabled' : null">Top</a>
                                    </li>
                                    <li class="divider" style="margin: 0px;"> </li>
                                    <li (click)="updateArray(filterTableArray.length-1, '')">
                                      <a href="javascript:;" [attr.disabled]="fitlerAttrTableSelectedItem[0]==filterTableArray.length-1 ?'disabled' : null">Bottom</a>
                                    </li>
                                    <li class="divider" style="margin: 0px;"> </li>
                                    <li>
                                      <div class="form-group" style="margin: 1%;" *ngIf="filterTableArray">
                                        <input type="number" class="form-control" [(ngModel)]="moveTo" min="0" max="{{filterTableArray.length}}"
                                          name="moveto" style="border:0" placeholder="Move To" (ngModelChange)="updateArray(moveTo, 'range',$event)"
                                          focus-me="true" />
                                      </div>
                                    </li>
                                    <div *ngIf="invalideRowNo0">
                                      <li class="divider" style="margin: 0px;"> </li>
                                      <li style="color:red">
                                        Please enter the minimum no of 0.
                                      </li>
                                    </div>
                                    <div *ngIf="invalideRowNo1">
                                      <li class="divider" style="margin: 0px;"> </li>
                                      <li style="color:red">
                                        Please enter the minimum no of {{filterTableArray.length}}
                                      </li>
                                    </div>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="portlet-body form">
                          <div class="x_title" style="padding: 0px 0px 30px 0px;">
                            <button type="Button" class="clickRemoveFilter btn btn-danger fa fa-minus pull-right"
                              (click)="removeRow()" [disabled]="mode == 'true'"></button>
                            <button type="Button" class="clickAddFilter btn btn-success fa fa-plus pull-right" (click)="addRow()"
                              [disabled]="mode == 'true'"></button>
                          </div>

                          <div class="form-body">
                            <table class=" row-border hover table  table-striped table-bordered" style="table-layout: fixed;">
                              <thead>
                                <tr>
                                  <th style="width:5%;text-align: center; Vertical-align: middle;">
                                    <input [disabled]="mode == 'true'" style="width: 16px;height:16px;" type="checkbox"
                                      [(ngModel)]="checkAll" name="checkAll" (click)="checkAllFilterRow()" /></th>
                                  <th style="text-align: center; Vertical-align: middle;width:15%;">Logical Operator</th>
                                  <th style="text-align: center;width:13%;">LHS Type</th>
                                  <th style="text-align: center;width:19%;">LHS Attribute</th>
                                  <th style="text-align: center;width:14%;">Operator</th>
                                  <th style="text-align: center;width:15%;">RHS Type</th>
                                  <th style="text-align: center;width:19%;">RHS Attribute</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let data of filterTableArray ;let i=index">

                                  <td style="text-align:center;Vertical-align:middle;">
                                    <input style="width: 16px;height:16px;" type="checkbox" [(ngModel)]="data.selected"
                                      name="selected" [disabled]="mode == 'true'" (change)="checkSelected(data.selected)" />
                                  </td>
                                  <td>
                                    <p-dropdown [options]="logicalOperators" [(ngModel)]="data.logicalOperator" name="logicalOperator+{{i}}"
                                      [style]="{'width':'100%','padding':'3px'}" [disabled]="i === 0 || mode == 'true'"
                                      [filter]="false" placeholder="--Select--">
                                    </p-dropdown>
                                  </td>
                                  <td>
                                    <p-dropdown [options]="lhsTypeArray" [(ngModel)]="data.lhsType" name="lhsType+{{i}}"
                                      [style]="{'width':'100%','padding':'3px'}" [disabled]="mode == 'true'"
                                      [autoWidth]="false" [filter]="false" (onChange)="onChangeLhsType(i)" placeholder="--Select--">
                                    </p-dropdown>
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" [(ngModel)]="data.lhsAttribute" name="lhsAttribute{{i}}"
                                      pTooltip="enter only integer" tooltipPosition="top" [disabled]="mode == 'true'"
                                      [style]="{'width':'100%','padding':'3px'}" *ngIf="data.lhsType == 'integer'"
                                      placeholder="-enter integer value-" [disabled]="mode == 'true'" #lhsAttribute="ngModel"
                                      required [ngClass]="{'has-error':myNewForm2.submitted && (myNewForm2.form.controls['lhsAttribute'+i]?.invalid)}">

                                    <input type="text" class="form-control" [(ngModel)]="data.lhsAttribute" name="lhsAttribute{{i}}"
                                      pTooltip="enter values into single quotes" tooltipPosition="top" tooltipEvent="focus"
                                      [disabled]="mode == 'true'" [style]="{'width':'100%','padding':'3px'}" *ngIf="data.lhsType == 'string'"
                                      placeholder="-enter string-" [disabled]="mode == 'true'" #lhsAttribute="ngModel"
                                      required [ngClass]="{'has-error':myNewForm2.submitted && (myNewForm2.form.controls['lhsAttribute'+i]?.invalid)}">

                                    <div *ngIf="data.lhsType == 'formula'">
                                      <p-dropdown [options]="lhsFormulaArray" [(ngModel)]="data.lhsAttribute" name="lhsAttribute+{{i}}"
                                        [style]="{'width':'100%','padding':'3px'}" [autoWidth]="false" [disabled]="mode == 'true'"
                                        [filter]="true" placeholder="--Select--">
                                      </p-dropdown>
                                    </div>
                                    <div *ngIf="data.lhsType == 'datapod'" class="pdropdown-border" [ngClass]="{'has-error':myNewForm2.submitted && (myNewForm2.form.controls['lhsAttribute'+i]?.invalid)}">
                                      <p-dropdown [options]="attributesArray" [(ngModel)]="data.lhsAttribute" name="lhsAttribute{{i}}"
                                        [style]="{'width':'100%','padding':'3px','box-sizing': 'border-box'}"
                                        [disabled]="mode == 'true'" [autoWidth]="false" [filter]="true" placeholder="--Select--"
                                        datakey="label" required>
                                      </p-dropdown>
                                    </div>
                                  </td>
                                  <td>
                                    <p-dropdown [options]="operators" [(ngModel)]="data.operator" name="operator+{{i}}"
                                      [style]="{'width':'100%','padding':'3px'}" [disabled]="mode == 'true'" [filter]="false"
                                      (onChange)="onChangeOperator(i)">
                                    </p-dropdown>
                                  </td>
                                  <td>
                                    <select class="form-control" [(ngModel)]="data.rhsType" name="rhsType+{{i}}" style="width:100%"
                                      (click)="onChangeRhsType(i)" [disabled]="mode == 'true'" placeholder="--Select--">
                                      <ng-container *ngIf="data.operator !== 'BETWEEN' && data.operator !== 'EXISTS' && data.operator !== 'NOT EXISTS' && data.operator !== 'IN' && data.operator !== 'NOT IN' && data.operator !== 'IS'  ">
                                        <option [ngValue]="rhsTypeArray[0].value">{{rhsTypeArray[0].label}}</option>
                                        <option [ngValue]="rhsTypeArray[1].value">{{rhsTypeArray[1].label}}</option>
                                        <option [ngValue]="rhsTypeArray[2].value">{{rhsTypeArray[2].label}}</option>
                                        <option [ngValue]="rhsTypeArray[3].value">{{rhsTypeArray[3].label}}</option>
                                        <option [ngValue]="rhsTypeArray[4].value" disabled>{{rhsTypeArray[4].label}}</option>
                                        <option [ngValue]="rhsTypeArray[5].value">{{rhsTypeArray[5].label}}</option>
                                        <option [ngValue]="rhsTypeArray[6].value">{{rhsTypeArray[6].label}}</option>
                                      </ng-container>

                                      <ng-container *ngIf="data.operator == 'BETWEEN'">
                                        <option [ngValue]="rhsTypeArray[0].value">{{rhsTypeArray[0].label}}</option>
                                        <option [ngValue]="rhsTypeArray[1].value">{{rhsTypeArray[1].label}}</option>
                                        <option [ngValue]="rhsTypeArray[2].value" disabled>{{rhsTypeArray[2].label}}</option>
                                        <option [ngValue]="rhsTypeArray[3].value" disabled>{{rhsTypeArray[3].label}}</option>
                                        <option [ngValue]="rhsTypeArray[4].value" disabled>{{rhsTypeArray[4].label}}</option>
                                        <option [ngValue]="rhsTypeArray[5].value" disabled>{{rhsTypeArray[5].label}}</option>
                                        <option [ngValue]="rhsTypeArray[6].value" disabled>{{rhsTypeArray[6].label}}</option>
                                      </ng-container>

                                      <ng-container *ngIf="data.operator == 'EXISTS' || data.operator == 'NOT EXISTS'">
                                        <option [ngValue]="rhsTypeArray[0].value" disabled>{{rhsTypeArray[0].label}}</option>
                                        <option [ngValue]="rhsTypeArray[1].value" disabled>{{rhsTypeArray[1].label}}</option>
                                        <option [ngValue]="rhsTypeArray[2].value" disabled>{{rhsTypeArray[2].label}}</option>
                                        <option [ngValue]="rhsTypeArray[3].value" disabled>{{rhsTypeArray[3].label}}</option>
                                        <option [ngValue]="rhsTypeArray[4].value">{{rhsTypeArray[4].label}}</option>
                                        <option [ngValue]="rhsTypeArray[5].value" disabled>{{rhsTypeArray[5].label}}</option>
                                        <option [ngValue]="rhsTypeArray[6].value" disabled>{{rhsTypeArray[6].label}}</option>
                                      </ng-container>

                                      <ng-container *ngIf="data.operator == 'IN' || data.operator == 'NOT IN' ">
                                        <option [ngValue]="rhsTypeArray[0].value">{{rhsTypeArray[0].label}}</option>
                                        <option [ngValue]="rhsTypeArray[1].value">{{rhsTypeArray[1].label}}</option>
                                        <option [ngValue]="rhsTypeArray[2].value">{{rhsTypeArray[2].label}}</option>
                                        <option [ngValue]="rhsTypeArray[3].value">{{rhsTypeArray[3].label}}</option>
                                        <option [ngValue]="rhsTypeArray[4].value">{{rhsTypeArray[4].label}}</option>
                                        <option [ngValue]="rhsTypeArray[5].value">{{rhsTypeArray[5].label}}</option>
                                        <option [ngValue]="rhsTypeArray[6].value">{{rhsTypeArray[6].label}}</option>
                                      </ng-container>

                                      <ng-container *ngIf="data.operator == 'IS' ">
                                        <option [ngValue]="rhsTypeArray[0].value">{{rhsTypeArray[0].label}}</option>
                                        <option [ngValue]="rhsTypeArray[1].value" disabled>{{rhsTypeArray[1].label}}</option>
                                        <option [ngValue]="rhsTypeArray[2].value" disabled>{{rhsTypeArray[2].label}}</option>
                                        <option [ngValue]="rhsTypeArray[3].value" disabled>{{rhsTypeArray[3].label}}</option>
                                        <option [ngValue]="rhsTypeArray[4].value" disabled>{{rhsTypeArray[4].label}}</option>
                                        <option [ngValue]="rhsTypeArray[5].value" disabled>{{rhsTypeArray[5].label}}</option>
                                        <option [ngValue]="rhsTypeArray[6].value" disabled>{{rhsTypeArray[6].label}}</option>
                                      </ng-container>
                                    </select>
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" [(ngModel)]="data.rhsAttribute" name="rhsAttribute{{i}}"
                                      [disabled]="mode == 'true'" *ngIf="data.rhsType == 'integer'&& data.operator != 'BETWEEN'"
                                      placeholder="-enter integer value-" required [ngClass]="{'has-error':myNewForm2.submitted && (myNewForm2.form.controls['rhsAttribute'+i]?.invalid)}">

                                    <input type="text" class="form-control" [(ngModel)]="data.rhsAttribute" name="rhsAttribute{{i}}"
                                      [disabled]="mode == 'true'" *ngIf="data.rhsType == 'string'&& data.operator != 'BETWEEN' && data.operator != 'IS'"
                                      placeholder="-enter string-" #rhsAttribute="ngModel" required [ngClass]="{'has-error':myNewForm2.submitted && (myNewForm2.form.controls['rhsAttribute'+i]?.invalid)}">

                                    <div *ngIf="data.operator == 'BETWEEN' && (data.rhsType == 'integer'|| data.rhsType == 'string')">
                                      <input type="text" class="form-control" [(ngModel)]="data.rhsAttribute1" name="rhsAttribute1{{i}}"
                                        style="width:30%;display: inline-block" [disabled]="mode == 'true'" placeholder="--Select--"
                                        #rhsAttribute="ngModel" required [ngClass]="{'has-error':myNewForm2.submitted && (myNewForm2.form.controls['rhsAttribute1'+i]?.invalid)}">
                                      {{"-"}}

                                      <input type="text" class="form-control" [(ngModel)]="data.rhsAttribute2" name="rhsAttribute2{{i}}"
                                        style="width:30%;display: inline-block" [disabled]="mode == 'true'" placeholder="--Select--"
                                        #rhsAttribute="ngModel" required [ngClass]="{'has-error':myNewForm2.submitted && (myNewForm2.form.controls['rhsAttribute2'+i]?.invalid)}">
                                    </div>
                                    <div *ngIf="data.rhsType == 'formula'">
                                      <p-dropdown [options]="rhsFormulaArray" [(ngModel)]="data.rhsAttribute" name="rhsAttribute+{{i}}"
                                        [style]="{'width':'100%','padding':'3px'}" [disabled]="mode == 'true'" [filter]="true"
                                        placeholder="--Select--">
                                      </p-dropdown>
                                    </div>
                                    <div *ngIf="data.rhsType == 'datapod'" class="pdropdown-border" [ngClass]="{'has-error':myNewForm2.submitted && (myNewForm2.form.controls['rhsAttribute'+i]?.invalid)}">
                                      <p-dropdown [options]="attributesArray" [(ngModel)]="data.rhsAttribute" name="rhsAttribute{{i}}"
                                        [style]="{'width':'100%','padding':'3px'}" [disabled]="mode == 'true'" [filter]="true"
                                        placeholder="--Select--" datakey="attributeId">
                                      </p-dropdown>
                                      <!-- <input type="hidden" [(ngModel)]="data.rhsAttribute" name="rhsAttribute{{i}}"
                                        required [ngClass]="{'has-error':myNewForm2.submitted && (myNewForm2.form.controls['rhsAttribute'+i]?.invalid)}" /> -->
                                    </div>
                                    <div *ngIf="data.rhsType == 'dataset'">
                                      <div *ngIf="data.rhsAttribute != null">
                                        <input type="text" class="form-control" [(ngModel)]="data.rhsAttribute.label"
                                          name="rhsAttribute+{{i}}" [disabled]="'true'" style="width:80%;display: inline-block"
                                          [disabled]="mode == 'true'" #rhsAttribute="ngModel" required placeholder=""
                                          [ngClass]="{'has-error':myNewForm2.submitted || (rhsAttribute.invalid && (rhsAttribute.dirty || rhsAttribute.touched))}">
                                        <i class="fa fa-search" (click)="searchOption(data.rhsAttribute, i)" style="width:10%;display:inline-block;padding-left: 7%;"
                                          pTooltip="Search"></i>
                                      </div>
                                    </div>
                                    <div *ngIf="data.rhsType == 'function'">
                                      <p-dropdown [options]="functionArray" [(ngModel)]="data.rhsAttribute" name="rhsAttribute+{{i}}"
                                        [style]="{'width':'100%','padding':'3px'}" [disabled]="mode == 'true'" [filter]="true"
                                        placeholder="--Select--" dataKey="uuid">
                                      </p-dropdown>
                                    </div>
                                    <div *ngIf="data.rhsType == 'paramlist'">
                                      <p-dropdown [options]="paramlistArray" [(ngModel)]="data.rhsAttribute" name="rhsAttribute+{{i}}"
                                        [style]="{'width':'100%','padding':'3px'}" [disabled]="mode == 'true'" [filter]="true"
                                        placeholder="--Select--" dataKey="uuid">
                                      </p-dropdown>
                                    </div>

                                    <div *ngIf="data.rhsType == 'string' && data.operator == 'IS'">
                                      <p-dropdown [options]="isNullArray" [(ngModel)]="data.rhsAttribute" name="rhsAttribute+{{i}}"
                                        [style]="{'width':'100%','padding':'3px'}" [disabled]="mode == 'true'" [filter]="true"
                                        placeholder="--Select--">
                                      </p-dropdown>
                                    </div>

                                    <p-dialog class="dialog-titlebar" header="Search Attribute" [(visible)]="displayDialogBox"
                                      [modal]="true" [responsive]="true" [width]="430" [resizable]="true"
                                      [contentStyle]="{'overflow':'visible'}" [style]="{'border-radius': '6px','box-shadow': '0 5px 15px rgba(0,0,0,.5)'}">

                                      <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Select</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <p-dropdown [options]="dialogAttriArray" [(ngModel)]="dialogSelectName" name="dialogSelectName+{{i}}"
                                            [style]="{'width':'235px','padding':'3px'}" [disabled]="mode == 'true'"
                                            [filter]="true" placeholder="--Select--" (onChange)="onChangeDialogAttribute(dialogSelectName) "
                                            dataKey="uuid">
                                          </p-dropdown>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <p-dropdown [options]="dialogAttriNameArray" [(ngModel)]="dialogAttributeName"
                                            name="dialogAttributeName+{{i}}" [style]="{'width':'235px','padding':'3px'}"
                                            [disabled]="mode == 'true'" [filter]="true" placeholder="--Select--"
                                            dataKey="attributeId">
                                          </p-dropdown>
                                        </div>
                                      </div>
                                      <p-footer>
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-6" style="padding: 0px 0px 13px 0px;">
                                          <input type="button" class="btn dark btn-outline" value="Close" name="close"
                                            style="border-radius: 4px;" (click)="cancelDialogBox()">
                                          <input type="button" class="btn btn-success" value="Submit" name="submit"
                                            style="border-radius: 4px;" (click)="submitDialogBox(rowIndex)">
                                        </div>
                                      </p-footer>
                                    </p-dialog>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <label class="control-label col-md-3"></label>
                        <div class="col-md-4">
                          <a href="javascript:;" class="btn default button-previous" style="margin: 0% 3% 0% 0%;"
                            (click)="countBack()">
                            <i class="fa fa-angle-left"></i> Back </a>
                          <button type="submit" class="btn btn-outline green button-next"> Continue
                            <i class="fa fa-angle-right"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!--End Tab2-->

                  <!--Start Tab3-->
                  <div class="tab-pane" id="tab3" [ngClass]="{'active' : continueCount == 3}">
                    <form class="form-horizontal" name="myNewForm3" id="submit_form3" (ngSubmit)="countContinue()"
                      novalidate="novalidate">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Duplicate Key Check</label>
                        <div class="col-md-6">
                          <p-checkbox [(ngModel)]="dqdata.duplicateKeyCheck" name="duplicateKeyCheck" binary="true"
                            [disabled]="mode == 'true'"></p-checkbox>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Null Check</label>
                        <div class="col-md-6">
                          <p-checkbox [(ngModel)]="dqdata.nullCheck" name="nullCheck" binary="true" [disabled]="mode == 'true' || !IsSelectSoureceAttr"></p-checkbox>
                        </div>
                      </div>
                      <div class="form-group taginput">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Value Check</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <!-- <tag-input [(ngModel)]="valueCheck" name="valueCheck" [disable]="mode == 'true'" theme='bootstrap'
                            style=" max-height: 40px;overflow-x: hidden;padding-left:5px; border: 1px solid #ccc;overflow-y: scroll; border-radius: 5px;"></tag-input> -->
                          <p-chips [(ngModel)]="dqdata.valueCheck" styleClass="pchip-height" [disabled]="mode == 'true'"
                            name="tags"></p-chips>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Range Check</label>
                        <div class="col-md-2 col-sm-2 col-xs-12 col2dqragecheck">
                          <input title="Lower Bound" placeholder="Lower Bound" type="text" class="form-control" name="lowewrbound"
                            [(ngModel)]="dqdata.lowerBound" [disabled]="mode == 'true' || !IsSelectSoureceAttr">
                        </div>
                        <div class="col-md-1 col-sm-1 " style="width:1%;">
                          <i class="fa fa-minus" aria-hidden="true" style="margin-top: 10px;margin-left:-3px;"></i>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12 col2dqragecheck">
                          <input title="Upper Bound" tooltip placeholder="Upper Bound" type="text" class="form-control"
                            name="upperbound" [(ngModel)]="dqdata.upperBound" [disabled]="mode == 'true' || !IsSelectSoureceAttr">
                        </div>
                      </div>
                      <div class="form-group taginput">
                        <label class="control-label col-md-3">Data Type Check</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <p-dropdown [options]="datatype" [(ngModel)]="dqdata.selectDataType" name="selectDataType+{{i}}"
                            [style]="{'width':'100%','padding':'3px'}" [disabled]="mode == 'true' || !IsSelectSoureceAttr"
                            [filter]="false" placeholder="--Select--" (onChange)="OnselectType()">
                          </p-dropdown>
                        </div>
                      </div>

                      <div class="form-group taginput">
                        <label class="control-label col-md-3">Date Format Check</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" [(ngModel)]="selectdatefromate" name="selectdatefromate"
                            [disabled]="mode == 'true' || !IsSelectSoureceAttr || !IsSelectDataType ">
                            <option *ngFor="let app of datefromate" [ngValue]="app">{{app}} </option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Custom Format Check</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" class="form-control" [(ngModel)]="dqdata.customFormatCheck" name="customFormatCheck"
                            [disabled]="mode == 'true' || !IsSelectSoureceAttr">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 ">Length Check</label>
                        <div class="col-md-2 col-sm-2 col-xs-12 col2dqragecheck">
                          <input title="Min Length" [(ngModel)]="dqdata.minLength" name="minLength" placeholder="Min Length"
                            type="text" class="form-control" [disabled]="mode == 'true' || !IsSelectSoureceAttr">
                        </div>
                        <div class="col-md-1 col-sm-1 " style="width:1%;">
                          <i class="fa fa-minus" aria-hidden="true" style="margin-top: 10px;margin-left:-3px;"></i>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 col2dqragecheck">
                          <input title="Max Length" data-toggle="tooltip" [(ngModel)]="dqdata.maxLength" name="maxLength"
                            placeholder="Max Length" type="text" class="form-control" [disabled]="mode == 'true' || !IsSelectSoureceAttr">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Ref Integrity Check</label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <p-dropdown [options]="allRefIntegrity" [(ngModel)]="selectRefIntegrity" name="selectRefIntegrity"
                            dataKey="uuid" [disabled]="mode == 'true' || !IsSelectSoureceAttr" [style]="{'width':'100%','padding':'3px'}"
                            [filter]="true" placeholder="-Select-" (onChange)="changeRefIntegrity()">
                          </p-dropdown>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <p-dropdown [options]="allIntegrityAttribute" [(ngModel)]="selectIntegrityAttribute" name="selectIntegrityAttribute"
                            dataKey="u_Id" [disabled]="mode == 'true' || !IsSelectSoureceAttr" placeholder="-Select-"
                            [style]="{'width':'100%','padding':'3px'}" [filter]="true">
                          </p-dropdown>
                        </div>
                      </div>

                      <div class="row">
                        <label class="control-label col-md-3"></label>
                        <div class="col-md-4" style="padding-top: 2%;">
                          <a href="javascript:;" class="btn default button-previous" style="margin: 0% 3% 0% 0%;"
                            (click)="countBack()">
                            <i class="fa fa-angle-left"></i> Back
                          </a>
                          <button type="submit" class="btn btn-outline green "> Continue
                            <i class="fa fa-angle-right"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- End Tab3-->

                  <!-- Start Tab4 -->
                  <div class="tab-pane" id="tab4" [ngClass]="{'active' : continueCount == 4}">
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Run Immediately ?</label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p-checkbox [(ngModel)]="checkboxModelexecution" [disabled]="mode == 'true' " name="checkboxModelexecution"
                          binary="true"></p-checkbox>
                      </div>
                    </div>
                    <div class="row">
                      <label class="control-label col-md-3"></label>
                      <div class="col-md-4" style="padding-top: 2%;">
                        <a href="javascript:;" class="btn default button-previous" style="margin: 0% 3% 0% 0%;" (click)="countBack()">
                          <i class="fa fa-angle-left"></i> Back
                        </a>
                        <button type="submit" class="btn green" [disabled]="mode == 'true' || isSubmit == 'true'"
                          (click)="submitDq()">Submit</button>
                        <span class="spinner" style="padding-left:15px;font-size:23px;vertical-align:middle;" *ngIf="isSubmit=='true'">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- End Tab4-->
                </div>
                <!--End tab-content-->
              </div>
              <!--End form-body-->
            </div>
            <!--End form-wizard-->
          </div>
        </div>
      </div>
    </div>
  </div>