<app-breadcrumb [breadcrumbData]="breadcrumbDataFrom"></app-breadcrumb>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green" id="dag-exec-model">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Result
                </div>
                <div class="tools">
                    <a title="Main" style="color:white;" title="Main" data-placement="top" tooltip [ngClass]="(showdag==true && isEdit==true)? 'currentpage':'notcurrentpage'"
                        data- (click)="showMainPage(dqdata.uuid,dqdata.version)" *ngIf="isHomeEnable">
                        <i class="fa fa-home" style="display: block;margin: 2px auto;color:#a0a0a0;"></i>
                    </a>

                    <a class="linkDisabled" style="color:white;" title="Main" data-placement="top" tooltip [ngClass]="(showdag==true && isEdit==true)? 'currentpage':'notcurrentpage'"
                        *ngIf="!isHomeEnable">
                        <i class="fa fa-home" style="display: block;margin: 2px auto;color:#a0a0a0;"></i>
                    </a>
                    <a href="javascript:;" title="Show Dependencies" data-placement="top" tooltip [ngClass]="showdag==false? 'currentpage':'notcurrentpage'"
                        data- (click)="showDagGraph(dqdata.uuid,dqdata.version)">
                        <i class="fa fa-sitemap" style="margin:2px auto;color:#a0a0a0;"></i>
                    </a>
                    <a style="color:white;" href="javascript:;" title="Download" data-toggle="tooltip" data-placement="top" tooltip (click)="downloadResult()"
                        *ngIf="istableShow">
                        <i class="fa fa-download" area-hidden="true"></i>
                    </a>
                    <!--<a title="Refresh" data-toggle="tooltip" data-placement="top" tooltip onClick="refreshSubGroupGraph()" ng-if="!showgraphdiv && (daggroupExecName || resultExecName)">
                        <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
                    </a>
                    <a title="Refresh" data-toggle="tooltip" data-placement="top" tooltip ng-click="broadcastRefreshData()" ng-if="showgraphdiv || !(daggroupExecName || resultExecName)">
                        <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
                    </a> -->
                    <a title="Close" (click)="goBack()" style="height:14px;">
                        <i class="fa fa-times" aria-hidden="true" style="display: block;margin: 2px auto;color:white;transform: scale(1,1.2);"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div *ngIf="isgraphShow">
                    <app-jointjs-group [graphParms]="params"></app-jointjs-group>
                </div>
                <div *ngIf="istableShow">
                    <app-resulttable [tableParms]="tableparms"></app-resulttable>
                </div>
            </div>
            <p-dialog header="Download" [(visible)]="displayDialogBox" [modal]="true" [responsive]="true" [width]="400" [resizable]="true"
                [baseZIndex]="1000" [contentStyle]="{'height':'200px'}">

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Rows</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" [(ngModel)]="numRows" name="numRows" />
                    </div>
                </div>

                <div class="form-group" style="padding-top : 10px">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Format</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <p-dropdown [options]="downloadFormatArray" [(ngModel)]="downloadFormat" name="downloadFormat+{{i}}" [style]="{'width':'200px','padding':'3px'}"
                            [filter]="true" placeholder="-Select-">
                        </p-dropdown>
                    </div>
                </div>

                <p-footer>
                    <div style="padding-top: 10px;">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <a class="btn btn-primary" (click)="cancelDialogBox()">Cancel</a>
                            <input type="button" class="btn btn-success" value="Submit" name="submit" (click)="submitDialogBox(i)">
                        </div>
                    </div>
                </p-footer>
            </p-dialog>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>