<div>
  <app-breadcrumb [breadcrumbData]="breadcrumbDataFrom"></app-breadcrumb>
  <br>
  <p-messages [(value)]="msgs" style="position:fixed;top:60px;right:20px;z-index:1000"></p-messages>
  <!-- BEGIN MAIN CONTENT -->
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN: ACCORDION DEMO -->
      <div class="portlet box green">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-gift"></i>{{vizData.name}}
          </div>
          <div class="tools">
            <a style="color:white" title="Main" data-placement="top" tooltip [ngClass]="isHomeEnable==true ? 'notcurrentpage':'currentpage'"
              data- (click)="showMainPage(uuid,version)">
              <i class="fa fa-home" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
            </a>
            <a href="javascript:;" title="Show Dependencies" data-placement="top" tooltip [ngClass]="isHomeEnable==false? 'notcurrentpage':'currentpage'"
              data- (click)="showDagGraph(uuid,version)">
              <i class="fa fa-sitemap" style="display: inline;margin:2px auto;color:white;"></i>
            </a>
            <a title="Refresh" data-toggle="tooltip" data-placement="top" tooltip>
              <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
            </a>
            <a title="Close" data-toggle="tooltip" data-placement="top" tooltip style="height:14px;" (click)="goBack()">
              <i class="fa fa-times" aria-hidden="true" style="display: block;margin: 2px auto;color:white;transform:scale(1,1.2)"></i>
            </a>
          </div>
        </div>


        <div class="portlet-body form">
          <div class="form-body graph-body" *ngIf="showGraph" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQYV2NkIBIwgtStWrXqf1hYGJiNC+CVRNY0qhBv0AMAsKgECyGgekgAAAAASUVORK5CYII=');">
            <div class="form-body text-center" id="errorMsg" style="color:blue;"></div>
            <div class="spinner" id="graphloader">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div class="show-graph-body" id="graphWrapper">
              <knowledge-graph></knowledge-graph>
            </div>
          </div>


          <div class="form-body" [hidden]="!showLoad" style="padding-top:50px;">
            <form class="form-horizontal" name="myform" novalidate="novalidate" (ngSubmit)="submitLoad()">
              <div class="form-group" *ngIf="mode">
                <label class="col-md-3 control-label">UUID</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" [(ngModel)]="vizData.uuid" name="uuid" placeholder=""
                    [disabled]="true">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Name
                  <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-6">
                  <input type="text" class="form-control" [(ngModel)]="vizData.name" name="name" placeholder=""
                    [disabled]="mode == 'true'">
                </div>
              </div>
              <div class="form-group" *ngIf="mode">
                <label class="col-md-3 control-label">Version </label>
                <div class="col-md-6">
                  <p-dropdown [options]="VersionList" [(ngModel)]="selectedVersion" name="version" [style]="{'width':'100%','padding':'3px'}"
                    [filter]="true" [disabled]="true" (onChange)="onVersionChange()">
                  </p-dropdown>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label">CreatedBy</label>
                <div class="col-md-6" *ngIf="locations!=''">
                  <input type="text" class="form-control" [disabled]="true" [(ngModel)]="createdBy" name="createdBy">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">CreatedOn</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" [disabled]="true" [(ngModel)]="vizData.createdOn" name="createdOn">
                </div>
              </div>
              <div class="form-group taginput">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Tags</label>
                <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="locations!=''">
                  <tag-input [(ngModel)]="tags" [hideForm]="true" name="tags" [disable]="true" theme='bootstrap' style=" max-height: 40px;overflow-x: hidden;padding-left:5px; border: 1px solid #ccc;overflow-y: scroll; border-radius: 5px;background-color: #eef1f5;"></tag-input>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Desc</label>
                <div class="col-md-6">
                  <textarea [disabled]="true" [(ngModel)]="vizData.desc" name="desc" class="form-control noresize "
                    rows="2" style="resize:none;"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="btn-group">
                    <ui-switch (change)="onChangeActive($event)" [disabled]="mode == 'true' || mode == 'false'"
                      [(ngModel)]="active" name="active" [checked]="active" color="#32c5d2" labelOn="Yes" labelOff="No"></ui-switch>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="btn-group">
                    <ui-switch (change)="onChangePublish($event)" [disabled]="mode == 'true' || mode == 'false'"
                      [(ngModel)]="published" name="published" [checked]="published" color="#32c5d2" labelOn="Yes"
                      labelOff="No"></ui-switch>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Depends On</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" [disabled]="true" [(ngModel)]="dependsOn" name="dependsOn">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Sql </label>
                <div class="col-md-6">
                  <textarea [disabled]="true" [(ngModel)]="vizData.sql" name="exec" class="form-control noresize " rows="4"
                    style="resize:none;"></textarea>
                </div>
              </div>
              <div class="form-group" style="padding-top: 10px;">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <a class="btn btn-primary" (click)="goBack()">Cancel</a>

                  <input type="submit" class="btn btn-success" value="Submit" name="submit" [disabled]="mode == 'true'">

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>