<app-breadcrumb [breadcrumbData]="breadcrumbDataFrom"></app-breadcrumb>
<br>
<div class="row">
    <div class="col-md-12">

        <div class="portlet box green" id="dag-exec-model">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Pipeline Result
                </div>
                <div class="tools">
                    <!-- <a style="margin:2px auto;color:white;" ng-disabled="!allowReExecution" ng-class="{'currentpage':!allowReExecution}" title="Restart Pipeline" data-toggle="tooltip" data-placement="top" tooltip   ng-click="reExecute()"> 
                        <i class="fa fa-repeat" area-hidden="true"></i>
                    </a>
                    <a style="margin:2px auto;color:white;" href="javascript:;" title="Show Details" data-toggle="tooltip" data-placement="top" tooltip  ng-class="showgraphdiv==false? 'currentpage':'notcurrentpage'" ng-click="showgraphdiv = false">
                        <i class="glyphicon glyphicon-file" area-hidden="true"></i>
                    </a>
                    <a style="margin:2px auto;color:white;" href="javascript:;" title="Show Dependencies" data-toggle="tooltip" data-placement="top" tooltip ng-class="showgraphdiv==true? 'currentpage':'notcurrentpage'"  ng-click="showgraphdiv = true">
                        <i class="fa fa-sitemap" area-hidden="true"></i>
                    </a>-->

                    <span class="wrapcurrentpage">
                        <a class="left-marginpage" style="color:white;" href="javascript:;" title="Download"
                            data-toggle="tooltip" data-placement="top" tooltip (click)="downloadPipeline()">
                            <i class="fa fa-download" area-hidden="true"></i>
                        </a>
                    </span>
                    <!--<a title="Refresh" data-toggle="tooltip" data-placement="top" tooltip onClick="refreshSubGroupGraph()" ng-if="!showgraphdiv && (daggroupExecName || resultExecName)">
                        <i class="fa fa-refresh" aria-hidden="true" style="display: inline-block;margin: 2px auto;color:white;"></i>
                    </a>
                    <a title="Refresh" data-toggle="tooltip" data-placement="top" tooltip ng-click="broadcastRefreshData()" ng-if="showgraphdiv || !(daggroupExecName || resultExecName)">
                        <i class="fa fa-refresh" aria-hidden="true" style="display: inline-block;margin: 2px auto;color:white;"></i>
                    </a> -->
                    <span class="wrapcurrentpage">
                        <a class="left-marginpage" title="Close" (click)="goBack()" style="height:14px;">
                            <i class="fa fa-times" aria-hidden="true" style="display: inline-block;margin: 2px auto;color:white;transform: scale(1,1.2);"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="portlet-body">
                <div *ngIf="dagexecdata">
                    <app-jointjs [data]="dagexecdata" [mode]="mode" [execMode]="true"></app-jointjs>
                </div>
            </div>

        </div><!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>