<div>
  <app-breadcrumb [breadcrumbData]="breadcrumbDataFrom"></app-breadcrumb>
  <br>
  <p-growl [(value)]="msgs"></p-growl>
  <div notifybar style="position:fixed;top:40px;right:0;z-index:1000"></div>
  <!-- BEGIN MAIN CONTENT -->
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN: ACCORDION DEMO -->
      <div class="portlet box green">
        <div class="portlet-title">
          <div class="caption" *ngIf="!isEditInprogess && !isEditError">
            <i class="fa fa-gift"></i>{{batch.name}}
          </div>

          <div class="tools">
            <span class="wrapcurrentpage">
              <a *ngIf="!isAdd" class="left-marginpage" style="color:rgb(151, 129, 129)" title="Main" data-placement="top" tooltip
                [ngClass]="(showForm==true)? 'currentpage':'notcurrentpage'" data- (click)="showMainPage(uuid,version)">
                <i class="fa fa-home" style="display: inline-block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
              </a>
            </span>
            <span class="wrapcurrentpage">
              <a class="left-marginpage" *ngIf="!isAdd" href="javascript:;" title="Edit" data-toggle="tooltip"
                data-placement="top" tooltip [ngClass]="isEdit == true? 'currentpage':'notcurrentpage'" data-(click)="enableEdit(uuid,version)">
                <i class="fa fa-edit" style="display: inline-block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
              </a>
            </span>
            <span class="wrapcurrentpage">
              <a class="left-marginpage" *ngIf="!isAdd" href="javascript:;" title="Show Dependencies" data-placement="top"
                tooltip [ngClass]="showForm==false? 'currentpage':'notcurrentpage'" data- (click)="showGraph(uuid,version)">
                <i class="fa fa-sitemap" style="display: inline-block;margin:2px auto;color:white;"></i>
              </a>
            </span>
            <span class="wrapcurrentpage">
              <a class="left-marginpage" title="Refresh" data-toggle="tooltip" data-placement="top" tooltip 
                [ngClass]="showForm == true? 'currentpage':'notcurrentpage'" data- (click)="showGraph(uuid,version)">
                <i class="fa fa-refresh" aria-hidden="true" style="display: inline-block;margin: 2px auto;color:white;"></i>
              </a>
            </span>
            <span class="wrapcurrentpage">
              <a class="left-marginpage" title="Close" data-toggle="tooltip" data-placement="top" tooltip style="height:14px;"
                (click)="goBack()">
                <i class="fa fa-times" aria-hidden="true" style="display: inline-block;margin: 2px auto;color:white;"></i>
              </a>
            </span>
          </div>
        </div>

        <div class="portlet-body form">
          <div class="form-body graph-body" *ngIf="showDivGraph" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQYV2NkIBIwgtStWrXqf1hYGJiNC+CVRNY0qhBv0AMAsKgECyGgekgAAAAASUVORK5CYII=');">

            <div class="form-body text-center" style="color:blue;" *ngIf="isGraphError">Some Error Occur</div>
            <div class="spinner" *ngIf="isGraphInprogess">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div class="show-graph-body" id="graphWrapper">
              <knowledge-graph></knowledge-graph>
            </div>
          </div>

          <div class="form-body" style="padding-top:50px;" *ngIf="showForm">
            <div class="centercontent" style="min-height:500px;" *ngIf="isEditError">
              <h3 style="font-size:14px;color:red;">Some Error Occur</h3>
            </div>
            <div class="centercontent" style="min-height:500px;" *ngIf="isEditInprogess">
              <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </div>
            <div *ngIf="!isEditInprogess && !isEditError">
              <form class="form-horizontal" name="myNewForm" novalidate="novalidate" (ngSubmit)="myNewForm.form.valid && submitbatch()"
                #myNewForm="ngForm">

                <div class="form-group" *ngIf="mode">
                  <label class="col-md-3 control-label">UUID</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="batch.uuid" name="uuid" placeholder=""
                      [disabled]="true">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label" [ngClass]="{'has-error': myNewForm.submitted && (myNewForm.form.controls['name']?.invalid)}">Name
                    <span class="required" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="batch.name" name="name" placeholder=""
                      [disabled]="mode == 'true'" #name="ngModel" required (ngModelChange)="setBatchChg()" required
                      [ngClass]="{'has-error':myNewForm.submitted && (myNewForm.form.controls['name']?.invalid)}">
                    <div *ngIf="myNewForm.submitted && (myNewForm.form.controls['name']?.invalid)">
                      <div class="help-block has-error error-msg">
                        This field is required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group" *ngIf="mode">
                  <label class="col-md-3 control-label">Version </label>
                  <div class="col-md-6">
                    <p-dropdown [options]="versionList" [(ngModel)]="selectedVersion" name="selectedVersion" [style]="{'width':'100%','padding':'3px'}"
                      [filter]="true" [disabled]="mode == 'false'" (ngModelChange)="onVersionChange()">
                    </p-dropdown>
                  </div>
                </div>

                <div class="form-group" *ngIf="mode">
                  <label class="col-md-3 control-label">CreatedBy</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" [disabled]="true" [(ngModel)]="batch.createdBy.ref.name"
                      name="createdBy">
                  </div>
                </div>

                <div class="form-group" *ngIf="mode">
                  <label class="col-md-3 control-label">CreatedOn</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" [disabled]="true" [(ngModel)]="batch.createdOn" name="createdOn">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Tags</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- <tag-input [(ngModel)]="batch.tags" [disable]="mode == 'true'" name="tags" theme='bootstrap' style=" max-height: 40px;overflow-x: hidden; border: 1px solid #ccc;overflow-y: scroll; border-radius: 5px; padding-left:5px"></tag-input> -->
                    <p-chips [(ngModel)]="batch.tags" styleClass="pchip-height" [disabled]="mode == 'true'" name="tags"
                      (ngModelChange)="setBatchChg()" [allowDuplicate]="false"></p-chips>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Desc</label>
                  <div class="col-md-6">
                    <textarea [disabled]="mode == 'true'" [(ngModel)]="batch.desc" name="desc" class="form-control noresize "
                      rows="2" style="resize:none;" (ngModelChange)="setBatchChg()"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group ui-switch-top-padding">
                      <ui-switch [disabled]="mode == 'true' || mode == 'false'" [(ngModel)]="active" name="active"></ui-switch>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Lock</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group ui-switch-top-padding">
                      <ui-switch [(ngModel)]="locked" name="locked" [disabled]="mode == 'true' || mode == 'false'"></ui-switch>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group ui-switch-top-padding">
                      <ui-switch [disabled]="mode == 'true' || mode == 'false'" [(ngModel)]="published" name="published"></ui-switch>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Run In Parallel ?</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group ui-switch-top-padding">
                      <!-- <ui-switch [disabled]="mode == 'true' || mode == 'false'" [(ngModel)]="batch.inParallel" name="inParallel"></ui-switch> -->
                      <p-checkbox [(ngModel)]="inParallel" [disabled]="mode == 'true' " name="inParallel" binary="true"></p-checkbox>
                    </div>

                    <!-- <label class="mt-checkbox " style="margin-bottom:-1px;">
                      <input type="checkbox" ng-model="batchDetail.inParallel" ng-disabled="{{mode}}" ng-true-value="'true'" ng-false-value="'false'"
                        ng-change="onChangeRunInParallel()">
                      <span style="border: 1px solid rgba(128, 128, 128, 0.38);background-color:white;" ng-disabled="{{mode}}"></span>
                    </label> -->

                  </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':myNewForm.submitted && (myNewForm.form.controls['pipelineInfoTags1']?.invalid)}">
                  <label class="col-md-3 control-label">PipelineInfo
                    <span class="required" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-6" *ngIf="pipelineInfoArray" [ngClass]="{'has-error':myNewForm.submitted && (myNewForm.form.controls['pipelineInfoTags1']?.invalid)}">
                    <angular2-multiselect [data]="pipelineInfoArray" [(ngModel)]="pipelineInfoTags" name="pipelineInfoTags1"
                      [settings]="dropdownSettingsPipeline" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                      (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)" #pipelineInfoTags1="ngModel"
                      required>
                    </angular2-multiselect>
                    <div *ngIf="myNewForm.submitted && (myNewForm.form.controls['pipelineInfoTags1']?.invalid)">
                      <div class="help-block has-error error-msg">
                        This field is required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Run Immediately ?</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <p-checkbox [(ngModel)]="checkboxModelexecution" [disabled]="mode == 'true' " name="checkboxModelexecution"
                      binary="true"></p-checkbox>
                  </div>
                </div>

                <div class="form-group" style="padding-top: 10px;">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <a class="btn btn-primary" (click)="goBack()">Cancel</a>
                    <!-- [disabled]="(!isSubmitEnable == false|| mode == false || myNewForm.form.dirty == true)?false:true" -->
                    <input type="submit" class="btn btn-success btn-margin" value="Submit" name="submit">
                    <span class="spinner" style="padding-left:15px;font-size:23px;vertical-align:middle;" *ngIf="IsProgerssShow=='true'">
                      <div class="bounce1"></div>
                      <div class="bounce2"></div>
                      <div class="bounce3"></div>
                    </span>
                  </div>
                </div>


                <div class="x_title">
                  <button type="Button" [disabled]="mode == 'true'" (click)="removeRow()" class=" btn btn-danger fa fa-minus pull-right"></button>
                  <button type="button" [disabled]="mode == 'true'" (click)="addRow()" class=" btn btn-success fa fa-plus pull-right"></button>
                  <h4>
                    <strong>Scheduler Details</strong>
                  </h4>
                  <hr>
                </div>
                <br />
                <table class=" row-border hover table  table-striped table-bordered">
                  <thead>
                    <tr>
                      <th style="text-align: center; Vertical-align: middle;width:5%;">
                        <input style="width: 16px;height:16px;" type="checkbox" [disabled]="mode" [(ngModel)]="selectallattribute"
                          (click)="checkAllAttributeRow()" name="selectAll" />
                      </th>
                      <th class="text-center" style="width:12%;">Name</th>
                      <th class="text-center">Start Time</th>
                      <th class="text-center">End Time</th>
                      <th class="text-center" style="width:13%;">Frequency Type</th>
                      <th class="text-center" style="width:16%;">Frequency Detail</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tabledata of scheduleInfoArray;let i =index">
                      <td style="text-align: center; Vertical-align: middle;width:5%;">
                        <input style="width: 16px;height:16px;" type="checkbox" [(ngModel)]="tabledata.selected" name="selected+{{i}}"
                          [disabled]="mode" />
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="tabledata.name" title="name" [disabled]="tabledata.isAttributeEnable || mode"
                          class="form-control" name="name{{i}}" (change)="onChangeName(i)" #name="ngModel" required
                          [ngClass]="{'has-error':myNewForm.submitted && (myNewForm.form.controls['name'+i]?.invalid)}">
                      </td>
                      <td>
                        <div class="pcalender-border" [ngClass]="{'has-error':myNewForm.submitted && (myNewForm.form.controls['startDate'+i]?.invalid)}">
                          <!-- <p-calendar [inputStyle]="{'width':'105%','height':'32px','margin':'0px 0px 0px 1px'}" format="ddd MMM D HH:mm:ss YYYY z"
                            [(ngModel)]="tabledata.startDate" name="startDate{{i}}" [showTime]="true" [utc]="true"
                            hourFormat="12" [disabled]="mode == 'true'" [minDate]="today" (onSelect)="onUpdateStartDate(tabledata.startDate,i)"
                            required #startDate="ngModel" [showIcon]="true" icon="fa fa-calendar">
                          </p-calendar> -->
                          <p-calendar inputStyleClass="form-control" format="ddd MMM D HH:mm:ss YYYY z" [(ngModel)]="tabledata.startDate"
                            name="startDate{{i}}" [showTime]="true" [utc]="true" hourFormat="12" [disabled]="mode == 'true'"
                            [minDate]="today" (onSelect)="onUpdateStartDate(tabledata.startDate,i)" [showIcon]="true"
                            icon="fa fa-calendar" required #startDate="ngModel">
                          </p-calendar>
                          <!-- <i class="fa fa-calendar" style="font-size:16px; padding-left: 18px; color:#5e5e5e"></i> -->
                        </div>
                      </td>
                      <td>
                        <div class="pcalender-border" [ngClass]="{'has-error':myNewForm.submitted && (myNewForm.form.controls['endDate'+i]?.invalid)}">
                          <!-- <p-calendar [inputStyle]="{'width':'105%','height':'32px','margin':'0px 0px 0px 1px'}" format="ddd MMM D HH:mm:ss YYYY z"
                            [(ngModel)]="tabledata.endDate" name="endDate{{i}}" [showTime]="true" [utc]="true"
                            hourFormat="12" [disabled]="mode == 'true'" [minDate]="tabledata.startDate" (onFocus)="onUpdateStartDate(tabledata.startDate,i)"
                            [styleClass]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}"
                            [readonlyInput]="true" required #endDate="ngModel">
                          </p-calendar> -->
                          <p-calendar inputStyleClass="form-control" format="ddd MMM D HH:mm:ss YYYY z" [(ngModel)]="tabledata.endDate"
                            name="endDate{{i}}" [showTime]="true" [utc]="true" hourFormat="12" [disabled]="mode == 'true'"
                            [minDate]="tabledata.startDate" (onFocus)="onUpdateStartDate(tabledata.startDate,i)"
                            [showIcon]="true" icon="fa fa-calendar" required #endDate="ngModel">
                          </p-calendar>
                          <!-- <i class="fa fa-calendar" style="font-size:16px; padding-left: 18px; color:#5e5e5e"></i> -->
                        </div>
                      </td>
                      <td>
                        <select class="form-control" [(ngModel)]="tabledata.attrtype" name="attrtype+{{i}}" [disabled]="mode == 'true'"
                          (change)="onChangeAttrtype(i)">
                          <option *ngFor="let app of attrtypes" [ngValue]="app.value">{{app.label}} </option>
                        </select>
                      </td>
                      <td>
                        <div *ngIf="(tabledata.attrtype=='WEEKLY' || tabledata.attrtype=='BI-WEEKLY' || tabledata.attrtype=='HOURLY'|| tabledata.attrtype=='QUARTERLY' || tabledata.attrtype=='MONTHLY') else notAllow">
                          <input type="text" [(ngModel)]="tabledata.frequencyDetail" title="{{tabledata.frequencyDetail}}"
                            name="frequencyDetail+{{i}}+{{optionChoose}}" class="form-control" (click)="showDialog(i, tabledata.attrtype)"
                            [disabled]="mode == 'true'" readonly={{isReadOnly}} />
                        </div>
                        <ng-template #notAllow>
                          <div style="text-align: center">
                            -NA-
                          </div>
                        </ng-template>
                      </td>
                    </tr>
                  </tbody>
                </table>


                <p-dialog class="dialogBox dialogBox1" [modal]="true" [closable]="false" [(visible)]="displayDialog"
                  [responsive]="true" [contentStyle]="{'overflow':'visible'}">
                  <div class="weekDays-selector" *ngFor="let week of weekName.weekAlias;let i=index" style="float: left">
                    <input class="weekday" (change)="onChange(week.name, $event.target.checked,i)" name="{{ week.name }}"
                      type="checkbox" id="{{week.name}}" [checked]="week.checked">
                    <label class="form-check-label" for="{{week.name}}">
                      {{week.alias}}
                    </label>
                  </div>
                  <br>
                  <div style="height: 85px; padding:  40px 4px 0px 0px; margin:0px">
                    <button type="button" [disabled]="mode == 'true'" (click)="dialogDone()" class="btn green btn-margin pull-right">Done</button>
                    <button type="button" [disabled]="mode == 'true'" (click)="dialogCancel()" class="btn dark btn-outline pull-right">Cancel</button>
                  </div>
                </p-dialog>

                <p-dialog class="dialogBox dialogBox3" [modal]="true" [closable]="false" [(visible)]="displayDialog3"
                  [responsive]="true" [contentStyle]="{'overflow':'visible', 'padding': '1em 0em 1em 2em'}">
                  <div class="weekDays-selector" *ngFor="let week of weekName.hour;let i=index">
                    <input class="weekday" (change)="onChange(week.name, $event.target.checked,i)" name="{{ week.name }}"
                      type="checkbox" id="{{week.name}}" [checked]="week.checked">
                    <label class="form-check-label" for="{{week.name}}">
                      {{week.hour}}
                    </label>
                  </div>
                  <br>
                  <div style="height: 250px; padding:  216px 15px 0px 0px; margin:0px">
                    <button type="button" [disabled]="mode == 'true'" (click)="dialogDone()" class="btn green btn-margin pull-right">Done</button>
                    <button type="button" [disabled]="mode == 'true'" (click)="dialogCancel()" class="btn dark btn-outline pull-right">Cancel</button>
                  </div>
                </p-dialog>

                <p-dialog class="dialogBox dialogBox1" [modal]="true" [closable]="false" [(visible)]="displayDialog1"
                  [responsive]="true" [contentStyle]="{'overflow':'visible'}">
                  <div class="weekDays-selector" *ngFor="let week of weekName.quarters;let i=index" style="float: left">
                    <input class="weekday" (change)="onChange(week.name, $event.target.checked,i)" name="{{ week.name }}"
                      type="checkbox" id="{{week.name}}" [checked]="week.checked">
                    <label class="form-check-label" for="{{week.name}}">
                      {{week.quarter}}
                    </label>
                  </div>
                  <br>
                  <div style="height: 85px; padding:  40px 4px 0px 0px; margin:0px">
                    <button type="button" [disabled]="mode == 'true'" (click)="dialogDone()" class="btn green btn-margin pull-right">Done</button>
                    <button type="button" [disabled]="mode == 'true'" (click)="dialogCancel()" class="btn dark btn-outline pull-right">Cancel</button>
                  </div>
                </p-dialog>

                <p-dialog class="dialogBox" [modal]="true" [closable]="false" [(visible)]="displayDialog2" [responsive]="true"
                  [contentStyle]="{'overflow':'visible'}">{{defaultDate}}
                  <p-calendar [readonlyInput]="true" [(ngModel)]="frequencyDetailCal" name="frequencyDetailCal+{{frequencyDetail.index}}"
                    [inline]="true" [minDate]="startDate" selectionMode="multiple" [style]="{'width':'250px'}">
                  </p-calendar>
                  <br>
                  <div style="height: 50px; padding:  12px 0px 0px 0px;">
                    <button type="button" [disabled]="mode == 'true'" (click)="dialogDoneMonth(frequencyDetailCal,this.frequencyDetail.index)"
                      class="btn green btn-margin pull-right">Done</button>
                    <button type="button" [disabled]="mode == 'true'" (click)="dialogCancel()" class="btn dark btn-outline pull-right">Cancel</button>
                  </div>
                </p-dialog>
              </form>
            </div>
            <!-- {{frequencyDetailCal}} -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>