<div>
  <app-breadcrumb [breadcrumbData]="breadcrumbDataFrom"></app-breadcrumb>
  <br>
  <p-growl [(value)]="msgs"></p-growl>
  <div notifybar style="position:fixed;top:40px;right:0;z-index:1000"></div> <!-- BEGIN MAIN CONTENT -->
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN: ACCORDION DEMO -->
      <div class="portlet box green">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-gift"></i>{{functionData.name}}
          </div>
          
          <div class="tools">
            <a style="color:white" title="Main" data-placement="top" tooltip [ngClass]="isHomeEnable==true ? 'notcurrentpage':'currentpage'"
              data- (click)="showMainPage(functionData.uuid,functionData.version)">
              <i class="fa fa-home" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
            </a>

            <a href="javascript:;" title="Edit" data-toggle="tooltip" data-placement="top" tooltip [ngClass]="mode == 'true' && showGraph == false? 'notcurrentpage':'currentpage'"
              data-(click)="enableEdit(functionData.uuid,functionData.version)">
              <i class="fa fa-edit" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
            </a>

            <a href="javascript:;" title="Show Dependencies" data-placement="top" tooltip [ngClass]="isHomeEnable==false? 'notcurrentpage':'currentpage'"
              data- (click)="showDagGraph(functionData.uuid,functionData.version)">
              <i class="fa fa-sitemap" style="display: inline;margin:2px auto;color:white;"></i>
            </a>
            <a title="Refresh" data-toggle="tooltip" data-placement="top" tooltip>
              <i class="fa fa-refresh" aria-hidden="true" style="display: inline;margin: 2px auto;color:white;"></i>
            </a>
            <a title="Close" data-toggle="tooltip" data-placement="top" tooltip style="height:14px;" (click)="goBack()">
              <i class="fa fa-times" aria-hidden="true" style="display: inline;margin: 2px auto;color:white;"></i>
            </a>
          </div>

        </div>

        <div class="portlet-body form" *ngIf="!showGraph">
          <div class="form-body graph-body" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQYV2NkIBIwgtStWrXqf1hYGJiNC+CVRNY0qhBv0AMAsKgECyGgekgAAAAASUVORK5CYII=')"
            *ngIf="showgraphdiv">
            <div class="form-body text-center" id="errorMsg" style="color:blue;"></div>
            <!--<div class="spinner" id="graphloader">-->
            <!--<div class="bounce1"></div>-->
            <!--<div class="bounce2"></div>-->
            <!--<div class="bounce3"></div>-->
            <!--</div>-->
            <div class="form-body show-graph-body" id="graphWrapper">
              <app-d3></app-d3>
            </div>
          </div>

          <div class="form-body" style="padding-top:50px;">
            <form class="form-horizontal" name="myform" novalidate="novalidate" (ngSubmit)="submitFunction()"
              #myNewForm="ngForm">
              <div class="form-group" *ngIf="mode">
                <label class="col-md-3 control-label">UUID</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" [(ngModel)]="functionData.uuid" name="uuid" placeholder=""
                    [disabled]="true">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label">Name
                  <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-6">
                  <input type="text" class="form-control" [(ngModel)]="functionData.name" name="name" placeholder=""
                    [disabled]="mode == 'true'">
                </div>
              </div>

              <div class="form-group" *ngIf="mode">
                <label class="col-md-3 control-label">Version </label>
                <div class="col-md-6">
                  <p-dropdown [options]="VersionList" [(ngModel)]="selectedVersion" name="selectedVersion" [style]="{'width':'100%','padding':'3px'}"
                    [filter]="true" [disabled]="mode == 'false'" (onChange)="onVersionChange()">
                  </p-dropdown>
                </div>
              </div>

              <div class="form-group" *ngIf="mode">
                <label class="col-md-3 control-label">CreatedBy</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" [disabled]="true" [(ngModel)]="createdBy" name="createdBy">
                </div>
              </div>

              <div class="form-group" *ngIf="mode">
                <label class="col-md-3 control-label">CreatedOn</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" [disabled]="true" [(ngModel)]="functionData.createdOn" name="createdOn">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Tags</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <tag-input [(ngModel)]="functionData.tags" name="tags" [disable]="mode == 'true'" theme='bootstrap'
                    style=" max-height: 40px;overflow-x: hidden; border: 1px solid #ccc;overflow-y: scroll; border-radius: 5px; padding-left:5px"></tag-input>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Desc</label>
                <div class="col-md-6">
                  <textarea [disabled]="mode == 'true'" [(ngModel)]="functionData.desc" name="desc" class="form-control noresize "
                    rows="2" style="resize:none;"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">FunctionType
                  <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-2 col-sm-2 col-xs-12">
                  <p-dropdown [options]="funcType" [(ngModel)]="selectFunctionType" name="functionType" [disabled]="mode == 'true'"
                    [style]="{'width':'100%','padding':'3px'}" [filter]="true">
                  </p-dropdown>
                  <!-- <select title="Type" [(ngModel)]="selectFunctionType" ng-options="x for x in funcType" class="form-control" [(disabled)]="{{mode}}"
									 required="">
									</select> -->
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Category
                  <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-2 col-sm-2 col-xs-12">
                  <p-dropdown [options]="category" [(ngModel)]="selectCatogory" name="functionType" [disabled]="mode == 'true'"
                    [style]="{'width':'100%','padding':'3px'}" [filter]="true">
                  </p-dropdown>
                  <!-- <select title="Type" [(ngModel)]="selectCatogory" ng-options="x for x in catogory" class="form-control" [(disabled)]="{{mode}}"
									 required="">
									</select> -->
                </div>
              </div>
              <!-- <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Input Flag</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="btn-group">
                    <ui-switch (change)="onChangeInputFlag($event)" [disabled]="mode == 'true'" [(ngModel)]="functionData.inputReq"
                      name="inputFlag" [checked]="inputFlag" color="#32c5d2" labelOn="Yes" labelOff="No"></ui-switch>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="btn-group">
                    <ui-switch (change)="onChangeActive($event)" [disabled]="mode == 'true' || mode == 'false'"
                      [(ngModel)]="functionData.active" name="active" [checked]="active" color="#32c5d2" labelOn="Yes"
                      labelOff="No"></ui-switch>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="btn-group">
                    <ui-switch (change)="onChangePublish($event)" [disabled]="mode == 'true' || mode == 'false'"
                      [(ngModel)]="functionData.published" name="published" [checked]="published" color="#32c5d2"
                      labelOn="Yes" labelOff="No"></ui-switch>
                  </div>
                </div>
              </div> -->

              <div class="form-group" style="padding-top: 10px;">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <a class="btn btn-primary" (click)="goBack()">Cancel</a>

                  <input type="submit" class="btn btn-success" value="Submit" name="submit" [disabled]="(!iSSubmitEnable == false|| mode == false || myNewForm.form.dirty == true)?false:true">

                </div>
              </div>
              <div class="x_title">
                <button type="Button" class=" btn btn-danger fa fa-minus pull-right" (click)="removeRow()" [disabled]="mode == 'true'"></button>
                <button type="Button" class=" btn btn-success fa fa-plus pull-right" (click)="addRow()" [disabled]="mode == 'true'"></button>
                <h4><strong>Details</strong></h4>
                <hr>
              </div>
              <table class=" row-border hover table  table-striped table-bordered">
                <thead class="">
                  <tr>
                    <th style="text-align: center; Vertical-align: middle;width:5%;"><input style="width: 16px;height:16px;"
                        type="checkbox" [disabled]="mode == 'true'" [(ngModel)]="selectallrow" (change)="selectAllRow()"
                        name="selectallrow" /></th>
                    <th style="text-align: center;width:50%;">Type</th>
                    <th style="text-align: center;">Name</th>
                    <th style="width:5%;">
                      <div (click)="expandAll(allExpanded = !allExpanded)" style="display:flex;justify-content:center;margin:3px auto;">
                        <i [ngClass]="allExpanded ? 'fa fa-chevron-circle-up' : 'fa fa-chevron-circle-down'" style="opacity:0.7;"
                          aria-hidden="true"></i>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-template ngFor let-data [ngForOf]="functionTableArray" let-i="index">
                    <tr>
                      <td style="text-align: center; Vertical-align: middle;width:5%;"><input style="width: 16px;height:16px;"
                          type="checkbox" [(ngModel)]="data.selected" name="selected" [disabled]="mode == 'true'" /></td>
                      <td>
                        <p-dropdown [options]="allTypes" [(ngModel)]="data.type" name="type+{{i}}" [disabled]="mode == 'true'"
                          [style]="{'width':'100%','padding':'3px'}" [filter]="true">
                        </p-dropdown>
                      </td>
                      <td>
                        <input type="text" class="form-control" [disabled]="mode == 'true'" [(ngModel)]="data.name"
                          name="DataName+{{i}}">
                      </td>
                      <td>
                        <div (click)="data.expanded = !data.expanded" expand style="display:flex;justify-content:center;margin:3px auto;">
                          <i [ngClass]="expanded ? 'fa fa-chevron-circle-up' : 'fa fa-chevron-circle-down'" style="opacity:0.7;"></i>
                        </div>
                      </td>
                    </tr>

                    <tr *ngIf="data.expanded">
                      <td colspan="3" style="padding: 0px 17px;">
                        <div class="x_title" style="padding:10px;">
                          <button type="Button" class=" btn btn-danger fa fa-minus pull-right" (click)="removeJoinSubRow(i)"
                            [disabled]="mode == 'true'"></button>
                          <button type="Button" class=" btn btn-success fa fa-plus pull-right" (click)="addJoinSubRow(i)"
                            [disabled]="mode == 'true'"></button>
                        </div>
                        <br><br>
                        <table class=" row-border hover table  table-striped table-bordered">
                          <thead class="theadborder">
                            <tr>
                              <th style="text-align: center; Vertical-align: middle;width:5%;">
                                <input style="width: 16px;height:16px;" type="checkbox" [disabled]="mode == 'true'"
                                  [(ngModel)]="data.selectalljoinkey" name="selectalljoinkey" (change)="selectAllSubRow(i)" /></th>
                              <th style="text-align: center;width:17%;">Parameter Id</th>
                              <th style="text-align: center;width:30%;">Parameter Reqd</th>
                              <th style="text-align: center;width:15%;">Parameter Type</th>
                              <th style="text-align: center;width:33%;">Parameter Name</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let paramInfo of data.paramInfoHolder let j=index ">

                              <td style="text-align: center; Vertical-align: middle;"><input style="width: 16px;height:16px;"
                                  type="checkbox" [(ngModel)]="paramInfo.selected" name="selected+{{j}}" [disabled]="mode == 'true'">
                              </td>
                              <td>
                                <input type="text" class="form-control" [disabled]="mode == 'true'" [(ngModel)]="paramInfo.paramId"
                                  name="paramIde+{{j}}">
                              </td>
                              <td style="width:35%;">
                                <input type="checkbox" style="width: 16px; margin-left: 41%" class="form-control"
                                  [disabled]="mode == 'true'" [(ngModel)]="paramInfo.paramReq" name="paramReq+{{j}}"
                                  value=false>
                              </td>
                              <td style="width:15%;">
                                <p-dropdown [options]="allParamType" [(ngModel)]="paramInfo.paramType" name="paramType+{{j}}"
                                  [disabled]="mode == 'true'" [style]="{'width':'100%','padding':'3px'}" [filter]="true">
                                </p-dropdown>
                              </td>
                              <td style="width:35%;">
                                <input type="text" class="form-control" [disabled]="mode == 'true'" [(ngModel)]="paramInfo.paramName"
                                  name="paramName+{{j}}">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td></td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
            </form>
          </div>

        </div>
      </div>

      <!-- <div class="portlet-body form" *ngIf="showGraph">
          {{"Knowledge Graph"}}
        </div> -->

      <div class="form-body graph-body" *ngIf="showGraph" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQYV2NkIBIwgtStWrXqf1hYGJiNC+CVRNY0qhBv0AMAsKgECyGgekgAAAAASUVORK5CYII=');">
        <div class="form-body text-center" id="errorMsg" style="color:blue;"></div>
        <div class="spinner" id="graphloader">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <div class="show-graph-body" id="graphWrapper">
          <knowledge-graph></knowledge-graph>
        </div>
      </div>


    </div>
  </div>