<div class="dqcomparepage">
    <p-growl [(value)]="msgs"></p-growl>
    <div class="row" style="padding-top: 10px">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-magnifier"></i>Search Criteria</div>
                    <div class="tools">
                        <a class="left-marginpage" title="Refresh" data-toggle="tooltip" data-placement="top" (click)="refreshSearchCriteria()"
                            data-original-title="" title="">
                            <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
                        </a>
                        <a class="left-marginpage" href="javascript:;" class="collapse" data-original-title="" title="" style="height:14px;"></a>
                    </div>
                </div>
                <!--End portlet-title -->
                <div class="portlet-body">
                    <form class="form-horizontal" name="myform" novalidate="novalidate" (ngSubmit)="submitSearchCriteria()"
                        #myNewForm="ngForm">


                        <!-- Source -->
                        <div class="col-md-12" style="padding-bottom: 2%;">
                            <div class="col-md-1" style="padding-top: 1%;padding-right: 0px;padding-left: 0%;font-weight: 600;font-size: 16px;">Source</div>
                            <div class="col-md-11" style="padding-bottom: 0%;padding-left: 0px;">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6 col-sm-6 col-xs-12 custpadding">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-6">Datapod</label>
                                        <div class="col-md-9 col-sm-9 col-xs-6">
                                            <p-dropdown [options]="allNameSourceDatapod" [(ngModel)]="searchForm.selectedSourceDatapodName"
                                                name="selectedSourceDatapodName" [style]="{'width':'100%','padding':'3px'}"
                                                [filter]="true" [disabled]="mode == 'false'" placeholder="-Select-"
                                                (onChange)="onChangeSourceDatapod(searchForm.selectedSourceDatapodName)"
                                                [dropdownIcon]="caretdown">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-6" style="padding-left: 0px;padding-right: 0px;">
                                            Profile Attribute</label>
                                        <div class="col-md-9 col-sm-9 col-xs-6">
                                            <p-dropdown [options]="allNameSourceProfileAttribute" [(ngModel)]="searchForm.selectedSourceProfileAttribute.value"
                                                name="selectedSourceProfileAttribute.value" [style]="{'width':'100%','padding':'3px'}"
                                                [filter]="true" [disabled]="mode == 'false'" [dropdownIcon]="caretdown">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6 col-sm-6 col-xs-12 custpadding">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-6">Attribute</label>
                                        <div class="col-md-9 col-sm-9 col-xs-6">
                                            <p-dropdown [options]="allNameSourceDatapodAttribute" [(ngModel)]="searchForm.selectedSourceDatapodAttribute"
                                                name="selectedSourceDatapodAttribute" [style]="{'width':'100%','padding':'3px'}"
                                                [filter]="true" [disabled]="mode == 'false'" placeholder="-Select-"
                                                [dropdownIcon]="caretdown">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-6" style="padding-left: 0px;padding-right: 0px;">
                                            Period</label>
                                        <div class="col-md-9 col-sm-9 col-xs-6">
                                            <p-dropdown [options]="allNameSourcePeriod" [(ngModel)]="searchForm.selectedSourcePeriod"
                                                name="selectedSourcePeriod" [style]="{'width':'100%','padding':'3px'}"
                                                [filter]="true" [disabled]="mode == 'false'" [dropdownIcon]="caretdown">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Target -->
                        <div class="col-md-12" style="padding-bottom: 2%;">
                            <div class="col-md-1" style="padding-top: 1%;padding-right: 0px;padding-left: 0%;font-weight: 600;font-size: 16px;">Target</div>
                            <div class="col-md-11" style="padding-bottom: 0%;padding-left: 0px;">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6 col-sm-6 col-xs-12 custpadding">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-6">Datapod</label>
                                        <div class="col-md-9 col-sm-9 col-xs-6">
                                            <p-dropdown [options]="allNameTargetDatapod" [(ngModel)]="searchForm.selectedTargetDatapodName"
                                                name="selectedTargetDatapodName" [style]="{'width':'100%','padding':'3px'}"
                                                [filter]="true" [disabled]="mode == 'false'" placeholder="-Select-"
                                                (onChange)="onChangeTargetDatapod(searchForm.selectedTargetDatapodName)"
                                                [dropdownIcon]="caretdown">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-6" style="padding-left: 0px;padding-right: 0px;">
                                            Profile Attribute</label>
                                        <div class="col-md-9 col-sm-9 col-xs-6">
                                            <p-dropdown [options]="allNameTargetProfileAttribute" [(ngModel)]="searchForm.selectedTargetProfileAttribute.value"
                                                name="selectedTargetProfileAttribute.value" [style]="{'width':'100%','padding':'3px'}"
                                                [filter]="true" [disabled]="mode == 'false'" placeholder="-Select-"
                                                [dropdownIcon]="caretdown">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6 col-sm-6 col-xs-12 custpadding">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-6">Attribute</label>
                                        <div class="col-md-9 col-sm-9 col-xs-6">
                                            <p-dropdown [options]="allNameTargetDatapodAttribute" [(ngModel)]="searchForm.selectedTargetDatapodAttribute"
                                                name="selectedTargetDatapodAttribute" [style]="{'width':'100%','padding':'3px'}"
                                                [filter]="true" [disabled]="mode == 'false'" placeholder="-Select-"
                                                [dropdownIcon]="caretdown">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-6" style="padding-left: 0px;padding-right: 0px;">
                                            Period</label>
                                        <div class="col-md-9 col-sm-9 col-xs-6">
                                            <p-dropdown [options]="allNameTargetPeriod" [(ngModel)]="searchForm.selectedTargetPeriod.value"
                                                name="selectedTargetPeriod.value" [style]="{'width':'100%','padding':'3px'}"
                                                [filter]="true" [disabled]="mode == 'false'" placeholder="-Select-"
                                                [dropdownIcon]="caretdown">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="padding-top:2%">
                                <div class="col-md-6 col-sm-6 col-xs-12 custpadding">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-6"></label>
                                        <div class="col-md-9 col-sm-9 col-xs-6">
                                            <input type="submit" class="btn btn-success" value="Search" name="submit"
                                                style="border-radius: 4px;" [disabled]="isSubmitDisable" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <!--End portlet-body -->
            </div>
            <!--End portlet box green -->
        </div>
        <!--End Col-md-12-->
    </div>
    <!--End row-->

    <div class="row" style="padding-top: 10px">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=""></i>Trend Analysis
                    </div>
                    <div class="tools">
                        <a class="left-marginpage" title="Refresh" data-toggle="tooltip" data-placement="top" (click)="refreshTrendAnalysis()"
                            data-original-title="" title="">
                            <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
                        </a>
                        <a class="left-marginpage" href="javascript:;" class="collapse" data-original-title="" title="" style="height:14px;"></a>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="row form-horizontal" style="padding-top:10px">
                        <div class="col-md-12 col-lg-12">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6" style="padding-right: 3%; border-right: 1px solid #d4d4d4;">
                                <div class="row">
                                    <div class="col-md-12" *ngIf="showSourceGraph">
                                        <div class="spinner centercontent" *ngIf="sourceHistrogramSpinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                        <div *ngIf="sdatacol!=null">
                                            <span style="font-size:20px;"><b>Source</b></span>
                                            <br><br>
                                            <c3-chart [chartId]="'sourceHistrogramDatapod'" [chartData]="sdatacol.datapoints"
                                                [ChartColumns]="[sdatacol.datacolumns[0].id]" [chartColor]="['#D8A2DE']"
                                                [chartType]="'bar'" [chartDatax]="sdatacol.datax.id"></c3-chart>
                                        </div>
                                        <div class="centercontent" style="min-height: 370px;" *ngIf="sourceHistrogramError">
                                            <h3 style="font-size:14px;color:blue">No Data Found</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6" style="padding-left: 3%;">
                                <div class="row">
                                    <div class="col-md-12" *ngIf="showTargetGraph">
                                        <div class="spinner centercontent" *ngIf="targetHistrogramSpinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                        <div *ngIf="tdatacol!=null">
                                            <span style="font-size:20px;"><b>Target</b></span>
                                            <br><br>
                                            <c3-chart [chartId]="'targetHistrogramDatapod'" [chartData]="tdatacol.datapoints"
                                                [ChartColumns]="[tdatacol.datacolumns[0].id]" [chartColor]="['#D8A2DE']"
                                                [chartType]="'bar'" [chartDatax]="tdatacol.datax.id"></c3-chart>
                                        </div>
                                        <div class="centercontent" style="min-height: 370px;" *ngIf="targetHistrogramError">
                                            <h3 style="font-size:14px;color:blue">No Data Found</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--End portlet-body -->
            </div>
            <!--End portlet box green -->
        </div>
        <!--End Col-md-12-->
    </div>
</div>