<div class="page-sidebar navbar-collapse collapse" data-ng-controller="lhscontroller" ng-init="updateMetaData()">

    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul ng-click="clearCache()" class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" >
        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
        <li class="sidebar-search-wrapper">
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
            <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
            <form class="sidebar-search sidebar-search-bordered" action="#" method="POST">
                <a href="javascript:;" class="remove">
                    <i class="icon-close"></i>
                </a>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." ng-model="searchtext" style="color:white;">
                    <span class="input-group-btn">
                        <lhsa href="javascript:;" class="btn submit">
                            <i class="icon-magnifier"></i>
                        </a>
                    </span>
                </div>
            </form><!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>

         <!--Datadiscovery Menu-->
         <li class="nav-item" ng-click="deInitTabs()">
            <a ui-sref="{{Datadiscovery.name}}">
                <i class="{{Datadiscovery.class}}"></i>
                <span class="title">{{Datadiscovery.caption}}</span>
            </a>
        </li>
        
        <!--Datavisualization Menu-->
        <li class="nav-item">
          <a href="#" class="nav-link nav-toggle">
                <i class="{{Datavisualization.class}}"></i>
                <span class="title">{{Datavisualization.caption}}</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item" data-ng-repeat="datavisualizationsubmenu in Datavisualization.submenu " ng-click="deInitTabs()">
                    <a ui-sref="{{datavisualizationsubmenu.name}}" class="nav-link">
                        <span class="title">{{datavisualizationsubmenu.caption}}</span>
                       <span class="badge badge-success">{{metaStats[datavisualizationsubmenu.type].count}}</span>
                    </a>
                </li>
            </ul>
        </li>
         <!--Data Ingestion Menu-->
        <li class="nav-item">
                <a href="#" class="nav-link nav-toggle">
                      <i class="{{Ingestdata.class}}"></i>
                      <span class="title">{{Ingestdata.caption}}</span>
                      <span class="arrow"></span>
                      
                  </a>
                  <ul class="sub-menu">
                      <li class="nav-item"data-ng-repeat="ingestdatasubmenu in Ingestdata.submenu | orderBy" ng-click="deInitTabs()">
                          <a ui-sref="{{ingestdatasubmenu.name}}" class="nav-link">
                              <span class="title">{{ingestdatasubmenu.caption}}</span>
                               <span class="badge badge-success">{{metaStats[ingestdatasubmenu.typeCount].count}}</span>
                          </a>
                      </li>
                     
                  </ul>
      
              </li>
        <!--Profile Menu-->
        <li class="nav-item">
          <a href="#" class="nav-link nav-toggle">
                <i class="{{Profiledata.class}}"></i>
                <span class="title">{{Profiledata.caption}}</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item"  data-ng-repeat="profiledatasubmenu in Profiledata.submenu | orderBy:'caption'" ng-click="deInitTabs()">
                    <a  ui-sref="{{profiledatasubmenu.name}}({type:profiledatasubmenu.type})" class="nav-link">
                        <span class="title">{{profiledatasubmenu.caption}}</span>
                         <span class="badge badge-success">{{metaStats[profiledatasubmenu.type].count}}</span>
                    </a>
                </li>
                <li class="nav-item" ng-click="deInitTabs()">
                    <a  ui-sref="profilecompare({type:profileexec})" class="nav-link">
                        <span class="title">Compare Results</span>
                         <span class="badge badge-success"></span>
                    </a>
                </li>
      
            </ul>
        </li>

         <!--Dataquality Menu-->
        <li class="nav-item">
          <a href="#" class="nav-link nav-toggle">
                <i class="{{Dataqualitydata.class}}"></i>
                <span class="title">{{Dataqualitydata.caption}}</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item" data-ng-repeat="dataqualitydatasubmenu in Dataqualitydata.submenu" ng-click="deInitTabs()">
                    <a ui-sref="{{dataqualitydatasubmenu.name}}" class="nav-link">
                        <span class="title">{{dataqualitydatasubmenu.caption}}</span>
                        <span class="badge badge-success">{{metaStats[dataqualitydatasubmenu.type].count}}</span>
                     </a>
                </li>
                <li class="nav-item" ng-click="deInitTabs()">
                    <a  ui-sref="dataqualitycompare({type:dqexec})" class="nav-link">
                        <span class="title">Compare Results</span>
                         <span class="badge badge-success"></span>
                    </a>
                </li>
            </ul>
        </li>

         <!--MetaData Menu-->
        <li class="nav-item" >
          <a href="#" class="nav-link nav-toggle">
                <i class="{{Metadata.class}}"></i>
                <span class="title">{{Metadata.caption}}</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu submenucheck">
                <li class="nav-item" data-ng-repeat="metadatasubmenu in Metadata.submenu | orderBy:'caption' | filter:searchtext"  ng-click="deInitTabs()">
                    <a ui-sref="{{Metadata.name}}({type:'{{metadatasubmenu.name}}'})" class="nav-link">
                        <span class="title">{{metadatasubmenu.caption}}</span>
                        <span class="badge badge-success">{{metaStats[metadatasubmenu.name].count}}</span>
                     </a>
                </li>
                <li class="nav-item" ng-click="deInitTabs()">
                    <a  ui-sref="maprestult" class="nav-link">
                        <span class="title">Results</span>
                        <span class="badge badge-success">{{metaStats['mapexec'].count}}</span>
                    </a>
                </li>
            </ul>
        </li>
         <!--Data Reconcilation-->
         <li class="nav-item">
            <a href="#" class="nav-link nav-toggle">
                <i class="{{Recondata.class}}"></i>
                <span class="title">{{Recondata.caption}}</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item"data-ng-repeat="ruledatasubmenu in Recondata.submenu | orderBy" ng-click="deInitTabs()">
                    <a ui-sref="{{ruledatasubmenu.name}}" class="nav-link">
                        <span class="title">{{ruledatasubmenu.caption}}</span>
                        <span class="badge badge-success">{{metaStats[ruledatasubmenu.type].count}}</span>
                    </a>
                </li>
                <li class="nav-item" ng-click="deInitTabs()">
                    <a  ui-sref="reconcompare({type:reconexec})" class="nav-link">
                        <span class="title">Compare Results</span>
                         <span class="badge badge-success"></span>
                    </a>
                </li>
            </ul>
        </li>
        
       <!--BusinessRule Menu-->
        <li class="nav-item">
          <a href="#" class="nav-link nav-toggle">
                <i class="{{Ruledata.class}}"></i>
                <span class="title">{{Ruledata.caption}}</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item"data-ng-repeat="ruledatasubmenu in Ruledata.submenu | orderBy" ng-click="deInitTabs()">
                    <a ui-sref="{{ruledatasubmenu.name}}" class="nav-link">
                        <span class="title">{{ruledatasubmenu.caption}}</span>
                         <span class="badge badge-success">{{metaStats[ruledatasubmenu.typeCount].count}}</span>
                    </a>
                </li>
                <li class="nav-item" ng-click="deInitTabs()">
                    <a  ui-sref="rulecompare({type:ruleexec})" class="nav-link">
                        <span class="title">Compare Results</span>
                         <span class="badge badge-success"></span>
                    </a>
                </li>
            </ul>

        </li>
       
        <!--DataScience Menu-->
        <li class="nav-item">
          <a href="#" class="nav-link nav-toggle">
                <i class="{{Datascience.class}}"></i>
                <span class="title">{{Datascience.caption}}</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item" data-ng-repeat="datasciencesubmenu in Datascience.submenu | filter:searchtext"  ng-click="deInitTabs()"  >
                    <a ui-sref="{{datasciencesubmenu.name}}({type:datasciencesubmenu.type})" class="nav-link">
                        <span class="title">{{datasciencesubmenu.caption}}</span>
                         <span class="badge badge-success">{{metaStats[datasciencesubmenu.typeCount].count}}</span>
                    </a>
                </li>
            </ul>
        </li>
        <!--GraphAnalysis-->
        <li class="nav-item">
            <a href="#" class="nav-link nav-toggle">
                <i class="{{GraphAnalysis.class}}"></i>
                <span class="title">{{GraphAnalysis.caption}}</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li ng-disabled="graphanAlysisSubMenu.caption == 'Create New' && (!privileges['graphpod'] || privileges['graphpod'].indexOf('Add') == -1)" class="nav-item" data-ng-repeat="graphanAlysisSubMenu in GraphAnalysis.submenu | filter:searchtext"  ng-click="deInitTabs()"  >
                    <a ui-sref="{{graphanAlysisSubMenu.name}}({type:graphanAlysisSubMenu.type})" class="nav-link">
                        <span class="title">{{graphanAlysisSubMenu.caption}}</span>
                        <span class="badge badge-success">{{metaStats[graphanAlysisSubMenu.typeCount].count}}</span>
                    </a>
                </li>
            </ul>
        </li>
              
         <!--WorkFlow Menu-->
        <li class="nav-item">
          <a href="#" class="nav-link nav-toggle">
                <i class="{{Dagworkflow.class}}"></i>
                <span class="title">{{Dagworkflow.caption}}</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu"><!-- ({action:'add'})" -->
                <li ng-disabled="dagdatasubmenu.caption == 'Create New' && (!privileges['dag'] || privileges['dag'].indexOf('Add') == -1)" class="nav-item" data-ng-repeat="dagdatasubmenu in Dagworkflow.submenu | orderBy:'caption'  | filter:searchtext" ng-click="deInitTabs()">
                    <a ui-sref="{{dagdatasubmenu.name}}({type:dagdatasubmenu.type})" class="nav-link">
                        <span class="title">{{dagdatasubmenu.caption}}</span>
                         <span class="badge badge-success">{{metaStats[dagdatasubmenu.typeCount].count}}</span>
                    </a>
                </li>
            </ul>
        </li>
       
          <!--Batch Menu-->
          <li class="nav-item">
            <a href="#" class="nav-link nav-toggle">
                  <i class="{{Batch.class}}"></i>
                  <span class="title">{{Batch.caption}}</span>
                  <span class="arrow"></span>
              </a>
              <ul class="sub-menu"><!-- ({action:'add'})" -->
                  <li ng-disabled="batchsubmenu.caption == 'Create New' && (!privileges['batch'] || privileges['batch'].indexOf('Add') == -1)" class="nav-item" data-ng-repeat="batchsubmenu in Batch.submenu | orderBy:'caption'  | filter:searchtext" ng-click="deInitTabs()">
                      <a ui-sref="{{batchsubmenu.name}}({type:batchsubmenu.type})" class="nav-link">
                          <span class="title">{{batchsubmenu.caption}}</span>
                           <span class="badge badge-success">{{metaStats[batchsubmenu.typeCount].count}}</span>
                      </a>
                  </li>
              </ul>
          </li>
      
        <!--Admind Menu-->
        <li class="nav-item" ng-show="role=='admin'">
        <!-- <li class="nav-item" ng-show="appType=='ADMIN'"> -->
            <!-- {{appType}} -->
          <a href="#" class="nav-link nav-toggle">
                <i class="{{Admindata.class}}"></i>
                <span class="title">{{Admindata.caption}}</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu submenucheck">
                <li class="nav-item" data-ng-repeat="admindatasubmenu in Admindata.submenu | orderBy:'caption' | filter:searchtext" ng-click="deInitTabs()">
                    <a ui-sref="{{Admindata.name}}({type:'{{admindatasubmenu.name}}'})" class="nav-link">
                     <span class="title">{{admindatasubmenu.caption}}</span>
                     <span class="badge badge-success">{{metaStats[admindatasubmenu.name].count}}</span>
                     </a>
                </li>
                <li class="nav-item">
                    <a ui-sref="registersource" class="nav-link">
                     <span class="title">Register Source</span>
                     </a>
                </li>
              
                <li class="nav-item">
                    <a ui-sref="migrationassist" class="nav-link">
                     <span class="title">Migration Assist</span>
                     </a>
                </li>
                <li class="nav-item">
                    <a ui-sref="settings" class="nav-link">
                     <span class="title">Settings</span>
                     </a>
                </li>
                <li class="nav-item">
                    <a ui-sref="filemanager" class="nav-link">
                        <span class="title">File Manager</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item" ng-click="deInitTabs()">
            <a ui-sref="{{JobExecutor.name}}">
                <i class="{{JobExecutor.class}}"></i>
                <span class="title">{{JobExecutor.caption}}</span>

            </a>
        </li>

        <li class="nav-item">
          <a ui-sref="{{SystemMonitering.name}}">
              <i class="{{SystemMonitering.class}}"></i>
              <span class="title">{{SystemMonitering.caption}}</span>
          </a>
        </li>
        <li class="nav-item" ng-click="deInitTabs()">
            <a ui-sref="{{MetaDatanavigator.name}}">
                <i class="{{MetaDatanavigator.class}}"></i>
                <span class="title">{{MetaDatanavigator.caption}}</span>

            </a>
        </li>
    </ul><!-- END SIDEBAR MENU -->
</div>
