<app-breadcrumb [breadcrumbData]="breadcrumbDataFrom"></app-breadcrumb>
<br>
<p-growl [(value)]="msgs"></p-growl>
<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-magnifier"></i>Search Criteria
    </div>
    <div class="tools">
      <a title="Refresh" data-toggle="tooltip" data-placement="top" (click)="refershGrid()" data-original-title=""
        title="">
        <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
      </a>
      <a href="javascript:;" class="collapse" data-original-title="" title="" style="height:14px;"></a>
    </div>
  </div>
  <div class="portlet-body">
    <form class="form-horizontal">

      <div class="row" *ngIf="isExec=='true' && isJobExec==false && DagExec==false">
        <div class="col-md-12">
          <div class="col-md-4 col-sm-6 col-xs-12 custpadding">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-6">Type</label>
              <div class="col-md-9 col-sm-9 col-xs-6">
                <label class="control-label" style="padding-right: 5%;">
                  <input type="radio" ng-control="selectedType" (change)="onChange(types[0].value)" [checked]="true"
                    name="selectedType" [value]="types[0].value"> {{types[0].caption}}
                </label>
                <label class="control-label">
                  <input type="radio" ng-control="selectedType" (change)="onChange(types[1].value)" name="selectedType"
                    [value]="types[1].value"> {{types[1].caption}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4 col-sm-6 col-xs-12 custpadding">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-6">Name</label>
              <div class="col-md-9 col-sm-9 col-xs-6">
                <p-dropdown [options]="allExecName" [(ngModel)]="execname" name="execname" [style]="{'width':'100%','padding':'3px'}"
                  [filter]="true">
                </p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Start Date</label>
              <div class="col-md-9 col-sm-9 col-xs-9">
                <form #form="ngForm">
                  <!-- <date-picker mode="datetime" format="ddd MMM D HH:mm:ss YYYY z" [(ngModel)]="startDate" name="startDate"></date-picker> -->
                  <div class="pcalender-border">
                    <p-calendar inputStyleClass="form-control" format="ddd MMM D HH:mm:ss YYYY z" [(ngModel)]="startDate" name="startDate" [showTime]="true"
                      [utc]="true" [showIcon]="true" [showIcon]="true" icon="fa fa-calendar"></p-calendar>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 custpadding">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-6" style="padding-right:0px">Tags</label>
              <div class="col-md-9 col-sm-9 col-xs-6">
                <tag-input [(ngModel)]="tags" name="tags" theme='bootstrap' style=" max-height: 40px;overflow-x: hidden; border: 1px solid #ccc;overflow-y: scroll; border-radius: 5px;"></tag-input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4 col-sm-6 col-xs-12 custpadding">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-6" for="select">User</label>
              <div class="col-md-9 col-sm-9 col-xs-6">
                <p-dropdown [options]="allUserName" [(ngModel)]="username" name="username" [style]="{'width':'100%','padding':'3px'}"
                  [filter]="true">
                </p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">End Date</label>
              <div class="col-md-9 col-sm-9 col-xs-9">
                <form #form="ngForm">
                  <div class="pcalender-border">
                    <p-calendar inputStyleClass="form-control" format="ddd MMM D HH:mm:ss YYYY z" [(ngModel)]="endDate" name="endDate" [showTime]="true"
                      [utc]="true" [showIcon]="true" [showIcon]="true" icon="fa fa-calendar"></p-calendar>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 custpadding">
            <div class="form-group" *ngIf="isExec=='false'">
              <label class="control-label col-md-3 col-sm-3 col-xs-6" style="padding-right:0px">Status</label>
              <div class="col-md-9 col-sm-9 col-xs-6">
                <p-dropdown [options]="allActive" [(ngModel)]="active" name="active" placeholder="All" [style]="{'width':'100%','padding':'3px'}"
                  [filter]="true">
                </p-dropdown>
              </div>
            </div>
            <div class="form-group" *ngIf="isExec=='true'">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" style="padding-right:0px">Status</label>
              <div class="col-md-9 col-sm-9 col-xs-6">
                <p-dropdown [options]="allStatus" [(ngModel)]="status" name="status" placeholder="All" [style]="{'width':'100%','padding':'3px'}"
                  [filter]="true">
                </p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4 col-sm-6 col-xs-12 custpadding">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-6"></label>
              <div class="col-md-9 col-sm-9 col-xs-6">
                <input type="submit" class="btn btn-success" value="Search" name="submit" (click)="onSearchCriteria(form)">
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 custpadding">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-cogs"></i>
      <span [innerHTML]="gridTitle"></span>
    </div>
    <div class="actions">
      <a *ngIf="isExec=='false'" (click)="add()" [attr.disabled]="type == 'session' ? 'disabled' : null" class="btn btn-default btn-sm">
        <i class="fa fa-plus"></i> Add </a>
      <div class="btn-group" dropdown style="text-align:center" *ngIf="isExec=='false'">
        <button dropdownToggle type="button" class="btn btn-default btn-sm dropdown-toggle">
          Export
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li>
            <a (click)="dt.exportCSV()"> Export All (.csv) </a>
          </li>
          <li>
            <a (click)="dt.exportCSV({selectionOnly:true})"> Export Selected (.csv)</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tools" *ngIf="isExec=='true'">
      <a title="Refresh" data-toggle="tooltip" data-placement="top" tooltip (click)="refreshSearchResults()">
        <i class="fa fa-refresh" aria-hidden="true" style="display:block;margin: 2px auto;color:white;">
        </i>
      </a>
      <a href="javascript:;" class="collapse aSize" style="height:14px;">
      </a>
    </div>
  </div>
  <div class="portlet-body">
    <div class="row">

      <div class="col-md-6 col-sm-6"></div>
      <div class="col-md-6 col-sm-6">
        <div style="float:right;">
          <label>Search:</label>
          <input #gb type="search" style=" margin-left: 4px" class="form-control input-sm input-small input-inline"
            pInputText>
        </div>
      </div>
      <!-- <div class="col-md-3 col-md-offset-9" style="padding:4px 10px;border-bottom: 0 none">
          <i class="fa fa-search" style="margin-left: 12%; margin-top: 2%;"></i>
          <label>Search:</label>
          <input #gb type="search" class="form-control input-sm input-small" style="float:right;" pInputText >
        </div> -->
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <p-dataTable #dt [value]="rowData1" exportFilename="data" [(selection)]="selectedData" (onRowSelect)="onRowSelect($event)"
          selectionMode="multiple" [metaKeySelection]="false" scrollable="true" resizableColumns="true" scrollHeight="440px"
          [globalFilter]="gb" sortMode="multiple" [paginator]="false" paginatorDropdownAppendTo="body" [rows]="10"
          [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [sortField]="createdOn">
          <!-- <p-column field="uuid" header="UUID" [sortable]="true"></p-column> -->
          <p-column field="name" header="Name" [sortable]="true"></p-column>
          <p-column field="version" header="Version" [sortable]="true"></p-column>
          <p-column field="createdBy.ref.name" header="Created By" [sortable]="true"></p-column>
          <p-column field="createdOn" header="Created On" [sortable]="true"></p-column>
          <p-column field="active" [hidden]="isExec=='true'" header="Active" [sortable]="true" [style]="{'text-align':'center'}">
            <ng-template let-colactive let-active="rowData" pTemplate="body">
              {{formatActive(active[colactive.field])}}
            </ng-template>
          </p-column>
          <p-column field="status.stage" [hidden]="isExec=='false'" header="Status" [sortable]="true" [style]="{'text-align':'center'}">
            <ng-template let-colstatus let-statused="rowData" pTemplate="body">
              <div class="label-sm label-success" *ngIf="statused.status!=null" [ngStyle]="{'width':'88%','font-size':'13px','padding':'2px','color':'white','margin': '0 auto','font-weight':'300','background-color':statused.status.color}">{{statused.status.stage}}</div>
              <div class="label-sm label-success" *ngIf="statused.status==null" [ngStyle]="{'width':'88%','font-size':'13px','padding':'2px','color':'white','margin': '0 auto','font-weight':'300','background-color':'#36c6d3'}">-N-A-</div>
            </ng-template>
          </p-column>
          <!-- <p-column field="status.stage" *ngIf="status==null" [hidden]="isExec=='false'"   header="Status" [sortable]="true" [style]="{'text-align':'center'}">
                  <ng-template let-colstatus let-statused="rowData" pTemplate="body">                            
                  -N-A-
                  </ng-template>
                </p-column> -->
          <p-column field="published" [hidden]="isExec=='true'" header="Published" [sortable]="true" [style]="{'text-align':'center'}">
            <ng-template let-colpublished let-published="rowData" pTemplate="body">
              {{formatPublish(published[colpublished.field])}}

            </ng-template>
          </p-column>
          <p-column header="Action">
            <ng-template let-col let-car="rowData" pTemplate="body">
              <p-menu #menu popup="popup" [model]="items" appendTo="body"></p-menu>
              <div style="text-align: center;">
                <button type="button" class="ui-button-raised ui-button-rounded" style="height:22px !important;"
                  pButton label="Action" icon="fa fa-angle-down" iconPos="right" (click)="menu.toggle($event);onClickMenu(car);"></button>
              </div>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isModel=='true'" class="model">
  <app-model [ModelData]="ModelDataFrom" (parentFunction)="ok($event)"></app-model>
</div>
<div class="paramModel">
  <div #ParamsModel id="ParamsModel" class="modal fade bs-modal-lg in   " tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content" style="resize: both;overflow: auto;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">{{gridTitle}} Execution</h4>
        </div>
        <div class="modal-body">
          <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;">
            <div class="scroller" style="height: 300px; overflow: hidden; width: auto;" data-always-visible="1"
              data-rail-visible1="1" data-initialized="1">
              <div class="row">
                <div class="col-md-12">
                  <br>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="select">Parameter Set
                      </label>
                      <div class="col-md-6">
                        <select class="form-control" [(ngModel)]="paramsetdata" name="paramsetdata" (change)="onSelectparamSet()"
                          [style]="{'width':'100%','padding':'3px'}" [disabled]="mode == 'true'">
                          <option value="" style="color:rgb(24, 18, 18)">USE DEFAULT VALUE</option>
                          <option *ngFor="let app of allparamset" [ngValue]="app">{{app.name}}</option>
                        </select>
                      </div>
                    </div>
                  </form>
                  <br>
                  <div *ngIf="isTabelShow" style="overflow-x: auto;">
                    <table class=" row-border hover table  table-striped table-bordered">
                      <thead>
                        <tr>
                          <th style="text-align:center;Vertical-align: middle;width:5%;">
                            <span class="form-group" style="margin-left:0px;margin-right:0px;">
                              <input style="width:16px;height:16px;" type="checkbox" [disabled]="mode == 'true'"
                                [(ngModel)]="selectAllParam" name="selectAllParam" (click)="selectAllRow()" />
                            </span>
                          </th>
                          <th style="width:6%;text-align:center">ID</th>
                          <th class="text-center" *ngFor=" let tablecol of paramtablecol">{{tablecol.paramName}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor=" let tabledata of paramtable; let i=index">
                          <td style="text-align:center;Vertical-align:middle;width:5%;">
                            <span class="form-group" style="margin-left:0px;margin-right:0px;">
                              <input style="width: 16px;height:16px;" type="checkbox" [(ngModel)]="tabledata.selected"
                                name="selected+{{i}}" [disabled]="mode == 'true'" />
                            </span>
                          </td>
                          <td style="width:6%;">
                            <span class="form-group" style="margin-left:0px;margin-right:0px;">
                              <input type="text" [(ngModel)]="tabledata.paramSetId" name="paramSetId+{{i}}" [disabled]="true"
                                class="form-control">
                            </span>
                          </td>

                          <td style="width:20%;" *ngFor=" let tablecol of tabledata.paramSetVal;let j=index">
                            <input type="text" class="form-control" [(ngModel)]="tablecol.value" name="value+{{tablecol.value}}"
                              [disabled]="true">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
          <button type="button" class="btn green" (click)="executeWithExecParams()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div #fileupload id="fileupload" class="modal fade bs-modal-lg in" tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" style="width:27%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">File Upload</h4>
      </div>
      <div class="modal-body">
        <div class="slimScrollDiv" style="padding-top:30px;">
          <div class="scroller" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
            <div class="row">
              <div class="col-md-2" style="margin-top:5px;">
                <label style="margin-left:4px;">Select</label>
              </div>
              <div class="col-md-10">
                <!-- <label class="input-group-btn" style="width:auto">
                      <span class="btn btn-outline">
                          Upload &hellip; <input id="csv_file" class="jfilestyle" (change)="readURL($event);" type="file" [(ngModel)]="file" accept=".csv"style="display:none">
                      </span>
                  </label> -->
                <input id="csv_file" class="jfilestyle" (change)="readURL($event);" type="file" [(ngModel)]="file"
                  accept=".csv" style="float:left;margin-left:4px;margin-top:3px">
                <!-- <input type="file"  id="csv_file" class="jfilestyle" accept=".csv" data-buttonText="<span class='glyphicon glyphicon-folder-open'style='color:#94A0B2;'></span>" style="float:left;margin-left:4px;"> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" (click)="close()">Cancel</button>
        <button type="button" class="btn green" (click)="uploadFile(fileData)">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
  <p-dialog header="Execution" [(visible)]="displayDialogBoxSimulation" [modal]="true" [responsive]="true" [width]="900"
    [minWidth]="600" [resizable]="true" [baseZIndex]="1000">

    <div class="caption">
      <span class="caption-subject sbold ">Run Params</span>
    </div>
    <div class="form-body" style="padding-top:10px;">
      <form class="form-horizontal" name="myform" novalidate="novalidate" (ngSubmit)="executeWithExecParamList()"
        #myNewForm="ngForm">

        <table class=" row-border hover table  table-striped table-bordered">
          <!-- <table class=" row-border table table-striped table-bordered" style="height:200px;" cellspacing="20" cellpadding="20"> -->
          <thead>
            <tr>
              <th style="width:7%;">ID</th>
              <th style="width:15%;">Param Name</th>
              <th style="width:15%;">Param Type</th>
              <th style="width:15%;">Type</th>
              <th style="width:23%;">Param Value</th>
              <th style="width:25%;">Param Attributes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of paramListHolder;let i=index">
              <td>
                <span class="form-group">
                  <input style="text-align:center;" type="text" [value]="i" [disabled]="true" class="form-control">
                </span>
              </td>
              <td>
                <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                  <input type="text" class="form-control" [(ngModel)]="data.paramName" name="paramName+{{i}}" title="{{data.paramName}}"
                    [disabled]="true">
                </span>
              </td>
              <td>
                <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                  <input type="text" class="form-control" [(ngModel)]="data.paramType" name="paramType+{{i}}" title="{{data.paramType}}"
                    [disabled]="true">
                </span>
              </td>
              <td>
                <div *ngIf="['simple','distribution','list'].indexOf(data.selectedParamValueType)  !=-1">
                  <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                    <input type="text" class="form-control" [(ngModel)]="data.paramType" name="paramType+{{i}}" title="{{data.paramType}}"
                      [disabled]="true">
                  </span>
                </div>
                <div *ngIf="['attribute','attributes','datapod','rule','dataset'].indexOf(data.selectedParamValueType) !=-1">
                  <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                    <p-dropdown [options]="attributeTypes" [(ngModel)]="data.selectedParamValueType" name="selectedParamValueType+{{i}}"
                      [style]="{'width':'150px','padding':'3px'}" [filter]="true" placeholder="Select">
                    </p-dropdown>
                  </span>
                </div>
              </td>

              <td>
                <div *ngIf="data.selectedParamValueType =='simple'">
                  <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                    <input type="text" class="form-control" [(ngModel)]="data.paramValue" name="paramValue+{{i}}" title="{{data.paramValue}}"
                      [disabled]="mode == 'true'">
                  </span>
                </div>
                <div *ngIf="data.selectedParamValueType =='list'">
                  <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                    <p-dropdown [options]="data.allListInfo" [(ngModel)]="data.paramValue" name="paramValue+{{i}}"
                      [disabled]="mode == 'true'" [style]="{'width':'150px','padding':'3px'}" [filter]="true"
                      placeholder="Select">
                    </p-dropdown>
                  </span>
                </div>
                <div *ngIf="data.selectedParamValueType =='datapod'">
                  <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                    <p-dropdown [options]="data.allDatapod" [(ngModel)]="data.paramValue" name="paramValue+{{i}}"
                      [disabled]="mode == 'true'" [style]="{'width':'150px','padding':'3px'}" [filter]="true"
                      placeholder="Select" (click)="getAllLatestSimulation('datapod',i)">
                    </p-dropdown>
                  </span>
                </div>
                <div *ngIf="data.selectedParamValueType =='dataset'">
                  <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                    <p-dropdown [options]="data.allDataset" [(ngModel)]="data.paramValue" name="paramValue+{{i}}"
                      [disabled]="mode == 'true'" [style]="{'width':'150px','padding':'3px'}" [filter]="true"
                      placeholder="Select" (click)="getAllLatestSimulation('dataset',i)">
                    </p-dropdown>
                  </span>
                </div>
                <div *ngIf="data.selectedParamValueType =='rule'">
                  <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                    <p-dropdown [options]="data.allRule" [(ngModel)]="data.paramValue" name="paramValue+{{i}}"
                      [disabled]="mode == 'true'" [style]="{'width':'150px','padding':'3px'}" [filter]="true"
                      placeholder="Select" (click)="getAllLatestSimulation('rule',i)">
                    </p-dropdown>
                  </span>
                </div>
                <div *ngIf="data.selectedParamValueType =='distribution'">
                  <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                    <p-dropdown [options]="data.allDistribution" [(ngModel)]="data.paramValue" name="paramValue+{{i}}"
                      [disabled]="mode == 'true'" [style]="{'width':'150px','padding':'3px'}" [filter]="true"
                      placeholder="Select" (click)="getAllLatestSimulation('distribution',i)">
                    </p-dropdown>
                  </span>
                </div>
                <div *ngIf="['datapod','rule','dataset','distribution','simple','list'].indexOf(data.selectedParamValueType) ==-1">{{"NA"}}
                </div>
              </td>

              <td>
                <div *ngIf="data.paramType=='attribute'">
                  <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                    <p-dropdown [options]="data.allAttributeinto" [(ngModel)]="data.attributeInfo" name="attributeInfo+{{i}}"
                      [disabled]="mode == 'true'" [style]="{'width':'150px','padding':'3px'}" [filter]="true"
                      placeholder="Select" (click)="getAllAttribute(i)">
                    </p-dropdown>
                  </span>
                </div>
                <div *ngIf="data.paramType=='attributes'">
                  <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                    <p-multiSelect [options]="data.allattributeInfoTag" [(ngModel)]="data.attributeInfoTag" name="attributeInfoTag+{{i}}"
                      [style]="{'width':'150px'}" (click)="onChangeAtrributes(i)">
                    </p-multiSelect>
                  </span>
                </div>
                <div *ngIf="['attribute','attributes'].indexOf(data.paramType) == -1">{{"NA"}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <p-footer>
          <div class="form-group" style="padding-top: 10px;">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
              <a class="btn btn-primary" (click)="cancelDialogBox()">Cancel</a>
              <input type="submit" class="btn btn-success" value="Submit" name="submit">
            </div>
          </div>
        </p-footer>
      </form>
    </div>
  </p-dialog>
</div>


<div class="col-md-6 col-sm-6 col-xs-12">
  <p-dialog header="Run Params" [(visible)]="displayDialogBox" [modal]="true" [responsive]="true" [width]="600"
    [minWidth]="300" [resizable]="true" [draggable]="false" [contentStyle]="{'height':'400px','overflow-y': 'auto','overflow-x': 'hidden'}">

    <div class="row">

      <div class="form-body" style="padding-top:10px">

        <!-- <form class="form-horizontal" name="myform2" id="submit_form2" (submit)="countContinue()" novalidate="novalidate"> -->
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12 col-lg-4" style="text-align:right">Type</label>
          <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
            <p-dropdown [options]="paramType" [(ngModel)]="selectParamType" name="selectParamType" dataKey="uuid"
              [style]="{'width':'100%','padding':'3px'}" [filter]="true" (onChange)="onChangeType()" placeholder="Select">
            </p-dropdown>
          </div>
        </div>
        <div class="form-group" *ngIf="selectParamType == 'paramlist' || selectParamType == null">
          <label class="control-label col-md-4 col-sm-4 col-xs-12 col-lg-4" style="text-align:right">Name</label>
          <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
            <p-dropdown [options]="paramlistData" [(ngModel)]="selectParamlistName" name="selectParamlistName" [style]="{'width':'100%','padding':'3px'}"
              [filter]="true" (click)="onChangeParamlist()" placeholder="Select">
            </p-dropdown>
          </div>
        </div>
        <div class="form-group" *ngIf="selectParamType == 'paramset'">
          <label class="control-label col-md-3 col-sm-3 col-xs-12 col-lg-3" style="text-align:right">Name11</label>
          <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
            <p-dropdown [options]="paramsetData" [(ngModel)]="selectParamsetName" name="selectParamsetName" dataKey="uuid"
              [style]="{'width':'100%','padding':'3px'}" [filter]="true">
            </p-dropdown>
          </div>
        </div>
        <div *ngIf="selectParamlistName.name">
          <table class=" row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th style="width:5%;">ID</th>
                <th style="width:30%;">Name</th>
                <th style="width:20%;">Type</th>
                <th style="width:20%;">Default Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data1 of paramtableArray; let i=index">
                <!-- <td style="text-align:center;Vertical-align:middle;">
                                    <input style="width: 16px;height:16px;" type="checkbox" [(ngModel)]="data1.selected" name="selectedAttr+{{i}}" [disabled]="mode == 'true'" />
                                  </td> -->
                <td style="width:10%;">
                  <input style="text-align:center;" type="text" [value]="i" [disabled]="true" class="form-control">
                </td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="data1.paramName" name="name+{{i}}" [disabled]="true"
                    class="form-control">
                </td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="data1.paramType" name="type+{{i}}" [disabled]="true"
                    class="form-control">
                </td>

                <td *ngIf="typeSimple.indexOf(data1.paramType) != -1">
                  <input type="text" class="form-control" [(ngModel)]="data1.paramValue" name="value1+{{i}}" [disabled]="true">
                </td>

                <td *ngIf="data1.paramType == 'distribution'">
                  <p-dropdown [options]="distributionListOptions" [(ngModel)]="data1.paramValue" name="value1+{{i}}"
                    [disabled]="true" [style]="{'width':'100%'}" [filter]="true" dataKey="uuid" placeholder="Select">
                  </p-dropdown>
                </td>

                <td *ngIf="(typeSimple.indexOf(data1.paramType) == -1) && !(data1.paramType == 'distribution')">
                  {{"NA"}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="selectParamsetName.name">
          <table class=" row-border hover table  table-striped table-bordered">
            <thead>
              <tr>
                <th style="width:5%;text-align: center; Vertical-align: middle;">
                  <input [disabled]="mode == 'true'" style="width: 16px;height:16px;" type="checkbox" [(ngModel)]="selectAllAttributeRow"
                    name="selectAllAttributeRow" (click)="checkAllAttributeRow()" />
                </th>
                <th style="text-align: center; Vertical-align: middle;width:5%;">ID</th>
                <th *ngFor="let data of paramTableCol2" style="text-align: center; Vertical-align: middle;width:10%">{{data.paramName}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tabledata of paramsetArrayTable;let i=index">
                <td style="text-align:center;Vertical-align:middle;">
                  <input style="width: 16px;height:16px;" type="checkbox" [(ngModel)]="tabledata.selected" name="selectedAttr+{{i}}" />
                </td>
                <td style="width:5%;">
                  <input style="text-align:center;" type="text" [(ngModel)]="tabledata.paramSetId" name="paramSetId+{{i}}"
                    [disabled]="true" class="form-control">
                </td>
                <td *ngFor="let tablecol of tabledata.paramSetVal; let j=index">
                  <input type="text" class="form-control" [(ngModel)]="tablecol.value" name="value+{{i}}+{{j}}"
                    [disabled]="true">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- </form> -->
      </div>
    </div>
    <p-footer>
      <a class="btn btn-primary" (click)="cancelDialogbox()">Cancel</a>
      <input type="submit" class="btn btn-success" value="Submit" name="submit" (click)="executeWithExecParamListTraining()">
    </p-footer>
  </p-dialog>
  <!-- <p-checkbox [(ngModel)]="checkboxModelexecution" [disabled]="mode == 'true'" name="checkboxModelexecution" binary="true"
      (onChange)="onChangeRunImmediately()"></p-checkbox> -->
</div>