<div class="dropup multiselect">
  <button type="button" uib-popover-template="'assets/multiselect/myPopoverTemplate.html'" popover-title="{{header[0].datapodname}}" popover-placement="left-bottom" popover-append-to-body="true" popover-trigger="'mouseenter'"  class="btn"  ng-disabled="{{isDisable}}" style="width:100% !important;background: white;
      border: 1px solid #c2cad8;" ng-click="toggleSelect()" ng-disabled="disabled">
      <!-- ng-class="{'border-error': !valid()} -->
    <div class="pull-left" style="text-overflow: ellipsis;width:75px;overflow:hidden;" title="{{header[0].dname}}">

      <span ng-repeat="headerobj in header">{{headerobj.name}},</span>
    </div>
    <div class="pull-left" ng-if="header[0].name">{{header.length}} selected</div>
    <div class="pull-left" ng-if="!header[0].name">selected</div>
    <span class="caret pull-right" style="margin-top: 8px;"></span>
  </button>
  <ul class="dropdown-menu ">
    <li>
      <input class="inputFilter" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Search" />
    </li>
    <li ng-show="multiple">
      <div class="line">
        <button type="button" class="helperButton" ng-click="checkAll()">Select All
        </button>

        <button type="button" class="helperButton" ng-click="uncheckAll()">Unselect All
        </button>
      </div>

    </li>
    <li title="{{i.model.name}}" ng-repeat="i in items | filter:searchText" ng-class="{'icon-ok': i.checked, 'icon-empty': !i.checked}">

      <a ng-click="select(i); focus()">
        <i></i>{{i.label}}</a>
    </li>
  </ul>
</div>