<div>
  <app-breadcrumb [breadcrumbData]="breadcrumbDataFrom"></app-breadcrumb>
  <br>
  <!-- <p-messages  style="position:fixed;top:60px;right:20px;z-index:1000"></p-messages> -->
  <!-- BEGIN MAIN CONTENT -->
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN: ACCORDION DEMO -->
      <div class="portlet box green">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-gift"></i>{{rulegroupResultData.name}}
          </div>
          <div class="tools">
            <!--      <a title="Edit" data-toggle="tooltip" data-placement="top" tooltip  style="height:16px;">
              <i class="fa fa-edit" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
            </a> -->
            <a title="View" data-toggle="tooltip" (click)="showview(uuid,version)" data-placement="top" tooltip style="height:16px;">
              <span class="glyphicon glyphicon-file" style="color:white;"></span>
            </a>
            <a title="Show Dependencies" data-toggle="tooltip" (click)="showDatapodGraph(uuid,version)" data-placement="top"
              tooltip style="height:14px;">
              <i class="fa fa-sitemap" style="display: block;margin:0px 2px 0px 0px;color:white;"></i>
            </a>
            <a title="Refresh" data-toggle="tooltip" data-placement="top" tooltip>
              <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
            </a>
            <a title="Close" data-toggle="tooltip" data-placement="top" tooltip style="height:14px;" (click)="goBack()">
              <i class="fa fa-times" aria-hidden="true" style="display: block;margin: 2px auto;color:white;transform:scale(1,1.2)"></i>
            </a>
          </div>
        </div>

        <div class="portlet-body form">
          <div class="form-body graph-body" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQYV2NkIBIwgtStWrXqf1hYGJiNC+CVRNY0qhBv0AMAsKgECyGgekgAAAAASUVORK5CYII=')"
            *ngIf="showgraphdiv">
            <div class="form-body text-center" id="errorMsg" style="color:blue;"></div>
            <!--<div class="spinner" id="graphloader">-->
            <!--<div class="bounce1"></div>-->
            <!--<div class="bounce2"></div>-->
            <!--<div class="bounce3"></div>-->
            <!--</div>-->
            <div class="form-body show-graph-body" id="graphWrapper">
              <app-d3></app-d3>
            </div>
          </div>

          <div class="form-body" style="padding-top:50px;">
            <form class="form-horizontal" name="myform" novalidate="novalidate">
              <div class="form-group" *ngIf="mode">
                <label class="col-md-3 control-label">UUID</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" [(ngModel)]="rulegroupResultData.uuid" name="uuid"
                    placeholder="" [disabled]="true">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Name
                  <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-6">
                  <input type="text" class="form-control" [(ngModel)]="rulegroupResultData.name" name="name"
                    placeholder="" [disabled]="mode == 'true'">
                </div>
              </div>
              <div class="form-group" *ngIf="mode">
                <label class="col-md-3 control-label">Version </label>
                <div class="col-md-6">
                  <p-dropdown [options]="VersionList" [(ngModel)]="selectedVersion" name="version" [style]="{'width':'100%','padding':'3px'}"
                    [filter]="true" [disabled]="true" (onChange)="onVersionChange()">
                  </p-dropdown>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">CreatedBy</label>
                <div class="col-md-6" *ngIf="locations!=''">
                  <input type="text" class="form-control" [disabled]="true" [(ngModel)]="createdBy" name="createdBy">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">CreatedOn</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" [disabled]="true" [(ngModel)]="rulegroupResultData.createdOn"
                    name="createdOn">
                </div>
              </div>
              <div class="form-group taginput">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Tags</label>
                <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="locations!=''">
                  <tag-input [(ngModel)]="tags" [hideForm]="true" name="tags" [disable]="true" theme='bootstrap' style=" max-height: 40px;overflow-x: hidden;padding-left:5px; border: 1px solid #ccc;overflow-y: scroll; border-radius: 5px;background-color: #eef1f5;"></tag-input>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Desc</label>
                <div class="col-md-6">
                  <textarea [disabled]="true" [(ngModel)]="rulegroupResultData.desc" name="desc" class="form-control noresize "
                    rows="2" style="resize:none;"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="btn-group">
                    <ui-switch (change)="onChangeActive($event)" [disabled]="mode == 'true' || mode == 'false'"
                      [(ngModel)]="active" name="active" [checked]="active" color="#32c5d2" labelOn="Yes" labelOff="No"></ui-switch>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="btn-group">
                    <ui-switch (change)="onChangePublished($event)" [disabled]="mode == 'true' || mode == 'false'"
                      [(ngModel)]="published" name="published" [checked]="published" color="#32c5d2" labelOn="Yes"
                      labelOff="No"></ui-switch>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Status</label>
                <div class="col-md-6">
                  <tag-input *ngIf="statusList" [(ngModel)]="statusList" name="statusList" [hideForm]="true" [disable]="true"
                    theme='bootstrap' style=" max-height: 110px;overflow-x: hidden;padding-left:5px; border: 1px solid #ccc;overflow-y: scroll; border-radius: 5px;background-color: #eef1f5;"></tag-input>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Depends On</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" [disabled]="true" [(ngModel)]="dependsOn" name="dependsOn">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Rule Exec List</label>
                <div class="col-md-6">
                  <ul class="tagitdd" style="height:100px; background-color:#eef1f5;">
                    <li title="{{item}}" class="tagit-choice-dd tagit-choice-editable-dd" *ngFor="let item of execList;let i=index"
                    style="max-height: 110px;overflow-x: hidden;
                    padding-left:5px;
                    border: 1px solid #ccc; 
                    border-radius: 5px;
                    background-color:#6da9db;
                    color:#fff;
                    display: inline-block;
                    margin-bottom: 0;
                    font-weight: 400;
                    text-align: center;
                    vertical-align: middle;
                    -ms-touch-action: manipulation;
                    touch-action: manipulation;
                    cursor: pointer;
                    border: 1px solid transparent;
                    white-space: nowrap;
                    padding: 6px 26px 5px 8px;
                    font-size: 14px;                       
                    border-radius: 4px;                        
                    user-select: none;">
                      <span class="tagit-label">{{item.name}}</span>
                      <a class="tagit-close-dd">
                        <span class="text-icon" (click)="showDetails(item)">
                          <i class="fa fa-eye" style="color: #fff; padding-right: 5px;"></i>
                        </span>
                        <span class="ui-icon ui-icon-close"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group" style="padding-top: 10px;">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <a class="btn btn-primary" (click)="goBack()">Cancel</a>

                  <input type="submit" class="btn btn-success" value="Submit" name="submit" [disabled]="mode == 'true'">

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>