
<app-breadcrumb [breadcrumbData]="breadcrumbDataFrom" ></app-breadcrumb>
<br>             
<p-growl [(value)]="msgs" ></p-growl> 
<div notifybar style="position:fixed;top:40px;right:0;z-index:1000"></div>  
<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-magnifier"></i>Select Source
    </div>
    <div class="tools">
      <a title="Refresh" data-toggle="tooltip" data-placement="top" data-original-title=""  title="">
        <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
      </a>
      <a href="javascript:;" class="collapse" data-original-title="" title="" style="height:14px;"></a>
    </div>
  </div>

  <div class="portlet-body">
    <form class="form-horizontal">
      <!-- <div class="row">
        <div class="col-md-12">
          <div class="col-md-5 col-sm-6 col-xs-12 custpadding">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-6">Type</label>
              <div class="col-md-9 col-sm-9 col-xs-6">
                  <p-dropdown [options]="typeSelect" [(ngModel)]="type" name="type" [style]="{'width':'100%','padding':'3px','z-index':'100'}"
                  [filter]="true"  placeholder="Select" (onChange)="selectType()">
                </p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12">          
          <div class="col-md-6 col-sm-6 col-xs-12 custpadding">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-6">Name</label>
              <div class="col-md- col-sm- col-xs-6">
                  <p-dropdown [options]="allNamesTypes"
                   [(ngModel)]="select" 
                   name="type" 
                   [style]="{'width':'100%','padding':'3px','z-index':'100'}"
                  [filter]="true" 
                   placeholder="Select"
                    >
                </p-dropdown>

              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 custpadding">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-6">Registered</label>
              <div class="btn-group">
                <ui-switch (change)="onChange($event)" [(ngModel)]="registered" name="registered"
                  [checked]="active" color="#32c5d2" labelOn="Yes" labelOff="No"></ui-switch>
              </div>
            </div>
          </div>
        </div>
      </div>  
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-5 col-sm-6 col-xs-12 custpadding">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-6"></label>
              <div class="col-md-9 col-sm-9 col-xs-6">
                <input type="submit" class="btn btn-success" value="Search" name="Search"  (click)="search()">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="portlet box green" >
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-gift"></i> Details
    </div>
    <div class="actions">
      <button type="submit" class="btn btn-default btn-sm" [disabled]="isRSDisable" style="color:white;" (click)="submitRegisterSource()"> 
        <span *ngIf="searchButtonText == 'Registering'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
        <span *ngIf="searchButtonText == 'Register'"><i class="fa fa-plus"></i></span>
        {{ searchButtonText }}
      </button>
    </div>
  </div>
  <div class="portlet-body form">
    <!-- <div class="x_title" style="padding:10px;">
      <button type="Button" class="clickRemoveFilter btn btn-danger fa fa-minus pull-right" (click)="removeAttribute()" [disabled]="mode == 'true'"></button>
      <button type="Button" class="clickAddFilter btn btn-success fa fa-plus pull-right" (click)="addAttribute()"  [disabled]="mode == 'true'"></button>
    </div> -->
    <div class="form-body" style="padding-top:50px;">
      <div>
        <table class=" row-border hover table  table-striped table-bordered" >
          <thead>
            <tr>
              <th style="width:5%;text-align: center; Vertical-align: middle;">
                <input [disabled]="mode == 'true'" style="width: 16px;height:16px;"  type="checkbox"  [(ngModel)]="selectAllAttributeRow" name="selectAllAttributeRow" (click)="checkAllAttributeRow()"/></th> 
              <th style="text-align: center; Vertical-align: middle;width:5%;">ID</th>    
              <th style="text-align: center; Vertical-align: middle;width:20%;">Name</th>  
              <th style="text-align: center; Vertical-align: middle;width:20%;">Desc</th>  
              <th style="text-align: center; Vertical-align: middle;width:30%;">RegisteredOn</th>  
              <th style="text-align: center; Vertical-align: middle;width:20%;">Status</th>                                                       
            </tr>
          </thead>
          <tbody>
             <tr *ngFor="let tabledata of tableData;let i=index">                             
              <td style="text-align:center;Vertical-align:middle;">
                <input style="width: 16px;height:16px;" type="checkbox" [(ngModel)]="tabledata.selected" name="selectedAttr+{{i}}" [disabled]="mode == 'true'" (click)="selectRegisterSource(i)" />
              </td>
              <td style="width:5%;text-align: center; Vertical-align: middle;">{{tabledata.id}}</td>                            
              <td style="width:5%; Vertical-align: middle;">{{tabledata.name}}</td>  
              <td></td>
              <td style="width:5%; text-align: center;Vertical-align: middle;">{{tabledata.registeredOn}}</td> 
              <td style="width:5%;text-align: center; Vertical-align: middle;">
                <i *ngIf="tabledata.status=='Registering'" class="glyphicon glyphicon-refresh spinning" aria-hidden="true"></i>
                
                <span *ngIf="tabledata.status!='Registering'">{{tabledata.status}}</span>
              </td>                 
            </tr> 
          </tbody> 
        </table>
      </div>
    </div>
  </div>
</div> 
    
 