<div data-ng-controller="MetadataApplicationController">

  <!-- BEGIN PAGE HEADER-->
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <a ui-sref="home">Home</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <a ui-sref="admin({type:'application'})">{{$state.current.data.pageTitle}}</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <a ui-sref="admin({type:'application'})">Application</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <span>{{applicationdata.name}}</span>
      </li>
    </ul>
    <div class="page-toolbar">
      <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom"
        data-original-title="Change dashboard date range">
        <i class="icon-calendar"></i>&nbsp;
        <span class="thin uppercase hidden-xs">{{time +' '+tzName}}</span>&nbsp;
      </div>
    </div>
  </div>
  <!-- END PAGE HEADER-->
  <br>

  <div notifybar style="position:fixed;top:40px;right:0;z-index:1000"></div>
  <div options="dirOptions" type="'application'" on-close="onPanelClose" mode="mode" current-user="userDetail"
    comment-data="applicationdata" comment-panel-directive></div>

  <!-- BEGIN MAIN CONTENT -->
  <div class="row">
    <div class="col-md-12">
      <div class="portlet box green">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-gift"></i>{{applicationdata.name}}
          </div>
          <div class="tools">
            <a href="javascript:;" title="Main" data-toggle="tooltip" data-placement="top" tooltip ng-hide="isAdd"
              ng-class="(showForm==true ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
              style="height:16px;font-size:16px;" data-ng-click="showHome(applicationdata.uuid,applicationdata.version,mode)">
              <i class="fa fa-home" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
            </a>
            <a title="Edit" ng-class="(isEdit==true || isPrivlage || applicationdata.locked == 'Y' ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
              data-toggle="tooltip" data-placement="top" tooltip ng-click="enableEdit(applicationdata.uuid,applicationdata.version)"
              ng-hide="isAdd" style="height:16px;">
              <i class="fa fa-edit" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
            </a>
            <a title="Knowledge Graph" data-toggle="tooltip" data-placement="top" tooltip ng-show="isDependencyShow"
              ng-class="(showForm==false ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
              data-ng-click="showGraph(applicationdata.uuid,applicationdata.version)" style="height:14px;">
              <i class="fa fa-sitemap" style="display: block;margin:0px 2px 0px 0px;color:white;"></i>
            </a>
            <a title="Refresh" ng-click="broadcastRefreshData()" data-toggle="tooltip" data-placement="top" tooltip
              ng-class="(showForm==true ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'">
              <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
            </a>
            <a title="Close" data-ui-sref="{{state}}({{stateparme}})" data-toggle="tooltip" data-placement="top"
              tooltip>
              <i class="fa fa-times" aria-hidden="true" style="display: block;margin: 2px auto;color:white;transform: scale(1,1.2);"></i>
            </a>
          </div>
        </div>
        <div class="portlet-body">

          <div class="form-body graph-body" ng-if="showGraphDiv">
            <div class="form-body text-center" id="errorMsg" style="color:blue;"></div>
            <div class="spinner" id="graphloader">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div class="form-body show-graph-body" id="graphWrapper" tree-graph-directive uuid="applicationdata.uuid"
              version="application.defaultVersion.version">
            </div>
          </div>

          <div class="form-body" data-ng-show="showForm" style="padding-top:50px;">
            <div class="centercontent" style="min-height:500px;" ng-if="isEditVeiwError">
              <h3 style="font-size:14px;color:red;">Some Error Occur</h3>
            </div>
            <div class="centercontent" style="min-height:500px;" ng-if="isEditInprogess">
              <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </div>
            <div ng-show="!isEditInprogess && !isEditVeiwError">
              <form class="form-horizontal" novalidate="novalidate" name="myform" ng-submit="submitApplication()"
                form-on-change="applicationFormChange()" prevent-enter-submit>

                <div class="form-group" ng-show="applicationdata.uuid">
                  <label class="col-md-3 control-label">UUID</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" data-ng-disabled="true" ng-model="applicationdata.uuid">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Name
                    <span class="required" aria-required="true"> * </span>
                  </label>
                  </label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" ng-disabled="{{mode}}" ng-model="applicationdata.name"
                      required="" ng-Change="onChangeName(applicationdata.name)">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Display Name
                    <span class="required" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" ng-disabled="{{mode}}"
                      ng-model="applicationdata.displayName" placeholder="" required="">
                  </div>
                </div>
                <div class="form-group" ng-show="applicationdata.uuid">
                  <label class="col-md-3 control-label">Version</label>
                  <div class="col-md-6">
                    <select class="form-control" select2 name="version" ng-disabled="false" ng-change="selectVersion(application.defaultVersion.uuid,application.defaultVersion.version)"
                      data-ng-model="application.defaultVersion.version" ng-options="c.version as c.version for c in application.versions">
                    </select>
                  </div>
                </div>

                <div class="form-group" ng-show="applicationdata.uuid">
                  <label class="col-md-3 control-label">CreatedBy</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" ng-disabled="true" ng-model="applicationdata.createdBy.ref.name">
                  </div>
                </div>

                <div class="form-group" ng-show="applicationdata.uuid">
                  <label class="col-md-3 control-label">CreatedOn</label>
                  <div class="col-md-6">
                    <input type="text" ng-model="applicationdata.createdOn" ng-disabled="true" class="form-control">
                  </div>
                </div>

                <div class="form-group">
                  <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Desc</label>
                  <div class="col-md-6">
                    <textarea class="form-control noresize" ng-disabled="{{mode}}" ng-model="applicationdata.desc" rows="2"
                      style="resize:none;">
                  </textarea>
                  </div>
                </div>


                <div class="form-group taginput">
                  <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Tags</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <tags-input ng-model="tags" ng-disabled="{{mode}}" add-from-autocomplete-only="false" add-on-enter="true"
                      add-on-space="true">
                      <auto-complete source="loadTag($query)" min-length="0" debounce-delay="0" highlight-matched-text="true"
                        max-results-to-show="10">
                      </auto-complete>
                    </tags-input>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group" ng-init="applicationdata.active='Y'">
                      <label class="btn btn-default" ng-model="applicationdata.active" uib-btn-radio="'Y'" ng-disabled="{{showactive}}"
                        uncheckable>Yes</label>
                      <label class="btn btn-default" ng-model="applicationdata.active" uib-btn-radio="'N'" ng-disabled="{{showactive}}"
                        uncheckable>No</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Locked</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group">
                      <label class="btn btn-default" ng-model="applicationdata.locked" uib-btn-radio="'Y'" ng-disabled="{{showactive}}"
                        uncheckable>Yes</label>
                      <label class="btn btn-default" ng-model="applicationdata.locked" uib-btn-radio="'N'" ng-disabled="{{showactive}}"
                        uncheckable>No</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group" ng-init="applicationdata.published='N'">
                      <label class="btn btn-default" ng-model="applicationdata.published" uib-btn-radio="'Y'"
                        ng-disabled="{{showactive}}" uncheckable>Yes</label>
                      <label class="btn btn-default" ng-model="applicationdata.published" uib-btn-radio="'N'"
                        ng-disabled="{{showactive}}" uncheckable>No</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Public</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group" ng-init="applicationdata.publicFlag='N'">
                      <label class="btn btn-default" ng-model="applicationdata.publicFlag" uib-btn-radio="'Y'"
                        ng-disabled="{{mode}}" uncheckable>Yes</label>
                      <label class="btn btn-default" ng-model="applicationdata.publicFlag" uib-btn-radio="'N'"
                        ng-disabled="{{mode}}" uncheckable>No</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 form-group">
                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Data Source
                      <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" ng-disabled="{{mode}}" data-ng-model="selectSourceType" ng-options="r for r in SourceTypes"
                        ng-change="selectType()" required>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-6 form-group">
                    <!-- style="float:left;margin-left: -3%;padding-right: 0px;" -->
                    <label class="control-label col-md-2 col-sm-6 col-xs-12" style="padding-right: 0px;width:60px;padding-left:0px;">Name
                      <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" ng-disabled="{{mode}}" ng-change="selectOption()" data-ng-model="selectDataSource"
                        ng-options="r as r.name for r in alldatasource  track by r.uuid " required>
                      </select>
                    </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="col-md-3 control-label">Application Type
                    <span class="required" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-6">
                    <select class="form-control" ng-disabled="{{mode}}" data-ng-model="applicationdata.applicationType"
                      ng-options="r.text as r.caption disable when r.disabled for r in applicationTypes" ng-change="selectType()"
                      required>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">Deploy Port
                    <span class="required" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-6">
                    <input type="text" ng-model="applicationdata.deployPort" ng-disabled="{{mode}}" class="form-control">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Organization
                    <span class="required" aria-required="true"> * </span>

                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div ng-if="applicationOrgDetail.applicationType =='SYSADMIN'">
                      <select class="form-control" select2 ng-disabled="{{mode}}" data-ng-model="$parent.selectOrgInfo"
                        ng-options="r as r.name for r in allOrgnization  track by r.uuid " required>
                      </select>
                    </div>
                    <div ng-if="applicationOrgDetail.applicationType =='APPADMIN' ||applicationOrgDetail.applicationType =='DEFAULT'">
                      <input type="text" ng-model="applicationOrgDetail.orgInfo.ref.name" ng-disabled="true" class="form-control">
                    </div>

                  </div>
                </div>
                <div class="form-group" style="padding-top: 10px;">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <a ui-sref="{{state}}({{stateparme}})" class="btn btn-primary">Cancel</a>
                    <input type="submit" class="btn btn-success" value="Submit" name="submit" ng-disabled="(!iSSubmitEnable == false|| mode == false || myform.$dirty ==true)?false:true">
                    <span class="spinner" style="padding-left:15px;font-size:23px;vertical-align:middle;" ng-if="dataLoading">
                      <div class="bounce1"></div>
                      <div class="bounce2"></div>
                      <div class="bounce3"></div>
                    </span>
                  </div>
                </div>

                <div class="x_title">
                  <button type="Button" class=" btn btn-danger fa fa-minus pull-right" ng-disabled="{{mode}} ||isTableDisable "
                    ng-click="removeRow()"></button>
                  <button type="button" class=" btn btn-success fa fa-plus pull-right" ng-disabled="{{mode}} || isTableDisable"
                    ng-click="addRow()"></button>
                  <h4>
                    <strong>Parameter Details</strong>
                  </h4>
                  <hr>
                </div>
                <div class="pull-right" ng-if="isUseTemlateText" style="font-style: italic;color:blue;margin-bottom:10px;margin-top:-10px;">Note
                  : Template in use</div>
                <br>
                <div>
                  <table class=" row-border hover table  table-striped table-bordered">
                    <thead>
                      <tr>
                        <th style="text-align:center;Vertical-align: middle;width:5%;">
                          <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                            <input style="width:16px;height:16px;" type="checkbox" ng-disabled="{{mode}} || isTableDisable"
                              ng-model="selectallattribute" ng-change="selectAllRow()" />
                          </span>
                        </th>
                        <th style="width:6%;text-align:center">ID</th>
                        <th class="text-center" style="width:20%;">Name</th>
                        <th class="text-center" style="width:20%;">Display Name</th>
                        <th class="text-center" style="width:18%;">Desc</th>
                        <th class="text-center" style="width:14%;">Type</th>
                        <th class="text-center" style="width:25%;">Default Value</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="tabledata in paramtable">
                        <td style="text-align:center;Vertical-align:middle;width:5%;">
                          <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                            <input style="width: 16px;height:16px;" type="checkbox" ng-model="tabledata.selected"
                              ng-change="onChangeSimple()" ng-disabled="{{mode}} || isTableDisable" />
                          </span>
                        </td>
                        <td>
                          <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                            <input type="text" ng-model="$index" ng-disabled="true" class="form-control" ng-change="onChangeSimple()">
                          </span>
                        </td>
                        <td>
                          <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                            <input type="text" ng-model="tabledata.paramName" title="{{tabledata.paramName}}"
                              ng-disabled="{{mode}} || isTableDisable" class="form-control" required
                              disable-validation-message="">
                          </span>
                        </td>
                        <td>
                          <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                            <input type="text" ng-model="tabledata.paramDispName" title="{{tabledata.paramDispName}}"
                              ng-disabled="{{mode}} || isTableDisable" class="form-control" required
                              disable-validation-message="">
                          </span>
                        </td>
                        <td>
                          <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                            <input type="text" ng-model="tabledata.paramDesc" title="{{tabledata.paramDesc}}"
                              ng-disabled="{{mode}} || isTableDisable" class="form-control">
                          </span>
                        </td>
                        <td>
                          <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                            <select select2 ng-model="tabledata.paramType" ng-options="x.name as x.caption for x in type | orderBy:'caption'"
                              ng-disabled="{{mode}} || isTableDisable" class="form-control" ng-change="onChangeParamType(tabledata.paramType,$index)"
                              required disable-validation-message=""></select>
                          </span>
                        </td>
                        <td>
                          <div ng-if="tabledata.paramValueType =='distribution'" ng-init="onNgInit('distribution',$index)">
                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                              <select select2 class="form-control" name="tabledata{{$index}}" ng-disabled="{{mode}}"
                                data-ng-model="tabledata.selectedParamValue" ng-options="r as r.name for r in allDistribution track by r.uuid"
                                ng-change="onChangeDistribution()" required disable-validation-message="">
                              </select>
                              <input name="tabledata{{$index}}" type="hidden" ng-model="tabledata.selectedParamValue.uuid"
                                required disable-validation-message="" />
                            </span>
                          </div>
                          <div ng-if="tabledata.paramValueType =='function'" ng-init="onNgInit('function',$index)">
                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                              <select select2 class="form-control" name="tabledata{{$index}}" ng-disabled="{{mode}}"
                                data-ng-model="tabledata.selectedParamValue" ng-options="r as r.name for r in allFunction track by r.uuid"
                                required disable-validation-message="" ng-change="onChangeFunction()">
                              </select>
                              <input name="tabledata{{$index}}" type="hidden" ng-model="tabledata.selectedParamValue.uuid"
                                required disable-validation-message="" />
                            </span>
                          </div>
                          <div ng-if="tabledata.paramValueType =='simple'">
                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                              <input type="text" ng-model="tabledata.paramValue" title="{{tabledata.paramValue}}"
                                ng-disabled="{{mode}}" class="form-control" ng-change="onChangeSimple()">
                            </span>
                          </div>

                          <div ng-if="tabledata.paramValueType =='date'">
                            <div class="col-md-12" style="margin-top:0px;margin-bottom:-20px;padding-left: 0px;padding-right: 0px;">
                              <p class="input-group">
                                <input type="text" class="form-control" title="{{tabledata.paramValue|date: 'yyyy-MM-dd'}}"
                                  uib-datepicker-popup="yyyy-MM-dd" ng-keypress="ValidationKeyPress($event)" ng-model="tabledata.paramValue"
                                  is-open="tabledata.opened" ng-disabled="!isEdit" datepicker-options="dateOptions"
                                  ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open2($index)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                  </button>
                                </span>
                              </p>
                            </div>
                          </div>
                          <div ng-if="tabledata.paramValueType =='array'">
                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                              <tags-input class="tag-scroll-height" ng-model="tabledata.paramArrayTags" ng-disabled="{{mode}}"
                                min-length="0" add-from-autocomplete-only="false" add-on-enter="true" add-on-space="true">
                              </tags-input>
                            </span>
                          </div>
                          <div class="text-center" ng-if="['simple','distribution','date','function','array'].indexOf(tabledata.paramValueType) == -1">
                            NA
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>