<style>
  .select2-container--open {
    z-index: 10060;
  }
</style>
<script src="assets/jquery-filestyle/js/jquery-filestyle.js"></script>
<div class="row" data-ng-controller="CommonListController" ng-cloak>

  <div class="col-md-12">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="home">Home</a>
          <i class="fa fa-circle"></i>
        </li>
        <li>
          <a ui-sref="jobexecutor" ng-if="isJobExec">{{$state.current.data.pageTitle}}</a>
          <a ng-if="!isJobExec">{{$state.current.data.pageTitle}}</a>
          <i class="fa fa-circle"></i>
        </li>
        <li>
          <span style="text-transform: capitalize">{{caption ||select}}</span>

        </li>
      </ul>
      <div class="page-toolbar">
        <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
          <i class="icon-calendar"></i>&nbsp;
          <span class="thin uppercase hidden-xs">{{time +' '+tzName}}</span>&nbsp;
        </div>
      </div>
    </div>
    <br/>

    <!-- END MAIN CONTENT -->
    <div notifybar style="position:fixed;top:40px;right:0;z-index:1000"></div>

    <div class="row">
      <div class="col-md-12">

        <search-criteria loading="loading" module-type="select" handle-group="handleGroup != -1" no-exec="!(isJobExec || isExec)"
          on-submit="selectData" data="data" parant-type="parantType"></search-criteria>

        <div class="portlet box green">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-cogs"></i>
              <span style="text-transform: capitalize">{{ caption}}</span>
            </div>
            <div class="actions">
              <a ng-disabled="privileges.indexOf('Add') == -1" ng-click="addMode()" ng-hide="isExec || isJobExec" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> Add </a>
            </div>
           
            <div class="tools" ng-show="isExec || isJobExec">
              <a title="Refresh" data-toggle="tooltip" data-placement="top" tooltip ng-click="refreshSearchResults()">
                <i class="fa fa-refresh" aria-hidden="true" style="display:block;margin: 2px auto;color:white;">
                </i>
              </a>
              <a href="javascript:;" class="collapse aSize" style="height:14px;">
              </a>
            </div>
          </div>

          <div class="modal fade in" id="DagConfExModal" tabindex="-1" role="basic" aria-hidden="true" style="display:none; padding-right: 15px;">
            <div class="modal-dialog">
              <div class="modal-content rulemodel">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  </button>
                  <!-- <h4 class="modal-title">Confirm</h4> -->
                  <h4 class="modal-title" title="{{exeDetail.name}}"style="overflow: hidden;white-space:nowrap;max-width:230px;margin-bottom:-4px;
                  text-overflow:ellipsis;">{{objDetail.name}}</h4>
                </div>
                <div class="modal-body"> Execute
                  <span style="text-transform: capitalize">{{caption}}</span> ?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn green" ng-click="ok()">Ok</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>

          <div class="modal fade in" id="publishedConfModal" tabindex="-1" role="basic" aria-hidden="true" style="display:none; padding-right: 15px;">
            <div class="modal-dialog">
              <div class="modal-content rulemodel">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  </button>
                  <!-- <h4 class="modal-title">Confirm</h4> -->
                  <h4 class="modal-title" title="{{objDetail.name}}"style="overflow: hidden;white-space:nowrap;max-width:230px;margin-bottom:-4px;
                  text-overflow:ellipsis;">{{objDetail.name}}</h4>
                </div>
                <div class="modal-body"> {{publishModalMsg}}
                  <span style="text-transform: capitalize">{{caption}}</span> ?</div>
                <div class="modal-footer">
                  <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn green" ng-click="okpublished()">Ok</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>
          
          <div class="modal fade in" id="lockedConfModal" tabindex="-1" role="basic" aria-hidden="true" style="display:none; padding-right: 15px;">
            <div class="modal-dialog">
              <div class="modal-content rulemodel">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  </button>
                  <!-- <h4 class="modal-title">Confirm</h4> -->
                  <h4 class="modal-title" title="{{objDetail.name}}"style="overflow: hidden;white-space:nowrap;max-width:230px;margin-bottom:-4px;
                  text-overflow:ellipsis;">{{objDetail.name}}</h4>
                </div>
                <div class="modal-body"> {{lockModalMsg}}
                  <span style="text-transform: capitalize">{{caption}}</span> ?</div>
                <div class="modal-footer">
                  <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn green" ng-click="okLocked()">Ok</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>

          <div class="modal fade in" id="DeleteConfModal" tabindex="-1" role="basic" aria-hidden="true" style="display:none; padding-right: 15px;">
            <div class="modal-dialog">
              <div class="modal-content rulemodel">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  </button>
                  <!-- <h4 class="modal-title">Confirm</h4> -->
                  <h4 class="modal-title" title="{{objDetail.name}}"style="overflow: hidden;white-space:nowrap;max-width:230px;margin-bottom:-4px;
                  text-overflow:ellipsis;">{{objDetail.name}}</h4>
                </div>
                <div class="modal-body"> {{deleteModalMsg || 'Delete'}}
                  <span style="text-transform: capitalize">{{caption}}</span> ?</div>
                <div class="modal-footer">
                  <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn green" ng-click="okDelete()">Ok</button>
                </div>
              </div><!-- /.modal-content -->
            </div> <!-- /.modal-dialog -->
          </div>

          <div class="modal fade in" id="filemodal" tabindex="-1" role="basic" aria-hidden="true" style="display:none; padding-right: 15px;">
            <div class="modal-dialog">
              <div class="modal-content rulemodel">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                  <!-- <h4 class="modal-title">Confirm</h4> -->
                  <h4 class="modal-title" title="{{objDetail.name}}"style="overflow: hidden;white-space:nowrap;max-width:230px;margin-bottom:-4px;
                  text-overflow:ellipsis;">{{objDetail.name}}</h4>
                </div>
                <div class="modal-body"> Save File ?</div>
                <div class="modal-footer">
                  <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn green" ng-click="okFile()">Ok</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>

          <!-- <div class="modal fade in" id="showMsgModel" tabindex="-1" role="basic" aria-hidden="true" style="display:none;padding-right:15px;">
            <div class="modal-dialog">
              <div class="modal-content rulemodel">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                  <h4 class="modal-title">Info</h4>
                </div>
                <div class="modal-body">{{message}}</div>
                <div class="modal-footer">
                  <button type="button" class="btn green" data-dismiss="modal">OK</button>
                </div>
              </div>
            
            </div>
           
          </div> -->
          
          <div class="modal fade in" id="killmodal" tabindex="-1" role="basic" aria-hidden="true" style="display:none;padding-right:15px;">
            <div class="modal-dialog">
              <div class="modal-content rulemodel">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                  <!-- <h4 class="modal-title">Confirm</h4> -->
                  <h4 class="modal-title" title="{{objDetail.name}}"style="overflow: hidden;white-space:nowrap;max-width:230px;margin-bottom:-4px;
                  text-overflow:ellipsis;">{{objDetail.name}}</h4>
                </div>
                <div class="modal-body"> {{selectDetail.setStatus}}
                  <span style="text-transform: capitalize">{{confMsg}}</span> ?</div>
                <div class="modal-footer">
                  <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn green" ng-click="okKill()">Ok</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>
          <div class="modal fade in" id="restartmodal" tabindex="-1" role="basic" aria-hidden="true" style="display:none;padding-right:15px;">
            <div class="modal-dialog">
              <div class="modal-content rulemodel">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                  <!-- <h4 class="modal-title">Confirm</h4> -->
                  <h4 class="modal-title" title="{{objDetail.name}}"style="overflow: hidden;white-space:nowrap;max-width:230px;margin-bottom:-4px;
                  text-overflow:ellipsis;">{{objDetail.name}}</h4>
                </div>
                <div class="modal-body"> Restart
                  <span style="text-transform: capitalize">{{confMsg}}</span> ?</div>
                <div class="modal-footer">
                  <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn green" ng-click="okRestart()">Ok</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>

          <div class="modal fade in" id="clonemodal" tabindex="-1" role="basic" aria-hidden="true" style="display:none;padding-right:15px;">
            <div class="modal-dialog">
              <div class="modal-content rulemodel">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                  <!-- <h4 class="modal-title">Confirm</h4> -->
                  <h4 class="modal-title" title="{{objDetail.name}}"style="overflow: hidden;white-space:nowrap;max-width:230px;margin-bottom:-4px;
                  text-overflow:ellipsis;">{{objDetail.name}}</h4>
                </div>
                <div class="modal-body"> Clone
                  <span style="text-transform: capitalize">{{caption}}</span> ?</div>
                <div class="modal-footer">
                  <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn green" ng-click="okClone()">Ok</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>

          <!-- <div class="modal fade in" id="executionsubmit" tabindex="-1" role="basic" aria-hidden="true" style="display:none;padding-right:15px;">
            <div class="modal-dialog">
              <div class="modal-content rulemodel">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                  <h4 class="modal-title">Info</h4>
                </div>
                <div class="modal-body">{{executionmsg}}

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn green" data-dismiss="modal">OK</button>
                </div>
              </div>
            </div>
          </div> -->

          <div id="responsive" class="modal fade bs-modal-lg in   " tabindex="-1" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
              <div class="modal-content" style="resize: both;overflow: auto;">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                  <!-- <h4 class="modal-title">{{caption}} Execution</h4> -->
                  <h4 class="modal-title">Run Params</h4>
                </div>
                <form class="form-horizontal" name="responsive" ng-submit="executeWithExecParams()"  novalidate="novalidate">
                  <div class="modal-body">
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;">
                      <div class="scroller" style="height: 300px; overflow-y: auto; width: auto;" data-always-visible="1" data-rail-visible1="1"
                        data-initialized="1">
                        <div class="row">
                          <div class="col-md-12">
                            <br>
                            <div class="form-group">
                              <div class="row"> 
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="select">Type
                                </label>
                                <div class="col-md-6">
                                  <select class="form-control" name="ParamType" select2 ng-change="onChangeParamType()" data-ng-model="selectParamType" ng-options="r.text  as r.caption disable when ['dag'].indexOf(select) !=-1  && r.text =='paramset' ?true:false for r in paramTypes">
                                      <option value="">-Select-</option>
                                  </select>
                                  <input type="hidden" name="ParamType" ng-model="selectParamType" required>
                                </div>
                              </div>
                            </div>
                            <div class="form-group" ng-show ="selectParamType =='paramset'">
                              <div class="row"> 
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="select">Name
                                </label>
                                <div class="col-md-6" >
                                  <select class="form-control"  name="paramsetdata" select2 ng-change="onSelectparamSet()" data-ng-model="paramsetdata" ng-options="r as r.name for r in allparamset | orderBy:'name'">
                                    <option value="" style="color:red;">USE DEFAULT VALUE</option>
                                  </select>
                                </div>
                                <div class="col-md-3" ng-if="isPramsetInProgess" style="margin-top:4px;">
                                    <!-- <span class="spinner" style="padding-left:15px;font-size:23px;vertical-align:middle;">
                                      <div class="bounce1"></div>
                                      <div class="bounce2"></div>
                                      <div class="bounce3"></div>
                                    </span> -->
                                    <!-- <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
                                    <span class="sr-only">Loading...</span> -->
                                    <i class="glyphicon glyphicon-refresh spinning" style="margin:5px 0px 0px -23px;"></i>
                                  </div>
                              </div>
                            </div>
                          
                            <div class="form-group" ng-if="selectParamType =='paramlist'" >
                              <div class="row"> 
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="select">Name
                                </label>
                                <div class="col-md-6">
                                  <div>  
                                    <select class="form-control" name="paramlistdata" ng-disabled="allParamList.length >0?false:true" select2 ng-change="onChangeParamList()"  data-ng-model="$parent.paramlistdata" ng-options="r as r.name for r in allParamList">
                                        <option value="" >-Select-</option>
                                    </select>
                                  
                                    <input type="hidden" name="paramlistdata" ng-model="$parent.paramlistdata" ng-required="isParamListRquired">
                                  </div> 
                                
                                </div>
                               
                                <div class="col-md-3" ng-if="isPramlistInProgess" style="margin-top:4px;">
                                  <!-- <span class="spinner" style="padding-left:15px;font-size:23px;vertical-align:middle;">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                  </span> -->
                                  <!-- <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
                                  <span class="sr-only">Loading...</span> -->
                                  <i class="glyphicon glyphicon-refresh spinning" style="margin:5px 0px 0px -23px;"></i>
                                </div>
                              </div>
                            </div>
                            <div class="form-group" ng-if="selectParamType== null">
                              <div class="row"> 
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="select">Name
                                  </label> 
                                <div class="col-md-6" >
                                  <select class="form-control" select2  name="paramlistdata1"  data-ng-model="paramlistdata1" ng-options="r as r.name for r in allParamList">
                                      <option value="">-Select-</option>
                                  </select>
                                  <input type="hidden" name="paramlistdata1" ng-model="paramlistdata1" required>
                                </div>
                              </div>
                            </div>
                            <br>
                            <div ng-if="isParamLsitTable">
                              <table class=" row-border hover table  table-striped table-bordered">
                                <thead>
                                  <tr>
                                    <th style="width:10%;text-align:center">ID</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center" style="width:20%;">Type</th>
                                    <th class="text-center">Default Value</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="tabledata in selectParamList.paramInfo">
                                    <td>
                                      <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                        <input type="text" ng-model="$index" ng-disabled="true" class="form-control">
                                      </span>
                                    </td>
                                    <td>
                                      <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                        <input type="text" ng-model="tabledata.paramName" title="{{tabledata.paramName}}" ng-disabled="true"
                                        class="form-control">
                                      </span>
                                    </td>
                                    <td>
                                      <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                          <input type="text" ng-model="tabledata.paramType" title="{{tabledata.paramType}}" ng-disabled="true"
                                          class="form-control">
                                      </span>
                                    </td>
                                    <td>
                                      <div ng-if="tabledata.paramValueType =='distribution'" ng-init="getAllLatest('distribution',$index)">
                                        <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                          <input name="tabledata{{$index}}" type="text" ng-model="tabledata.selectedParamValue.name"/>
                                        </span>
                                      </div>
                                      <div ng-if="tabledata.paramValueType =='simple'">
                                        <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                          <input type="text" ng-model="tabledata.paramValue" title="{{tabledata.paramValue}}" ng-disabled="true"
                                          class="form-control" >
                                        </span>
                                      </div>
                                      <div  class="text-center" ng-if="['simple','distribution'].indexOf(tabledata.paramValueType) == -1">
                                          NA
                                        </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div ng-if="isTabelShow" style="overflow-x: auto;">
                              <table class=" row-border hover table  table-striped table-bordered">
                                <thead>
                                  <tr>
                                    <th style="text-align:center;Vertical-align: middle;width:5%;">
                                      <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                        <input style="width:16px;height:16px;" type="checkbox" ng-disabled="{{mode}}" ng-model="$parent.selectallattribute" ng-change="selectAllRow()"
                                        />
                                      </span>
                                    </th>
                                    <th class="text-center"> ID </th>
                                    <th class="text-center" ng-repeat="tablecol in paramtablecol"> {{tablecol.paramName}} </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="tabledata in paramtable">
                                    <td style="text-align:center;Vertical-align:middle;width:5%;">
                                      <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                        <input style="width:16px;height:16px;"  class="form-control"  type="checkbox" ng-model="tabledata.selected"  />
                                      </span>
                                    </td>
                                    <td>
                                      <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                      <input style="width:50px" type="text" ng-model="tabledata.paramSetId" ng-disabled="true"
                                        class="form-control">
                                      </span>
                                    </td>
                                    <td ng-repeat="tablecol in tabledata.paramSetVal">
                                      <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                        <input style="width:{{paramtablecol.length}} < 3?0:{{paramtablecol[$index].paramName.split('').length + 100}}px" type="text"
                                          ng-model="tablecol.value" ng-disabled="true" class="form-control">
                                      </span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                    <input type="submit" class="btn green" value="Submit"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div ng-if="isParamModelEnable">
            <exec-param-directive uuid="exeDetail.uuid" version="exeDetail.version" meta-type="'dq'" on-execute="onExecute"></exec-param-directive>
        </div>

          <div id="executeParamList" class="modal fade bs-modal-lg in" style="display: none;">
            <div class="modal-dialog" style="width:70%">
              <div class="modal-content" style="resize: both;overflow: auto;">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" ng-click="ClosePop()" aria-hidden="true"></button>
                  <h4 class="modal-title">{{caption}} Execution</h4>
                  <!-- <h4 class="modal-title">Run Params </h4> -->
                </div>
                <form class="form-horizontal" name="myform3" id="submit_formParamList" ng-submit="executeWithExecParamList()" novalidate="novalidate">
                  <div class="modal-body" style="padding-top:0px">
                    <div class="slimScrollDiv" style="position: relative; overflow-y: auto !important; width:auto;padding:10px;">
                      <div class="scroller" style="height:300px;min-height:100px; overflow-y: auto !important; width: auto;" data-always-visible="1"
                        data-rail-visible1="1" data-initialized="1">
                        <div class="row">
                          <div class="col-md-12">
                            <div>
                              <div class=" form-group row modal-header" style="padding-bottom: 25px;">
                                <h4 class="modal-title">Run Params</h4>
                              </div>
                              <div class="col-md-12" style="padding-top: 25px;">
                                <table class=" row-border hover table  table-striped table-bordered" width="100%">
                                  <thead>
                                    <tr>
                                      <th class="text-center" width="10%"> ID </th>
                                      <th class="text-center" width="15%">Param Name</th>
                                      <th class="text-center" width="15%">Param Type</th>
                                      <th class="text-center" width="15%">Type</th>
                                      <th class="text-center" width="20%">Param Value</th>
                                      <th class="text-center" width="25%">Param Attributes </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="listHolder in paramListHolder">
                                      <td width="10%">
                                        <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                          <input type="text" ng-model="$index" ng-disabled="true" class="form-control">
                                        </span>
                                      </td>
                                      <td width="15%">
                                        <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                          <input type="text" ng-model="listHolder.paramName" ng-disabled="true" class="form-control">
                                        </span>
                                      </td>
                                      <td width="15%">
                                        <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                          <input type="text" ng-model="listHolder.paramType" ng-disabled="true" class="form-control">
                                        </span>
                                      </td>
                                      <td width="15%">
                                        <div ng-if="['simple','distribution','list'].indexOf(listHolder.selectedParamValueType) !=-1">
                                          <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                            <input type="text" ng-model="listHolder.paramType" ng-disabled="true" class="form-control">
                                          </span>
                                        </div>
                                        <div ng-if="['attribute','attributes','datapod','rule','dataset'].indexOf(listHolder.selectedParamValueType) !=-1">
                                          <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                            <select class="form-control" name="paramValue{{$index}}" data-ng-model="listHolder.selectedParamValueType" ng-change="onChangeParamValueType(listHolder.selectedParamValueType,$index)"
                                              ng-options="r  for r in attributeTypes " required disable-validation-message="">
                                            </select>
                                          </span>
                                        </div>
                                      </td>

                                      <td width="20%">
                                        <div style="width:150px !important">
                                          <div ng-if="listHolder.selectedParamValueType =='simple'">
                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                              <input ng-if="listHolder.paramType !='integer'" type="text" ng-model="listHolder.paramValue" class="form-control" disable-validation-message="">
                                              <input ng-if="listHolder.paramType =='integer'" type="text " ng-model="listHolder.paramValue" class="form-control" disable-validation-message=""
                                                s>
                                            </span>
                                          </div>
                                          <div ng-if="listHolder.selectedParamValueType =='list'">
                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                              <select select2 class="form-control" name="paramValue{{$index}}" ng-disabled="isModelDisable" data-ng-model="listHolder.paramValue"
                                                ng-options="r for r in listHolder.allListInfo" required disable-validation-message="">
                                              </select>
                                              <input name="paramValue{{$index}}" type="hidden" ng-model="listHolder.paramValue" required disable-validation-message=""
                                              /> </span>
                                          </div>
                                          <div ng-if="listHolder.selectedParamValueType =='datapod'" ng-init="getAllLatest(listHolder.selectedParamValueType,$index,false)">
                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                              <select select2 class="form-control" name="paramValue{{$index}}" data-ng-model="listHolder.selectedParamValue" ng-change="onChangeForAttributeInfo(listHolder.selectedParamValue,listHolder.selectedParamValueType,$index)"
                                                ng-options="r as r.name for r in allDatapod track by r.uuid" required disable-validation-message="">
                                              </select>
                                              <input name="paramValue{{$index}}" type="hidden" ng-model="listHolder.selectedParamValue.uuid" required disable-validation-message=""
                                              />
                                            </span>
                                          </div>
                                          <div ng-if="listHolder.selectedParamValueType =='dataset'" ng-init="getAllLatest(listHolder.selectedParamValueType,$index,false)">
                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                              <select select2 class="form-control" name="paramValue{{$index}}" data-ng-model="listHolder.selectedParamValue" ng-change="onChangeForAttributeInfo(listHolder.selectedParamValue,listHolder.selectedParamValueType,$index)"
                                                ng-options="r as r.name for r in allDataset track by r.uuid" required disable-validation-message="">
                                              </select>
                                              <input name="paramValue{{$index}}" type="hidden" ng-model="listHolder.selectedParamValue.uuid" required disable-validation-message=""
                                              />
                                            </span>
                                          </div>
                                          <div ng-if="listHolder.selectedParamValueType =='rule'" ng-init="getAllLatest(listHolder.selectedParamValueType,$index,false)">
                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                              <select select2 class="form-control" name="paramValue{{$index}}" data-ng-model="listHolder.selectedParamValue" ng-change="onChangeForAttributeInfo(listHolder.selectedParamValue,listHolder.selectedParamValueType,$index)"
                                                ng-options="r as r.name for r in allRule track by r.uuid" required disable-validation-message="">
                                              </select>
                                              <input name="paramValue{{$index}}" type="hidden" ng-model="listHolder.selectedParamValue.uuid" required disable-validation-message=""
                                              />
                                            </span>
                                          </div>
                                          <div ng-if="listHolder.selectedParamValueType =='distribution'" ng-init="getAllLatest('distribution',$index,false)">
                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                              <select select2 class="form-control" name="paramValue{{$index}}" ng-change="onChangeDistribution(listHolder.selectedParamValue,$index)"
                                                data-ng-model="listHolder.selectedParamValue" ng-options="r as r.name for r in allDistribution track by r.uuid"
                                                required disable-validation-message="">
                                              </select>
                                              <input name="paramValue{{$index}}" type="hidden" ng-model="listHolder.selectedParamValue.uuid" required disable-validation-message=""
                                              />
                                            </span>
                                          </div>
                                          <div style="text-align:center;" ng-if="['datapod','rule','dataset','distribution','simple','list'].indexOf(listHolder.selectedParamValueType) ==-1">
                                            NA
                                          </div>
                                        </div>
                                      </td>
                                      <td width="25%">
                                        <div style="width:190px !important">
                                          <div ng-if="listHolder.paramType=='attribute'" ng-init="getAllAttributeBySource(listHolder.attributeInfo,listHolder.selectedParamValueType,$index)">
                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                              <select select2 class="form-control" name="paramattributeinfo{{$index}}" data-ng-model="listHolder.attributeInfo" ng-options="r as r.dname for r in listHolder.allAttributeinto track by r.uuid+r.attributeId"
                                                required disable-validation-message="">
                                              </select>

                                              <input name="paramattributeinfo{{$index}}" type="hidden" ng-model="listHolder.attributeInfo" required disable-validation-message=""
                                              />
                                            </span>
                                          </div>

                                          <div ng-if="listHolder.paramType=='attributes'" ng-init="getAllAttributeBySource(listHolder.attributeInfoTag[0],listHolder.selectedParamValueType,$index)">
                                            <span ng-if="listHolder.allAttributeinto.length >1" class="form-group" style="margin-left:0px;margin-right: 0px;">
                                              <!-- <select  select2 class="form-control"  name ="paramattributeinfo{{$index}}" data-ng-model="listHolder.attributeInfoTag" multiple="multiple" ng-options="r as r.dname for r in listHolder.allAttributeinto track by r.uuid+r.attributeId"  required  disable-validation-message="">
                                                  </select> -->
                                              <multiselect class="" multiple="true" ng-model="listHolder.attributeInfoTag" options="r.name for r in listHolder.allAttributeinto"
                                                change="selected()"></multiselect>

                                              <input name="paramattributeinfo{{$index}}" type="hidden" ng-model="listHolder.attributeInfoTag" required disable-validation-message=""
                                              />
                                            </span>
                                          </div>
                                          <div style="width:200px;text-align:center;" ng-if="['attribute','attributes'].indexOf(listHolder.paramType)== -1">
                                            NA
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--End Model Body-->
                  <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="ClosePop()">Close</button>
                    <button type="submit" class="btn green">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>


          <div id="fileupload" class="modal fade bs-modal-lg in" tabindex="-1" aria-hidden="true" style="display: none;">
            <div class="modal-dialog" style="width:27%;">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                  <h4 class="modal-title">File Upload</h4>
                </div>
                <div class="modal-body">
                  <div class="slimScrollDiv" style="padding-top:10px;">
                    <div class="scroller" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                      <div class="row">
                        <div class="col-md-2" style="margin-top:5px;">
                          <label style="margin-left:4px;">Select</label>
                        </div>
                        <div class="col-md-10">
                          <input type="file" id="csv_file" class="jfilestyle" file-model-change " on-submit="fileNameValidate "  accept=".csv
                            " data-buttonText="<span class='glyphicon glyphicon-folder-open' style='color:#94A0B2;'>
                          </span>" style="float:left;margin-left:4px;">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12" style="margin-left:4px;font-size:12px;color: red;">
                          <div ng-show="!isFileNameValid">Special character or space not allowed in file name.</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2" style="margin-top:5px;">
                          <label style="margin-left:4px;">Desc</label>
                        </div>
                        <div class="col-md-10">
                          <input type="text" class="form-control" ng-model="fileUpladDesc">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                  <button type="button" class="btn green" ng-click="uploadFile()" ng-disabled="isFileSubmitDisable">Submit</button>
                </div>
              </div>
            </div>
          </div>

          <div class="portlet-body">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div id="datastoredatatable_filter" class="dataTables_filter" ng-show="handleGroup!=-1 || select=='dagexec' || select=='batchexec'|| select=='ingestexec' || select=='graphexec'||  select=='mapexec'|| select=='reportexec' || isJobExec==true">
                  <input style="width:15px !important;height:15px;margin:0 0 0;" class="form-control input-sm input-small input-inline" type="checkbox"
                    ng-model="autorefresh" ng-change="autoRefreshOnChange()" />
                  <label style="vertical-align:middle;margin-bottom:0px;">Auto Refresh:</label>
                  <input style="width:55px !important;" min="5" max="99" type="number" class="form-control input-sm input-small input-inline"
                    ng-model="autorefreshcounter" />
                  <label style="vertical-align:middle;margin-bottom:0px;">secs</label>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div id="datastoredatatable_filter" class="dataTables_filter" style="float:right;">
                  <label>Search:</label>
                  <input type="search" class="form-control input-sm input-small   input-inline" ng-change="refreshData(searchtext)" ng-model="searchtext"
                    aria-controls="datastoredatatable">
                </div>
              </div>
            </div>
            <div ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-exporter ng-style="getGridStyle()">
              <div class="nodatawatermark" ng-show="!loading && !gridOptions.data.length">No data available</div>
            </div>
          </div>
        </div>
      </div>
      <!-- BEGIN MAIN JS-->
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>