<div class="">
    <div class="comment-panel " ng-class="(panelOpen ==true?'comment-panel-width':'comment-panel-without-width')">
        <div class="comment-panel-header tabbable-line clearfix">
            <div class="col-md-3 pull-left">
                <h4 class="caption-subject font-dark bold">Comment</h4>
            </div>
            <div class="col-md-1 pull-right" style="padding-top: 2%;">
                <div class="" ng-click="closePanle()" tooltip-placement="left" uib-tooltip="Close">
                    <i ng-class="panelOpen == true?'icon-login':'icon-logout'" style="color:#99a8b5;font-size: 17px;"></i>
                </div>
            </div>
        </div>
        <div style="padding:1%;height:90%;overflow-x: hidden;overflow-y:auto;">
            <div class="comment-panel-body clearfix" style="padding:1%;min-height:76%;">
                <div class="mt-comments">
                    <div class="mt-comment" ng-repeat="data in commentResult" ng-if="commentResult.length >0" id="{{$index}}">
                        <div class="mt-comment-img">
                            <img class=" img-circle" width="45px" ng-src="avatars/{{data.createdBy.ref.uuid}}?$index" class="lock-avatar" alt="No Avatar"
                                onerror="this.src='avatars/default.png';" />
                        </div>
                        <div class="mt-comment-body" style="position: inherit;">
                            <div class="mt-comment-info ">
                                <span class="mt-comment-author">{{data.createdBy.ref.name}}</span>
                                <div class="mt-comment-details">
                                    <ul class="mt-comment-actions">

                                        <li ng-if="!data.isEditComment">
                                            <a href="#" tooltip-placement="top" uib-tooltip="Edit" ng-disabled="privileges.indexOf('Edit') == -1" ng-click="edit($index)"
                                                style="float:right">
                                                <i class="fa fa-edit" aria-hidden="true" style="font-size: 20px;color:#777;"></i>
                                            </a>
                                        </li>
                                    
                                        <li>
                                            <a href="#" tooltip-placement="top" uib-tooltip="Delete" ng-disabled="privileges.indexOf('Delete') == -1" ng-click="delete(data.id,'comment',null)"
                                                style="float:right">
                                                <i class="fa fa-trash" aria-hidden="true" style="font-size: 20px;color:red;"></i>
                                            </a>
                                        </li>
                                        <li ng-if="data.isEditComment">
                                            <a href="#" tooltip-placement="top" uib-tooltip="close" ng-click="data.isEditComment=false" style="float:right">
                                                <i class="fa fa-time" aria-hidden="true" style="font-size: 20px;color:#777;"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-comment-text" ng-if="!data.isEditComment">
                                <show-more text="data.desc" limit="50"> </show-more>
                            </div>
                            <div class="mt-comment-text" style="height:6px;" ng-if="data.isEditComment">
                                <div class="col-md-11" style="width:89%;padding-left: 0px;">
                                    <form novalidate="novalidate" name="Editform" ng-submit="submit(Editform,$parent.$index,$index,data)">
                                        <div class="input-group form-group" ng-if="isRequire">
                                            <input type="text" class="form-control" ng-disabled="isPrivlage" focus-me="true" name="desc" ng-model="data.desc" disable-validation-message=""
                                                ng-required="isRequire">
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn green" ng-disabled="isPrivlage || isSubmitDisabled">
                                                    <!-- <i class="icon-paper-clip"></i> -->
                                                    Submit
                                                </button>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-1" style="margin-top:8px;right:0px;width:11%;">
                                    <label class=" input-group-btn" style="width:auto" tooltip-placement="left" uib-tooltip="Attach doc">
                                        <input id="avatar" parentIndex="{{$parent.$index}}" onchange="editReadfileName(this)" type="file" ng-model="file" style="display:none">
                                        <i class="icon-paper-clip" style="font-size: 20px;color:#008000;"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="mt-comment-details">
                                <ul class="mt-comment-actions" style="padding-right:3%;">
                                </ul>
                                <div class="list-files" ng-show="data.uploadExecInfo.length >0" ng-repeat="f in data.uploadExecInfo | limitTo: data.limitUploadExecInfo">
                                    <div ng-show="f.isDelete==false">
                                        <span class="list-file-name" ng-if="f.ref.type=='uploadExec'">{{f.ref.name}}</span>
                                        <span class="list-file-name" ng-if="f.ref.type =='simple'">{{f.value.name}}</span>
                                        <ul class="mt-comment-actions">
                                            <li ng-disabled="f.ref.type =='simple'">
                                                <i class="fa fa-download" tooltip-placement="top" uib-tooltip="Download" style="color: #777;margin: 4px auto;"
                                                    ng-click="download(f)"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-trash" tooltip-placement="top" uib-tooltip="Delete" ng-click="delete(f.ref.uuid,f.ref.type,$parent.$index,$index,data.isEditComment)"
                                                    style="color: #777;margin:0px auto;"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="javascript;;" ng-show="data.uploadExecInfo.length >2 && data.limitUploadExecInfo ==2" style="padding:11px" ng-click="ShowMore($index);">
                                    <i class="fa fa-plus" aria-hidden="true"></i> More</a>
                                <a href="javascript;;" ng-show="data.uploadExecInfo.length >0 && data.limitUploadExecInfo >2" style="padding:11px" ng-click="ShowLess($index);">
                                    <i class="fa fa-minus" aria-hidden="true"></i> Less</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="centercontent" style="color:blue" ng-if="commentResult.length ==0"> No Comment</div>
            </div>
            <!-- style="height:20%;padding: 0 0 0 1%;overflow-y:auto" -->
            <div class="page-quick-sidebar-chat-user-form" style="min-height:120px;">
                <div class="mt-comments comment-panel-mt-comment">
                    <div class="mt-comment comment-panel-mt-comment">
                        <div class="mt-comment-img">
                            <img class=" img-circle" width="45px" ng-src="avatars/{{currentUser.uuid}}" class="lock-avatar" alt="No Avatar" onerror="this.src='avatars/default.png';"
                            />
                        </div>
                        <div class="mt-comment-body">
                            <div class="mt-comment-info">
                                <span class="mt-comment-author">{{currentUser.name}}</span>
                            </div>
                            <div class="mt-comment-text" style="height:6px;">
                                <div class="col-md-11" style="width:89%;padding-left: 0px;">
                                    <form novalidate="novalidate" name="myform" ng-submit="submit(myform,null,null,null)">
                                        <div class="input-group form-group" ng-if="isRequire">
                                            <input type="text" class="form-control" ng-disabled="isPrivlage" focus-me="true" name="desc" ng-model="commentDesc" placeholder="Type a comment here..."
                                                disable-validation-message="" ng-required="isRequire">
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn green" ng-disabled="isPrivlage || isSubmitDisabled">
                                                    <!-- <i class="icon-paper-clip"></i> -->
                                                    Submit
                                                </button>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-1" style="margin-top:8px;right:0px;width:11%;">
                                    <label class=" input-group-btn" style="width:auto" tooltip-placement="left" uib-tooltip="Attach doc">
                                        <input id="avatar" onchange="readfileName(this,null,null)" type="file" ng-model="file" style="display:none">
                                        <i class="icon-paper-clip" style="font-size: 20px;color:#008000;"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="mt-comment-details">
                                <ul class="mt-comment-actions" style="padding-right:6%;margin-top:-4px;">
                                    <li>
                                        <!-- <label class="input-group-btn" style="width:auto" tooltip-placement="top" uib-tooltip="upload">
                                            <input id="avatar" onchange="readfileName(this)" type="file" ng-model="file" style="display:none">
                                            <i class="fa fa-upload" style="font-size: 20px;color: #79869a;"></i>
                                        </label> -->
                                    </li>
                                </ul>
                                <br>
                                <div class="list-files" ng-show="file.length >0" ng-repeat="f in file | limitTo: limitUploadExecInfo">
                                    
                                    <span class="list-file-name">{{f.name}}</span>
                                    <!-- <span style="color: #777;">({{f.size}}K)</span> -->
                                    <ul class="mt-comment-actions">
                                        <li>
                                            <i class="fa fa-trash" tooltip-placement="top" uib-tooltip="Delete" ng-click="clearFile($index)"
                                                style="color: #777;margin:0px auto;"></i>
                                        </li>
                                    </ul>
                                </div>
                                <a href="javascript;;" ng-show="file.length >1 && limitUploadExecInfo == 1" style="padding:11px" ng-click="ShowMoreFile();">
                                    <i class="fa fa-plus" aria-hidden="true"></i> More</a>
                                <a href="javascript;;" ng-show="file.length >0  && limitUploadExecInfo >1" style="padding:11px" ng-click="ShowLessFile();">
                                    <i class="fa fa-minus" aria-hidden="true"></i> Less</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>