    <!-- BEGIN PAGE HEADER-->
<div class="page-bar">
   <ul class="page-breadcrumb">
        <li>
            <a ui-sref="home">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a  ui-sref="metadata({type:'condition'})">Meta Data</a>
             <i class="fa fa-circle"></i>
        </li>
        <li>
          <a  ui-sref="metadata({type:'condition'})">Condition</a>
             <i class="fa fa-circle"></i>
        </li>
        <li><span>{{conditionName}}</span></li>
    </ul>
    <div class="page-toolbar">
      <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
        <i class="icon-calendar"></i>&nbsp;
        <span class="thin uppercase hidden-xs">{{time +' '+tzName}}</span>&nbsp;
      </div>
    </div>
    <!-- <div class="page-toolbar">
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true"> Actions
            <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
            <li>
                <a href="#">
                    <i class="icon-user"></i> New User </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-present"></i> New Event
                    <span class="badge badge-success">4</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-basket"></i> New order </a>
            </li>
            <li class="divider"> </li>
            <li>
                <a href="#">
                    <i class="icon-flag"></i> Pending Orders
                    <span class="badge badge-danger">4</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-users"></i> Pending Users
                    <span class="badge badge-warning">12</span>
                </a>
            </li>
        </ul>
    </div>
</div> -->
</div>
<!-- <h3 class="page-title">Condition

</h3> -->

<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" data-ng-controller="MetadataConditionController">
<div class="col-md-12">
        <!-- BEGIN: ACCORDION DEMO -->
          <div class="portlet box green">
             <div class="portlet-title">
                <div class="caption">
                  <i class="fa fa-gift"></i>{{conditionName}}</div>

      			  <div class="tools">
		         	<a title="Show Details" data-toggle="tooltip" data-placement="top" tooltip data-ng-show="!showcondition"  data-ng-click="showConditionPage()"><span class="glyphicon glyphicon-file" style="color:white;"></span></a>
                    <a title="Show Dependencies" data-toggle="tooltip" data-placement="top" tooltip data-ng-show="showcondition" data-ng-click="showConditionGraph(conditiondata.uuid,conditiondata.version)"><img src="lib/images/check.png"  style="margin: 2px auto;display: block;"></img></a>
                    <a title="Refresh" data-toggle="tooltip" data-placement="top" tooltip href="javascript:;"    class="reload" ng-click="broadcastRefreshData()"> </a>
                    <a title="Close" data-toggle="tooltip" data-placement="top" tooltip data-ui-sref="metadata({type:'condition'})" class="remove"></a>
       			  </div>
	   		 </div>

     <div class="portlet-body form">

  <!-- BEGIN FORM-->
    <div class="form-body graph-body" ng-if="showgraphdiv">
     <i class="fa fa-spinner fa-spin fa-3x fa-fw graph-loding" id="graphloader"></i>
     <div class="form-body show-graph-body" tree-graph-directive  uuid="conditiondata.uuid" version="condition.defaultVersion.version"></div>
     </div>

    <div class="form-body"  ng-show="showcondition" style="padding-top:50px;">
      <span us-spinner="{radius:30, width:8, length: 16}"></span>
    <form action="#" class="form-horizontal">
       <div class="form-body">
        <div class="form-group">
          <label class="col-md-3 control-label">UUID</label>
           <div class="col-md-6">
           <input type="text" class="form-control" ng-disabled="true"  ng-model="conditiondata.uuid" disabled="disabled">
           </div>

        </div>
          <div class="form-group">
           <label class="col-md-3 control-label">Name*</label>
              <div class="col-md-6">
                <input type="text" class="form-control"  ng-disabled="{{mode}}"  ng-model="conditiondata.name" disabled="disabled">
              </div>
          </div>

          <div class="form-group">
              <label class="col-md-3 control-label">Version</label>
              <div class="col-md-6">
                  <select class="form-control" select2 name="version"
                                ng-change="selectVersion()" data-ng-model="condition.defaultVersion.version" ng-options="c.version as c.version for c in condition.versions">
                                    <option>-select-</option>
                                </select>
                  </div>
          </div>

        <div class="form-group">
              <label class="col-md-3 control-label">CreatedBy</label>
              <div class="col-md-6">
                  <input type="text" class="form-control" ng-disabled="true"  ng-model="conditiondata.createdBy.ref.name" 	disabled="disabled">
              </div>
          </div>

            <div class="form-group">
                <label class="col-md-3 control-label">CreatedOn</label>
                 <div class="col-md-6">
               <input type="text"  ng-model="conditiondata.createdOn"  ng-disabled="true"  class="form-control" placeholder="Enter text" disabled="disabled">
          		</div>
           </div>

          <div class="form-group">
                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Tags</label>
  					<div class="col-md-6">
                 	<tags-input  ng-model="tags" ng-disabled="{{mode}}" min-length="0"></tags-input>
                	</div>
            </div>

		     <div class="form-group">
                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Desc</label>
                <div class="col-md-6">
                 <input type="text"  ng-model="conditiondata.desc" class="form-control placeholder="Enter text" ng-disabled="{{mode}}">
                </div>
           </div>
               <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">DependsOn</label>
                <div class="col-md-2 col-sm-2 col-xs-12">
                <select title="Type"  ng-model="selectRelation" ng-options="x for x in relation" ng-change="dependsOndd()" class="form-control" ng-disabled="{{mode}}">
                    </select>
               </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" style="width:8.5%;">Name</label>
                <div class="col-md-3 col-sm-3 col-xs-12">
                   <select class="form-control" select2 name=""
					 ng-change="changeRelation()"
					 data-ng-model="conditiontRelation.defaultoption" ng-options="r as r.name for r in conditiontRelation.options track by r.uuid"
					 ng-disabled="{{mode}}">
					</select>
                 </div>
                 </div>

          <div class="form-group">
   			 <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
   			 <div class="col-md-6 col-sm-6 col-xs-12">
   			     <div class="btn-group" >
        			<label class="btn btn-default" ng-model="conditiondata.active" uib-btn-radio="'Y'" ng-disabled="{{mode}}" uncheckable>Yes</label>
        			<label class="btn btn-default" ng-model="conditiondata.active" uib-btn-radio="'N'" ng-disabled="{{mode}}" uncheckable>No</label>
			    </div>
    		</div>
          </div>

         <div class="form-group"  style="padding-top: 10px;">
             <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                 <a ui-sref="metadata({type:'condition'})"  class="btn btn-primary">Cancel</a>
                  <input type="button" class="btn btn-success" value="Submit" ng-disabled="{{mode}}" ng-click="submitCondition()" name="submit">
                 <span id="correctSign" style="vertical-align: middle;"></span>
             </div>
         </div>

              <!-- <a ui-sref="metadata({type:'datapod'})" class="btn btn-primary" href="#/metaList?type=datapod">Cancel</a> -->

         <div class="x_title">
            <button type="Button" class="clickRemoveCondition btn btn-danger fa fa-minus pull-right" ng-click="removeRow()" ng-disabled="{{mode}}"></button>
            <button type="Button" class="clickAddCondition btn btn-success fa fa-plus pull-right" ng-click="addRow()"  ng-disabled="{{mode}}"></button>
           <h4><strong>Details</strong></h4>
		   <hr>
     	</div>

        <div>

          <table id="addConditionAttributeTable" class=" row-border hover table  table-striped table-bordered">
             <thead>
                <tr>
                  <th>Logical Operator</th>
                  <th>LHS Attribute Name</th>
                  <th>Operator</th>
                  <th>RHS Attribute Name</th>
                </tr>
           </thead>

           <tbody>
             <tr ng-repeat="tabledata in conditiondata.conditionInfo">
               <td> <select  ng-model="tabledata.logicalOperator" ng-options="x for x in logicalOperator" ng-disabled="$first || {{mode}}" class="form-control"></select></td>
         		<td style="width:40%;">
				<select select2 name="" ng-disabled="{{mode}}"
                    ng-model="tabledata.lhsoperand"
                    ng-options="r as (r.datapodname + '.' + r.name) for r in conditionDatapod track by r.uuid+r.attributeId+r.name"
                    ng-disabled="" class="form-control">
         		</select>
         		</td>
               <td><select  ng-model="tabledata.operator" ng-options="x for x in operator" ng-disabled="{{mode}}" class="form-control"></select></td>
               <td><input type="text"  ng-model="tabledata.operand[1].value" ng-disabled="{{mode}}" class="form-control"></td>
             </tr>
           </tbody>
          </table>
        </div>
        </div>
      </form>
   </div>
</div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
// call any jquery or angularjs code ehre
</script>
<!-- BEGIN MAIN JS -->
