<div ng-controller="MetadataDashboardController2">
  <!-- BEGIN PAGE HEADER-->
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <a ui-sref="home">Home</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <a ui-sref="metadata({type:'dashboard'})">{{$state.current.data.pageTitle}}</a>
        <i class="fa fa-circle"></i>
      </li>

      <li>
        <a ui-sref="metadata({type:'dashboard'})">Dashboard</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <span>{{dashboarddata.name}}</span>
      </li>
    </ul>
    <div class="page-toolbar">
      <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
        <i class="icon-calendar"></i>&nbsp;
        <span class="thin uppercase hidden-xs">{{time +' '+tzName}}</span>&nbsp;
      </div>
    </div>
  </div>
  <!-- END PAGE HEADER-->
  <br>
  <div notifybar style="position:fixed;top:40px;right:0;z-index:1000"></div>
  <div options="dirOptions" type="'dashboard'" on-close="onPanelClose" mode="mode" current-user="userDetail" comment-data="dashboarddata"
    comment-panel-directive></div>
  <div class="row">
    <div class="col-md-12">
      <div class="portlet box green">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-gift"></i>{{dashboarddata.name}}
          </div>

          <div class="tools">
            <a href="javascript:;" title="Main" data-toggle="tooltip" data-placement="top" tooltip ng-hide="isAdd" ng-class="(showdashboard==true ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
              style="height:16px;font-size:16px;" data-ng-click="showHome(dashboarddata.uuid,dashboarddata.version,mode)">
              <i class="fa fa-home" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
            </a>
            <a title="Edit" ng-class="(isEdit==true || isPrivlage || dashboarddata.locked == 'Y' ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'" data-toggle="tooltip"
              data-placement="top" tooltip ng-click="enableEdit(dashboarddata.uuid,dashboarddata.version)" ng-hide="isAdd"
              style="height:16px;">
              <i class="fa fa-edit" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
            </a>
            <!-- <a title="Edit" ng-disabled="isPrivlage" ng-class="(showdashboard==true && isEdit==true)? 'currentpage':'notcurrentpage'"
              data-toggle="tooltip" data-placement="top" tooltip ng-click="enableEdit(dashboarddata.uuid,dashboarddata.version)"
              ng-hide="isAdd" style="height:16px;">
              <i class="fa fa-edit" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
            </a>
            <a title="View" data-toggle="tooltip" data-placement="top" tooltip ng-class="(showdashboard==true && isEdit==false)? 'currentpage':'notcurrentpage'"
              ng-click="showview(dashboarddata.uuid,dashboarddata.version)" ng-hide="isAdd" style="height:16px;">
              <span class="glyphicon glyphicon-file" style="color:white;"></span>
            </a> -->
            <a title="Knowledge Graph" data-toggle="tooltip" data-placement="top" tooltip ng-class="(showdashboard==false ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
              data-ng-click="showDashboardGraph(dashboarddata.uuid,dashboarddata.version)" style="height:14px;" ng-hide="isAdd">
              <i class="fa fa-sitemap" style="display: block;margin:0px 2px 0px 0px;color:white;"></i>
            </a>

            <a title="Refresh" data-toggle="tooltip" data-placement="top" tooltip href="javascript:;" class="" ng-click="broadcastRefreshData()"
              style="height:14px;">
              <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
            </a>

            <a title="Close" data-toggle="tooltip" data-placement="top" tooltip ng-click="okdashboardsave()" class="" style="height:14px;">
              <i class="fa fa-times" aria-hidden="true" style="display: block;margin: 2px auto;color:white;transform:scale(1,1.2)"></i>

            </a>
            <!-- metadata({type:'dashboard'}) -->
          </div>
        </div>

        <div class="portlet-body">
          <!-- BEGIN FORM-->
          <div class="form-body graph-body" ng-if="showgraphdiv">
            <div class="form-body text-center" id="errorMsg" style="color:blue;"></div>
            <div class="spinner" id="graphloader">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div class="form-body show-graph-body" tree-graph-directive uuid="dashboarddata.uuid" version="dashboard.defaultVersion.version">
            </div>
          </div>

          <div class="form-body" data-ng-show="showdashboard" style="{{pageNo==1 ?'padding-top:50px;':''}}">
            <div class="centercontent" style="min-height:500px;" ng-if="isEditVeiwError">
              <h3 style="font-size:14px;color:red;">Some Error Occur</h3>
            </div>
            <div class="centercontent" style="min-height:500px;" ng-if="isEditInprogess">
              <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </div>
            <div ng-show="(!pageNo || pageNo==1) && (!isEditInprogess && !isEditVeiwError)">
              <form class="form-horizontal" name="myform1" ng-submit="nextPage()" novalidate="novalidate" prevent-enter-submit>
                <div class="form-group" ng-show="dashboarddata.uuid">
                  <label class="col-md-3 control-label">UUID</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" data-ng-disabled="true" ng-model="dashboarddata.uuid">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">Name
                    <span class="required" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" ng-disabled="{{mode}}" ng-model="dashboarddata.name" required>
                  </div>
                </div>

                <div class="form-group" ng-show="dashboarddata.uuid">
                  <label class="col-md-3 control-label">Version</label>
                  <div class="col-md-6">
                    <select class="form-control" select2 ng-disabled="{{isversionEnable}}" ng-change="selectVersion()" data-ng-model="dashboard.defaultVersion.version"
                      ng-options="c.version as c.version for c in dashboard.versions">
                    </select>
                  </div>
                </div>

                <div class="form-group" ng-show="dashboarddata.uuid">
                  <label class="col-md-3 control-label">CreatedBy</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" ng-disabled="true" ng-model="dashboarddata.createdBy.ref.name">
                  </div>
                </div>

                <div class="form-group" ng-show="dashboarddata.uuid">
                  <label class="col-md-3 control-label">CreatedOn</label>
                  <div class="col-md-6">
                    <input type="text" ng-model="dashboarddata.createdOn" ng-disabled="true" class="form-control">
                  </div>
                </div>
                <div class="form-group taginput">
                  <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Tags</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <tags-input class="tag-scroll-height" ng-model="tags" ng-disabled="{{mode}}" min-length="0" add-from-autocomplete-only="false"
                      add-on-enter="true" add-on-space="true">
                      <auto-complete source="loadTag($query)" min-length="0" debounce-delay="0" highlight-matched-text="true" max-results-to-show="10">
                      </auto-complete>
                    </tags-input>
                  </div>
                </div>
                <div class="form-group">
                  <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Desc</label>
                  <div class="col-md-6">
                    <textarea class="form-control noresize" ng-disabled="{{mode}}" ng-model="dashboarddata.desc" rows="2" style="resize:none;"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Depends On
                    <span class="required" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-12">
                    <select class="form-control" ng-disabled="{{mode}}" data-ng-model="selectDependsOnType" ng-options="r for r in dependsOnTypes"
                      ng-change="selectType()" required>
                    </select>
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" style="width:9.4%;float:left;margin-left:-1%;">Name
                    <span class="required" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <select class="form-control" select2 ng-disabled="{{mode}}" ng-change="selectDependsOnOption()" data-ng-model="alldependsOn.defaultoption"
                      ng-options="r as r.name for r in alldependsOn.options  track by r.uuid ">
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Filter

                  </label>
                  <div class="col-md-6">
                    <tags-input class="tag-scroll" ng-model="filterAttributeTags" ng-disabled="{{mode}}" display-property="dname" key-property="id"
                      add-from-autocomplete-only="true" ng-focus="onTagFocuse()">
                      <auto-complete source="loadProfiles($query)" min-length="1" debounce-delay="0" highlight-matched-text="true" load-on-focus="true"
                        load-on-empty="true">
                      </auto-complete>
                    </tags-input>
                  </div>

                  <div class="col-md-1">
                    <span ng-hide="{{mode}}" class="glyphicon glyphicon-erase" title="Clear All" data-toggle="tooltip" data-placement="top" tooltip
                      aria-hidden="true" ng-click=" clear()" style="top:3px;left:-24px;cursor: pointer;"></span>
                  </div>

                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group" ng-init="dashboarddata.active='Y'">
                      <label class="btn btn-default" ng-model="dashboarddata.active" uib-btn-radio="'Y'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                        uncheckable>Yes</label>
                      <label class="btn btn-default" ng-model="dashboarddata.active" uib-btn-radio="'N'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                        uncheckable>No</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Locked</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group">
                      <label class="btn btn-default" ng-model="dashboarddata.locked" uib-btn-radio="'Y'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                        uncheckable>Yes</label>
                      <label class="btn btn-default" ng-model="dashboarddata.locked" uib-btn-radio="'N'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                        uncheckable>No</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group" ng-init="dashboarddata.published='N'">
                      <label class="btn btn-default" ng-model="dashboarddata.published" uib-btn-radio="'Y'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                        uncheckable>Yes</label>
                      <label class="btn btn-default" ng-model="dashboarddata.published" uib-btn-radio="'N'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                        uncheckable>No</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Public</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group" ng-init="dashboarddata.publicFlag='N'">
                      <label class="btn btn-default" ng-model="dashboarddata.publicFlag" uib-btn-radio="'Y'"
                        ng-disabled="{{mode}}" uncheckable>Yes</label>
                      <label class="btn btn-default" ng-model="dashboarddata.publicFlag" uib-btn-radio="'N'"
                        ng-disabled="{{mode}}" uncheckable>No</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label"> Save On Refresh</label>
                  <div class="col-md-9">
                      <div class="mt-checkbox-list" style="margin-top:-7px">
                          <label class="mt-checkbox mt-checkbox-outline">
                              <input ng-disabled="{{mode}}" type="checkbox" ng-model="dashboarddata.saveOnRefresh" ng-true-value="'Y'" ng-false-value="'N'">
                              <span ng-disabled="{{mode}}"></span>
                          </label>
                      </div>
                  </div>
                </div>
                <hr>
                <div class="row" ng-if="pageNo==1">
                  <label class="control-label col-xs-3"></label>
                  <div class="col-xs-4">
                    <button class="btn btn-outline green button-next" type="submit"> Continue
                      <i class="fa fa-angle-right"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>

            <form class="form-horizontal" name="myform2" ng-submit="submitDashboard()" novalidate="novalidate" prevent-enter-submit>
              <div ng-show="false">
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <h4>
                      <strong>Section Details</strong>
                    </h4>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_title">
                      <button type="Button" class=" btn btn-danger fa fa-minus pull-right" ng-disabled="{{mode}}" ng-click="removeRow()"></button>
                      <button type="button" class=" btn btn-success fa fa-plus pull-right" ng-disabled="{{mode}}" ng-click="addRow()"></button>
                    </div>
                  </div>
                </div>
                <hr>
                <br/>

                <div>
                  <table class=" row-border hover table  table-striped table-bordered">
                    <thead>
                      <tr>
                        <th style="text-align: center; Vertical-align: middle;width:5%;">
                          <input style="width: 16px;height:16px;" type="checkbox" ng-disabled="{{mode}}" ng-model="selectallsection" ng-change="selectAllRow()"
                          />
                        </th>
                        <!-- <th style="width:6%;text-align:center">Id</th> -->
                        <th style="width:45%;" class="text-center">Name</th>
                        <th style="width:45%;" class="text-center">Vizpod</th>
                        <!-- <th style="width:10%;" class="text-center">Row No</th>
                        <th style="width:10%;" class="text-center">Col No</th> -->
                        <th style="Vertical-align: middle;width:5%;" class="text-center">
                          <i class="fa fa-long-arrow-up"></i>
                          <i class="fa fa-long-arrow-down"></i>
                        </th>

                      </tr>
                    </thead>
                    <tbody ui-sortable="sortableOptions" ng-model="sectiontable">
                      <tr ng-repeat="tabledata in sectiontable">
                        <td style="text-align: center; Vertical-align: middle;width:5%;">
                          <input style="width: 16px;height:16px;" type="checkbox" ng-model="tabledata.selected" ng-disabled="{{mode}}" />
                        </td>
                        <td style="width:45%;" class="text-center">
                          <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                            <input type="text" name="name" ng-model="tabledata.name" ng-disabled="{{mode}}" class="form-control" required disable-validation-message="">
                          </span>
                        </td>
                        <td style="width:45%;" class="text-center">
                          <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                            <select class="form-control" name="vizpod" select2 ng-disabled="{{mode}}" data-ng-model="tabledata.vizpod" ng-options="r as r.name for r in allVizpodByDependsOn | orderBy:'name' track by r.uuid "
                              required disable-validation-message="">
                            </select>
                          </span>
                        </td>

                        <td style="text-align: center; Vertical-align: middle;width:5%;" class="text-center">
                          <i class="fa fa-bars"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

       
              <div class="row" ng-show="false" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQYV2NkIBIwgtStWrXqf1hYGJiNC+CVRNY0qhBv0AMAsKgECyGgekgAAAAASUVORK5CYII=');padding:10px 0 10px 0;">
                <div class="col-xs-12 sectionRow" style="padding: 10px;" ng-repeat="row in sectionRows" ui-sortable="sortableOptions" ng-model="row.columns"
                  jqyoui-droppable="{'onDrop':'onDropKey($index)'}" data-drop="true">
                  <div class="col-xs-12 text-center" ng-if="row.columns.length == 0" style="{{row.columns.length == 0 ? 'min-height:150px;background-color:pink;opacity:0.6;': ''}}">
                    <span>Empty Row</span>
                  </div>
                  <div class="col-xs-{{row.columns.length < 4 ? 12/(row.columns.length) : '3'}} sectionColumn" ng-repeat="column in row.columns"
                    ng-model="row.columns" data-drag="true" jqyoui-draggable="{index:$index,animate:false}" data-jqyoui-options="{revert: 'invalid'}">
                    <div class="cardshadow" style="background-color:#fcfcfc;padding:5px;margin-bottom:0px;">
                      <!-- {{column.name}} -->
                      <div>
                        <a style="margin-left:5px;" ng-click="removeSectionColumn(row.columns,$index)" class="pull-right btn btn-xs btn-danger">
                          <i class="fa fa-trash"></i>
                        </a>
                        <a ng-if="!column.edit" ng-click="column.edit = true;" class="pull-right btn btn-xs btn-warning">
                          <i class="fa fa-edit"></i>
                        </a>
                        <a ng-if="column.edit" ng-click="column.edit = false;" class="pull-right btn btn-xs btn-success">
                          <i class="fa fa-check"></i>
                        </a>
                      </div>
                      <div class="row" style="margin-top:28px;">
                        <div class="col-md-12" ng-if="column.edit">
                          <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                            <input type="text" name="name" ng-model="column.name" ng-disabled="{{mode}}" class="form-control" placeholder="Name" required
                              disable-validation-message="">
                          </span>
                          <br>
                          <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                            {{column.vizpod}}
                            <select class="form-control" name="vizpod" select2 ng-disabled="{{mode}}" data-ng-model="column.vizpod" ng-change="onChangeVizpod(column.vizpod,$parent.$index,$index)"
                              ng-options="r as r.name for r in allVizpodByDependsOn | orderBy:'name' track by r.uuid " required
                              disable-validation-message="">
                              <option value="">--Select Vizpod--</option>
                            </select>
                          </span>
                        </div>
                        <div class="col-md-12 text-center" ng-if="!column.edit" style="height:100%">
                          <div class="">
                            <img ng-src="assets/layouts/layout/img/{{icons[column.vizpod.uuid] || 'area-chart'}}.svg" alt="" style="width: 100%;height: 100%;max-width: 75px;max-height: 75px;">
                          </div>
                          <div class="">
                            <label>{{column.name}}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <a ng-if="row.columns.length < 4" ng-click="addSectionColumn(row)" class="pull-right addSectionColumn">
                    <i class="fa fa-plus-circle"></i>
                  </a>

                  <div class="col-md-12 addSectionRow" style="left: calc(50% - 20px);">
                    <a ng-click="addSectionRow($index)" style="color:gray;">
                      <i class="fa fa-plus-circle"></i>
                    </a>
                  </div>
                </div>
              </div>

              <div class="row" ng-show="pageNo==2" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQYV2NkIBIwgtStWrXqf1hYGJiNC+CVRNY0qhBv0AMAsKgECyGgekgAAAAASUVORK5CYII=');padding:10px 0 10px 0;">
                <div class="col-xs-12 sectionRow" id="sectionRowNo_{{$index}}" style="padding: 10px;" ng-repeat="row in sectionRows" dnd-list="row.columns"
                  dnd-horizontal-list="true" dnd-dragover="dragoverCallback(index, external, type, $index, row)">
                  <div class="" ng-if="row.columns.length == 0" style="{{row.columns.length == 0 ? 'min-height:150px;background-color:pink;opacity:0.6;': ''}}">
                    <div class="text-center" style="padding: 20px;">
                      <div>
                        <a style="margin-left:5px;" ng-click="sectionRows.splice($index,1)" class="pull-right btn btn-xs btn-danger">
                          <i class="fa fa-trash"></i>
                        </a>
                      </div>
                      <span>Empty Row</span>
                    </div>
                  </div>
                  <div class="col-xs-{{getColWidth(row)}} sectionColumn" ng-repeat="column in row.columns" dnd-draggable="column" dnd-moved="row.columns.splice($index, 1)"
                    dnd-effect-allowed="['move']" dnd-dragstart="onDragStart(column)" dnd-dragend="onDragStop(column,row)">
                    <div class="cardshadow" style="background-color:#fcfcfc;padding:5px;margin-bottom:0px;">
                      <div>
                        
                        <a style="margin-left:5px;" ng-click="removeSectionColumn(row.columns,$index)" class="pull-right btn btn-xs btn-danger">
                          <i class="fa fa-trash"></i>
                        </a>
                        <a ng-if="!column.edit" ng-click="column.edit = true;" class="pull-right btn btn-xs btn-warning">
                          <i class="fa fa-edit"></i>
                        </a>
                        <a ng-if="column.edit" ng-click="column.edit = false;" class="pull-right btn btn-xs btn-success">
                          <i class="fa fa-check"></i>
                        </a>
                      </div>
                      <div class="row" style="margin-top:28px;">
                        <div class="col-md-12" ng-if="column.edit">
                          <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                            <input type="text" ng-model="column.name" ng-disabled="{{mode}}" class="form-control" placeholder="Name" required disable-validation-message="">
                            <br>
                          </span>
                          <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                            <select class="form-control" select2 ng-disabled="{{mode}}" data-ng-model="column.vizpod" ng-change="onChangeVizpod(column.vizpod,column.rowNo-1,column.colNo-1)"
                              ng-options="r as r.name for r in allVizpodByDependsOn | orderBy:'name' track by r.uuid " required
                              disable-validation-message="">
                              <option value="">--Select Vizpod--</option>
                            </select>
                          </span>
                        </div>
                        <div class="col-md-12 text-center" ng-if="!column.edit" style="height:100%">
                          <div class="">
                            <img ng-src="assets/layouts/layout/img/{{icons[column.vizpod.uuid] || 'area-chart'}}.svg" alt="" style="width: 100%;height: 100%;max-width: 75px;max-height: 75px;">
                          </div>
                          <div class="">
                            <label>{{column.name}}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a ng-if="row.columns.length < 4" ng-click="addSectionColumn(row)" class="pull-right addSectionColumn">
                    <i class="fa fa-plus-circle"></i>
                  </a>
                  <div class="col-md-12 addSectionRow" style="left: calc(50% - 20px);">
                    <a ng-click="addSectionRow($index)" style="color:gray;">
                      <i class="fa fa-plus-circle"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <hr>
                <div class="row" ng-if="pageNo==2">
                  <label class="control-label col-xs-3"></label>
                  <div class="col-xs-4">
                    <a href="javascript:;" class="btn default button-previous" ng-click="prevPage()" ng-disabled="pageNo < 2">
                      <i class="fa fa-angle-left"></i> Back
                    </a>
                    <input type="submit" class="btn btn-success" value="Submit" name="submit">
                    <span ng-show="pageNo==2" class="spinner" style="padding-left:15px;font-size:23px;vertical-align:middle;" ng-if="dataLoading">
                      <div class="bounce1"></div>
                      <div class="bounce2"></div>
                      <div class="bounce3"></div>
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>