<style type="text/css">
  .centercontent {
    min-height: 200px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .customPadding {
    padding: 5px;
  }

  div.ui-grid-cell input {
    padding: 9px;
  }
</style>
<script src="assets/jquery-filestyle/js/jquery-filestyle.js"></script>
<div data-ng-controller="MetadataDatapodController">
  <!-- BEGIN PAGE HEADER-->
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <a ui-sref="home">Home</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <a ui-sref="metadata({type:'datapod'})">{{$state.current.data.pageTitle}}</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <a ui-sref="metadata({type:'datapod'})">Datapod</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <span>{{datapoddata.name }}</span>
      </li>
      <!-- | strReplace:'_':' '|capitalize -->
    </ul>
    <div class="page-toolbar">
      <div class="col-md-12">
        <div id="dashboard-report-range" class="tooltips btn btn-sm col-md-10" style="width:89%;" data-container="body"
          data-placement="bottom" data-original-title="Change dashboard date range">
          <i class="icon-calendar"></i>&nbsp;
          <span class="thin uppercase hidden-xs">{{time +' '+tzName}}</span>&nbsp;
        </div>
      </div>
    </div>
  </div>
  <!-- END PAGE HEADER-->
  <br>

  <div notifybar style="position:fixed;top:40px;right:0;z-index:1000"></div>
  <!-- BEGIN MAIN CONTENT -->

  <div options="dirOptions" type="'datapod'" on-close="onPanelClose" mode="mode" current-user="userDetail" comment-data="datapoddata"
    comment-panel-directive></div>
  <div class="row">
    <div class="col-md-12">
      <div class="portlet box green">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-gift"></i>{{isShowDatastore == true ?'Data Store':isShowCompareMetaData ==true?'Compare
            Metadata':datapoddata.name}}
          </div>
          <div class="tools">
            <a href="javascript:;" title="Main" data-toggle="tooltip" data-placement="top" tooltip ng-hide="isAdd"
              ng-class="(showFrom==true ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
              style="height:16px;font-size:16px;" data-ng-click="showHome(datapoddata.uuid,datapoddata.version,mode)">
              <i class="fa fa-home" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
            </a>
            <a title="Edit" ng-class="(isEdit==true || isPrivlage || datapoddata.locked == 'Y' ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
              data-toggle="tooltip" data-placement="top" tooltip ng-click="enableEdit(datapoddata.uuid,datapoddata.version)"
              ng-hide="isAdd" style="height:16px;">
              <i class="fa fa-edit" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
            </a>
            <a title="Meta Compare" data-toggle="tooltip" data-placement="top" tooltip ng-class="(isShowCompareMetaData==true ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
              ng-hide="isAdd" data-ng-click="showCompareMetaData(datapoddata)" style="height:16px;">
              <i class="fa fa-clone" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
            </a>
            <a title="Sample Records" data-toggle="tooltip" data-placement="top" tooltip ng-class="(isShowSimpleData==true ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
              ng-hide="isAdd" data-ng-click="isShowSimpleData ==false?showSampleTable(datapoddata):''" style="height:16px;">
              <i class="fa fa-table" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
            </a>
            <a title="Data Store" data-toggle="tooltip" data-placement="top" tooltip ng-class="(isShowDatastore==true||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
              ng-hide="isAdd" data-ng-click="showDatastrores(datapoddata)" style="height:16px;">
              <i class="fa fa-database" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
            </a>
            <a ng-click="downloadFile(datapoddata)" tooltip-placement="top" uib-tooltip="Download" ng-hide="isAdd"
              ng-class="(isDownloadDatapod==true ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
              ng-disabled="isDownloadDatapod">
              <i class="fa fa-download" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
            </a>
            <a ng-click="getDetailForUpload(datapoddata)" tooltip-placement="top" uib-tooltip="Upload" ng-hide="isAdd"
              ng-class="(showFrom==false || isUploadingDatapod==true ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
              ng-disabled="isUploadingDatapod">
              <i class=" fa fa-upload" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
            </a>



            <a title="Knowledge Graph" data-toggle="tooltip" data-placement="top" tooltip ng-show="isDependencyShow"
              ng-class="(showGraphDiv ||isEditInprogess ==true || isEditVeiwError ==true) ? 'currentpage':'notcurrentpage'"
              data-ng-click="showGraph(datapoddata.uuid,datapoddata.version)" style="height:14px;">
              <i class="fa fa-sitemap" style="display: block;margin:0px 2px 0px 0px;color:white;"></i>
            </a>
            <a title="Refresh" ng-class="(showFrom==true && isShowSimpleData==false || (isDataInpogress ==true))? 'currentpage':'notcurrentpage'"
              ng-click="isShowSimpleData ? showSampleTable(datapoddata) :isShowCompareMetaData ? showCompareMetaData(datapoddata):isShowDatastore ==true ? showDatastrores(datapoddata):broadcastRefreshData()"
              data-toggle="tooltip" data-placement="top" tooltip>
              <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
            </a>
            <a title="Close" data-toggle="tooltip" data-placement="top" tooltip ng-click="genericClose($event,'datapod')"
              style="height:14px;">
              <i class="fa fa-times" aria-hidden="true" style="display: block;margin: 2px auto;color:white;transform:scale(1,1.2)"></i>
            </a>
          </div>
        </div>
        <div class="portlet-body">
          <div class=" {{gridOptionsCompareMetaData.tableclass}}" ng-if="isShowCompareMetaData && isResizeCompareMetadata">
            <div class="spinner" ng-show="gridOptionsCompareMetaData.isDataInpogress">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div ng-if="gridOptionsCompareMetaData.isDataError">
              <h3 style="font-size:14px;color:red">Some Error Occurred</h3>
            </div>
            <div ng-if="!gridOptionsCompareMetaData.isDataInpogress && !gridOptionsCompareMetaData.isDataError">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6">
                  <div id="" class="dataTables_filter pull-right">
                    <label>Search:</label>
                    <input type="search" class="form-control input-sm input-small   input-inline" ng-change="refreshCompareMetaData($parent.searchtextCompareMetadata)"
                      ng-model="$parent.searchtextCompareMetadata" aria-controls="datastoredatatable">
                    <a class="btn btn-primary fa fa-random " tooltip-placement="left" uib-tooltip="Meta Sync"
                      ng-disabled="isMetaSysn" ng-class="isMetaSysn || selectSourceType =='file' ? 'currentpage':'notcurrentpage'"
                      ng-click="synchronousMetadata(datapoddata)" style="line-height:1;padding: 6px 5px;border: none;"></a>
                  </div>
                </div>
              </div>
              <div ui-grid="gridOptionsCompareMetaData" class="grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-exporter ng-style="getGridStyleCompareMetaData()">
                <div class="nodatawatermark" ng-show="!gridOptionsCompareMetaData.data.length">No data available</div>
              </div>
            </div>
          </div>

          <div ng-if="isShowDatastore">
            <div class="row">
              <div class="col-md-6 col-sm-6">

              </div>
              <div class="col-md-6 col-sm-6">
                <div id="datastoredatatable_filter" class="dataTables_filter" style="float:right;">
                  <label>Search:</label>
                  <input type="search" class="form-control input-sm input-small   input-inline" ng-change="refreshDataDatastore()"
                    ng-model="$parent.searchtextDatastore" aria-controls="datastoredatatable">
                </div>
              </div>
            </div>
            <div ui-grid="gridOptionsDataStrore" class="grid" ui-grid-resize-columns ui-grid-auto-resize
              ui-grid-exporter ng-style="getGridStyleDatastore()">
              <div class="nodatawatermark" ng-show="!gridOptionsDataStrore.data.length">No data available</div>
            </div>
          </div>

          <div class="form-body {{tableclass}}" ng-show="isShowSimpleData">
            <div class="spinner" ng-show="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div ng-if="isDataError">
              <h3 style="font-size:14px;color:red">{{datamessage}}</h3>
            </div>

            <div ng-show="!isDataInpogress ">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="dataTables_length" id="sample_1_length">
                    <label>Show
                      <select name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-xsmall input-inline"
                        ng-model="pagination.pageSize" ng-options="r for r in pagination.paginationPageSizes" ng-change="onPerPageChange()">
                      </select>
                    </label>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div id="datastoredatatable_filter" class="dataTables_filter" style="float:right;">
                    <label>Search:</label>
                    <input type="search" class="form-control input-sm input-small   input-inline" ng-change="refreshData()"
                      ng-model="searchtext" aria-controls="datastoredatatable">
                  </div>
                </div>
              </div>
              <div ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-exporter
                ng-style="getGridStyle()">
                <div class="nodatawatermark_results" ng-show="!gridOptions.data.length">No data available</div>
              </div>

              <div class="row">
                <div class="col-md-6" style="margin-top:17px">
                  Showing {{pagination.to}} to {{pagination.from}} of {{pagination.totalItems}} records
                </div>

                <div class="col-md-6">
                  <ul uib-pagination items-per-page="pagination.pageSize" total-items="pagination.totalItems" ng-model="pagination.currentPage"
                    ng-change="pageChanged()" style="float:right;overflow:hidden;z-index:1;" max-size="pagination.maxSize"
                    class="pagination-md" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;"
                    first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <div class="grey" style="float:right;font-style: italic;">Note : Showing max {{sample.rows}} rows</div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-body graph-body" ng-if="showGraphDiv">
            <div class="form-body text-center" id="errorMsg" style="color:blue;"></div>
            <div class="spinner" id="graphloader">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div class="form-body show-graph-body" id="graphWrapper" tree-graph-directive uuid="datapoddata.uuid"
              version="datapod.defaultVersion.version">
            </div>
          </div>
          <!-- prevent-enter-submit -->
          <div class="form-body" data-ng-show="showFrom" style="padding-top:50px;">
            <div class="centercontent" style="min-height:500px;" ng-if="isEditVeiwError">
              <h3 style="font-size:14px;color:red;">Some Error Occur</h3>
            </div>
            <div class="centercontent" style="min-height:500px;" ng-if="isEditInprogess">
              <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </div>
            <div ng-show="!isEditInprogess && !isEditVeiwError">
              <form class="form-horizontal" name="myform" novalidate="novalidate" ng-submit="submitDatapod()"
                form-on-change="datapodFormChange()" prevent-enter-submit>

                <div class="form-group" ng-show="datapoddata.uuid">
                  <label class="col-md-3 control-label">UUID</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" data-ng-disabled="true" ng-model="datapoddata.uuid"
                      placeholder="">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Name
                    <span class="required" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" ng-disabled="{{mode}}" ng-Change="onChangeName(datapoddata.name)"
                      ng-model="datapoddata.name" placeholder="" required="">
                  </div>
                </div>

                <div class="form-group" ng-show="datapoddata.uuid">
                  <label class="col-md-3 control-label">Version </label>
                  <div class="col-md-6">
                    <select class="form-control" select2 name="version" ng-disabled="{{isversionEnable}}" ng-change="selectVersion()"
                      data-ng-model="datapod.defaultVersion.version" ng-options="c.version as c.version for c in datapod.versions">
                      <option>-select-</option>
                    </select>
                  </div>
                </div>

                <div class="form-group" ng-show="datapoddata.uuid">
                  <label class="col-md-3 control-label">CreatedBy</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" ng-disabled="true" ng-model="datapoddata.createdBy.ref.name">
                  </div>
                </div>

                <div class="form-group" ng-show="algorithmdata.uuid">
                  <label class="col-md-3 control-label">CreatedOn</label>
                  <div class="col-md-6">
                    <input type="text" ng-model="datapoddata.createdOn" ng-disabled="true" class="form-control">
                  </div>
                </div>

                <div class="form-group taginput">
                  <label for="middle-name" class="control-label col-md-3">Tags</label>
                  <div class="col-md-6 ">
                    <tags-input ng-model="tags" ng-disabled="{{mode}}" min-length="0" add-from-autocomplete-only="false"
                      add-on-enter="true" add-on-space="true">
                      <auto-complete source="loadTag($query)" min-length="0" debounce-delay="0" highlight-matched-text="true"
                        max-results-to-show="10">
                      </auto-complete>
                    </tags-input>
                  </div>
                </div>

                <div class="form-group">
                  <label for="middle-name" class="control-label col-md-3">Desc</label>
                  <div class="col-md-6">
                    <textarea class="form-control noresize" ng-disabled="{{mode}}" ng-model="datapoddata.desc" rows="2"
                      style="resize:none;"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 form-group">
                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Data Source
                      <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" ng-disabled="{{mode}}" data-ng-model="selectSourceType" ng-options="r for r in SourceTypes"
                        ng-change="selectType()" required>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-6 form-group">
                    <!-- style="float:left;margin-left: -3%;padding-right: 0px;" -->
                    <label class="control-label col-md-2 col-sm-6 col-xs-12" style="padding-right: 0px;width:60px;padding-left:0px;">Name
                      <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" ng-disabled="{{mode}}" ng-change="selectOption()" data-ng-model="selectDataSource"
                        ng-options="r as r.name for r in alldatasource  track by r.uuid " required>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group" ng-init="datapoddata.active='Y'">
                      <label class="btn btn-default" ng-model="datapoddata.active" uib-btn-radio="'Y'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                        uncheckable>Yes</label>
                      <label class="btn btn-default" ng-model="datapoddata.active" uib-btn-radio="'N'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                        uncheckable>No</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Locked</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group">
                      <label class="btn btn-default" ng-model="datapoddata.locked" uib-btn-radio="'Y'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                        uncheckable>Yes</label>
                      <label class="btn btn-default" ng-model="datapoddata.locked" uib-btn-radio="'N'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                        uncheckable>No</label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group" ng-init="datapoddata.published='N'">
                      <label class="btn btn-default" ng-model="datapoddata.published" uib-btn-radio="'Y'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                        uncheckable>Yes</label>
                      <label class="btn btn-default" ng-model="datapoddata.published" uib-btn-radio="'N'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                        uncheckable>No</label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Cache</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group" ng-init="datapoddata.cache='Y'">
                      <label class="btn btn-default" ng-model="datapoddata.cache" uib-btn-radio="'Y'" ng-disabled="{{mode}}"
                        uncheckable>Yes</label>
                      <label class="btn btn-default" ng-model="datapoddata.cache" uib-btn-radio="'N'" ng-disabled="{{mode}}"
                        uncheckable>No</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Public</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group" ng-init="datapoddata.publicFlag='N'">
                      <label class="btn btn-default" ng-model="datapoddata.publicFlag" uib-btn-radio="'Y'" ng-disabled="{{mode}}"
                        uncheckable>Yes</label>
                      <label class="btn btn-default" ng-model="datapoddata.publicFlag" uib-btn-radio="'N'" ng-disabled="{{mode}}"
                        uncheckable>No</label>
                    </div>
                  </div>
                </div>
                <div class="form-group" style="padding-top: 10px;">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <a ui-sref="metadata({type:'datapod'})" class="btn btn-primary">Cancel</a>
                    <input type="submit" class="btn btn-success" value="Submit" name="submit" ng-disabled="(!iSSubmitEnable == false|| mode == false || myform.$dirty == true)?false:true">
                    <span class="spinner" style="padding-left:15px;font-size:23px;vertical-align:middle;" ng-if="dataLoading">
                      <div class="bounce1"></div>
                      <div class="bounce2"></div>
                      <div class="bounce3"></div>
                    </span>
                  </div>
                </div>
                <div class="x_title">
                  <button type="Button" class=" btn btn-danger fa fa-minus pull-right" ng-disabled="{{mode}}" ng-click="removeRow()"></button>
                  <button type="button" class=" btn btn-success fa fa-plus pull-right" ng-disabled="{{mode}}" ng-click="addRow()"></button>
                  <div class="actions pull-right" style="position:relative;">
                    <a class="btn green-haze btn-outline btn-circle auto-map btn-sm" ng-disabled="attrTableSelectedItem.length ==1 && attributetable.length >1 ?false:true"
                      href="javascript:;" data-toggle="dropdown" tooltip-placement="left" uib-tooltip="Move" data-hover="dropdown"
                      data-close-others="true" aria-expanded="false">
                      <span class="fa fa-arrows" aria-hidden="true"></span>
                      <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right" style="z-index:10000;top:28px;right:45px;position:absolute">
                      <li ng-click="autoMove(0)">
                        <a href="javascript:;" ng-disabled="attrTableSelectedItem[0]==0?true:false">Top</a>
                      </li>
                      <li class="divider" style="margin: 0px;"> </li>
                      <li ng-click="autoMove(attributetable.length-1)">
                        <a href="javascript:;" ng-disabled="attrTableSelectedItem[0]==attributetable.length-1 ? true:false">Bottom</a>
                      </li>
                      <li class="divider" style="margin: 0px;"> </li>
                      <li>
                        <div class="form-group" style="margin: 1%;">
                          <input type="number" class="form-control" ng-if="attrTableSelectedItem.length == 1" ng-model="moveTo"
                            min="0" max="{{attributetable.length}}" name="moveto" style="border:0" placeholder="Move To"
                            ng-model-options="{debounce:3000}" ng-change="autoMoveTo(moveTo)" focus-me="true" required />
                        </div>
                      </li>
                    </ul>
                  </div>
                  <h4>
                    <strong>Attribute Details</strong>
                  </h4>
                  <hr>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-12">
                    <div id="hideshow" class="alert alert-danger pull-left" ng-if="isDuplication" style="margin:-30px 0px 10px;width:22%;">
                      <button class="close" data-close="alert"></button>
                      <div>Duplicate not allowed. </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div style="overflow-y: auto;overflow-x:auto;max-height:400px;">
                      <table class=" row-border hover table table-striped table-bordered" style="width:1400px;">
                        <thead>
                          <tr>
                            <th style="text-align: center; Vertical-align: middle;width:5%;">
                              <input style="width: 16px;height:16px;" type="checkbox" ng-disabled="{{mode}}" ng-model="selectallattribute"
                                ng-change="selectAllRow()" />
                            </th>
                            <th style="width:7%;text-align:center">ID</th>
                            <th style="width:5%;" class="text-center">Key</th>
                            <th style="width:6%;" class="text-center">Partition</th>
                            <th style="width:5%;" class="text-center">Active</th>
                            <th class="text-center">Display Name</th>
                            <th class="text-center">Name</th>
                            <th class="text-center" style="width:11%;">Type</th>
                            <th class="text-center" style="width: 7%;">Length</th>
                            <th class="text-center" style="width:12%;">Unit Type</th>
                            <th class="text-center">Desc</th>
                            <th class="text-center" style="width:5%;">PLL</th>
                            <th class="text-center" style="width:5%;">CDE</th>
                            <th class="text-center" style="width:10%;">Domain</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr ng-repeat="tabledata in attributetable" drag-drop draggable="{{isDragable}}" after-drop="ondrop">
                            <td style="text-align: center; Vertical-align: middle;width:5%;">
                              <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                <input style="width: 16px;height:16px;" type="checkbox" ng-model="tabledata.selected"
                                  ng-disabled="{{mode}}" ng-change="onChangeAttrRow($index,tabledata.selected)" />
                              </span>
                            </td>
                            <td>
                              <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                <input type="text" ng-value="$index+1" ng-disabled="true" class="form-control">
                              </span>
                            </td>
                            <td style="text-align: center; Vertical-align: middle;">
                              <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                <input type="checkbox" style="width:16px;height:16px;" ng-model="tabledata.key"
                                  ng-disabled="{{mode}}" ng-true-value="'Y'" ng-false-value="'N'">
                              </span>
                            </td>
                            <td style="text-align:center;Vertical-align:middle;">
                              <span class="form-group" style="margin-left:0px;margin-right:0px;">
                                <input type="checkbox" style="width:16px;height:16px;" ng-model="tabledata.partition"
                                  ng-disabled="{{mode}}" ng-true-value="'Y'" ng-false-value="'N'">
                              </span>
                            </td>
                            <td style="text-align: center; Vertical-align: middle;">
                              <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                <input type="checkbox" style="width: 16px;height:16px;" ng-model="tabledata.active"
                                  ng-disabled="{{mode}}" ng-true-value="'Y'" ng-false-value="'N'">
                              </span>
                            </td>
                            <td>
                              <span class="form-group" style="margin-left:0px;margin-right: 0px;" ng-class="{ 'has-error' : myform['dispName'+$index].$invalid}">
                                <input type="text" ng-model="tabledata.dispName" title="{{tabledata.dispName}}"
                                  ng-disabled="{{mode}}" class="form-control" ng-change="onChangeDisplayName($indez)"
                                  name="dispName{{$index}}">
                              </span>
                            </td>
                            <td>
                              <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                <input type="text" ng-model="tabledata.name" title="{{tabledata.name}}" ng-disabled="tabledata.isAttributeEnable ||{{mode}}"
                                  class="form-control">
                              </span>
                            </td>
                            <td>
                              <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                <select ng-model="tabledata.type" ng-options="x for x in type" ng-disabled="{{mode}}"
                                  class="form-control" required disable-validation-message=""></select>
                              </span>
                            </td>
                            <td>
                              <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                <input type="text" ng-model="tabledata.length" title="{{tabledata.length}}" ng-disabled="{{mode}}"
                                  class="form-control">
                              </span>
                            </td>
                            <td>
                              <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                <select ng-model="tabledata.attrUnitType" ng-options="x.text as x.caption for x in unitTypes"
                                  ng-disabled="{{mode}}" class="form-control">
                                  <option value="">-Select-</option>
                                </select>
                              </span>
                            </td>
                            <td>
                              <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                <input type="text" ng-model="tabledata.desc" title="{{tabledata.desc}}" ng-disabled="{{mode}}"
                                  class="form-control">
                              </span>
                            </td>
                            <td style="text-align: center; Vertical-align: middle;">
                              <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                <input type="checkbox" style="width: 16px;height:16px;" ng-model="tabledata.piiFlag"
                                  ng-disabled="{{mode}}" ng-true-value="'Y'" ng-false-value="'N'">
                              </span>
                            </td>
                              <td style="text-align: center; Vertical-align: middle;">
                                <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                  <input type="checkbox" style="width: 16px;height:16px;" ng-model="tabledata.cdeFlag"
                                    ng-disabled="{{mode}}" ng-true-value="'Y'" ng-false-value="'N'">
                                </span>
                              </td>
                              <td style="text-align: center; Vertical-align: middle;">
                                <select ng-model="tabledata.selectDomain" ng-options="x as x.name for x in allDomain track by x.uuid"
                                  ng-disabled="{{mode}}" class="form-control">
                                  <option value="">-Select-</option>
                                </select>
                              </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="portlet box green" ng-if="isDatastoreResult">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-gift"></i>Results
          </div>
          <div class="tools">
            <a ng-click="downloadFileByDatastore(datastoreDetail)" tooltip-placement="top" uib-tooltip="Download">
              <i class="fa fa-download" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
            </a>

            <a title="Refresh" ng-class="(showFrom==true && isShowSimpleData==false)? 'currentpage':'notcurrentpage'"
              ng-click="getResultByDatastore(datastoreDetail)" data-toggle="tooltip" data-placement="top" tooltip>
              <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
            </a>
          </div>
        </div>


        <div class="portlet-body">
          <div class="form-body {{tableclass}}">
            <div class="spinner" ng-show="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div ng-if="isDataError">
              <h3 style="font-size:14px;color:red">{{datamessage}}</h3>
            </div>
            <div ng-show="!isDataInpogress">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="dataTables_length" id="sample_1_length">
                    <label>Show
                      <select name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-xsmall input-inline"
                        ng-model="pagination.pageSize" ng-options="r for r in pagination.paginationPageSizes" ng-change="onPerPageChange()">
                      </select>
                    </label>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div id="datastoredatatable_filter" class="dataTables_filter" style="float:right;">
                    <label>Search:</label>
                    <input type="search" class="form-control input-sm input-small   input-inline" ng-change="refreshData()"
                      ng-model="$parent.searchtext" aria-controls="datastoredatatable">
                  </div>
                </div>
              </div>
              <div ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-exporter
                ng-style="getGridStyle()">
                <div class="nodatawatermark_results" ng-show="!gridOptions.data.length" style="top:41%;">No data
                  available</div>
              </div>
              <div class="row">
                <div class="col-md-6" style="margin-top:17px">
                  Showing {{pagination.to}} to {{pagination.from}} of {{pagination.totalItems}} records
                </div>
                <div class="col-md-6">
                  <ul uib-pagination items-per-page="pagination.pageSize" total-items="pagination.totalItems" ng-model="pagination.currentPage"
                    ng-change="pageChanged()" style="float:right;overflow:hidden;z-index:1;" max-size="pagination.maxSize"
                    class="pagination-md" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;"
                    first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <div class="grey" style="float:right;font-style: italic;">Note : Showing max {{sample.rows}} rows</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="downloadSample" class="modal fade bs-modal-lg in" style="display: none;">
    <div class="modal-dialog" style="width:40%">
      <div class="modal-content" style="resize: both;overflow: auto;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="ClosePop()" aria-hidden="true"></button>
          <h4 class="modal-title">Download</h4>
        </div>
        <form class="form-horizontal" name="myform3" id="downloadModel" ng-submit="submitDownload()" novalidate="novalidate">
          <div class="modal-body" style="padding-top:0px">
            <div class="slimScrollDiv" style="position: relative; overflow-y: auto !important; width:auto;padding:10px;">
              <div class="scroller" style="max-height:150px;min-height:110px; overflow-y: auto !important; width: auto;margin-top:30px"
                data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="col-md-3 control-label">Rows</label>
                      <div class="col-md-8">
                        <!-- limit-to="{{download.limit_to}}" -->
                        <input type="number" min="1" class="form-control" ng-model="download.rows" max="{{download.maxrow}}"
                          required max-err-type="maxLimitDownload">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">Format</label>
                      <div class="col-md-8">
                        <select class="form-control" data-ng-model="download.selectFormate" ng-options="r for r in download.formates"
                          required>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End Model Body-->
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
            <button type="submit" class="btn green">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="SampleModel" class="modal fade bs-modal-lg in" style="display: none;">
    <div class="modal-dialog" style="width:40%">
      <div class="modal-content" style="resize: both;overflow: auto;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="ClosePop()" aria-hidden="true"></button>
          <h4 class="modal-title">Sample Param</h4>
        </div>
        <form class="form-horizontal" name="sampleModelForm" ng-submit="sample.type =='datastore'?getResultByDatastore(sample.data):submitSample()"
          novalidate="novalidate">
          <div class="modal-body" style="padding:0px">
            <div class="slimScrollDiv" style="position: relative; overflow-y: auto !important; width:auto;padding:10px;">
              <div class="scroller" style="height:80px;overflow-y: auto !important; width: auto;margin-top:30px"
                data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="col-md-3 control-label">Rows</label>
                      <div class="col-md-8">
                        <input type="number" limit-to="{{sample.limit_to}}" min="1" class="form-control" ng-model="sample.rows"
                          max="{{sample.maxrow}}" required>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End Model Body-->
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
            <button type="submit" class="btn green">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="histogamModel" class="modal fade bs-modal-lg in" style="display: none;">
    <div class="modal-dialog" style="width:52%">
      <div class="modal-content" style="resize: both;overflow: auto;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="ClosePop()" aria-hidden="true"></button>
          <h4 class="modal-title">{{histogramDetail.dname}}.{{histogramDetail.name}} </h4>
        </div>
        <form class="form-horizontal" name="sampleModelForm" ng-submit="sample.type =='datastore'?getResultByDatastore(sample.data):submitSample()"
          novalidate="novalidate">
          <div class="modal-body" style="padding:0px">
            <div class="slimScrollDiv" style="position: relative; overflow-y: auto !important; width:auto;padding:10px;">
              <div class="scroller" style="height:360px;overflow-y: auto !important; width: auto;margin-top:0px"
                data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                <div class="centercontent" ng-if="isHistogramError">
                  <h3 style="font-size:14px;color:red;">Some Error Occur</h3>
                </div>
                <div class="centercontent" ng-if="isHistogramInprogess">
                  <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                </div>
                <br>
                <div style="margin-bottom: 10px; float:right;">
                  <a class="btn btn-circle btn-icon-only btn-default" ng-if="isShowDataGrid" tooltip-placement="left"
                    uib-tooltip="Chart" ng-click="onClickChart()">
                    <i class="fa fa-line-chart" style="display:block;margin:2px 0px 0px 1px;"></i>
                  </a>
                  <a class="btn btn-circle btn-icon-only btn-default" ng-if="isShowChart" tooltip-placement="left"
                    uib-tooltip="Grid" ng-click="onClickGrid()">
                    <i class="fa fa-th" style="display:block;margin:2px 0px 0px 1px;"></i>
                  </a>

                </div>

                <div class="row" ng-if="datacol !=null && !isHistogramError && !isHistogramInprogess && isShowChart"
                  style="width:97%;margin-top:10px;">
                  <div class="col-md-12">
                    <c3chart chartGroup="chart" bindto-id="histrogramDatapod" chart-data="datacol.datapoints"
                      chart-columns="datacol.datacolumns" chart-x="datacol.datax" enable-zoom="true" callback-function="handleCallbackGroup">
                      <chart-bar ratio="0.5" />
                      <chart-axes values-x="">
                        <chart-axis>
                          <chart-axis-x axis-position="outer-center" axis-height="50px" axis-type="category" axis-label="">
                            <chart-axis-x-tick tick-rotate="25" tick-multiline="false" ng-if="datacol.datapoints.length >9"
                              tick-culling-max="5" />
                            <chart-axis-x-tick tick-rotate="25" tick-multiline="false" ng-if="datacol.datapoints.length <=10" />
                          </chart-axis-x>
                          <chart-axis-Y>
                            <chart-axis-y-tick tick-format-function="time_format" />
                          </chart-axis-Y>
                        </chart-axis>
                        <!-- <chart-events on-contex-menu="showClick({vizpod:datacol,dataobj:data})"/> -->
                    </c3chart>
                  </div>
                </div>
                <div class="row" ng-show="isShowDataGrid  && !isHistogramError && !isHistogramInprogess">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div id="datastoredatatable_filter" class="dataTables_filter" style="float:right;">
                          <label>Search:</label>
                          <input type="search" class="form-control input-sm input-small   input-inline" ng-change="refreshDataHistogram(searchTextHostogram)"
                            ng-model="searchTextHostogram" aria-controls="datastoredatatable">
                        </div>
                      </div>
                    </div>
                    <div ui-grid="gridOptionsHitogram" class="grid" ui-grid-resize-columns ui-grid-auto-resize
                      ui-grid-exporter ng-style="getGridStyleHistogram()">
                      <div class="nodatawatermark_results" ng-show="!gridOptionsHitogram.data.length" style="top:41%;">No
                        data available</div>
                    </div>
                    <!-- <div class="row">
                          <div class="col-md-6" style="margin-top:17px">
                            Showing {{pagination.to}} to {{pagination.from}} of {{pagination.totalItems}} records
                          </div>
                          <div class="col-md-6">
                            <ul uib-pagination items-per-page="pagination.pageSize" total-items="pagination.totalItems" ng-model="pagination.currentPage"
                              ng-change="pageChangedHistogram()" style="float:right;overflow:hidden;z-index:1;" max-size="pagination.maxSize"
                              class="pagination-md" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                              last-text="&raquo;"></ul>
                          </div>
                        </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End Model Body-->
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="fileupload" class="modal fade bs-modal-lg in" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:27%;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">File Upload</h4>
        </div>
        <div class="modal-body">
          <div class="slimScrollDiv" style="padding-top:10px;">
            <div class="scroller" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
              <div class="row">
                <div class="col-md-2" style="margin-top:5px;">
                  <label style="margin-left:4px;">Select</label>
                </div>
                <div class="col-md-10">
                  <input type="file" id="csv_file" class="jfilestyle" file-model-change " on-submit=" fileNameValidate
                    "  accept=" .csv " data-buttonText=" <span class='glyphicon glyphicon-folder-open' style='color:#94A0B2;'>
                  </span>" style="float:left;margin-left:4px;">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" style="margin-left:4px;font-size:12px;color: red;">
                  <div ng-show="!isFileNameValid">Special character or space not allowed in file name.</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2" style="margin-top:5px;">
                  <label style="margin-left:4px;">Desc</label>
                </div>
                <div class="col-md-10">
                  <input type="text" class="form-control" ng-model="fileUpladDesc">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
          <button type="button" class="btn green" ng-click="uploadFile()" ng-disabled="isFileSubmitDisable">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>