<div data-ng-controller="MetadataDatasourceController">
	<!-- BEGIN PAGE HEADER-->
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<a ui-sref="home">Home</a>
				<i class="fa fa-circle"></i>
			</li>
			<li>
				<a ui-sref="admin({type:'datasource'})">{{$state.current.data.pageTitle}}</a>
				<i class="fa fa-circle"></i>
			</li>
			<li>
				<a ui-sref="admin({type:'datasource'})">Datasource</a>
				<i class="fa fa-circle"></i>
			</li>
			<li>
				<span>{{datasourcedata.name}}</span>
			</li>
		</ul>
		<div class="page-toolbar">
			<div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
				<i class="icon-calendar"></i>&nbsp;
				<span class="thin uppercase hidden-xs">{{time +' '+tzName}}</span>&nbsp;
			</div>
		</div>
	</div>
	<!-- END PAGE HEADER-->
	<br>
	<div notifybar style="position:fixed;top:40px;right:0;z-index:1000"></div>
	<div options="dirOptions" type="'datasource'" on-close="onPanelClose" mode="mode" current-user="userDetail" comment-data="datasourcedata"
	 comment-panel-directive></div>

	<div class="row">
		<div class="col-md-12">
			<div class="portlet box green">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-gift"></i>{{datasourcedata.name}}
					</div>
					<div class="tools">
						<a href="javascript:;" title="Main" data-toggle="tooltip" data-placement="top" tooltip ng-hide="isAdd" ng-class="(showFrom==true ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
						 style="height:16px;font-size:16px;" data-ng-click="showHome(datasourcedata.uuid,datasourcedata.version,mode)">
							<i class="fa fa-home" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
						</a>
						<a title="Edit" ng-class="(isEdit==true || isPrivlage || datasourcedata.locked == 'Y' ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'" data-toggle="tooltip"
						 data-placement="top" tooltip ng-click="enableEdit(datasourcedata.uuid,datasourcedata.version)" ng-hide="isAdd" style="height:16px;">
							<i class="fa fa-edit" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
						</a>
					
						<a title="Knowledge Graph" data-toggle="tooltip" ng-show="isDependencyShow" data-placement="top" tooltip ng-class="(showFrom ==false ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
						 data-ng-click="showGraph(datasourcedata.uuid,datasourcedata.version)" style="height:14px;">
							<i class="fa fa-sitemap" style="display: block;margin:0px 2px 0px 0px;color:white;"></i>

						</a>
						<a title="Refresh" ng-click="broadcastRefreshData()" data-toggle="tooltip" data-placement="top" tooltip ng-class="(showFrom==true ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'">
							<i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
						</a>
						<a title="Close" data-toggle="tooltip" data-placement="top" tooltip ng-click="genericClose($event,'datasource')" ui-sref="{{state}}({{stateparme}})"
						 style="height:14px;">
							<i class="fa fa-times" aria-hidden="true" style="display: block;margin: 2px auto;color:white;transform: scale(1,1.2);"></i>
						</a>
					</div>
				</div>

				<div class="portlet-body">
					<!-- BEGIN FORM-->
					<div class="form-body graph-body" ng-if="showGraphDiv">
						<div class="form-body text-center" id="errorMsg" style="color:blue;"></div>
						<div class="spinner" id="graphloader">
							<div class="bounce1"></div>
							<div class="bounce2"></div>
							<div class="bounce3"></div>
						</div>
						<div class="form-body show-graph-body" id="graphWrapper" tree-graph-directive uuid="datasourcedata.uuid" version="datasource.defaultVersion.version">
						</div>
					</div>

					<div class="form-body" data-ng-show="showFrom" style="padding-top: 50px;">
						<div class="centercontent" style="min-height:500px;" ng-if="isEditVeiwError">
							<h3 style="font-size:14px;color:red;">Some Error Occur</h3>
						</div>
						<div class="centercontent" style="min-height:500px;" ng-if="isEditInprogess">
							<div class="spinner">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
						</div>
						<div ng-show="!isEditInprogess && !isEditVeiwError">
							<form class="form-horizontal" novalidate="novalidate" name="myform" ng-submit="submitDatasource()" form-on-change="datasourceFormChange()"
							 prevent-enter-submit>

								<div class="form-group" ng-show="datasourcedata.uuid">
									<label class="col-md-3 control-label">UUID</label>
									<div class="col-md-6">
										<input type="text" class="form-control" data-ng-disabled="true" ng-model="datasourcedata.uuid">
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">Name
										<span class="required" aria-required="true"> * </span>
									</label>
									</label>
									<div class="col-md-6">
										<input type="text" class="form-control" ng-disabled="{{mode}}" ng-model="datasourcedata.name" required=""  ng-Change="onChangeName(datasourcedata.name)">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Display Name
									  <span class="required" aria-required="true"> * </span>
									</label>
									<div class="col-md-6">
									  <input type="text" class="form-control" ng-disabled="{{mode}}"
										ng-model="datasourcedata.displayName" placeholder="" required="" >
									</div>
								</div>

								<div class="form-group" ng-show="datasourcedata.uuid">
									<label class="col-md-3 control-label">Version</label>
									<div class="col-md-6">
										<select class="form-control" select2 name="version" ng-change="selectVersion(datasource.defaultVersion.uuid,datasource.defaultVersion.version)"
										 ng-disabled="{{isversionEnable}}" data-ng-model="datasource.defaultVersion.version" ng-options="c.version as c.version for c in datasource.versions">
										</select>
									</div>
								</div>

								<div class="form-group" ng-show="datasourcedata.uuid">
									<label class="col-md-3 control-label">CreatedBy</label>
									<div class="col-md-6">
										<input type="text" class="form-control" ng-disabled="true" ng-model="datasourcedata.createdBy.ref.name">
									</div>
								</div>

								<div class="form-group" ng-show="datasourcedata.uuid">
									<label class="col-md-3 control-label">CreatedOn</label>
									<div class="col-md-6">
										<input type="text" ng-model="datasourcedata.createdOn" ng-disabled="true" class="form-control">
									</div>
								</div>
								<div class="form-group taginput">
									<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Tags</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<!-- <tags-input ng-model="tags" ng-disabled="{{mode}}" min-length="0"></tags-input> -->
										<tags-input class="tag-scroll-height" ng-model="tags" ng-disabled="{{mode}}" min-length="0" add-from-autocomplete-only="false"
										 add-on-enter="true" add-on-space="true">
											<auto-complete source="loadTag($query)" min-length="0" debounce-delay="0" highlight-matched-text="true" max-results-to-show="10">
											</auto-complete>
										</tags-input>

									</div>
								</div>

								<div class="form-group">
									<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Desc</label>
									<div class="col-md-6">

										<textarea class="form-control noresize" ng-disabled="{{mode}}" ng-model="datasourcedata.desc" rows="2" style="resize:none;"></textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="btn-group" ng-init="datasourcedata.active='Y'">
											<label class="btn btn-default" ng-model="datasourcedata.active" uib-btn-radio="'Y'" ng-disabled="mode!=' '? true:false" uncheckable>Yes</label>
											<label class="btn btn-default" ng-model="datasourcedata.active" uib-btn-radio="'N'" ng-disabled="mode!=' '? true:false" uncheckable>No</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Locked</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="btn-group">
											<label class="btn btn-default" ng-model="datasourcedata.locked" uib-btn-radio="'Y'" ng-disabled="mode!=' '? true:false" uncheckable>Yes</label>
											<label class="btn btn-default" ng-model="datasourcedata.locked" uib-btn-radio="'N'" ng-disabled="mode!=' '? true:false" uncheckable>No</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="btn-group" ng-init="datasourcedata.published='N'">
											<label class="btn btn-default" ng-model="datasourcedata.published" uib-btn-radio="'Y'" ng-disabled="mode!=' '? true:false"
											 uncheckable>Yes</label>
											<label class="btn btn-default" ng-model="datasourcedata.published" uib-btn-radio="'N'" ng-disabled="mode!=' '? true:false"
											 uncheckable>No</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Public</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <div class="btn-group" ng-init="datasourcedata.publicFlag='N'">
										<label class="btn btn-default" ng-model="datasourcedata.publicFlag" uib-btn-radio="'Y'"
										  ng-disabled="{{mode}}" uncheckable>Yes</label>
										<label class="btn btn-default" ng-model="datasourcedata.publicFlag" uib-btn-radio="'N'"
										  ng-disabled="{{mode}}" uncheckable>No</label>
									  </div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">Type
										<span class="required" aria-required="true"> * </span>
									</label>
									<div class="col-md-2 col-sm-2 col-xs-12">
										<select title="Type" class="form-control" ng-model="datasourcetype" ng-disabled="{{mode}}" ng-options="x for x in datasourceTypes"
										 ng-change="onChangeDatasoureType()" required="">
										</select>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">Access
										<!-- <span class="required" aria-required="true"> * </span> -->
									</label>
									<div class="col-md-6">
										<input type="text" ng-model="datasourcedata.access" ng-disabled="{{mode}}" class="form-control">
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">Driver
										<!-- <span class="required" aria-required="true"> * </span> -->
									</label>
									<div class="col-md-6">
										<input type="text" ng-model="datasourcedata.driver" ng-disabled="{{mode}}" class="form-control">
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">Host
										<!-- <span class="required" aria-required="true"> * </span> -->
									</label>
									<div class="col-md-6">
										<input type="text" ng-model="datasourcedata.host" ng-disabled="{{mode}}" class="form-control">
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">DB Name
										<!-- <span class="required" aria-required="true"> * </span> -->
									</label>
									<div class="col-md-6">
										<input type="text" ng-model="datasourcedata.dbname" ng-disabled="{{mode}}" class="form-control">
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">Port
										<!-- <span class="required" aria-required="true"> * </span> -->
									</label>
									<div class="col-md-6">
										<input type="text" ng-model="datasourcedata.port" ng-disabled="{{mode}}" class="form-control">
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">Username
										<!-- <span class="required" aria-required="true"> * </span> -->
									</label>
									<div class="col-md-6">
										<input type="text" ng-model="datasourcedata.username"  ng-disabled="{{mode}}" class="form-control">
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">Password
										<!-- <span class="required" aria-required="true"> * </span> -->
									</label>
									<div class="col-md-6">
										<input type="text" ng-model="datasourcedata.password" ng-disabled="{{mode}}" class="form-control">
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">Path
										<!-- <span class="required" aria-required="true"> * </span> -->
									</label>
									<div class="col-md-6">
										<input type="text" ng-model="datasourcedata.path" ng-disabled="{{mode}}" class="form-control" ng-required="datasourcetype=='FILE'?true:false">
									</div>
								</div>
								<div class="form-group">
									<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Session Parameters</label>
									<div class="col-md-6">

										<textarea class="form-control noresize" ng-disabled="{{mode}}" ng-model="datasourcedata.sessionParameters" rows="2" style="resize:none;"></textarea>
									</div>
								</div>
								<!-- <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="btn-group" ng-init="datasourcedata.active='Y'">
										<label class="btn btn-default" ng-model="datasourcedata.active"
											uib-btn-radio="'Y'" ng-disabled="{{mode}}" uncheckable>Yes
										</label>
										<label class="btn btn-default" ng-model="datasourcedata.active"
											uib-btn-radio="'N'" ng-disabled="{{mode}}" uncheckable>No
										</label>
									</div>
								</div>
							</div> -->



								<div class="form-group" style="padding-top: 10px;" data-ng-show="showFrom">
									<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
										<a ui-sref="{{state}}({{stateparme}})" class="btn btn-primary">Cancel
										</a>
										<input type="submit" class="btn btn-success" value="Submit" name="submit" ng-disabled="(!iSSubmitEnable == false|| mode == false || myform.$dirty == true)?false:true">
										<span class="spinner" style="padding-left:15px;font-size:23px;vertical-align:middle;" ng-if="dataLoading">
											<div class="bounce1"></div>
											<div class="bounce2"></div>
											<div class="bounce3"></div>
										</span>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- END MAIN CONTENT -->
</div>