<div role="columnheader" ng-class="{ 'sortable': sortable, 'ui-grid-header-cell-last-col': isLastCol }" ui-grid-one-bind-aria-labelledby-grid="col.uid + '-header-text ' + col.uid + '-sortdir-text'"
  aria-sort="{{col.sort.direction == asc ? 'ascending' : (col.sort.direction == desc ? 'descending' : (!col.sort.direction ? 'none' : 'other'))}}">

  <div role="button" tabindex="0" ng-keydown="handleKeyDown($event)" class="ui-grid-cell-contents ui-grid-header-cell-primary-focus"
    col-index="renderIndex" title="TOOLTIP" style="padding-top:14px;">
    <div style="height: 25px;display:inline-block;vertical-align: middle;" class="ui-grid-header-cell-label" ui-grid-one-bind-id-grid="col.uid + '-header-text'" ng-click="grid.appScope.text(col)">
      <i class="{{ ['string','varchar'].indexOf( col.colDef.attrType) !=-1?'fa-downcase-string':col.colDef.attrType=='date'?'fa-downcase-date':['float','decimal','double'].indexOf( col.colDef.attrType) !=-1?'fa-downcase-decimal':'fa-downcase-integer'}}"
      tooltip-placement="right" tooltip-append-to-body="true" uib-tooltip="{{col.colDef.attrType}}" style="font-size:11px;"></i></div>
    <div style ="margin-right:3px;margin-left:3px;display:inline-block;"class="ui-grid-header-cell-label" ui-grid-one-bind-id-grid="col.uid + '-header-text'" ng-click="grid.appScope.text(col)">{{ col.name CUSTOM_FILTERS }}</div>
    <div style="display:inline-block;" class="ui-grid-header-cell-label" ui-grid-one-bind-id-grid="col.uid + '-header-text'" ng-click="grid.appScope.text(col)">
       <a ng-disabled="col.colDef.attrType=='vector'?true:false"> 
      <i class="fa fa-bar-chart" style="color:#3EBBAE;font-size:15px;" ng-disabled="true" aria-hidden="true" tooltip-placement="left" tooltip-append-to-body="true"
      uib-tooltip="Histogram" ng-click="grid.appScope.calculateHistrogram(col)"></i>
      </a>
    
    </div>
   
    <span ui-grid-one-bind-id-grid="col.uid + '-sortdir-text'" ui-grid-visible="col.sort.direction" aria-label="{{getSortDirectionAriaLabel()}}">
      <i ng-class="{ 'ui-grid-icon-up-dir': col.sort.direction == asc, 'ui-grid-icon-down-dir': col.sort.direction == desc, 'ui-grid-icon-blank': !col.sort.direction }"
        title="{{isSortPriorityVisible() ? i18n.headerCell.priority + ' ' + ( col.sort.priority + 1 )  : null}}" aria-hidden="true">
      </i>
      <sub ui-grid-visible="isSortPriorityVisible()" class="ui-grid-sort-priority-number">
        {{col.sort.priority + 1}}
      </sub>
    </span>
  </div>

  <!-- <div style="left:10px;" class="ui-grid-column-menu-button">
    <i class="fa fa-bar-chart" style="color: grey;font-size:15px;" aria-hidden="true" tooltip-placement="left" tooltip-append-to-body="true"
      uib-tooltip="Histogram" ng-click="grid.appScope.calculateHistrogram(col)"></i>
  </div> -->
  
  <!-- <div style="left:30px;margin-top:-2px;" class="ui-grid-column-menu-button">
    <i class="{{ col.colDef.attrType=='string'?'fa-downcase-string':['float','decimal','double'].indexOf( col.colDef.attrType) !=-1?'fa-downcase-decimal':'fa-downcase-integer'}}"
      tooltip-placement="right" tooltip-append-to-body="true" uib-tooltip="{{col.colDef.attrType}}" style="font-size: 11px;"></i>
  </div> -->
  
  <div role="button" tabindex="0" ui-grid-one-bind-id-grid="col.uid + '-menu-button'" class="ui-grid-column-menu-button" ng-if="grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false"
    ng-click="toggleMenu($event)" ng-keydown="headerCellArrowKeyDown($event)" ui-grid-one-bind-aria-label="i18n.headerCell.aria.columnMenuButtonLabel"
    aria-haspopup="true">
    <i class="ui-grid-icon-angle-down" aria-hidden="true">
      &nbsp;
    </i>
  </div>
  
  <div ui-grid-filter></div>

</div>