<div class="row" ng-controller="DetailDataqualityGroupController">
  <div class="col-md-12">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="home">Home</a>
          <i class="fa fa-circle"></i>
        </li>
        <li>
          <a ui-sref="viewdataqualitygroup">{{$state.current.data.pageTitle}}</a>
          <i class="fa fa-circle"></i>
        </li>
        <li>
          <span>{{select }}</span>
        </li>
      </ul>
      <div class="page-toolbar">
        <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
          <i class="icon-calendar"></i>&nbsp;
          <span class="thin uppercase hidden-xs">{{time +' '+tzName}}</span>&nbsp;
        </div>
      </div>
    </div>
    <br>
    <!-- END PAGE HEADER-->
    <div notifybar style="position:fixed;top:40px;right:0;z-index:1000"></div>
    <div  options="dirOptions" type="'dqgroup'" on-close="onPanelClose" mode="mode" current-user="userDetail" comment-data="dqruleGroupDetail" comment-panel-directive></div>

    <div class="portlet light bordered" id="form_wizard_1">
      <div class="portlet-title">
        <div class="caption">
          <i class=" icon-layers "></i>
          <span class="caption-subject  bold "> DQ Rule Group

          </span>
        </div>
        <div class="actions">
          <a class="btn btn-circle btn-icon-only btn-default " href="javascript:;" title="Main" data-toggle="tooltip" data-placement="top"
            tooltip  ng-hide="isAdd"  ng-class="(showRuleGroup==true ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'" data-ng-click="showHome(dqruleGroupDetail.uuid,dqruleGroupDetail.version,mode)">
            <i class="fa fa-home icon-circle home-icon-circle"></i>
          </a>
          <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" title="Edit" data-toggle="tooltip" data-placement="top"
            tooltip ng-class="(isEdit==true || isPrivlage || dqruleGroupDetail.locked == 'Y' ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'" ng-hide="isAdd" data-ng-click="enableEdit(dqruleGroupDetail.uuid,dqruleGroupDetail.version)">
            <i class="fa fa-edit" style="display: block;margin: 2px auto;color:#a0a0a0"></i>
          </a>
          <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" ng-show="isDependencyShow" ng-class="(showRuleGroup==false ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
            title="Knowledge Graph" data-toggle="tooltip" data-placement="top" tooltip data-ng-click="showRuleGroupGraph(dqruleGroupDetail.uuid,dqruleGroupDetail.version)">
            <i class="fa fa-sitemap" style="display: block;margin:2px auto;color:#a0a0a0"></i>
          </a>
          <a href="javascript:;"  ng-class="(showgraphdiv==false ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'" class="reload btn btn-circle btn-icon-only btn-default" ng-click="broadcastRefreshData()" data-original-title=""
            title="">
            <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:#a0a0a0"></i>
          </a>
          <a class="btn btn-circle btn-icon-only btn-default" ng-click="close()" title="Close" data-toggle="tooltip" data-placement="top"
            tooltip>
            <i class="fa fa-times" style="display: block;margin: 2px auto;color:#a0a0a0"></i>
          </a>

        </div>
      </div>

      <div class="portlet-body">
        <div class="form-body graph-body" ng-if="showgraphdiv">
          <div class="form-body text-center" id="errorMsg" style="color:blue;"></div>
          <div class="spinner" id="graphloader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <div class="form-body show-graph-body tree-graph" id="graphWrapper" tree-graph-directive uuid="dqruleGroupDetail.uuid" version="dqgroup.defaultVersion.version"></div>
        </div>
        <form class="form-horizontal ng-pristine ng-valid" novalidate="novalidate" name="myform" ng-submit="sbumitRuleGroup()" ng-show="showRuleGroupForm" prevent-enter-submit>
          <div class="centercontent" style="min-height:500px;" ng-if="isEditVeiwError" >
            <h3 style="font-size:14px;color:red;">Some Error Occur</h3>
          </div>
          <div class="centercontent" style="min-height:500px;" ng-if="isEditInprogess && !isEditVeiwError">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>
          <div class="form-wizard" ng-show="!isEditInprogess && !isEditVeiwError">
            <div class="form-body">
              <div class="form-group" ng-show="dqruleGroupDetail.uuid">
                <label class="control-label col-md-3">UUID
                </label>
                <div class="col-md-6">
                  <input type="text" class="form-control" ng-model="dqruleGroupDetail.uuid" ng-disabled="true">

                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3">Name
                  <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-6">
                  <input type="text" class="form-control" ng-disabled="{{mode}}" ng-model="dqruleGroupDetail.name" required="">
                </div>
              </div>
              <div class="form-group" ng-show="dqruleGroupDetail.uuid">
                <label class="col-md-3 control-label">Version</label>
                <div class="col-md-6">
                  <select class="form-control" select2 name="version" ng-disabled="isversionEnable" ng-change="selectVersion()" data-ng-model="dqgroup.defaultVersion.version"
                    ng-options="c.version as c.version for c in dqgroup.versions">
                    <option>-select-</option>
                  </select>
                </div>
              </div>
              <div class="form-group" ng-show="dqruleGroupDetail.uuid">
                <label class="control-label col-md-3">Created By
                </label>
                <div class="col-md-6" ng-show="dqruleGroupDetail.uuid">
                  <input type="text" class="form-control" ng-model="dqruleGroupDetail.createdBy.ref.name" ng-disabled="true">

                </div>
              </div>
              <div class="form-group" ng-show="dqruleGroupDetail.uuid">
                <label class="control-label col-md-3">Created On
                </label>
                <div class="col-md-6">
                  <input type="text" class="form-control" ng-model="dqruleGroupDetail.createdOn" ng-disabled="true">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3">Tag
                </label>
                <div class="col-md-6">
                  <tags-input class="tag-scroll-height" ng-model="tags" ng-disabled="{{mode}}" min-length="0" add-from-autocomplete-only="false" add-on-enter="true" add-on-space="true">
                    <auto-complete source="loadTag($query)" min-length="0" debounce-delay="0" highlight-matched-text="true" 
                        max-results-to-show="10">
                    </auto-complete>
                </tags-input>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3">Desc
                </label>
                <div class="col-md-6">
                  <textarea class="form-control" ng-disabled="{{mode}}" ng-model="dqruleGroupDetail.desc" rows="2" style="resize:none;"></textarea>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                <div class="col-md-6">
                  <div class="btn-group" ng-init="dqruleGroupDetail.active='Y'">
                    <label class="btn btn-default" ng-model="dqruleGroupDetail.active" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                      uib-btn-radio="'Y'">Yes</label>
                    <label class="btn btn-default" ng-model="dqruleGroupDetail.active" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                      uib-btn-radio="'N'" uncheckable>No</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Locked</label>
                <div class="col-md-6">
                  <div class="btn-group">
                    <label class="btn btn-default" ng-model="dqruleGroupDetail.locked" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                      uib-btn-radio="'Y'">Yes</label>
                    <label class="btn btn-default" ng-model="dqruleGroupDetail.locked" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                      uib-btn-radio="'N'" uncheckable>No</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="btn-group" ng-init="dqruleGroupDetail.published='N'">
                    <label class="btn btn-default" ng-model="dqruleGroupDetail.published" uib-btn-radio="'Y'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                      uncheckable>Yes</label>
                    <label class="btn btn-default" ng-model="dqruleGroupDetail.published" uib-btn-radio="'N'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                      uncheckable>No</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Public</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="btn-group" ng-init="dqruleGroupDetail.publicFlag='N'">
                    <label class="btn btn-default" ng-model="dqruleGroupDetail.publicFlag" uib-btn-radio="'Y'"
                      ng-disabled="{{mode}}" uncheckable>Yes</label>
                    <label class="btn btn-default" ng-model="dqruleGroupDetail.publicFlag" uib-btn-radio="'N'"
                      ng-disabled="{{mode}}" uncheckable>No</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Run In Parallel ?</label>
                <div class="col-md-6">
                  <div class="mt-checkbox-inline" style="margin-top:-17px;padding-top:4px;">
                    <label class="mt-checkbox " style="margin-bottom:-1px;">
                      <input type="checkbox" ng-model="checkboxModelparallel" ng-disabled="{{mode}}" ng-true-value="'true'" ng-false-value="'false'"
                        ng-change="changeCheckboxExecution()">
                      <span style="border: 1px solid rgba(128, 128, 128, 0.38);background-color:white;" ng-disabled="{{mode}}"></span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">DQ Rule
                  <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-6">
                  <tags-input class="tag-scroll" ng-model="ruleTags" ng-disabled="{{mode}}" display-property="name" key-property="id" add-from-autocomplete-only="true"
                    ng-focus="onTagFocuse()" required>
                    <auto-complete source="loadRules($query)" min-length="1" debounce-delay="0" highlight-matched-text="true" load-on-focus="true"
                      load-on-empty="true" required>
                    </auto-complete>
                  </tags-input>
                </div>
                <!-- <div class="col-md-1">
                  <span ng-hide="{{mode}}" class="glyphicon glyphicon-erase" title="Clear All" data-toggle="tooltip" data-placement="top" tooltip
                    aria-hidden="true" ng-click=" clear()" style="top:3px;left:-24px;cursor: pointer;"></span>
                </div> -->
                <div class="col-md-1" style="left:-19px">
                  <span ng-hide="{{mode}}" class="fa fa-list-alt" title="Select All" data-toggle="tooltip" data-placement="top" tooltip aria-hidden="true"
                    ng-click="addAll()" style="top:6px;left:-24px;cursor: pointer;display: block;margin-bottom: 1px;margin-top: 10px;"></span>
                  <span ng-hide="{{mode}}" class="glyphicon glyphicon-erase" title="Clear All" data-toggle="tooltip" data-placement="top" tooltip
                    aria-hidden="true" ng-click=" clear()" style="top:3px;left:-1px;cursor: pointer;"></span>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label">Run Immediately ?</label>
                <div class="col-md-9">
                  <div class="mt-checkbox-list" style="margin-top:-7px">
                    <label class="mt-checkbox mt-checkbox-outline">
                      <input ng-disabled="{{mode}}" type="checkbox" ng-model="checkboxModelexecution" ng-true-value="'YES'" ng-false-value="'NO'"
                        ng-change="changeCheckboxExecution()">
                      <span ng-disabled="{{mode}}"></span>
                    </label>

                  </div>
                </div>
              </div>
            </div>
            <!--End form-body-->

            <div class="form-actions">
              <div class="row">
                <label class="control-label col-md-3"></label>
                <div class="col-md-4">
                  <a ui-sref="viewdataqualitygroup" class="btn btn-primary">Cancel</a>
                  <button type="submit" class="btn green" ng-disabled="(mode == false || myform.$dirty == true)?false:true">Submit</button>
                  <span class="spinner" style="padding-left:15px;font-size:23px;vertical-align:middle;" ng-if="dataLoading">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </span>
                </div>
              </div>
            </div>
          </div><!--End form-wizard-->
        </form>
      </div>
    </div>
  </div>
</div>