<div data-ng-controller="DetailDataPipelineExecController">
  <!-- BEGIN PAGE HEADER-->
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <a ui-sref="home">Home</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <a ui-sref="jobexecutor">{{$state.current.data.pageTitle}}</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <a ui-sref="{{state}}">{{selectTitle}}</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <span>{{execData.name}}</span>
      </li>
    </ul>
    <div class="page-toolbar">
      <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
        <i class="icon-calendar"></i>&nbsp;
        <span class="thin uppercase hidden-xs">{{time +' '+tzName}}</span>&nbsp;
      </div>
    </div>
  </div>
  <!-- END PAGE HEADER-->
  <br>
  <div options="dirOptions" type="'dagExec'" on-close="onPanelClose" mode="mode" current-user="userDetail" comment-data="execData"
    comment-panel-directive></div>

  <!-- BEGIN MAIN CONTENT -->
  <div class="row">
    <div class="col-md-12">
      <div class="portlet box green">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-gift"></i>{{execData.name}}
          </div>
          <div class="tools">
            <a title="Main" data-toggle="tooltip" data-placement="top" tooltip ng-class="showExec==true? 'currentpage':'notcurrentpage'"
              data-ng-click="showExecPage()" style="height:16px;font-size:16px;">
              <span class="fa fa-home" style="display: block;margin: 2px auto;color:white;"></span>
            </a>
            <a title="Knowledge Graph" data-toggle="tooltip" data-placement="top" tooltip ng-class="showExec==false? 'currentpage':'notcurrentpage'"
              data-ng-click="showGraph(execData.uuid,execData.version)" style="height:14px;">
              <i class="fa fa-sitemap" style="display: block;margin:0px 2px 0px 0px;color:white;"></i>
            </a>
            <a title="Refresh" ng-click="broadcastRefreshData()" data-toggle="tooltip" data-placement="top" tooltip>
              <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
            </a>
            <a title="Close" ng-click="close()" data-toggle="tooltip" data-placement="top" tooltip>
              <i class="fa fa-times" aria-hidden="true" style="display: block;margin: 2px auto;color:white;transform: scale(1,1.2);"></i>
            </a>
          </div>
        </div>
        <div class="portlet-body">
          <!-- BEGIN FORM-->
          <div class="form-body graph-body" ng-if="showGraphDiv">
            <div class="form-body text-center" id="errorMsg" style="color:blue;"></div>
            <div class="spinner" id="graphloader">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div class="form-body show-graph-body" id="graphWrapper" tree-graph-directive uuid="execData.uuid" version="execData.version">
            </div>
          </div>

          <div class="form-body" style="padding-top:50px;">
            <div class="centercontent" style="min-height:500px;" ng-if="isEditVeiwError">
              <h3 style="font-size:14px;color:red;">Some Error Occur</h3>
            </div>
            <div class="centercontent" style="min-height:500px;" ng-if="isEditInprogess">
              <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </div>
            <div ng-show="!isEditInprogess && !isEditVeiwError">
              <form class="form-horizontal" ng-show="showExec" name="myform" ng-submit="submitLoad()">
                <div class="form-group">
                  <label class="col-md-3 control-label">UUID</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" data-ng-disabled="true" ng-model="execData.uuid">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">Name</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" data-ng-disabled="true" ng-model="execData.name">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Version</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" ng-disabled="true" ng-model="execData.version">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">CreatedBy</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" ng-disabled="true" ng-model="execData.createdBy.ref.name">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">CreatedOn</label>
                  <div class="col-md-6">
                    <input type="text" ng-model="execData.createdOn" ng-disabled="true" class="form-control">
                  </div>
                </div>

                <div class="form-group taginput">
                  <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Tags</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <tags-input ng-model="execData.tags" ng-disabled="{{mode}}" min-length="0"></tags-input>
                  </div>
                </div>

                <div class="form-group">
                  <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Desc
                  </label>
                  <div class="col-md-6">
                    <textarea class="form-control" ng-disabled="{{mode}}" ng-model="execData.desc" rows="2" style="resize:none;"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">Status</label>
                  <div class="col-md-6">
                    <tags-input class="cross tag-scroll" ng-model="statusList" ng-disabled="{{mode}}" min-length="0"></tags-input>
                  </div>
                </div>


                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group" ng-init="loaddata.active='Y'">
                      <label class="btn btn-default" ng-model="execData.active" uib-btn-radio="'Y'" ng-disabled="{{mode}}" uncheckable>Yes</label>
                      <label class="btn btn-default" ng-model="execData.active" uib-btn-radio="'N'" ng-disabled="{{mode}}" uncheckable>No</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group" ng-init="execData.published='N'">
                      <label class="btn btn-default" ng-model="execData.published" uib-btn-radio="'Y'" ng-disabled="{{mode}}" uncheckable>Yes</label>
                      <label class="btn btn-default" ng-model="execData.published" uib-btn-radio="'N'" ng-disabled="{{mode}}" uncheckable>No</label>
                    </div>
                  </div>
                </div>
                <!-- <div class="form-group">
                  <label class="col-md-3 control-label">Depends On</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" data-ng-disabled="true" ng-model="execData.dependsOn.name">
                  </div>
                </div> -->
                <div class="form-group">
                  <label class="col-md-3 control-label">Run Mode</label>
                  <div class="col-md-6">
                      <input type="text" ng-model="execData.runMode" ng-disabled="true" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">Depends On</label>
                  <div class="col-md-6">
                      <ul class="tagitdd disabled-ul customul" style="height:36px;opacity:1;">
                          <li class="tagit-choice-dd tagit-choice-readonly-dd customli" ng-repeat="item in dependsOnlist track by $index" model="item" style="background: linear-gradient(to bottom, #f0f9ff 0%, rgba(203, 235, 255, 0.75) 47%, rgba(161, 219, 255, 0.62) 100%);;opacity:0.65;font: 14px Helvetica Neue, Helvetica, Arial, sans-serif;border-radius:3px;    line-height: 25px;padding: 0 5px;border: 1px solid #acacac;">
                              <span class="tagit-label" style="color: #333;">{{item.name}}
                                  <span class="fa fa-eye" ng-click="onShowDetailDepOn(item)" style="cursor:pointer;" title="Show Details"></span>
                              </span>
                              <a class="tagit-close-dd">
                                  <span class="ui-icon ui-icon-close"></span>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>

                <div class="form-group" style="padding-top:10px;">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <a ui-sref="{{state}}" class="btn btn-primary">Cancel</a>
                    <input type="submit" class="btn btn-success" ng-disabled="(!iSSubmitEnable == false|| mode == false || myform.$dirty == true)?false:true"
                      value="Submit" name="submit">
                    <span class="spinner" style="padding-left:15px;font-size:23px;vertical-align:middle;" ng-if="dataLoading">
                      <div class="bounce1"></div>
                      <div class="bounce2"></div>
                      <div class="bounce3"></div>
                    </span>
                  </div>
                </div>
                <div class="x_title">
                  <h4>
                    <strong>Details</strong>
                  </h4>
                  <hr>
                </div>
                <br/>

                <div>
                  <table class=" row-border hover table  table-striped table-bordered">
                    <thead class="">
                      <tr>
                        <th style="text-align:center;width:35%;">Stage Id</th>
                        <th style="text-align:center;width:20%;">Stage Name</th>
                        <th style="text-align: center;width:35%;">Depends On</th>
                        <th style="text-align: center;width:10%;">statusList</th>
                        <th style="width:5%;">
                          <div ng-click="expandAll(allExpanded = !allExpanded)" style="display:flex;justify-content:center;margin:3px auto;">
                            <i ng-class="allExpanded ? 'fa fa-chevron-circle-up' : 'fa fa-chevron-circle-down'" style="opacity:0.7;" aria-hidden="true"></i>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat-start="data in execData.stages">
                        <td>
                          <input class="form-control" type="text" ng-model="data.stageId" ng-disabled="true" />
                        </td>
                        <td>
                          <input class="form-control" type="text" ng-model="data.name" ng-disabled="{{mode}}" />
                        </td>
                        <td>
                          <input class="form-control" type="text" ng-model="data.dependsOn" ng-disabled="{{mode}}" />
                        </td>
                        <td ng-init="getStagestatusList($index,data.statusList[data.statusList.length-1].stage)" style="text-align: center">
                          <img ng-src="{{data.imgPath}}" width="15px" />
                        </td>
                        <td>
                          <div ng-click="expanded = !expanded" expand style="display:flex;justify-content:center;margin:3px auto;">
                            <i ng-class="expanded ? 'fa fa-chevron-circle-up' : 'fa fa-chevron-circle-down'" style="opacity:0.7;"></i>
                          </div>
                        </td>
                      </tr>
                      <tr ng-repeat-end ng-show="expanded">
                        <td colspan="5" style="padding: 0px 17px;">
                          <br>
                          <br>
                          <table class=" row-border hover table  table-striped table-bordered">
                            <thead class="theadborder">
                              <tr>
                                <th style="text-align:center;width:10%">Task Id</th>
                                <th style="text-align:center;width: 15%;">Task Name</th>
                                <th style="text-align:center;width: 20%;">Depends On</th>
                                <th style="text-align:center;width: 15%;">Operator Type</th>
                                <th style="text-align:center;width: 20%;">Operator Name</th>
                                <th style="text-align:center;width: 15%;">statusList</th>
                                <th style="text-align:center;width: 5%;">Detail</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="taskdata in data.tasks">
                                <td>
                                  <input class="form-control" type="text" ng-model="$index" ng-disabled="true" />
                                </td>
                                <td>
                                  <input class="form-control" type="text" ng-model="taskdata.name" ng-disabled="{{mode}}" />
                                </td>
                                <td>
                                  <input class="form-control" type="text" ng-model="taskdata.dependsOn" ng-disabled="{{mode}}" />
                                </td>
                                <td>
                                  <input class="form-control" type="text" ng-model="taskdata.operators[0].operatorInfo[0].ref.type" ng-disabled="{{mode}}" />
                                </td>
                                <td>
                                  <input class="form-control" type="text" ng-model="taskdata.operators[0].operatorInfo[0].ref.name" ng-disabled="{{mode}}" />
                                </td>
                                <td ng-init="getTaskstatusList($parent.$index,$index,taskdata.statusList[taskdata.statusList.length-1].stage)" style="text-align: center">
                                  <img ng-src="{{taskdata.imgPathTask}}" width="15px" />
                                </td>
                                <!-- <td>
                                  <input class="form-control"type="text" ng-model="data.statusList[taskdata.statusList.length-1].stage" ng-disabled="{{mode}}"/>
                                </td> -->
                                <td style="text-align: center; Vertical-align: middle;width:5%;">
                                  <input style="width:16px;height:16px;" name="taskshow" type="radio" ng-click="onTaskShowDetail(taskdata)" />
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- END MAIN CONTENT -->
</div>