<div data-ng-controller="DetailDqExecController">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a ui-sref="home">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a ui-sref="jobexecutor">{{$state.current.data.pageTitle}}</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a ui-sref="{{state}}">{{selectTitle}}</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>{{execData.name}}</span>
            </li>
        </ul>
        <div class="page-toolbar">
            <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
                <i class="icon-calendar"></i>&nbsp;
                <span class="thin uppercase hidden-xs">{{time +' '+tzName}}</span>&nbsp;
            </div>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <br>
    <div options="dirOptions" type="'dqExec'" on-close="onPanelClose" mode="mode" current-user="userDetail" comment-data="execData"
        comment-panel-directive></div>

    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>{{execData.name}}
                    </div>

                    <div class="tools">
                        <a title="Main" data-toggle="tooltip" data-placement="top" tooltip ng-class="showExec==true? 'currentpage':'notcurrentpage'"
                            data-ng-click="showExecPage()" style="height:16px;font-size:16px;">
                            <span class="fa fa-home" style="display: block;margin: 2px auto;color:white;"></span>
                        </a>

                        <!-- <a title="Show Details" data-toggle="tooltip" data-placement="top" tooltip ng-class="showExec==true? 'currentpage':'notcurrentpage'"
                            data-ng-click="showExecPage()" style="height:16px;">
                            <span class="glyphicon glyphicon-file" style="color:white;"></span>
                        </a> -->
                        <a title="Knowledge Graph" data-toggle="tooltip" data-placement="top" tooltip ng-class="showExec==false? 'currentpage':'notcurrentpage'"
                            data-ng-click="showGraph(execData.uuid,execData.version)" style="height:14px;">
                            <i class="fa fa-sitemap" style="display: block;margin:0px 2px 0px 0px;color:white;"></i>
                        </a>
                        <a title="Refresh" ng-click="broadcastRefreshData()" data-toggle="tooltip" data-placement="top" tooltip>
                            <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
                        </a>
                        <a title="Close" ng-click="close()" data-toggle="tooltip" data-placement="top" tooltip>
                            <i class="fa fa-times" aria-hidden="true" style="display: block;margin: 2px auto;color:white;transform: scale(1,1.2);"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <div class="form-body graph-body" ng-if="showGraphDiv">
                        <div class="form-body text-center" id="errorMsg" style="color:blue;"></div>
                        <div class="spinner" id="graphloader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <div class="form-body show-graph-body" id="graphWrapper" tree-graph-directive uuid="execData.uuid" version="execData.version">
                        </div>
                    </div>

                    <div class="form-body" style="padding-top:50px;">
                        <div class="centercontent" style="min-height:500px;" ng-if="isEditVeiwError">
                            <h3 style="font-size:14px;color:red;">Some Error Occur</h3>
                        </div>
                        <div class="centercontent" style="min-height:500px;" ng-if="isEditInprogess">
                            <div class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                        <div ng-show="!isEditInprogess && !isEditVeiwError">
                            <form class="form-horizontal" ng-show="showExec" name="myform" ng-submit="submitLoad()" form-on-change="loadFormChange()">

                                <div class="form-group">
                                    <label class="col-md-3 control-label">UUID</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" data-ng-disabled="true" ng-model="execData.uuid">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Name</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" data-ng-disabled="true" ng-model="execData.name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Version</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" ng-disabled="true" ng-model="execData.version">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">CreatedBy</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" ng-disabled="true" ng-model="execData.createdBy.ref.name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">CreatedOn</label>
                                    <div class="col-md-6">
                                        <input type="text" ng-model="execData.createdOn" ng-disabled="true" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group taginput">
                                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Tags</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <tags-input ng-model="execData.tags" ng-disabled="{{mode}}" min-length="0"></tags-input>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Desc
                                    </label>
                                    <div class="col-md-6">
                                        <textarea class="form-control" ng-disabled="{{mode}}" ng-model="execData.desc" rows="2" style="resize:none;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="btn-group">
                                            <label class="btn btn-default" ng-model="execData.active" uib-btn-radio="'Y'" ng-disabled="{{mode}}" uncheckable>Yes</label>
                                            <label class="btn btn-default" ng-model="execData.active" uib-btn-radio="'N'" ng-disabled="{{mode}}" uncheckable>No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="btn-group" ng-init="execData.published='N'">
                                            <label class="btn btn-default" ng-model="execData.published" uib-btn-radio="'Y'" ng-disabled="{{mode}}" uncheckable>Yes</label>
                                            <label class="btn btn-default" ng-model="execData.published" uib-btn-radio="'N'" ng-disabled="{{mode}}" uncheckable>No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Status</label>
                                    <div class="col-md-6">
                                        <tags-input class="cross tag-scroll" ng-model="statusList" ng-disabled="{{mode}}" min-length="0"></tags-input>

                                    </div>
                                </div>

                                <!-- <div class="form-group">
                                    <label class="col-md-3 control-label">Depends On</label>
                                    <div class="col-md-6">
                                        <input type="text" ng-model="execData.dependsOn.ref.name" ng-disabled="true" class="form-control">
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Run Mode</label>
                                    <div class="col-md-6">
                                        <input type="text" ng-model="execData.runMode" ng-disabled="true" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Depends On</label>
                                    <div class="col-md-6">
                                        <ul class="tagitdd disabled-ul customul" style="height:36px;opacity:1;">
                                            <li class="tagit-choice-dd tagit-choice-readonly-dd customli" ng-repeat="item in dependsOnlist track by $index" model="item" style="background: linear-gradient(to bottom, #f0f9ff 0%, rgba(203, 235, 255, 0.75) 47%, rgba(161, 219, 255, 0.62) 100%);;opacity:0.65;font: 14px Helvetica Neue, Helvetica, Arial, sans-serif;border-radius:3px;    line-height: 25px;padding: 0 5px;border: 1px solid #acacac;">
                                                <span class="tagit-label" style="color: #333;">{{item.name}}
                                                    <span class="fa fa-eye" ng-click="onShowDetailDepOn(item)" style="cursor:pointer;" title="Show Details"></span>
                                                </span>
                                                <a class="tagit-close-dd">
                                                    <span class="ui-icon ui-icon-close"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- <div class="form-group">
                                    <label class="col-md-3 control-label">Ref Key List</label>
                                    <div class="col-md-6">
                                        <tags-input class="cross tag-scroll" ng-model="refkeylist" ng-disabled="{{mode}}" min-length="0"></tags-input>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Ref Key List</label>
                                    <div class="col-md-6">
                                        <ul class="tagitdd disabled-ul customul" style="height:100px;opacity:1;">
                                            <li class="tagit-choice-dd tagit-choice-readonly-dd customli" ng-repeat="item in refkeylist track by $index" model="item" style="background: linear-gradient(to bottom, #f0f9ff 0%, rgba(203, 235, 255, 0.75) 47%, rgba(161, 219, 255, 0.62) 100%);;opacity:0.65;font: 14px Helvetica Neue, Helvetica, Arial, sans-serif;border-radius:3px;    line-height: 25px;padding: 0 5px;border: 1px solid #acacac;">
                                                <span class="tagit-label" style="color: #333;">{{item.name}}
                                                    <span class="fa fa-eye" ng-click="onShowDetail(item)" style="cursor:pointer;" title="Show Details"></span>
                                                </span>
                                                <a class="tagit-close-dd">
                                                    <span class="ui-icon ui-icon-close"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Exec
                                    </label>
                                    <div class="col-md-6">
                                        <textarea class="form-control" ng-disabled="{{mode}}" ng-model="execData.exec" rows="8" style="resize:none;"></textarea>
                                    </div>
                                    <div class="col-md-1" tooltip-placement="left" uib-tooltip="Show Query" style="padding:0px;" ng-click="showSqlFormater()">
                                        <i class="fa fa-external-link"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Summary Exec
                                    </label>
                                    <div class="col-md-6">
                                        <textarea class="form-control" ng-disabled="{{mode}}" ng-model="execData.summaryExec" rows="8" style="resize:none;"></textarea>
                                    </div>
                                    <div class="col-md-1" tooltip-placement="left" uib-tooltip="Show Query" style="padding:0px;" ng-click="showSqlFormaterSummary()">
                                        <i class="fa fa-external-link"></i>
                                    </div>
                                </div>

                                <div class="form-group" style="padding-top:10px;">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <a href="javascript:;" ng-click="close()" class="btn btn-primary">Cancel</a>
                                        <input type="submit" class="btn btn-success" ng-disabled="(!iSSubmitEnable == false|| mode == false || myform.$dirty == true)?false:true"
                                            value="Submit" name="submit">
                                        <span class="spinner" style="padding-left:15px;font-size:23px;vertical-align:middle;" ng-if="dataLoading">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
    <div id="sqlFormaterModel" class="modal  right fade bs-modal-lg in" style="display: none;">
        <div class="modal-dialog" style="width:70%">
            <div class="modal-content" style="resize: both;overflow: auto;max-height:600px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div style="font-family:Open Sans, sans-serif;
                    font-weight: 300; font-size:18px;">Exec</div>
                        </div>
                    </div>
                </div>
                <form class="form-horizontal" name="myform3" id="submit_formParamList" novalidate="novalidate">
                    <div class="modal-body">
                        <div class="slimScrollDiv" style="position: relative; overflow-y: auto !important; width:auto;padding:10px;">
                            <div class="scroller" style="max-height:400px;min-height:100px; overflow-y: auto !important; width: auto;" data-always-visible="1"
                                data-rail-visible1="1" data-initialized="1">

                                <textarea class="form-control" ng-disabled="false" ng-model="formateSql" rows="20" style="resize:none;" readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <!--End Model Body-->
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>