<div ng-controller="DataDiscoveryController as vm">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a ui-sref="home">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>{{$state.current.data.pageTitle}}</span>
            </li>
        </ul>
        <div class="page-toolbar">
          <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
            <i class="icon-calendar"></i>&nbsp;
            <span class="thin uppercase hidden-xs">{{time +' '+tzName}}</span>&nbsp;
          </div>
        </div>
    </div><!--END PAGE HEADER-->
    <br>
    <!--BEGIN MAIN CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered" style="padding-bottom: 20px;">
                <div class="portlet-title" style="margin-bottom: 25px;">
                    <div class="actions">
                    </div>
                    <div class="row">
                        <label class="col-md-1" style="margin-top:6px;">Search:</label>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <input type="text" class="form-control" ng-model="searchmeta">
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2"style="float:right;">
                            <select class="form-control" ng-change="selectOption()"
                            data-ng-model="optiondata" ng-options="r as r.caption for r in optionsort track by r.caption">
                            </select >
                        </div>
                        <label class="col-md-1" style="margin-top:6px;float:right">Sort By:</label>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"ng-repeat="datadiscovry in allMetaCount |filter:{name: searchmeta} | orderBy:optiondata.name">
                            <div class="cardshadow" style="height:152px;">
                                <a ng-click="onShowDetail(datadiscovry)"><!-- ui-sref="metaListdatapod({id:'{{datadiscovry.uuid}}',mode:'true'})" -->
                                <div class="dashboard-stat2" style="height:150px;">
                                    <div class="display">
                                        <div class="number"><!--text-transform: capitalize;-->
                                            <h3 style="text-align:left!important;" class="font-{{datadiscovry.class}}">
                                                <span title="{{datadiscovry.title}}" data-counter="counterup" data-value="7800" style="font-size:22px;">{{datadiscovry.name}}</span>
                                                <small class="{{datadiscovry.class}}"></small>
                                            </h3>
                                            <small style="text-transform:lowercase;">{{datadiscovry.numRows}} records</small>
                                        </div>
                                        <div class="icon">
                                            <i style="font-size:20px;" class="{{datadiscovry.icon}}"></i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 100%;" class="progress-bar progress-bar-success {{datadiscovry.class}}">
                                                <!-- <<span class="sr-only">76% progress</span> -->
                                            </span>
                                        </div>
                                         <div class="status" style="padding-top:5px;">
                                            <div class="status-title"style="text-transform:capitalize;padding-right:4px;">Data source: </div>
                                            <div title="" class="status-number"style="float:left;text-transform: lowercase;">{{datadiscovry.dataSource}}</div>
                                        </div>
                                        <div class="status" style="padding-top:15px;">
                                            <span class="status-title" style="text-transform:capitalize;padding-right: 4px;">Last Updated On:</span>
                                            <div title="Last Update On" class="status-number" style="float:left;">{{datadiscovry.lastUpdatedOn | date :'MM-dd-yyyy'}}</div>
                                        </div>

                                    </div>
                                </div>
                            </a>
                            </div>
                            </div>

                    </div>
                    <div class="row">
                                <div class="right" style="float:right;margin-right: 15px">
                                 <!-- pager -->
                                    <ul class="pagination" ng-if="vm.pager.pages.length" class="pagination">
                                            <!--li ng-class="{disabled:vm.pager.currentPage === 1}">
                                                    <a ng-click="vm.setPage(1)">First</a>
                                            </li-->
                                            <li ng-class="{disabled:vm.pager.currentPage === 1}">
                                                <a ng-click="vm.setPage(vm.pager.currentPage - 1)"><</a>
                                            </li>
                                            <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
                                                <a ng-click="vm.setPage(page)">{{page}}</a>
                                            </li>
                                            <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                                                <a ng-click="vm.setPage(vm.pager.currentPage + 1)">></a>
                                            </li>
                                            <!--li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                                                <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
                                            </li-->
                                    </ul>
                                </div>
                        </div>
                </div>
            </div>
        </div> </div>
    <!--END MAIN CONTENT-->
</div>
