<div id="downloadSample" class="modal fade bs-modal-lg in" style="display: none;">
    <div class="modal-dialog" style="width:40%">
      <div class="modal-content" style="resize: both;overflow: auto;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="ClosePop()" aria-hidden="true"></button>
          <h4 class="modal-title">Download</h4>
        </div>
        <form class="form-horizontal" name="myform3" id="downloadModel" ng-submit="submitDownload()" novalidate="novalidate">
          <div class="modal-body" style="padding-top:0px">
            <div class="slimScrollDiv" style="position: relative; overflow-y: auto !important; width:auto;padding:10px;">
              <div class="scroller" style="max-height:150px;min-height:110px; overflow-y: auto !important; width: auto;margin-top:30px"
                data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="col-md-3 control-label">Rows</label>
                      <div class="col-md-8">
                        <!-- limit-to="{{download.limit_to}}" -->
                        <input type="number" min="1" class="form-control" ng-model="download.rows" max="{{download.maxrow}}"
                          required max-err-type="maxLimitDownload">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">Format</label>
                      <div class="col-md-8">
                        <select class="form-control" data-ng-model="download.selectFormate" ng-options="r for r in download.formates"
                          required>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!--End Model Body-->
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
            <button type="submit" class="btn green">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>