<div id="execParamModel" class="modal  right fade bs-modal-lg in" style="display: none;">
    <div class="modal-dialog" style="width:70%">
        <div class="modal-content" style="resize: both;overflow: auto;max-height:600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Run Params</h4>
            </div>
            <form class="form-horizontal" name="myformExecParam" ng-submit="executeWithExecParamList()" novalidate="novalidate">
                <div class="modal-body">
                    <div class="slimScrollDiv" style="position: relative; overflow-y: auto !important; width:auto;padding:10px;">
                        <div class="scroller" style="max-height:400px;min-height:300px; overflow-y: auto !important; width: auto;"
                            data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="select">Type
                                            </label>
                                            <div class="col-md-6">
                                                <select class="form-control" name="ParamType" ng-disabled="isModelDisable"
                                                    select2 ng-change="onChangeParamType()" data-ng-model="selectParamType"
                                                    ng-options="r.text  as r.caption  for r in paramTypes">
                                                    <option value="">-Select-</option>
                                                </select>
                                                <input type="hidden" name="ParamType" ng-model="selectParamType">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="selectParamType =='paramset'">
                                        <div class="row">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="select">Name
                                            </label>
                                            <div class="col-md-6">
                                                <select class="form-control" ng-disabled="isModelDisable" select2
                                                    ng-change="onChangeParamSet(null)" data-ng-model="paramsetdata"
                                                    ng-options="r as r.name for r in allparamset | orderBy:'name'">
                                                    <option value="" style="color:red;">USE DEFAULT VALUE</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3" ng-if="isPramlistInProgess" style="margin-top:4px;">
                                                <i class="glyphicon glyphicon-refresh spinning" style="margin:5px 0px 0px -23px;"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="selectParamType =='paramlist'">
                                        <div class="row">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="select">Name
                                            </label>
                                            <div class="col-md-6">
                                                <div>
                                                    <select class="form-control" name="paramlistdata" ng-disabled="isModelDisable"
                                                        select2 ng-change="onChangeParamList()" data-ng-model="paramlistdata"
                                                        ng-options="r as r.name for r in allParamList">
                                                        <option value="">-Select-</option>
                                                    </select>
                                                    <input type="hidden" name="paramlistdata" ng-model="paramlistdata"
                                                        ng-required="isParamListRquired">
                                                </div>
                                            </div>
                                            <div class="col-md-3" ng-if="isPramlistInProgess" style="margin-top:4px;">
                                                <i class="glyphicon glyphicon-refresh spinning" style="margin:5px 0px 0px -23px;"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="selectParamType== null">
                                        <div class="row">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="select">Name
                                            </label>
                                            <div class="col-md-6">
                                                <select class="form-control" select2 name="paramlistdata1"
                                                    data-ng-model="paramlistdata1" ng-options="r as r.name for r in allParamList">
                                                    <option value="">-Select-</option>
                                                </select>
                                                <input type="hidden" name="paramlistdata1" ng-model="paramlistdata1">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <!--Start Param Set-->
                                    <div ng-if="isExecParamSet==true">
                                        <div ng-show="isTabelShow" style="overflow-x: auto;">
                                            <table class=" row-border hover table  table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center;Vertical-align: middle;width:5%;">
                                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                <input style="width:16px;height:16px;" type="checkbox"
                                                                    ng-disabled="{{mode}}" ng-model="$parent.selectallattribute"
                                                                    ng-change="selectAllRow()" />
                                                            </span>
                                                        </th>
                                                        <th class="text-center"> ID </th>
                                                        <th class="text-center" ng-repeat="tablecol in paramtablecol">
                                                            {{tablecol.paramName}} </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="tabledata in paramtable">
                                                        <td style="text-align:center;Vertical-align:middle;width:5%;">
                                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                <input style="width:16px;height:16px;" type="checkbox"
                                                                    ng-model="tabledata.selected" />
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <input style="width:50px" type="text" ng-model="tabledata.paramSetId"
                                                                ng-disabled="true" class="form-control">
                                                        </td>
                                                        <td ng-repeat="tablecol in tabledata.paramSetVal">
                                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                <input style="width:{{paramtablecol.length}} < 3?0:{{paramtablecol[$index].paramName.split('').length + 100}}px"
                                                                    type="text" ng-model="tablecol.value" ng-disabled="true"
                                                                    class="form-control">
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--End Param Set-->

                                    <!--Start Param List-->
                                    <div ng-show="isExecParamList==true">

                                        <div class="col-md-12">
                                            <table class=" row-border hover table  table-striped table-bordered" width="100%">
                                                <thead>
                                                    <tr>

                                                        <th class="text-center" width="10%"> ID </th>
                                                        <th class="text-center" width="15%">Param Name</th>
                                                        <th class="text-center" width="15%">Param Type</th>
                                                        <th class="text-center" width="15%">Type</th>
                                                        <th class="text-center" width="20%">Param Value</th>
                                                        <th class="text-center" width="25%">Param Attributes </th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="listHolder in paramListHolder">

                                                        <td width="10%">
                                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                <input type="text" ng-model="$index" ng-disabled="true"
                                                                    class="form-control">
                                                            </span>
                                                        </td>
                                                        <td width="15%">
                                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                <input type="text" ng-model="listHolder.paramName"
                                                                    ng-disabled="true" class="form-control">
                                                            </span>
                                                        </td>
                                                        <td width="15%">
                                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                <input type="text" ng-model="listHolder.paramType"
                                                                    ng-disabled="true" class="form-control">
                                                            </span>
                                                        </td>
                                                        <td width="15%">
                                                            <div ng-if="['simple','distribution','list','date'].indexOf(listHolder.selectedParamValueType) !=-1">
                                                                <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                    <input type="text" ng-model="listHolder.paramType"
                                                                        ng-disabled="true" class="form-control">
                                                                </span>
                                                            </div>
                                                            <div ng-if="['attribute','attributes','datapod','rule','dataset'].indexOf(listHolder.selectedParamValueType) !=-1">
                                                                <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                    <select class="form-control" name="paramValue{{$index}}"
                                                                        ng-disabled="(isModelDisable==true || listHolder.paramName=='saveLocation')?true:false"
                                                                        data-ng-model="listHolder.selectedParamValueType"
                                                                        ng-change="onChangeParamValueType(listHolder.selectedParamValueType,$index)"
                                                                        ng-options="r  for r in attributeTypes "
                                                                        required disable-validation-message="">
                                                                    </select>
                                                                </span>
                                                            </div>
                                                        </td>

                                                        <td width="20%">
                                                            <div style="width:150px !important">
                                                                <div ng-if="listHolder.selectedParamValueType =='simple' && ['integer','string','double'].indexOf(listHolder.paramType) !=-1">
                                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                        <input ng-if="listHolder.paramType !='integer'"
                                                                            ng-disabled="isModelDisable" type="text"
                                                                            ng-model="listHolder.paramValue" class="form-control"
                                                                            disable-validation-message="">
                                                                        <input ng-if="listHolder.paramType =='integer'"
                                                                            ng-disabled="isModelDisable" type="text "
                                                                            ng-model="listHolder.paramValue" class="form-control"
                                                                            disable-validation-message="">
                                                                    </span>
                                                                </div>
                                                                <div ng-if="listHolder.selectedParamValueType =='simple' && listHolder.paramType =='date'">
                                                                    <div class="col-md-12" style="margin-top:-20px;margin-bottom:-20px;padding-left: 0px;padding-right: 0px;">
                                                                        <p class="input-group">
                                                                        <input type="text" class="form-control" title="{{listHolder.paramValue|date: 'yyyy-MM-dd'}}"  popup-placement="left" uib-datepicker-popup="yyyy-MM-dd" ng-keypress="ValidationKeyPress($event)" ng-model="listHolder.paramValue"
                                                                            is-open="popup2.opened"  datepicker-options="dateOptions"
                                                                            ng-required="true" close-text="Close" />
                                                                        <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-default" ng-click="open2()">
                                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                                            </button>
                                                                        </span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div ng-if="listHolder.selectedParamValueType =='list' &&  listHolder.paramType =='list'">
                                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                        <select select2 class="form-control" name="paramValue{{$index}}"
                                                                            ng-disabled="isModelDisable" data-ng-model="listHolder.paramValue"
                                                                            ng-options="r for r in listHolder.allListInfo"
                                                                            required disable-validation-message="">
                                                                        </select>
                                                                        <input name="paramValue{{$index}}" type="hidden"
                                                                            ng-model="listHolder.paramValue" required
                                                                            disable-validation-message="" /> </span>
                                                                </div>
                                                                <div ng-if="listHolder.selectedParamValueType =='datapod'"
                                                                    ng-init="getAllLatest(listHolder.selectedParamValueType,$index,false)">
                                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                        <select select2 class="form-control" name="paramValue{{$index}}"
                                                                            ng-disabled="isModelDisable" data-ng-model="listHolder.selectedParamValue"
                                                                            ng-change="onChangeForAttributeInfo(listHolder.selectedParamValue,listHolder.selectedParamValueType,$index)"
                                                                            ng-options="r as r.name for r in allDatapod | orderBy:'name' track by r.uuid "
                                                                            required disable-validation-message="">
                                                                        </select>
                                                                        <input name="paramValue{{$index}}" type="hidden"
                                                                            ng-model="listHolder.selectedParamValue.uuid"
                                                                            required disable-validation-message="" />
                                                                    </span>
                                                                </div>
                                                                <div ng-if="listHolder.selectedParamValueType =='dataset'"
                                                                    ng-init="getAllLatest(listHolder.selectedParamValueType,$index,false)">
                                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                        <select select2 class="form-control"
                                                                            ng-disabled="isModelDisable" name="paramValue{{$index}}"
                                                                            data-ng-model="listHolder.selectedParamValue"
                                                                            ng-change="onChangeForAttributeInfo(listHolder.selectedParamValue,listHolder.selectedParamValueType,$index)"
                                                                            ng-options="r as r.name for r in allDataset |  orderBy:'name' track by r.uuid"
                                                                            required disable-validation-message="">
                                                                        </select>
                                                                        <input name="paramValue{{$index}}" type="hidden"
                                                                            ng-model="listHolder.selectedParamValue.uuid"
                                                                            required disable-validation-message="" />
                                                                    </span>
                                                                </div>
                                                                <div ng-if="listHolder.selectedParamValueType =='rule'"
                                                                    ng-init="getAllLatest(listHolder.selectedParamValueType,$index,false)">
                                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                        <select select2 class="form-control" name="paramValue{{$index}}"
                                                                            ng-disabled="isModelDisable" data-ng-model="listHolder.selectedParamValue"
                                                                            ng-change="onChangeForAttributeInfo(listHolder.selectedParamValue,listHolder.selectedParamValueType,$index)"
                                                                            ng-options="r as r.name for r in allRule |  orderBy:'name' track by r.uuid"
                                                                            required disable-validation-message="">
                                                                        </select>
                                                                        <input name="paramValue{{$index}}" type="hidden"
                                                                            ng-model="listHolder.selectedParamValue.uuid"
                                                                            required disable-validation-message="" />
                                                                    </span>
                                                                </div>
                                                                <div ng-if="listHolder.selectedParamValueType =='distribution'"
                                                                    ng-init="getAllLatest('distribution',$index,false);">
                                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                        <select select2 class="form-control" name="paramValue{{$index}}"
                                                                            ng-disabled="isModelDisable" ng-change="onChangeDistribution(listHolder.selectedParamValue,$index)"
                                                                            data-ng-model="listHolder.selectedParamValue"
                                                                            ng-options="r as r.name for r in allDistribution | orderBy:'name' track by r.uuid"
                                                                            required disable-validation-message="">
                                                                        </select>
                                                                        <input name="paramValue{{$index}}" type="hidden"
                                                                            ng-model="listHolder.selectedParamValue.uuid"
                                                                            required disable-validation-message="" />
                                                                    </span>
                                                                </div>
                                                                <div style="text-align:center;" ng-if="['datapod','rule','dataset','distribution','simple','list'].indexOf(listHolder.selectedParamValueType) ==-1">
                                                                    NA
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td width="25%">
                                                            <div style="width:190px !important">
                                                                <div ng-if="listHolder.paramType=='attribute'" ng-init="getAllAttributeBySource(listHolder.attributeInfo,listHolder.selectedParamValueType,$index)">
                                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                        <select select2 class="form-control"
                                                                            ng-disabled="isModelDisable" name="paramattributeinfo{{$index}}"
                                                                            data-ng-model="listHolder.attributeInfo"
                                                                            ng-options="r as r.dname for r in listHolder.allAttributeinto track by r.uuid+r.attributeId"
                                                                            required disable-validation-message="">
                                                                        </select>

                                                                        <input name="paramattributeinfo{{$index}}" type="hidden"
                                                                            ng-model="listHolder.attributeInfo"
                                                                            required disable-validation-message="" />
                                                                    </span>
                                                                </div>

                                                                <div ng-if="listHolder.paramType=='attributes'" ng-init="getAllAttributeBySource(listHolder.attributeInfoTag[0],listHolder.selectedParamValueType,$index)">
                                                                    <span ng-if="listHolder.allAttributeinto.length >1"
                                                                        class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                        <multiselect class="" multiple="true"
                                                                            ng-disabled="{{isModelDisable}}" ng-model="listHolder.attributeInfoTag"
                                                                            options="r.name for r in listHolder.allAttributeinto"
                                                                            change="selected()"></multiselect>
                                                                        <input name="paramattributeinfo{{$index}}" type="hidden"
                                                                            ng-model="listHolder.attributeInfoTag"
                                                                            required disable-validation-message="" />
                                                                    </span>
                                                                </div>

                                                                <div style="width:200px;text-align:center;" ng-if="['attribute','attributes'].indexOf(listHolder.paramType)== -1">
                                                                    NA
                                                                </div>

                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!-- End isExecParamList-->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Model Body-->
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="savePop(popupModel)">Close</button>
                    <button type="submit" ng-disabled="isModelDisable" class="btn green">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>