<div data-ng-controller="MetadataExpressionController">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a ui-sref="home">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a ui-sref="metadata({type:'expression'})">{{$state.current.data.pageTitle}}</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a ui-sref="metadata({type:'expression'})">Expression</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>{{expressiondata.name}}</span>
            </li>
        </ul>
        <div class="page-toolbar">
            <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body"
                data-placement="bottom" data-original-title="Change dashboard date range">
                <i class="icon-calendar"></i>&nbsp;
                <span class="thin uppercase hidden-xs">{{time +' '+tzName}}</span>&nbsp;
            </div>
        </div>
    </div>

    <br>
    <!-- END PAGE HEADER-->
    <div notifybar style="position:fixed;top:40px;right:0;z-index:1000"></div>
    <div options="dirOptions" type="'expression'" on-close="onPanelClose" mode="mode" current-user="userDetail"
        comment-data="expressiondata" comment-panel-directive></div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>{{expressiondata.name}}
                    </div>

                    <div class="tools">
                        <a href="javascript:;" title="Main" data-toggle="tooltip" data-placement="top" tooltip ng-hide="isAdd"
                            ng-class="(showForm==true ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
                            style="height:16px;font-size:16px;" data-ng-click="showHome(expressiondata.uuid,expressiondata.version,mode)">
                            <i class="fa fa-home" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
                        </a>
                        <a title="Edit" ng-class="(isEdit==true || isPrivlage || expressiondata.locked == 'Y' ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
                            data-toggle="tooltip" data-placement="top" tooltip ng-click="enableEdit(expressiondata.uuid,expressiondata.version)"
                            ng-hide="isAdd" style="height:16px;">
                            <i class="fa fa-edit" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
                        </a>
                        <a title="Knowledge Graph" data-toggle="tooltip" data-placement="top" tooltip ng-show="isDependencyShow"
                            ng-class="(showForm==false ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
                            data-ng-click="showGraph(expressiondata.uuid,expressiondata.version)" style="height:14px;">
                            <i class="fa fa-sitemap" style="display: block;margin:0px 2px 0px 0px;color:white;"></i>
                        </a>
                        <a title="Refresh" ng-click="broadcastRefreshData()" data-toggle="tooltip" data-placement="top"
                            tooltip ng-class="(showForm==true ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'">
                            <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
                        </a>
                        <a title="Close" data-toggle="tooltip" data-placement="top" tooltip data-ui-sref="metadata({type:'expression'})"
                            style="height:14px;">
                            <i class="fa fa-times" aria-hidden="true" style="display: block;margin: 2px auto;color:white;transform: scale(1,1.2);"></i>
                        </a>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body graph-body" ng-if="showGraphDiv">
                        <div class="form-body text-center" id="errorMsg" style="color:blue;"></div>
                        <div class="spinner" id="graphloader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <div class="form-body show-graph-body" id="graphWrapper" tree-graph-directive uuid="expressiondata.uuid"
                            version="expression.defaultVersion.version">
                        </div>
                    </div>

                    <div class="form-body" data-ng-show="showForm" style="padding-top:50px;">
                        <div class="centercontent" style="min-height:500px;" ng-if="isEditVeiwError">
                            <h3 style="font-size:14px;color:red;">Some Error Occur</h3>
                        </div>
                        <div class="centercontent" style="min-height:500px;" ng-if="isEditInprogess">
                            <div class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                        <div ng-show="!isEditInprogess && !isEditVeiwError">
                            <form class="form-horizontal" novalidate="novalidate" name="myform" ng-submit="submitexpression()"
                                form-on-change="expressionFormChange()" prevent-enter-submit>

                                <div class="form-group" ng-show="expressiondata.uuid">
                                    <label class="col-md-3 control-label">UUID</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" data-ng-disabled="true" ng-model="expressiondata.uuid">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Name
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" ng-disabled="{{mode}}" ng-model="expressiondata.name"
                                            required="">
                                    </div>
                                </div>

                                <div class="form-group" ng-show="expressiondata.uuid">
                                    <label class="col-md-3 control-label">Version</label>
                                    <div class="col-md-6">
                                        <select class="form-control" select2 name="version" ng-disabled="isversionEnable"
                                            ng-change="selectVersion()" data-ng-model="expression.defaultVersion.version"
                                            ng-options="c.version as c.version for c in expression.versions">
                                            <option>-select-</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="form-group" ng-show="expressiondata.uuid">
                                    <label class="col-md-3 control-label">CreatedBy</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" ng-disabled="true" ng-model="expressiondata.createdBy.ref.name">
                                    </div>
                                </div>

                                <div class="form-group" ng-show="expressiondata.uuid">
                                    <label class="col-md-3 control-label">CreatedOn</label>
                                    <div class="col-md-6">
                                        <input type="text" ng-model="expressiondata.createdOn" ng-disabled="true" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Tags</label>
                                    <div class="col-md-6">
                                        <tags-input ng-model="tags" ng-disabled="{{mode}}" min-length="0"
                                            add-from-autocomplete-only="false" add-on-enter="true" add-on-space="true">
                                            <auto-complete source="loadTag($query)" min-length="0" debounce-delay="0"
                                                highlight-matched-text="true" max-results-to-show="10">
                                            </auto-complete>
                                        </tags-input>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Desc</label>
                                    <div class="col-md-6">

                                        <textarea class="form-control" ng-disabled="{{mode}}" ng-model="expressiondata.desc"
                                            rows="2" style="resize:none;"></textarea>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">DependsOn
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        <select title="Type" ng-model="selectExpression" ng-options="x for x in relation"
                                            ng-change="dependsOndd()" class="form-control" ng-disabled=" isDependonDisabled || {{mode}}"
                                            required>
                                        </select>
                                    </div>

                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" style="width:9.4%;float:left;margin-left:-1%;">Name
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select class="form-control" select2 name="" ng-change="changeRelation()"
                                            data-ng-model="expressionRelation.defaultoption" ng-options="r as r.name for r in expressionRelation.options track by r.uuid"
                                            ng-disabled="isDependonDisabled || {{mode}}">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="btn-group" ng-init="expressiondata.active='Y'">
                                            <label class="btn btn-default" ng-model="expressiondata.active"
                                                uib-btn-radio="'Y'" ng-disabled="{{showactive}}" uncheckable>Yes</label>
                                            <label class="btn btn-default" ng-model="expressiondata.active"
                                                uib-btn-radio="'N'" ng-disabled="{{showactive}}" uncheckable>No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Locked</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="btn-group">
                                            <label class="btn btn-default" ng-model="expressiondata.locked"
                                                uib-btn-radio="'Y'" ng-disabled="{{showactive}}" uncheckable>Yes</label>
                                            <label class="btn btn-default" ng-model="expressiondata.locked"
                                                uib-btn-radio="'N'" ng-disabled="{{showactive}}" uncheckable>No</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="btn-group" ng-init="expressiondata.published='N'">
                                            <label class="btn btn-default" ng-model="expressiondata.published"
                                                uib-btn-radio="'Y'" ng-disabled="{{showactive}}" uncheckable>Yes</label>
                                            <label class="btn btn-default" ng-model="expressiondata.published"
                                                uib-btn-radio="'N'" ng-disabled="{{showactive}}" uncheckable>No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Public</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="btn-group" ng-init="expressiondata.publicFlag='N'">
                                            <label class="btn btn-default" ng-model="expressiondata.publicFlag"
                                                uib-btn-radio="'Y'" ng-disabled="{{mode}}" uncheckable>Yes</label>
                                            <label class="btn btn-default" ng-model="expressiondata.publicFlag"
                                                uib-btn-radio="'N'" ng-disabled="{{mode}}" uncheckable>No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="padding-top: 10px;">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <a ui-sref="metadata({type:'expression'})" class="btn btn-primary">Cancel</a>
                                        <input type="submit" class="btn btn-success" value="Submit" ng-disabled="(!iSSubmitEnable == false|| mode == false || myform.$dirty == true)?false:true"
                                            name="submit">
                                        <span class="spinner" style="padding-left:15px;font-size:23px;vertical-align:middle;"
                                            ng-if="dataLoading">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </span>
                                    </div>
                                </div>

                                <div class="x_title">
                                    <button type="Button" class=" btn btn-danger fa fa-minus pull-right" ng-click="removeRow()"
                                        ng-disabled="{{mode}}"></button>
                                    <button type="Button" class=" btn btn-success fa fa-plus pull-right" ng-click="addRow()"
                                        ng-disabled="{{mode}}"></button>
                                    <h4>
                                        <strong>Details</strong>
                                    </h4>
                                    <hr>

                                </div>
                                <br />
                                <div>
                                    <table id="addConditionAttributeTable" class=" row-border hover table  table-striped table-bordered"
                                        style="table-layout:fixed;word-wrap:break-word;">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center; Vertical-align: middle;width:5%;">
                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                        <input style="width: 16px;height:16px;" type="checkbox"
                                                            ng-disabled="{{mode}}" ng-model="selectallrow" ng-change="selectAllRow()" />
                                                    </span>
                                                </th>
                                                <th style="width:15%;text-align:center;">Logical Operator</th>
                                                <th style="width:13%;text-align:center;"> LHS Type</th>
                                                <th style="width:20%;text-align:center;">LHS Attribute</th>
                                                <th style="width:13%;text-align:center;">Operator</th>
                                                <th style="width:13%;text-align:center;">RHS Type</th>
                                                <th style="width:20%;text-align:center;">RHS Attribute</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="tabledata in expressionTableArray">
                                                <th style="text-align: center; Vertical-align: middle;width:5%;">
                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                        <input style="width: 16px;height:16px;" type="checkbox"
                                                            ng-disabled="{{mode}}" ng-model="tabledata.selected" />
                                                    </span>
                                                </th>
                                                <td>
                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                        <select ng-model="tabledata.logicalOperator" ng-options="x for x in logicalOperator"
                                                            ng-disabled=" $first || {{mode}}" class="form-control">
                                                        </select>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                        <select ng-change="selectlhsType(tabledata.lhstype.text,$index)"
                                                            ng-model="tabledata.lhstype" ng-options="x as x.caption for x in lshType track by x.text"
                                                            ng-disabled=" {{mode}}" class="form-control" required disable-validation-message="">
                                                        </select>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                        <input type="text" ng-disabled="{{mode}}" ng-model="tabledata.lhsvalue"
                                                            title="{{tabledata.lhsvalue}}" class="form-control" ng-if="tabledata.islhsSimple" required disable-validation-message="">
                                                    </span>
                                                    <div ng-if="tabledata.islhsDatapod">
                                                        <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                            <select select2 ng-show="tabledata.islhsDatapod" ng-model="tabledata.lhsdatapodAttribute"
                                                                ng-disabled="{{mode}}" class="form-control" ng-options="c as (c.datapodname + '.' + c.name) for c in expressionDatapod track by c.uuid+c.attributeId" required disable-validation-message="">
                                                            </select>
                                                        </span>
                                                    </div>
                                                    <div ng-if="tabledata.islhsFormula">
                                                        <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                            <select select2 class="form-control" ng-change="selectmetlhsType()"
                                                                data-ng-model="tabledata.lhsformula" ng-options="r as r.name for r in expressionFormula track by r.uuid"
                                                                ng-disabled="{{mode}}" ng-show="tabledata.islhsFormula" required disable-validation-message="">
                                                            </select>
                                                        </span>
                                                    </div>

                                                </td>
                                                <td>
                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                        <select ng-model="tabledata.operator" ng-options="x for x in operator"
                                                            ng-disabled="{{mode}}" class="form-control" required disable-validation-message="">
                                                        </select>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                        <select ng-change="selectrhsType(tabledata.rhstype.text,$index)"
                                                            ng-model="tabledata.rhstype" ng-options="x as x.caption for x in lshType track by x.text"
                                                            ng-disabled=" {{mode}}" class="form-control" required disable-validation-message="">
                                                        </select>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                        <input type="text" ng-disabled="{{mode}}" class="form-control"
                                                            ng-model="tabledata.rhsvalue" title="{{tabledata.rhsvalue}}"
                                                            ng-if="tabledata.isrhsSimple" required disable-validation-message="">
                                                    </span>
                                                    <div ng-if="tabledata.isrhsDatapod">
                                                        <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                            <select select2 ng-model="tabledata.rhsdatapodAttribute"
                                                                ng-disabled="{{mode}}" class="form-control" ng-options="c as (c.datapodname + '.' + c.name) for c in expressionDatapod track by c.uuid+c.attributeId" required disable-validation-message="">
                                                            </select>
                                                        </span>
                                                    </div>
                                                    <div ng-if="tabledata.isrhsFormula">
                                                        <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                            <select select2 class="form-control" ng-change="selectmetrhsType()"
                                                                data-ng-model="tabledata.rhsformula" ng-options="r as r.name for r in expressionFormula track by r.uuid"
                                                                ng-disabled="{{mode}}">
                                                            </select>
                                                        </span>
                                                    </div>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <h4 class="pull-left bold" style="padding:10px;margin-top:-12px;">Match</h4>
                                    <table class="table table-condensed table-bordered">
                                        <thead class="">
                                            <tr>
                                                <th style="width:20%;text-align:left;padding-left: 10px;">Type</th>
                                                <th style="width:20%;text-align:center;">Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="width:15%;">
                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                        <select ng-change="selectmetlhsType(expressionmetnotmat.metinfo.mettype)"
                                                            ng-model="expressionmetnotmat.metinfo.mettype" ng-options="x for x in matType"
                                                            ng-disabled=" {{mode}}" class="form-control" required disable-validation-message="">
                                                        </select>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                        <select class="form-control" ng-change="selectmetlhsType()"
                                                            data-ng-model="expressionmetnotmat.metinfo.metformula"
                                                            ng-options="r as r.name for r in expressionFormula track by r.uuid"
                                                            ng-disabled="{{mode}}" ng-if="expressionmetnotmat.metinfo.ismetFormula" required disable-validation-message="">
                                                        </select>
                                                        <input type="text" class="form-control" ng-model="expressionmetnotmat.metinfo.metlhsvalue"
                                                            title="{{expressionmetnotmat.metinfo.metlhsvalue}}" ng-if="expressionmetnotmat.metinfo.ismetlhsSimple"
                                                            ng-disabled="{{mode}}" required disable-validation-message="">
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <h4 class="pull-left bold" style="padding:10px;margin-top:-12px;">Not Match</h4>
                                    <table class="table table-condensed table-bordered">
                                        <thead class="">
                                            <tr>
                                                <th style="width:20%;text-align:left;padding-left: 10px;">Type</th>
                                                <th style="width:20%;text-align:center;">Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="width:15%;">
                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                        <select ng-change="selectnotmmetlhsType(expressionmetnotmat.notmetinfo.notmettype)"
                                                            ng-model="expressionmetnotmat.notmetinfo.notmettype" ng-options="x for x in matType"
                                                            ng-disabled=" {{mode}}" class="form-control" required disable-validation-message="">
                                                        </select>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                        <select class="form-control" data-ng-model="expressionmetnotmat.notmetinfo.notmetformula"
                                                            ng-options="r as r.name for r in expressionFormula track by r.uuid"
                                                            ng-disabled="{{mode}}" ng-if="expressionmetnotmat.notmetinfo.isnotmetFormula" required disable-validation-message="">
                                                        </select>
                                                        <input type="text" class="form-control" ng-model="expressionmetnotmat.notmetinfo.notmetlhsvalue"
                                                            title="{{expressionmetnotmat.notmetinfo.notmetlhsvalue}}"
                                                            ng-if="expressionmetnotmat.notmetinfo.isnotmetlhsSimple"
                                                            ng-disabled="{{mode}}" required disable-validation-message="">
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>