<style>
    .form-inline .select2-container--bootstrap {
        display: block;
    }
</style>

<div class="network-graph-zoom-slider col-md-1 col-md-offset-11">
    <div class="col-md-1" style="height:100px">
        <a ng-click="changeSliderForward()">
            <i class="fa fa-search-plus" style="margin: 0 23px;z-index: 980;position: relative;font-size: 17px;margin-top: 5px;color: #999;"></i>
        </a>
        <rzslider rz-slider-model="zoomSize" rz-slider-options="{floor: 1, ceil: 20,minLimit:1,maxLimit:20,hidePointerLabels:true,hideLimitLabels:true,vertical: true}"></rzslider>
        <a ng-click="changeSliderBack()">
            <i class="fa fa-search-minus" style="margin: 0 23px;z-index: 980;position: relative;font-size: 17px;margin-top: 5px;color: #999;"></i>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="margin-top:2%;">
        <form class="form-inline" novalidate="novalidate" name="myform" ng-submit="search()">
            <div class="form-group" style="width:32%;">
                <label class="col-md-4 control-label" style="margin-top:2%">Node Type</label>
                <div class="col-md-8">
                    <select select2 data-ng-model="nodeType" ng-options="r.nodeType as r.nodeType for r in graphpodData.nodeInfo" ng-change="selectType()"
                        required disable-validation-message="">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" style="margin-top:2%">Node Id</label>
                <div class="col-md-5" style="padding-right:0px;padding-left: 0px;">
                    <input type="text" class="form-control" ng-model="nodeId" required disable-validation-message="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-4" uib-tooltip="Aplly Filter" tooltip-placement="left" ng-click="applyFilter()">
                    <span class="fa fa-filter"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </div>
        </form>


    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="form-body centercontent" ng-if="isError" style="color:red;">Some Error Occurred</div>
        <div class="form-body centercontent" ng-if="noRecordFound" style="color:white;">No Record Found</div>
        <div class="spinner centercontent" style="min-height:300px;" ng-show="isGraphInProgess">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <div id="fDGraph" style="height:500px;" ng-show="isGraphShow" style="resize:both;overflow:auto;"></div>
    </div>
</div>

<div class="tooltipcustom" id="divtoshow" style="position: fixed;display:none;z-index:9999;min-width:320px;min-height: 80px;opacity: 0.8;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;">
    <div style="margin-top: 5px;margin-right: 15px" ng-if="nodeDetail">
        <div class="row">
            <div class="col-md-1">
                <div class="one" id="colorID" style="margin-left:5px;margin-bottom:10px;background-color:#0bb7ed;"></div>

            </div>
            <div class="col-md-5" id="elementTypeText">{{nodeDetail.caption}}</div>
        </div>

        <div class="row" style="margin-top: 5px">
            <span style="margin-left:20px;">Id</span>
            <span id="task_Id" style="margin-left:58px">{{nodeDetail.id}}</span>
        </div>
        <div class="row" style="margin-top: 5px">
            <span style="margin-left:20px;">Type</span>
            <span id="task_Id" style="margin-left:40px">{{nodeDetail.nodeType}}</span>
        </div>
        <div class="row" style="margin-top: 5px">
            <span style="margin-left:20px">Name</span>
            <span id="task_Name" style="margin-left:33px">{{nodeDetail.nodeName}}</span>
        </div>
        <div class="row" style="margin-top: 5px">
            <span style="margin-left:20px">Properties</span>
            <span id="task_Name" style="margin-left:3px">{{nodeDetail.nodeProperties}}</span>
        </div>
    </div>
    <div style="margin-top: 5px;margin-right: 15px" ng-if="edgeDetail">
        <div class="row">
            <div class="col-md-1">
                <div class="one" id="colorID" style="margin-left:5px;margin-bottom: 10px"></div>

            </div>
            <div class="col-md-5" id="elementTypeText">{{edgeDetail.caption}}</div>
        </div>

        <div class="row" style="margin-top: 5px">
            <span style="margin-left:20px;">Type</span>
            <span id="task_Id" style="margin-left:40px">{{edgeDetail.edgeType}}</span>
        </div>
        <div class="row" style="margin-top: 5px">
            <span style="margin-left:20px">Name</span>
            <span id="task_Name" style="margin-left:33px">{{edgeDetail.edgeName}}</span>
        </div>
        <div class="row" style="margin-top: 5px">
            <span style="margin-left:20px">Properties</span>
            <span id="task_Name" style="margin-left:3px">{{edgeDetail.edgeProperties}}</span>
        </div>
    </div>
</div>
<div id="nodeDetail" class="modal fade bs-modal-lg in" aria-hidden="true" style="display:none;">
    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Node Details</h4>
                <!-- <div class="row">
                        <div class="col-md-1">
                            <div class="one" id="colorID" style="margin-left:5px;margin-bottom:10px;background-color:#0bb7ed;"></div>
                        </div>
                        <div class="col-md-5 modal-title"> Node Details</div>
                    </div> -->
            </div>
            <div class="modal-body">
                <div class="slimScrollDiv" style="padding-top:10px;">
                    <div class="scroller" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                        <form class="form-horizontal" novalidate="novalidate" name="myform1">
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="padding-top: 0px;">Id</label>
                                <div class="col-md-8">
                                    <span class="control-label">{{nodeDetailModel.id}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="padding-top: 0px;">Type</label>
                                <div class="col-md-8">
                                    <span class="control-label">{{nodeDetailModel.nodeType}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="padding-top: 0px;">Name</label>
                                <div class="col-md-8">
                                    <span class="control-label">{{nodeDetailModel.nodeName}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="padding-top: 0px;">Properties</label>

                            </div>
                            <!-- <div class="x_title">
                                <h4>
                                    <strong>Properties</strong>
                                </h4> -->
                            <table class="table table-bordered">
                                <tr ng-repeat="tabledata in nodeDetailModel.nodeProperties">
                                    <td>
                                        <b>{{tabledata.name}}</b>
                                    </td>
                                    <td>{{tabledata.value}}</td>
                                </tr>
                            </table>
                            <!-- </div>
                            <br/> -->

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="edgeDetail" class="modal fade bs-modal-lg in" aria-hidden="true" style="display:none;">
    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Edge Details</h4>
            </div>
            <div class="modal-body">
                <div class="slimScrollDiv" style="padding-top:10px;">
                    <div class="scroller" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                        <form class="form-horizontal" novalidate="novalidate" name="myform1">
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="padding-top: 0px;">Type</label>
                                <div class="col-md-8">
                                    <span class="control-label">{{edgeDetailModel.edgeType}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="padding-top: 0px;">Name</label>
                                <div class="col-md-8">
                                    <span class="control-label">{{edgeDetailModel.edgeName}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="padding-top: 0px;">Properties</label>
                                <!-- <div class="col-md-8">
                                        <span class="control-label">{{edgeDetailModel.edgeName}}</span>
                                    </div> -->
                            </div>
                            <!-- <div class="x_title">
                                <h4>
                                    <strong>Properties</strong>
                                </h4> -->
                            <table class="table table-bordered">
                                <tr ng-repeat="tabledata in edgeDetailModel.edgeProperties">
                                    <td>
                                        <b>{{tabledata.name}}</b>
                                    </td>
                                    <td>{{tabledata.value}}</td>
                                </tr>
                            </table>
                            <!-- </div>
                            <br/> -->

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="applyFilter" class="modal fade bs-modal-lg in" aria-hidden="true" style="display:none;">
    <div class="modal-dialog" style="width:74%;">
        <div class="modal-content" style="max-height:600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Filter</h4>
            </div>
            <form class="form-horizontal" novalidate="novalidate" name="myformFilter" ng-submit="submitFilter()">
                <div class="modal-body">
                    <div class="slimScrollDiv" style="padding-top:10px;">
                        <div class="scroller" style="max-height:400px;min-height:100px; overflow-y: auto !important; width: auto;" data-always-visible="1"
                            data-rail-visible1="1" data-initialized="1">

                            <div class="x_title">
                                <button type="Button" class=" btn btn-danger fa fa-minus pull-right" ng-click="removeNodeRow()" ng-disabled="{{mode}}"></button>
                                <button type="Button" class=" btn btn-success fa fa-plus pull-right" ng-click="addNodeRow()" ng-disabled="{{mode}}"></button>
                                <h4>
                                    <strong>Node Filter</strong>
                                </h4>
                                <hr>
                            </div>
                            <br/>
                            <table class="table table-bordered" style="table-layout:fixed;">
                                <thead>
                                    <tr>
                                        <th style="width:5%;text-align: center; Vertical-align: middle;">
                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                <input ng-disabled="{{mode}}" style="width: 16px;height:16px;" type="checkbox" ng-model="selectedAllNodeRow" ng-click="allNodeRow()"
                                                />
                                            </span>
                                        </th>
                                        <th style="width:20%;text-align:center;">Logical Operator</th>
                                        <th style="width:20%;text-align:center;">Source</th>
                                        <th style="width:20%;text-align:center;">Attribute</th>
                                        <th style="width:15%;text-align:center;">Operator</th>
                                        <th style="width:20%;text-align:center;">Value</th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="tabledata in nodeTableArray">
                                    <td style="text-align:center;Vertical-align:middle;">
                                        <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                            <input ng-disabled="{{mode}}" style="width: 16px;height:16px;" type="checkbox" ng-model="tabledata.selected" />
                                        </span>
                                    </td>
                                    <td>
                                        <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                            <select ng-model="tabledata.logicalOperator" ng-options="x for x in logicalOperator" ng-disabled=" $first" class="form-control"></select>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                            <select select2 ng-model="tabledata.selectSource" ng-change="getAttributesByNodeSource(tabledata.selectSource.index,$index)"
                                                ng-options="x  as x.name  for x in tabledata.source  track by x.uuid" class="form-control" required disable-validation-message=""></select>
                                        </span>
                                    </td>
                                    <td>  
                                        <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                            <select select2 ng-model="tabledata.selectAttribute" 
                                                ng-options="x  as x.attributeName  for x in tabledata.allAttributeInto  track by x.uuid+x.attributeId"
                                                class="form-control"  required disable-validation-message=""></select>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                            <select  ng-model="tabledata.operator"
                                                ng-options="x.value as x.caption for x in operator" ng-disabled="{{mode}}"
                                                class="form-control"  required disable-validation-message=""></select>
                                        </span>
                                    </td>
                                    <td style="width:200px;">
                                        <div>
                                            <span ng-if="tabledata.operator =='BETWEEN'">
                                                <div class="col-md-5 col-sm-5 col-xs-12" style="padding:0px">
                                                    <span class="form-group" style="margin-left:0px;margin-right:0px;">
                                                        <input ng-model="tabledata.rhsvalue1" name="rhsvalue1_{{$index}}" type="text" class="form-control" ng-disabled="{{mode}}"
                                                            required ng-pattern="/^[0-9]{1,20}$/" disable-validation-message=""
                                                            uib-tooltip="{{myformFilter['rhsvalue1_'+$index].$valid ? '' : 'enter only integer'}}"
                                                            tooltip-placement="left">
                                                    </span>
                                                </div>

                                                <div class="col-md-1 col-sm-1 " style="width:1%;padding: 0px 15px 0px 11px">
                                                    <i class="fa fa-minus" aria-hidden="true" style="margin-top: 10px;margin-left:-3px;"></i>
                                                </div>
                                                <div class="col-md-5 col-sm-5 col-xs-12" style="padding:0px">
                                                    <span class="form-group" style="margin-left:0px;margin-right:0px;">
                                                        <input ng-model="tabledata.rhsvalue2" name="rhsvalue2_{{$index}}" type="text" class="form-control" ng-disabled="{{mode}}"
                                                            ng-pattern="/^[0-9]{1,20}$/" required disable-validation-message=""
                                                            uib-tooltip="{{myform['rhsvalue2_'+$index].$valid ? '' : 'enter only integer'}}"
                                                            tooltip-placement="left">
                                                    </span>
                                                </div>
                                            </span>
                                            <span ng-if="spacialOperator.indexOf(tabledata.operator) !=-1">
                                                <span class="form-group" style="margin-left:0px;margin-right:0px;">
                                                    <input class="form-control" type="text" name="rhsvalue_{{$index}}" ng-model="tabledata.rhsvalue" title="{{tabledata.rhsvalue}}"
                                                        required disable-validation-message="">
                                                </span>
                                            </span>
                                            <span ng-if="tabledata.operator =='='">
                                                <span class="form-group" style="margin-left:0px;margin-right:0px;">
                                                    <input class="form-control" type="text" name="rhsvalue_{{$index}}" ng-model="tabledata.rhsvalue" title="{{tabledata.rhsvalue}}"
                                                        required disable-validation-message="" uib-tooltip="{{myformFilter['rhsvalue_'+$index].$valid ? '' : 'enter value into single quotes'}}"
                                                        ng-pattern="/(^[\'][a-zA-Z0-9\-_%]+[']$)/" tooltip-placement="left">
                                                </span>
                                            </span>
                                            
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="x_title">
                                <button type="Button" class=" btn btn-danger fa fa-minus pull-right" ng-click="removeEdgeRow()" ng-disabled="{{mode}}"></button>
                                <button type="Button" class=" btn btn-success fa fa-plus pull-right" ng-click="addEdgeRow()" ng-disabled="{{mode}}"></button>
                                <h4>
                                    <strong>Edge Filter</strong>
                                </h4>
                                <hr>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width:5%;text-align: center; Vertical-align: middle;">
                                                <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                    <input ng-disabled="{{mode}}" style="width: 16px;height:16px;" type="checkbox" ng-model="selectedAllEdgeRow" ng-click="allEdgeRow()"
                                                    />
                                                </span>
                                            </th>
                                            <th style="width:20%;text-align:center;">Logical Operator</th>
                                            <th style="width:20%;text-align:center;">Source</th>
                                            <th style="width:20%;text-align:center;">Attribute</th>
                                            <th style="width:15%;text-align:center;">Operator</th>
                                            <th style="width:20%;text-align:center;">Value</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="tabledata in edgeTableArray">
                                        <td style="text-align:center;Vertical-align:middle;">
                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                <input ng-disabled="{{mode}}" style="width: 16px;height:16px;" type="checkbox" ng-model="tabledata.selected" />
                                            </span>
                                        </td>
                                        <td>
                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                <select ng-model="tabledata.logicalOperator" ng-options="x for x in logicalOperator" 
                                                ng-disabled=" $first" class="form-control"></select>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                <select select2 ng-model="tabledata.selectSource" 
                                                    ng-change="getAttributesByEdgeSource(tabledata.selectSource.index,$index)"
                                                    ng-options="x  as x.name  for x in tabledata.source track by x.uuid" class="form-control"  required disable-validation-message=""></select>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                <select select2 ng-model="tabledata.selectAttribute" 
                                                    ng-options="x  as x.attributeName  for x in tabledata.allAttributeInto track by x.uuid+x.attributeId"
                                                    class="form-control"  required disable-validation-message=""></select>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                <select  ng-model="tabledata.operator"
                                                    ng-options="x.value as x.caption for x in operator" ng-disabled="{{mode}}"
                                                    class="form-control"  required disable-validation-message=""></select>
                                            </span>
                                        </td>
                                        <td style="width:200px;">
                                            <div>
                                                <span ng-if="tabledata.operator =='BETWEEN'">
                                                    <div class="col-md-5 col-sm-5 col-xs-12" style="padding:0px">
                                                        <span class="form-group" style="margin-left:0px;margin-right:0px;">
                                                            <input ng-model="tabledata.rhsvalue1" name="rhsvalue1_{{$index}}" type="text" class="form-control" ng-disabled="{{mode}}"
                                                                required ng-pattern="/^[0-9]{1,20}$/" disable-validation-message=""
                                                                uib-tooltip="{{myformFilter['rhsvalue1_'+$index].$valid ? '' : 'enter only integer'}}"
                                                                tooltip-placement="left">
                                                        </span>
                                                    </div>

                                                    <div class="col-md-1 col-sm-1 " style="width:1%;padding: 0px 15px 0px 11px">
                                                        <i class="fa fa-minus" aria-hidden="true" style="margin-top: 10px;margin-left:-3px;"></i>
                                                    </div>
                                                    <div class="col-md-5 col-sm-5 col-xs-12" style="padding:0px">
                                                        <span class="form-group" style="margin-left:0px;margin-right:0px;">
                                                            <input ng-model="tabledata.rhsvalue2" name="rhsvalue2_{{$index}}" type="text" class="form-control" ng-disabled="{{mode}}"
                                                                ng-pattern="/^[0-9]{1,20}$/" required disable-validation-message=""
                                                                uib-tooltip="{{myformFilter['rhsvalue2_'+$index].$valid ? '' : 'enter only integer'}}"
                                                                tooltip-placement="left">
                                                        </span>
                                                    </div>
                                                </span>
                                                <span ng-if="spacialOperator.indexOf(tabledata.operator) !=-1">
                                                    <span class="form-group" style="margin-left:0px;margin-right:0px;">
                                                        <input class="form-control" type="text" name="rhsvalue_{{$index}}" ng-model="tabledata.rhsvalue" title="{{tabledata.rhsvalue}}"
                                                            required disable-validation-message="">
                                                    </span>
                                                </span>
                                                <span ng-if="tabledata.operator =='='">
                                                    <span class="form-group" style="margin-left:0px;margin-right:0px;">
                                                        <input class="form-control" type="text" name="rhsvalue_{{$index}}" ng-model="tabledata.rhsvalue" title="{{tabledata.rhsvalue}}"
                                                            required disable-validation-message="" uib-tooltip="{{myformFilter['rhsvalue_'+$index].$valid ? '' : 'enter value into single quotes'}}"
                                                            ng-pattern="/(^[\'][a-zA-Z0-9\-_%]+[']$)/" tooltip-placement="left">
                                                    </span>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                    <input type="submit" class="btn btn-success" value="submit">
                </div>
            </form>
        </div>
    </div>
</div>