<style>
    .form-inline .select2-container--bootstrap {
        display: block;
    }
</style>

<div class="network-graph-zoom-slider col-md-1 col-md-offset-11">
    <div class="col-md-1" style="height:100px">
        <a ng-click="changeSliderForward()">
            <i class="fa fa-search-plus" style="margin: 0 23px;z-index: 980;position: relative;font-size: 17px;margin-top: 5px;color: #999;"></i>
        </a>
        <rzslider rz-slider-model="zoomSize" rz-slider-options="{floor: 1, ceil: 20,minLimit:1,maxLimit:20,hidePointerLabels:true,hideLimitLabels:true,vertical: true}"></rzslider>
        <a ng-click="changeSliderBack()">
            <i class="fa fa-search-minus" style="margin: 0 23px;z-index: 980;position: relative;font-size: 17px;margin-top: 5px;color: #999;"></i>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="margin-top:2%;">
        <form class="form-inline" novalidate="novalidate" name="myform" ng-submit="search()">
            <div class="form-group" style="width:32%;">
                <label class="col-md-4 control-label" style="color:white;margin-top:2%">Node Type</label>
                <div class="col-md-8">
                    <select select2 data-ng-model="nodeType" ng-options="r.nodeType as r.nodeType for r in graphpodData.nodeInfo" ng-change="selectType()"
                        required disable-validation-message="">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" style="color:white;margin-top:2%">Node Id</label>
                <div class="col-md-5" style="padding-right:0px;padding-left: 0px;">
                    <input type="text" class="form-control" ng-model="nodeId" required disable-validation-message="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </div>
        </form>


    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="form-body centercontent" ng-if="isError" style="color:red;">Some Error Occurred</div>
        <div class="form-body centercontent" ng-if="noRecordFound" style="color:white;">No Record Found</div>
        <div class="spinner centercontent" style="min-height:300px;" ng-show="isGraphInProgess">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <div id="fDGraph" style="height:500px;" ng-show="isGraphShow" style="resize:both;overflow:auto;"></div>
    </div>
</div>

<div class="tooltipcustom" id="divtoshow" style="position: fixed;display:none;z-index:9999;min-width:320px;min-height: 80px;opacity: 0.8;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;">
    <div style="margin-top: 5px;margin-right: 15px" ng-if="nodeDetail">
        <div class="row">
            <div class="col-md-1">
                <div class="one" id="colorID" style="margin-left:5px;margin-bottom:10px;background-color:#0bb7ed;"></div>

            </div>
            <div class="col-md-5" id="elementTypeText">{{nodeDetail.caption}}</div>
        </div>

        <div class="row" style="margin-top: 5px">
            <span style="margin-left:20px;">Id</span>
            <span id="task_Id" style="margin-left:58px">{{nodeDetail.id}}</span>
        </div>
        <div class="row" style="margin-top: 5px">
            <span style="margin-left:20px;">Type</span>
            <span id="task_Id" style="margin-left:40px">{{nodeDetail.nodeType}}</span>
        </div>
        <div class="row" style="margin-top: 5px">
            <span style="margin-left:20px">Name</span>
            <span id="task_Name" style="margin-left:33px">{{nodeDetail.nodeName}}</span>
        </div>
        <div class="row" style="margin-top: 5px">
            <span style="margin-left:20px">Properties</span>
            <span id="task_Name" style="margin-left:3px">{{nodeDetail.nodeProperties}}</span>
        </div>
    </div>
    <div style="margin-top: 5px;margin-right: 15px" ng-if="edgeDetail">
        <div class="row">
            <div class="col-md-1">
                <div class="one" id="colorID" style="margin-left:5px;margin-bottom: 10px"></div>

            </div>
            <div class="col-md-5" id="elementTypeText">{{edgeDetail.caption}}</div>
        </div>

        <div class="row" style="margin-top: 5px">
            <span style="margin-left:20px;">Type</span>
            <span id="task_Id" style="margin-left:40px">{{edgeDetail.edgeType}}</span>
        </div>
        <div class="row" style="margin-top: 5px">
            <span style="margin-left:20px">Name</span>
            <span id="task_Name" style="margin-left:33px">{{edgeDetail.edgeName}}</span>
        </div>
        <div class="row" style="margin-top: 5px">
            <span style="margin-left:20px">Properties</span>
            <span id="task_Name" style="margin-left:3px">{{edgeDetail.edgeProperties}}</span>
        </div>
    </div>
</div>
<div id="nodeDetail" class="modal fade bs-modal-lg in" aria-hidden="true" style="display:none;">
    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Node Details</h4>
            </div>
            <div class="modal-body">
                <div class="slimScrollDiv" style="padding-top:10px;">
                    <div class="scroller" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                        <form class="form-horizontal" novalidate="novalidate" name="myform1">
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="padding-top: 0px;">Id</label>
                                <div class="col-md-8">
                                    <span class="control-label">{{nodeDetailModel.id}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="padding-top: 0px;">Type</label>
                                <div class="col-md-8">
                                    <span class="control-label">{{nodeDetailModel.nodeType}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="padding-top: 0px;">Name</label>
                                <div class="col-md-8">
                                    <span class="control-label">{{nodeDetailModel.nodeName}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label class="col-md-3 control-label" style="padding-top: 0px;">Properties</label>
                                   
                                </div>
                            <!-- <div class="x_title">
                                <h4>
                                    <strong>Properties</strong>
                                </h4> -->
                                <table class="table table-bordered">
                                    <tr ng-repeat="tabledata in nodeDetailModel.nodeProperties">
                                        <td>
                                            <b>{{tabledata.name}}</b>
                                        </td>
                                        <td>{{tabledata.value}}</td>
                                    </tr>
                                </table>
                            <!-- </div>
                            <br/> -->

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="edgeDetail" class="modal fade bs-modal-lg in" aria-hidden="true" style="display:none;">
    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Edge Details</h4>
            </div>
            <div class="modal-body">
                <div class="slimScrollDiv" style="padding-top:10px;">
                    <div class="scroller" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                        <form class="form-horizontal" novalidate="novalidate" name="myform1">
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="padding-top: 0px;">Type</label>
                                <div class="col-md-8">
                                    <span class="control-label">{{edgeDetailModel.edgeType}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="padding-top: 0px;">Name</label>
                                <div class="col-md-8">
                                    <span class="control-label">{{edgeDetailModel.edgeName}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label class="col-md-3 control-label" style="padding-top: 0px;">Properties</label>
                                    <!-- <div class="col-md-8">
                                        <span class="control-label">{{edgeDetailModel.edgeName}}</span>
                                    </div> -->
                                </div>
                            <!-- <div class="x_title">
                                <h4>
                                    <strong>Properties</strong>
                                </h4> -->
                                <table class="table table-bordered">
                                    <tr ng-repeat="tabledata in edgeDetailModel.edgeProperties">
                                        <td>
                                            <b>{{tabledata.name}}</b>
                                        </td>
                                        <td>{{tabledata.value}}</td>
                                    </tr>
                                </table>
                            <!-- </div>
                            <br/> -->

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
            </div>
        </div>
    </div>
</div>