<div data-ng-controller="MetadataLoadController">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a ui-sref="home">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a ui-sref="metadata({type:'load'})">{{$state.current.data.pageTitle}}</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a ui-sref="metadata({type:'load'})">Load</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>{{loaddata.name}}</span>
            </li>
        </ul>
        <div class="page-toolbar">
            <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
                <i class="icon-calendar"></i>&nbsp;
                <span class="thin uppercase hidden-xs">{{time +' '+tzName}}</span>&nbsp;
            </div>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <br>
    <div notifybar style="position:fixed;top:40px;right:0;z-index:1000"></div>
    <div  options="dirOptions" type="'load'" on-close="onPanelClose" mode="mode" current-user="userDetail" comment-data="loaddata" comment-panel-directive></div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>{{loaddata.name}}
                    </div>

                    <div class="tools">
                        <a  href="javascript:;" title="Main" data-toggle="tooltip" data-placement="top"
                            tooltip  ng-hide="isAdd"  ng-class="(showFrom==true)? 'currentpage':'notcurrentpage'" style="height:16px;font-size:16px;" data-ng-click="showHome(loaddata.uuid,loaddata.version,mode)">
                            <i class="fa fa-home" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
                        </a>
                        <a title="Edit" ng-disabled="isPrivlage" ng-class="(isEdit==true)? 'currentpage':'notcurrentpage'" data-toggle="tooltip"
                            data-placement="top" tooltip ng-click="enableEdit(loaddata.uuid,loaddata.version)" ng-hide="isAdd"
                            style="height:16px;">
                            <i class="fa fa-edit" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
                        </a>
                     
                        <!-- <a title="Edit" ng-disabled="isPrivlage" ng-class="(showFrom==true && isEdit==true)? 'currentpage':'notcurrentpage'" data-toggle="tooltip"
                            data-placement="top" tooltip ng-click="enableEdit(loaddata.uuid,loaddata.version)" ng-hide="isAdd"
                            style="height:16px;">
                            <i class="fa fa-edit" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
                        </a>
                        <a title="View" data-toggle="tooltip" data-placement="top" tooltip ng-class="(showFrom==true || isEdit==true)? 'currentpage':'notcurrentpage'"
                            ng-click="showView(loaddata.uuid,loaddata.version)" ng-hide="isAdd" style="height:16px;">
                            <span class="glyphicon glyphicon-file" style="color:white;"></span>
                        </a> -->
                        <a title="Knowledge Graph" data-toggle="tooltip" data-placement="top" tooltip ng-show="isDependencyShow" ng-class="showFrom==false? 'currentpage':'notcurrentpage'"
                            data-ng-click="showGraph(loaddata.uuid,loaddata.version)" style="height:14px;">
                            <i class="fa fa-sitemap" style="display: block;margin:0px 2px 0px 0px;color:white;"></i>
                        </a>
                        <a title="Refresh" ng-click="broadcastRefreshData()" data-toggle="tooltip" data-placement="top" tooltip ng-class="showFrom==true? 'currentpage':'notcurrentpage'">
                            <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
                        </a>
                        <a title="Close" data-toggle="tooltip" data-placement="top" tooltip ng-click="close()" style="height:14px;">
                            <i class="fa fa-times" aria-hidden="true" style="display: block;margin: 2px auto;color:white;transform: scale(1,1.2);"></i>
                        </a>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body graph-body" ng-if="showGraphDiv">
                        <div class="form-body text-center" id="errorMsg" style="color:blue;"></div>
                        <div class="spinner" id="graphloader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <div class="form-body show-graph-body" id="graphWrapper" tree-graph-directive uuid="loaddata.uuid" version="load.defaultVersion.version">
                        </div>
                    </div>

                    <div class="form-body" data-ng-show="showFrom" style="padding-top:50px;">
                        <form class="form-horizontal" novalidate="novalidate" name="myform" ng-submit="submitLoad()" form-on-change="loadFormChange()" prevent-enter-submit>
                            <div class="form-group" ng-show="loaddata.uuid">
                                <label class="col-md-3 control-label">UUID</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" data-ng-disabled="true" ng-model="loaddata.uuid">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Name
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" ng-disabled="{{mode}}" ng-model="loaddata.name" required="">
                                </div>
                            </div>


                            <div class="form-group" ng-show="loaddata.uuid">
                                <label class="col-md-3 control-label">Version</label>
                                <div class="col-md-6">
                                    <select class="form-control" select2 name="version" ng-disabled="{{isversionEnable}}" ng-change="selectVersion()" data-ng-model="load.defaultVersion.version"
                                        ng-options="c.version as c.version for c in load.versions">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group" ng-show="loaddata.uuid">
                                <label class="col-md-3 control-label">CreatedBy</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" ng-disabled="true" ng-model="loaddata.createdBy.ref.name">
                                </div>
                            </div>

                            <div class="form-group" ng-show="loaddata.uuid">
                                <label class="col-md-3 control-label">CreatedOn</label>
                                <div class="col-md-6">
                                    <input type="text" ng-model="loaddata.createdOn" ng-disabled="true" class="form-control">
                                </div>
                            </div>

                            <div class="form-group taginput">
                                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Tags</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <tags-input class="tag-scroll-height" ng-model="tags" ng-disabled="{{mode}}" min-length="0" add-from-autocomplete-only="false" add-on-enter="true" add-on-space="true">
										<auto-complete source="loadTag($query)" min-length="0" debounce-delay="0" highlight-matched-text="true" 
											max-results-to-show="10">
										</auto-complete>
									</tags-input>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Desc
                                </label>
                                <div class="col-md-6">
                                    <textarea class="form-control" ng-disabled="{{mode}}" ng-model="loaddata.desc" rows="2" style="resize:none;"></textarea>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Source
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <!-- <select title="Type" class="form-control" ng-disabled="{{mode}}" ng-model="lodesourcetype" ng-options="x for x in lodeSourceTypes">
                                    </select> -->
                                    <select class="form-control" ng-change="onChangeSource()" select2 data-ng-model="allDataSource.defaultoption" ng-options="r as r.name for r in allDataSource.options track by r.uuid"
                                    ng-disabled="{{mode}}">
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input type="text" ng-if="!isAdd" title="{{loaddata.source.value}}" ng-model="loaddata.source.value" ng-disabled="{{mode}}" class="form-control" required="">
                                    <div ng-show="isAdd">
                                        <select  class="form-control" select2 data-ng-model="SelectRegistryDatasource" ng-options="r as r.name for r in allRegistryDatasource">
                                        </select>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Target</label>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <select title="Type" class="form-control" ng-disabled="{{mode}}" ng-model="lodetargettype" ng-options="x for x in lodeTargetTypes">
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select class="form-control" select2 data-ng-model="allload.defaultoption" ng-options="r as r.name for r in allload.options track by r.uuid"
                                        ng-disabled="{{mode}}">
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="btn-group" ng-init="loaddata.active='Y'">
                                        <label class="btn btn-default" ng-model="loaddata.active" uib-btn-radio="'Y'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                                            uncheckable>Yes</label>
                                        <label class="btn btn-default" ng-model="loaddata.active" uib-btn-radio="'N'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                                            uncheckable>No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Locked</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="btn-group" >
                                        <label class="btn btn-default" ng-model="loaddata.locked" uib-btn-radio="'Y'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                                            uncheckable>Yes</label>
                                        <label class="btn btn-default" ng-model="loaddata.locked" uib-btn-radio="'N'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                                            uncheckable>No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="btn-group" ng-init="loaddata.published='N'">
                                        <label class="btn btn-default" ng-model="loaddata.published" uib-btn-radio="'Y'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                                            uncheckable>Yes</label>
                                        <label class="btn btn-default" ng-model="loaddata.published" uib-btn-radio="'N'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                                            uncheckable>No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Header</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="btn-group">
                                        <label class="btn btn-default" ng-model="loaddata.header" uib-btn-radio="'Y'" ng-disabled="{{mode}}" uncheckable>Yes</label>
                                        <label class="btn btn-default" ng-model="loaddata.header" uib-btn-radio="'N'" ng-disabled="{{mode}}" uncheckable>No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Append</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="btn-group">
                                        <label class="btn btn-default" ng-model="loaddata.append" uib-btn-radio="'Y'" ng-disabled="{{mode}}" uncheckable>Yes</label>
                                        <label class="btn btn-default" ng-model="loaddata.append" uib-btn-radio="'N'" ng-disabled="{{mode}}" uncheckable>No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="padding-top:10px;">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a ui-sref="metadata({type:'load'})" class="btn btn-primary">Cancel</a>
                                    <!--  loadHasChanged == false || -->
                                    <input type="submit" class="btn btn-success" ng-disabled="(!iSSubmitEnable == false|| mode == false || myform.$dirty == true)?false:true"
                                        value="Submit" name="submit">
                                    <span class="spinner" style="padding-left:15px;font-size:23px;vertical-align:middle;" ng-if="dataLoading">
                                        <div class="bounce1"></div>
                                        <div class="bounce2"></div>
                                        <div class="bounce3"></div>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>