<style>
  /* .glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
    from {
      transform: scale(1) rotate(0deg);
    }
    to {
      transform: scale(1) rotate(360deg);
    }
}
@-webkit-keyframes spin2 {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
} */
</style>
<div class="row" data-ng-controller="RegisterSourceController">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="home">Home</a>
          <i class="fa fa-circle"></i>
        </li>
        <li>
          <span>{{$state.current.data.pageTitle}}</span>
          <i class="fa fa-circle"></i>
        </li>
        <li>
          <span>Register Source</span>
        </li>
      </ul>
      <div class="page-toolbar">
        <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom"
          data-original-title="Change dashboard date range">
          <i class="icon-calendar"></i>&nbsp;
          <span class="thin uppercase hidden-xs">{{time +' '+tzName}}</span>&nbsp;
        </div>
      </div>
    </div>
    <br>

    <div notifybar style="position:fixed;top:40px;right:0;z-index:1000"></div>
    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-cogs"></i>Source
        </div>
        <div class="tools">
          <a title="Refresh" data-toggle="tooltip" data-placement="top" tooltip ng-click="refresh()"
            data-original-title="" title="">
            <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white; height:16px"></i>
          </a>
          <a href="javascript:;" class="collapse" data-original-title="" title="" style="height:14px;"> </a>
        </div>
      </div>
      <div class="portlet-body">
        <form class="form-horizontal">
          <div class="row" style="padding-top:10px">
            <div class="col-md-12 col-lg-12">
              <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-3 col-lg-3" for="select">Name</label>
                  <div class="col-md-9 col-sm-9 col-xs-9 col-lg-7">
                    <select class="form-control" select2 data-ng-model="selectDataSource" ng-change="onChangeSource()"
                      ng-options="r as r.name for r in allDataSource | orderBy:'name'">
                      <option value="">-Select-</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-3 col-lg-3" for="select">Registered</label>
                  <div class="col-md-9 col-sm-9 col-xs-9 col-lg-7">
                    <div class="btn-group" ng-init="selectStatus='NOT_REGISTERED'">
                      <label class="btn btn-default" ng-model="selectStatus" ng-change="onChangeStatus()" uib-btn-radio="'REGISTERED'">Yes</label>
                      <label class="btn btn-default" ng-model="selectStatus" ng-change="onChangeStatus()" uib-btn-radio="'NOT_REGISTERED'"
                        uncheckable>No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="padding-top:10px">
            <div class="col-md-12 col-lg-12">
              <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-3 col-lg-3" for="select"></label>
                  <div class="col-md-9 col-sm-9 col-xs-9 col-lg-7">
                    <button type="button" class="btn green" ng-disabled="isSearchDisable" ng-click="searchSource()">Search</button>
                    <span class="spinner" style="padding-left:15px;font-size:23px;vertical-align:middle;" ng-if="isDataSourceInpogress">
                      <div class="bounce1"></div>
                      <div class="bounce2"></div>
                      <div class="bounce3"></div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>


    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-cogs"></i>Details
        </div>
        <div class="actions">
          <button type="submit" class="btn btn-default btn-sm" ng-disabled="isRSDisable" style="color:white;" ng-click="submitRegisgterSource()">
            <span ng-show="searchButtonText == 'Registering'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
            <span ng-show="searchButtonText == 'Register'"><i class="fa fa-plus"></i></span>
            {{ searchButtonText }}
          </button>
        </div>
      </div>

      <div class="portlet-body">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div id="datastoredatatable_filter" class="dataTables_filter" style="float:right;">
              <label>Search:</label>
              <input type="search" class="form-control input-sm input-small input-inline" ng-change="refreshData(searchtext)"
                ng-model="searchtext" aria-controls="datastoredatatable">
            </div>
          </div>
        </div>

        <!-- <div ui-grid="gridOptions" class="grid" ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize ui-grid-exporter ng-style="getGridStyle()"> -->
        <div ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-exporter ng-style="getGridStyle()">
          <div class="nodatawatermark_results" style="top:60%;" ng-show="!gridOptions.data.length">No data available</div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade in" id="confExModal" tabindex="-1" role="basic" aria-hidden="true" style="display:none; padding-right: 15px;">
    <div class="modal-dialog">
      <div class="modal-content rulemodel">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          </button>
          <h4 class="modal-title">Confirm</h4>
        </div>
        <div class="modal-body">Registered ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn green" ng-click="okRegiter()">Ok</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div>