<style>
    .select2-container--open {
          z-index: 10060;
        }
      </style>
<div ng-controller="ReportListController">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a ui-sref="home">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>{{$state.current.data.pageTitle}}</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a ui-sref="blank">Report</a>
            </li>
        </ul>
        <div class="page-toolbar">
            <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body"
                data-placement="bottom" data-original-title="Change dashboard date range">
                <i class="icon-calendar"></i>&nbsp;
                <span class="thin uppercase hidden-xs">{{time +' '+tzName}}</span>&nbsp;
            </div>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <br>
    <div notifybar style="position:fixed;top:40px;right:0;z-index:1000"></div>

    <div class="row">
        <div class="col-md-12">
            <search-criteria module-type="'report'" no-exec="true" on-submit="getData" data="data"></search-criteria>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>
                        <span style="text-transform: capitalize">Report</span>
                    </div>
                    <div class="actions">
                        <a ng-disabled="privileges.indexOf('Add') == -1" ng-click="addMode()" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> Add </a>
                    </div>
                    <div class="tools">
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="modal fade in" id="confModal" tabindex="-1" role="basic" aria-hidden="true" style="display:none;padding-right:15px;">
                        <div class="modal-dialog">
                            <div class="modal-content rulemodel">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title" style="overflow: hidden;white-space:nowrap;max-width:230px;margin-bottom:-4px;
                                    text-overflow:ellipsis;">{{obj.name}}</h4>
                                </div>
                                <div class="modal-body">{{msg}}

                                    <span style="text-transform: capitalize">Report</span> ?</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn green" ng-click="submitOk(msg)">Ok</button>
                                </div>
                            </div>
                            <!--/.modal-content -->
                        </div>
                        <!--/.modal-dialog -->
                    </div>

                    <div id="attrFilter" class="modal fade  in" tabindex="-1" role="basic" aria-hidden="true" style="display:none;padding-right:15px;">
                        <div class="modal-dialog" style="width:40%;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <!-- <h4 class="modal-title">Filter</h4> -->
                                    <h4 class="modal-title">Run Params</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="slimScrollDiv" style="margin-top:10px;">
                                        <div class="scroller" data-always-visible="1" data-rail-visible1="1"
                                            data-initialized="1" style="overflow-y: scroll;max-height: 300px;">
                                            <form class="form-horizontal" novalidate="novalidate" name="myformFilter">

                                                <div class="form-body centercontent" ng-show="filterAttribureIdValues.length == 0">
                                                    <div class="spinner">
                                                        <div class="bounce1"></div>
                                                        <div class="bounce2"></div>
                                                        <div class="bounce3"></div>
                                                    </div>
                                                </div>
                                                <div class="" style="margin-top:15px;">
                                                    <div class="form-group" ng-repeat="data in filterAttribureIdValues">
                                                        <label class="col-md-4 control-label" title="{{data.dname}}">{{data.attrName}}</label>
                                                        <div class="col-md-6">
                                                            <select ng-disabled="inprogressdata" title="{{dname}}"
                                                                class="form-control" select2 ng-model="selectedAttributeValue[$index]"
                                                                ng-change="onChange()" ng-options="c as c.value for c in data.values  track by c.value">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="CancleFitler()">Close</button>
                                    <button type="button" class="btn green" ng-click="applyFilter()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="dataTables_length" id="sample_1_length">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div id="datastoredatatable_filter" class="dataTables_filter" style="float:right;">
                                <label>Search:</label>
                                <input type="search" class="form-control input-sm input-small   input-inline" ng-change="refreshData(searchtext)"
                                    ng-model="searchtext" aria-controls="datastoredatatable">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-auto-resize ng-style="getGridStyle()">
                            <div class="nodatawatermark" ng-show="!gridOptions.data.length">No data available</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="responsive" class="modal fade bs-modal-lg in   " tabindex="-1" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content" style="resize: both;overflow: auto;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Run Params</h4>
                    </div>
                    <form class="form-horizontal" name="responsive" ng-submit="executeWithExecParams()" novalidate="novalidate">
                        <div class="modal-body">
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 350px;">
                                <div class="scroller" style="height: 350px; overflow-y: auto; width: auto;"
                                    data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <br>
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="select">Type
                                                    </label>
                                                    <div class="col-md-6">
                                                        <select class="form-control" name="ParamType" select2 ng-change="onChangeParamType()"
                                                            data-ng-model="selectParamType" ng-options="r.text  as r.caption disable when ['dag'].indexOf(select) !=-1  && r.text =='paramset' ?true:false for r in paramTypes">
                                                            <option value="">-Select-</option>
                                                        </select>
                                                        <input type="hidden" name="ParamType" ng-model="selectParamType"
                                                            required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-show="selectParamType =='paramset'">
                                                <div class="row">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="select">Name
                                                    </label>
                                                    <div class="col-md-6">
                                                        <select class="form-control" name="paramsetdata" select2
                                                            ng-change="onSelectparamSet()" data-ng-model="paramsetdata"
                                                            ng-options="r as r.name for r in allparamset | orderBy:'name'">
                                                            <option value="" style="color:red;">USE DEFAULT VALUE</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3" ng-if="isPramsetInProgess" style="margin-top:4px;">
                                                        <i class="glyphicon glyphicon-refresh spinning" style="margin:5px 0px 0px -23px;"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group" ng-if="selectParamType =='paramlist'">
                                                <div class="row">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="select">Name
                                                    </label>
                                                    <div class="col-md-6">
                                                        <div>
                                                            <select class="form-control" name="paramlistdata"
                                                                ng-disabled="allParamList.length >0?false:true" select2
                                                                ng-change="onChangeParamList()" data-ng-model="$parent.paramlistdata"
                                                                ng-options="r as r.name for r in allParamList">
                                                                <option value="">-Select-</option>
                                                            </select>

                                                            <input type="hidden" name="paramlistdata" ng-model="$parent.paramlistdata"
                                                                ng-required="isParamListRquired">
                                                        </div>

                                                    </div>

                                                    <div class="col-md-3" ng-if="isPramlistInProgess" style="margin-top:4px;">
                                                        <i class="glyphicon glyphicon-refresh spinning" style="margin:5px 0px 0px -23px;"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-if="selectParamType== null" style="margin-top:20px;">
                                                <div class="row">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="select">Name
                                                    </label>
                                                    <div class="col-md-6">
                                                        <select class="form-control" select2 name="paramlistdata1"
                                                            data-ng-model="paramlistdata1" ng-options="r as r.name for r in allParamList">
                                                            <option value="">-Select-</option>
                                                        </select>
                                                        <input type="hidden" name="paramlistdata1" ng-model="paramlistdata1"
                                                            required>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <div ng-if="isParamLsitTable">
                                                <table class=" row-border hover table  table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:10%;text-align:center">ID</th>
                                                            <th class="text-center">Name</th>
                                                            <th class="text-center" style="width:20%;">Type</th>
                                                            <th class="text-center">Default Value</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="tabledata in selectParamList.paramInfo">
                                                            <td>
                                                                <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                    <input type="text" ng-model="$index" ng-disabled="true"
                                                                        class="form-control">
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                    <input type="text" ng-model="tabledata.paramName"
                                                                        title="{{tabledata.paramName}}" ng-disabled="true"
                                                                        class="form-control">
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                    <input type="text" ng-model="tabledata.paramType"
                                                                        title="{{tabledata.paramType}}" ng-disabled="true"
                                                                        class="form-control">
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <div ng-if="tabledata.paramType =='string'">
                                                                    <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                        <input type="text" ng-model="tabledata.paramValue"
                                                                            title="{{tabledata.paramValue}}"
                                                                            ng-disabled="false" class="form-control">
                                                                    </span>
                                                                </div>
                                                                <div ng-if="tabledata.paramType =='date'">
                                                                    <div class="col-md-12" style="margin-top:-20px;margin-bottom:-20px;padding-left: 0px;padding-right: 0px;">
                                                                        <p class="input-group">
                                                                        <input type="text" class="form-control" title="{{tabledata.paramValue|date: 'yyyy-MM-dd'}}"  popup-placement="left" uib-datepicker-popup="yyyy-MM-dd" ng-keypress="ValidationKeyPress($event)" ng-model="tabledata.paramValue"
                                                                            is-open="popup2.opened"  datepicker-options="dateOptions"
                                                                            ng-required="true" close-text="Close" />
                                                                        <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-default" ng-click="open2()">
                                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                                            </button>
                                                                        </span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="text-center" ng-if="['datapod','distribution'].indexOf(tabledata.paramValueType) !=-1">
                                                                    NA
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-if="isTabelShow" style="overflow-x: auto;">
                                                <table class=" row-border hover table  table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:center;Vertical-align: middle;width:5%;">
                                                                <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                    <input style="width:16px;height:16px;" type="checkbox"
                                                                        ng-disabled="{{mode}}" ng-model="$parent.selectallattribute"
                                                                        ng-change="selectAllRow()" />
                                                                </span>
                                                            </th>
                                                            <th class="text-center"> ID </th>
                                                            <th class="text-center" ng-repeat="tablecol in paramtablecol">
                                                                {{tablecol.paramName}} </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="tabledata in paramtable">
                                                            <td style="text-align:center;Vertical-align:middle;width:5%;">
                                                                <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                    <input style="width:16px;height:16px;" class="form-control"
                                                                        type="checkbox" ng-model="tabledata.selected" />
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                    <input style="width:50px" type="text" ng-model="tabledata.paramSetId"
                                                                        ng-disabled="true" class="form-control">
                                                                </span>
                                                            </td>
                                                            <td ng-repeat="tablecol in tabledata.paramSetVal">
                                                                <span class="form-group" style="margin-left:0px;margin-right: 0px;">
                                                                    <input style="width:{{paramtablecol.length}} < 3?0:{{paramtablecol[$index].paramName.split('').length + 100}}px"
                                                                        type="text" ng-model="tablecol.value"
                                                                        ng-disabled="true" class="form-control">
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                            <input type="submit" class="btn green" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>