<style type="text/css">
  .adminPage   .tab-pane {
    margin: 20px 20px;
    }
    .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.adminPage .tab-content { border-left: 1px solid #ddd; border-right: 1px solid #ddd; padding: 10px; border-bottom: 1px solid #ddd;}
.adminPage .nav-tabs, .adminPage .nav-pills{
   margin-bottom: 0px !important;
}

.adminPage .nav-tabs>li.active>a, .adminPage .nav-tabs>li.active>a:focus, .adminPage .nav-tabs>li.active>a:hover {
    color: #555;
    background-color: #fff;
    border:none;
    border-bottom: 4px solid  #9fe4ea;
    cursor: default;
  }
</style>

<div class="adminPage" ng-controller="settingsController">
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <a ui-sref="home">Home</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <a ui-sref="settings">{{$state.current.data.pageTitle}}</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <span>Settings</span>

      </li>
    </ul>
    <div class="page-toolbar">
      <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
        <i class="icon-calendar"></i>&nbsp;
        <span class="thin uppercase hidden-xs">{{time +' '+tzName}}</span>&nbsp;
      </div>
    </div>
  </div>
  <br>
  <div notifybar style="position:fixed;top:40px;right:0;z-index:1000"></div>
  <div ng-hide="onAccess">
  <form class="form-horizontal" name="myform" ng-submit="submitSettings()">
    <uib-tabset active="activeForm" >
      <uib-tab index="0" heading="General">
        <div>
          <div class="row">
          <div class="x_title">
          <button type="Button" class="clickRemoveFilter btn btn-danger fa fa-minus pull-right" ng-click="removeRowGeneral()" ng-disabled="{{mode}}"></button>
          <button type="Button" class="clickAddFilter btn btn-success fa fa-plus pull-right" ng-click="addRowGeneral()"  ng-disabled="{{mode}}"></button>

        </div>
        <h4><strong>General Settings</strong></h4>
        <hr>
      </div>
            <table  class=" row-border hover table  table-striped table-bordered">
            <thead>
              <tr>
                <th style="width:5%;text-align: center; Vertical-align: middle;"><input style="width: 16px;height:16px;"  type="checkbox" ng-model="checkAllGeneral" ng-click="checkAllGeneralRow()" /></th>
                <th style="text-align: center; Vertical-align: middle;width:45%;">Property Name</th>
                <th style="text-align: center;width:50%;">Property Value</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in settingData.generalSetting">
                <td style="text-align:center;Vertical-align:middle;"><input  style="width:16px;height:16px;" type="checkbox" ng-model="data.selectedGeneral" />
                </td>
                <td>
                  <input type="text" class="form-control" ng-model="data.propertyName" title="{{data.propertynamegeneral}}">
                </td>
                <td>
                  <input type="text" class="form-control" ng-model="data.propertyValue" title="{{data.propertyvaluegeneral}}" >
                </td>
              </tr>
            </tbody>
        </table>

        </div>
      </uib-tab>
      <uib-tab index="1" heading="Meta Engine">
        <div>
          <div class="row">
          <div class="x_title">
          <button type="Button" class="clickRemoveFilter btn btn-danger fa fa-minus pull-right" ng-click="removeRowMeta()" ng-disabled="{{mode}}"></button>
          <button type="Button" class="clickAddFilter btn btn-success fa fa-plus pull-right" ng-click="addRowMeta()"  ng-disabled="{{mode}}"></button>

        </div>
        <h4><strong>Meta Engine Settings</strong></h4>
        <hr>
      </div>
            <table  class=" row-border hover table  table-striped table-bordered">
            <thead>
              <tr>
                <th style="width:5%;text-align: center; Vertical-align: middle;"><input ng-disabled="{{mode}}"   style="width: 16px;height:16px;"  type="checkbox" ng-model="checkAllMeta" ng-click="checkAllMetaRow()" /></th>
                <th style="text-align: center; Vertical-align: middle;width:45%;">Property Name</th>
                <th style="text-align: center;width:50%;">Property Value</th>

              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in settingData.metaEngine">
                <td style="text-align:center;Vertical-align:middle;"><input style="width: 16px;height:16px;" type="checkbox" ng-model="data.selectedMeta" novalidate />
                </td>
                <td>
                  <input type="text" class="form-control" ng-model="data.propertyName" title="{{data.propertynamemeta}}">
                </td>
                <td>
                  <input type="text" class="form-control" ng-model="data.propertyValue" title="{{data.propertyvaluemeta}}" >
                </td>
              </tr>
            </tbody>
        </table>

        </div>
      </uib-tab>
      <uib-tab index="2" heading="Rule Engine">
        <div>
          <div class="row">
          <div class="x_title">
          <button type="Button" class="clickRemoveFilter btn btn-danger fa fa-minus pull-right" ng-click="removeRowRule()" ng-disabled="{{mode}}"></button>
          <button type="Button" class="clickAddFilter btn btn-success fa fa-plus pull-right" ng-click="addRowRule()"  ng-disabled="{{mode}}"></button>

        </div>
        <h4><strong>Rule Engine Settings</strong></h4>
        <hr>
      </div>
            <table  class=" row-border hover table  table-striped table-bordered">
            <thead>
              <tr>
                <th style="width:5%;text-align: center; Vertical-align: middle;"><input ng-disabled="{{mode}}"   style="width: 16px;height:16px;"  type="checkbox" ng-model="checkAllRule" ng-click="checkAllRuleRow()" /></th>
                <th style="text-align: center; Vertical-align: middle;width:45%;">Property Name</th>
                <th style="text-align: center;width:50%;">Property Value</th>

              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in settingData.ruleEngine">
                <td style="text-align:center;Vertical-align:middle;"><input style="width: 16px;height:16px;" type="checkbox" ng-model="data.selectedRule" />
                </td>
                <td>
                  <input type="text" class="form-control" ng-model="data.propertyName" title="{{data.propertynamerule}}">
                </td>
                <td>
                  <input type="text" class="form-control" ng-model="data.propertyValue" title="{{data.propertyvaluerule}}" >
                </td>
              </tr>
            </tbody>
        </table>

        </div>
      </uib-tab>
    </uib-tabset>
    <div class="form-group"  style="padding-top: 15px;">
        <div class="col-md-12 col-sm-6 col-xs-12 ">
          <div class="col-md-6 col-md-offset-5 col-sm-6 col-xs-12 ">
            <a data-ui-sref="home"  class="btn btn-primary" style="margin-right: 3%;margin-left: -2%;">Cancel</a>
            <input type="submit" class="btn btn-success" value="Submit">
          </div>
            <span class="spinner" style="padding-left:15px;font-size:23px;vertical-align:middle;" ng-if="dataLoading">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </span>
        </div>
    </div>
  </form>
</div>
</div>
