<style type="text/css">
    .trainResult .tab-pane {
        margin: 20px 20px;
    }

    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 15px;
    }

    .trainResult .tab-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .trainResult .nav-tabs,
    .trainResult .nav-pills {
        margin-bottom: 0px !important;
    }

    /*   
  .trainResult .nav-tabs>li.active>a, .adminPage .nav-tabs>li.active>a:focus, .trainResult .nav-tabs>li.active>a:hover {
      color: #555;
      background-color: #fff;
      border:none;
      border-bottom: 4px solid  #9fe4ea;
      cursor: default;
    } */
</style>

<div class="row trainResult" ng-controller="ResultTrainController2">
    <div notifybar style="position:fixed;top:40px;right:0;z-index:1000"></div>
    <div class="col-md-12">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="home">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>{{$state.current.data.pageTitle}}</span>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Train Results</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">

                    <i class="icon-calendar"></i>&nbsp;
                    <span class="thin uppercase hidden-xs">{{time +' '+tzName}}</span>&nbsp;
                </div>
            </div>
        </div>
        <br>
        <div ng-hide="onAccess">
            <div class="portlet box green" ng-show="!isShowPMML">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>{{caption}} Result
                    </div>
                    <div class="tools">
                        <!-- <a title="Download" ng-click="downloadMoldeResult()" data-toggle="tooltip" data-placement="top" tooltip ng-disabled="isPMMLDownload"
                            style="pointer-events: auto;">
                            <i class="fa fa-download" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
                        </a>
                        <a title="Show Result" data-toggle="tooltip" data-placement="top" class="currentpage" tooltip style="height:16px;">
                            <span class="glyphicon glyphicon-file" style="color: white;" ng-disabled="true"></span>
                        </a>
                        <a title="Show PMML" ng-click="showPMMLResult()" data-toggle="tooltip" data-placement="top" tooltip ng-disabled="isPMMLDownload"
                            style="pointer-events: auto;" ng-show="type=='train'" ng-class="isPMMLDownload==true?'currentpage':'notcurrentpage'">
                            <i class="fa  fa-file-excel-o" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
                        </a> -->

                        <a title="Refresh" ng-click="refreshMoldeResult()" data-toggle="tooltip" data-placement="top" tooltip>
                            <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
                        </a>
                        <a title="Close" data-toggle="tooltip" data-placement="top" tooltip href="javascript:;" ng-click="close()">
                            <i class="fa fa-times" aria-hidden="true" style="display: block;margin: 2px auto;color:white;transform: scale(1,1.2);"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body" style="min-heigth:100px;">
                    <form class="form-horizontal" name="myform" ng-submit="submitSettings()">
                        <uib-tabset active="activeTabIndex">
                            <uib-tab index="0" heading="Summary" select="go(0)">
                                <div class="spinner centercontent" ng-if="isTrainResultProgess">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                                <div class="row" ng-if="!isTrainResultProgess">
                                    <div class="col-md-12">
                                        <h4>Training Details</h4>
                                        <hr>
                                        <table class="table table-bordered train-result" style="width:50%">
                                            <tr>
                                                <td style="width:50%">Algorithm</td>
                                                <td style="width:50%">
                                                    <b>{{modelresult.algorithm}}</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:50%">Type</td>
                                                <td style="width:50%">
                                                    <b>{{modelresult.algoType}}</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:50%">Num Features</td>
                                                <td style="width:50%">
                                                    <b>{{modelresult.numFeatures}}</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:50%">Total Records</td>
                                                <td style="width:50%">
                                                    <b>{{modelresult.totalRecords}} rows</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:50%">Training Set
                                                </td>
                                                <td style="width:50%">
                                                    <b>{{modelresult.trainingSet}} rows</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:50%">Validation Set</td>
                                                <td style="width:50%">
                                                    <b>{{modelresult.validationSet}} rows</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:50%">Time Taken</td>
                                                <td style="width:50%">
                                                    <b>{{modelresult.timeTaken}}</b>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                                <div class="row" ng-if="!isTrainResultProgess">
                                    <div class="col-md-12">
                                        <h4>Parameter Details</h4>
                                        <hr>
                                        <table class="table table-bordered train-result" style="width:50%">
                                            <tr ng-repeat="data in modelresult.paramList ">
                                                <td style="width:50%">{{data.paramDispName}}</td>
                                                <td style="width:50%">
                                                    <b>{{data.paramValue.value  | percentage:2}}</b>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab index="1" heading="Feature Importance" select="go(1)">
                                <div class="spinner centercontent" ng-if="isTrainResultProgess">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                                <div class="row" ng-if="showChart && modelresult.featureImportance !=null && !isTrainResultProgess">
                                    <div class="col-md-12">
                                        <div bar-chart-horizontal id="chart{{modelresult.uuid}}" chartid="modelresult.uuid" data="modelresult"></div>
                                    </div>
                                </div>
                                <h4 ng-if="modelresult.featureImportance ==null && !isTrainResultProgess">
                                    <strong>Feature Importance Not Available</strong>
                                </h4>
                                <div ng-if="modelresult.featureImportance !=null && !isTrainResultProgess">
                                    <br>
                                    <h4>Feature Details</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div id="datastoredatatable_filter" class="dataTables_filter" style="float:right;">
                                                <label>Search:</label>
                                                <input type="search" class="form-control input-sm input-small input-inline" ng-change="refreshData(searchtext)" ng-model="searchtext"
                                                    aria-controls="datastoredatatable">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row" style="overflow-y: auto;overflow-x: hidden;max-height: 330px;" ng-if="modelresult.featureImportance !=null && !isTrainResultProgess">
                                        <div class="col-md-12">
                                            <div class="">
                                                <table class=" row-border hover table  table-striped table-bordered" style="table-layout:fixed;">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:center">Feature Name</th>
                                                            <th style="text-align: center">Feature Importance</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="data in featureImportanceArr">
                                                        <tr>
                                                            <td style="width:50%">
                                                                {{data.label}}
                                                            </td>
                                                            <td style="width:50%">
                                                                {{data.value}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab index="2" heading="Performance" select="go(2)">
                                <div class="spinner centercontent" ng-if="isTrainResultProgess">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                                <div ng-if="!isTrainResultProgess">
                                    <table class="table table-bordered train-result" style="width:50%">
                                        <tr>
                                            <td style="width:50%">Accuracy</b>
                                            </td>
                                            <td style="width:50%">
                                                <b>{{ modelresult.accuracy | number : 2}}%</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:50%">Recall</b>
                                            </td>
                                            <td style="width:50%">
                                                <b>{{ modelresult.recall | number : 2}}%</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:50%">Precision</td>
                                            <td style="width:50%">
                                                <b>{{modelresult.precision | number : 2}}%</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:50%">F1 Score</b>
                                            </td>
                                            <td style="width:50%">
                                                <b>{{ modelresult.f1Score | number : 2}}%</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:50%">Log Loss</td>
                                            <td style="width:50%">
                                                <b>{{ modelresult.logLoss}}</b>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td style="width:50%">Lift</td>
                                            <td style="width:50%">
                                                <b>{{ modelresult.lift}}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:50%">ROC AUC</td>
                                            <td style="width:50%">
                                                <b>{{ modelresult.rocAUC}}</b>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>