<div data-ng-controller="AdminUserController">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a ui-sref="home">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a ui-sref="admin({type:'user'})">Admin</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a ui-sref="admin({type:'user'})">User</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>{{userdata.name}}</span>
            </li>
        </ul>
        <div class="page-toolbar">
            <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
                <i class="icon-calendar"></i>&nbsp;
                <span class="thin uppercase hidden-xs">{{time +' '+tzName}}</span>&nbsp;
            </div>
        </div>
    </div>

    <br>
    <!-- END PAGE HEADER-->
    <div notifybar style="position:fixed;top:40px;right:0; z-index:1000"></div>
    <div options="dirOptions" type="'user'" on-close="onPanelClose" mode="mode" current-user="userDetail" comment-data="userdata"
        comment-panel-directive></div>

    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN: ACCORDION DEMO -->
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>{{userdata.name}}
                    </div>

                    <div class="tools">
                        <a href="javascript:;" title="Main" data-toggle="tooltip" data-placement="top" tooltip ng-hide="isAdd" ng-class="(showForm==true ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
                            style="height:16px;font-size:16px;" data-ng-click="showHome(userdata.uuid,userdata.version,mode)">
                            <i class="fa fa-home" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
                        </a>
                        <a title="Edit" ng-class="(isEdit==true || isPrivlage || userdata.locked == 'Y' ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'" data-toggle="tooltip"
                            data-placement="top" tooltip ng-click="enableEdit(userdata.uuid,userdata.version)" ng-hide="isAdd"
                            style="height:16px;">
                            <i class="fa fa-edit" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
                        </a>
                        <!-- <a title="Edit" ng-disabled="isPrivlage" ng-class="(showForm==true && isEdit==true)? 'currentpage':'notcurrentpage'" data-toggle="tooltip"
                            data-placement="top" tooltip ng-click="enableEdit(userdata.uuid,userdata.version)" ng-hide="isAdd"
                            style="height:16px;">
                            <i class="fa fa-edit" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
                        </a>
                        <a title="View" data-toggle="tooltip" data-placement="top" tooltip ng-class="(showForm==true || isEdit==true)? 'currentpage':'notcurrentpage'"
                            ng-click="showView(userdata.uuid,userdata.version)" ng-hide="isAdd" style="height:16px;">
                            <span class="glyphicon glyphicon-file" style="color:white;"></span>
                        </a> -->
                        <a title="Knowledge Graph" data-toggle="tooltip" data-placement="top" tooltip ng-show="isDependencyShow" ng-class="(showForm==false ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
                            data-ng-click="showGraph(userdata.uuid,userdata.version)" style="height:14px;">
                            <i class="fa fa-sitemap" style="display: block;margin:0px 2px 0px 0px;color:white;"></i>
                        </a>

                        <a title="Refresh" ng-click="broadcastRefreshData()" data-toggle="tooltip" data-placement="top" tooltip ng-class="(showForm==true ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'">
                            <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
                        </a>

                        <a title="Close" data-toggle="tooltip" data-placement="top" tooltip ng-click="genericClose($event,'user')" data-ui-sref="{{state}}({{stateparme}})"
                            style="height:14px;">
                            <i class="fa fa-times" aria-hidden="true" style="display: block;margin: 2px auto;color:white;transform: scale(1,1.2);"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body graph-body" ng-if="showGraphDiv">
                        <div class="form-body text-center" id="errorMsg" style="color:blue;"></div>
                        <div class="spinner" id="graphloader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <div class="form-body show-graph-body" id="graphWrapper" tree-graph-directive uuid="userdata.uuid" version="user.defaultVersion.version">
                        </div>
                    </div>


                    <div class="form-body" style="padding-top:50px;" ng-show="showForm">
                        <div class="centercontent" style="min-height:500px;" ng-if="isEditVeiwError">
                            <h3 style="font-size:14px;color:red;">Some Error Occur</h3>
                        </div>
                        <div class="centercontent" style="min-height:500px;" ng-if="isEditInprogess">
                            <div class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                        <div ng-show="!isEditInprogess && !isEditVeiwError">
                            <form class="form-horizontal" novalidate="novalidate" ng-submit="submitUser()" name="myform" form-on-change="userFormChange()"
                                prevent-enter-submit>

                                <div class="form-group" ng-show="userdata.uuid">
                                    <label class="col-md-3 control-label">UUID</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" data-ng-disabled="true" ng-model="userdata.uuid">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Name
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" ng-disabled="{{mode}}" ng-model="userdata.name" required="">
                                    </div>
                                </div>

                                <div class="form-group" ng-show="userdata.uuid">
                                    <label class="col-md-3 control-label">Version</label>
                                    <div class="col-md-6">
                                        <select class="form-control" select2 name="version" ng-change="selectVersion(user.defaultVersion.uuid,user.defaultVersion.version)"
                                            data-ng-model="user.defaultVersion.version" ng-options="c.version as c.version for c in user.versions"
                                            ng-disabled="{{isversionEnable}}">

                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" ng-show="userdata.uuid">
                                    <label class="col-md-3 control-label">CreatedBy</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" ng-disabled="true" ng-model="userdata.createdBy.ref.name">
                                    </div>
                                </div>

                                <div class="form-group" ng-show="userdata.uuid">
                                    <label class="col-md-3 control-label">CreatedOn</label>
                                    <div class="col-md-6">
                                        <input type="text" ng-model="userdata.createdOn" ng-disabled="true" class="form-control">
                                    </div>
                                </div>




                                <div class="form-group taginput">
                                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Tags</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <tags-input class="tag-scroll-height" ng-model="tags" ng-disabled="{{mode}}" min-length="0" add-from-autocomplete-only="false"
                                            add-on-enter="true" add-on-space="true">
                                            <auto-complete source="loadTag($query)" min-length="0" debounce-delay="0" highlight-matched-text="true" max-results-to-show="10">
                                            </auto-complete>
                                        </tags-input>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Desc</label>
                                    <div class="col-md-6">
                                        <textarea class="form-control" ng-disabled="{{mode}}" ng-model="userdata.desc" rows="2" style="resize:none;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="btn-group" ng-init="userdata.active='Y'">
                                            <label class="btn btn-default" ng-model="userdata.active" uib-btn-radio="'Y'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                                                uncheckable>Yes</label>
                                            <label class="btn btn-default" ng-model="userdata.active" uib-btn-radio="'N'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                                                uncheckable>No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Locked</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="btn-group">
                                            <label class="btn btn-default" ng-model="userdata.locked" uib-btn-radio="'Y'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                                                uncheckable>Yes</label>
                                            <label class="btn btn-default" ng-model="userdata.locked" uib-btn-radio="'N'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                                                uncheckable>No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="btn-group" ng-init="userdata.published='N'">
                                            <label class="btn btn-default" ng-model="userdata.published" uib-btn-radio="'Y'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                                                uncheckable>Yes</label>
                                            <label class="btn btn-default" ng-model="userdata.published" uib-btn-radio="'N'" ng-disabled="(mode=='true' || mode=='false') ? true:false"
                                                uncheckable>No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Public</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      <div class="btn-group" ng-init="userdata.publicFlag='N'">
                                        <label class="btn btn-default" ng-model="userdata.publicFlag" uib-btn-radio="'Y'"
                                          ng-disabled="{{mode}}" uncheckable>Yes</label>
                                        <label class="btn btn-default" ng-model="userdata.publicFlag" uib-btn-radio="'N'"
                                          ng-disabled="{{mode}}" uncheckable>No</label>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Password
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input type="password" required="" ng-model="userdata.password" ng-disabled="{{mode}}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Organization
                                            <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div ng-if="applicationOrgDetail.applicationType =='SYSADMIN'">
                                                <select class="form-control" select2 ng-disabled="{{mode}}" data-ng-model="$parent.selectOrgInfo" ng-change="onChangeOrg()" ng-options="r as r.name for r in allOrgnization  track by r.uuid "
                                                required>
                                                </select>
                                        </div>
                                        <div ng-if="applicationOrgDetail.applicationType =='APPADMIN' ||applicationOrgDetail.applicationType =='DEFAULT'  ">
                        
                                            <input type="text" ng-model="applicationOrgDetail.orgInfo.ref.name" ng-disabled="true" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">GroupInfo
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <tags-input class="tag-scroll" ng-model="groupInfoTags" ng-disabled="{{mode}}" display-property="name" key-property="id"
                                            add-from-autocomplete-only="true" ng-focus="onTagFocuse()" min-length="0">
                                            <auto-complete source="loadgroup($query)" min-length="1" debounce-delay="0" highlight-matched-text="true" load-on-focus="true"
                                                load-on-empty="true"></auto-complete>
                                        </tags-input>
                                    </div>
                                </div>

                                <div class="form-group">
                                        <label class="col-md-3 control-label">Default Group
                                            <span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-6">
                                            <select  select2 class="form-control" ng-disabled="{{mode}}" data-ng-model="selectDefaultGroup"
                                            ng-options="r as r.name  for r in groupInfoTags track by r.uuid" required>
                                            
                                            </select>
                                        </div>
                                    </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">FirstName
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input type="text" ng-model="userdata.firstName" ng-disabled="{{mode}}" class="form-control" required="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">MiddleName</label>
                                    <div class="col-md-6">
                                        <input type="text" ng-model="userdata.middleName" ng-disabled="{{mode}}" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">LastName
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input type="text" ng-model="userdata.lastName" ng-disabled="{{mode}}" class="form-control" required="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">EmailId
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input type="text" required="" ng-model="userdata.emailId" ng-disabled="{{mode}}" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group" style="padding-top: 10px;">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <a data-ui-sref="{{state}}({{stateparme}})" class="btn btn-primary">Cancel</a>
                                        <input type="submit" class="btn btn-success" value="Submit" name="submit" ng-disabled="(!iSSubmitEnable == false|| mode == false || myform.$dirty == true)?false:true">
                                        <span class="spinner" style="padding-left:15px;font-size:23px;vertical-align:middle;" ng-if="dataLoading">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>