<div ng-controller="MetadataVizpodController">
	<!-- BEGIN PAGE HEADER-->
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<a ui-sref="home">Home</a>
				<i class="fa fa-circle"></i>
			</li>
			<li>
				<a ui-sref="vizpodlist">{{$state.current.data.pageTitle}}</a>
				<i class="fa fa-circle"></i>
			</li>
			<li>
				<a ui-sref="vizpodlist">Vizpod</a>
				<i class="fa fa-circle"></i>
			</li>
			<li>
				<span>{{vizpoddata.name}}</span>
			</li>
		</ul>
		<div class="page-toolbar">
			<div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
				<i class="icon-calendar"></i>&nbsp;
				<span class="thin uppercase hidden-xs">{{time +' '+tzName}}</span>&nbsp;
			</div>
		</div>
	</div>
	<!-- END PAGE HEADER-->
	<br>
	<div notifybar style="position:fixed;top:40px;right:0;z-index:1000"></div>
	<div options="dirOptions" type="'vizpod'" on-close="onPanelClose" mode="mode" current-user="userDetail" comment-data="vizpoddata"
	 comment-panel-directive></div>


	<!-- BEGIN MAIN CONTENT -->
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN: ACCORDION DEMO -->
			<div class="portlet box green">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-gift"></i> {{vizpoddata.name}}
					</div>
					<div class="tools">
						<a href="javascript:;" title="Main" data-toggle="tooltip" data-placement="top" tooltip ng-hide="isAdd" ng-class="(showvizpod==true || isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
						 style="height:16px;font-size:16px;" data-ng-click="showHome(vizpoddata.uuid,vizpoddata.version,mode)">
							<i class="fa fa-home" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
						</a>
						<a title="Edit" ng-class="(isEdit==true || isPrivlage || vizpoddata.locked == 'Y' ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'" data-toggle="tooltip"
						 data-placement="top" tooltip ng-click="enableEdit(vizpoddata.uuid,vizpoddata.version)" ng-hide="isAdd" style="height:16px;">
							<i class="fa fa-edit" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
						</a>
						<!-- <a title="Edit" ng-disabled="isPrivlage" ng-class="(showvizpod==true && isEdit==true)? 'currentpage':'notcurrentpage'" data-toggle="tooltip"
						 data-placement="top" tooltip ng-click="enableEdit(vizpoddata.uuid,vizpoddata.version)" ng-hide="isAdd" style="height:16px;">
							<i class="fa fa-edit" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
						</a>
						<a title="View" data-toggle="tooltip" data-placement="top" tooltip ng-class="(showvizpod==true && isEdit==false)? 'currentpage':'notcurrentpage'"
						 ng-click="showview(vizpoddata.uuid,vizpoddata.version)" ng-hide="isAdd" style="height:16px;">
							<span class="glyphicon glyphicon-file" style="color:white;"></span>
						</a> -->
						<a title="Sample Records" data-toggle="tooltip" data-placement="top" tooltip ng-class="(isShowSimpleData==true ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
						 ng-hide="isAdd" data-ng-click="isShowSimpleData ==false?showSampleTable(vizpoddata):''" style="height:16px;">
							<i class="fa fa-table" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
						</a>
						<a ng-click="downloadFile(vizpoddata)" tooltip-placement="top" uib-tooltip="Download" ng-hide="isAdd" ng-class="(isDownloadDatapod==true ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'"
						 ng-disabled="isDownloadDatapod">
							<i class="fa fa-download" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
						</a>
						<a title="Knowledge Graph" ng-class="(showvizpod==false ||isEditInprogess ==true || isEditVeiwError ==true)? 'currentpage':'notcurrentpage'" ng-show="isDependencyShow" data-toggle="tooltip"
						 data-placement="top" tooltip data-ng-click="showVizpodGraph(vizpoddata.uuid,vizpoddata.version)">
							<i class="fa fa-sitemap" style="display: block;margin:0px 2px 0px 0px;color:white;"></i>
						</a>
						<a title="Refresh" ng-click="isShowSimpleData ==true?showSampleTable(vizpoddata):broadcastRefreshData()" data-toggle="tooltip" data-placement="top" tooltip>
							<i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
						</a>
						<a title="Close" data-toggle="tooltip" data-placement="top" tooltip ng-click="okVizpodSave()" style="height:14px;">
							<i class="fa fa-times" aria-hidden="true" style="display: block;margin: 2px auto;color:white;transform: scale(1,1.2);"></i>
						</a>
					</div>
				</div>

				<div class="portlet-body">
					<!-- BEGIN FORM-->
					<div class="form-body {{tableclass}}" ng-show="isShowSimpleData">
						<div class="spinner" ng-show="spinner">
							<div class="bounce1"></div>
							<div class="bounce2"></div>
							<div class="bounce3"></div>
						</div>
						<div ng-if="isDataError">
							<h3 style="font-size:14px;color:red">{{datamessage}}</h3>
						</div>

						<div ng-show="!isDataInpogress && !isDataError">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="dataTables_length" id="sample_1_length">
										<label>Show
											<select name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-xsmall input-inline" ng-model="pagination.pageSize"
											 ng-options="r for r in pagination.paginationPageSizes" ng-change="onPerPageChange()">
											</select>
										</label>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div id="datastoredatatable_filter" class="dataTables_filter" style="float:right;">
										<label>Search:</label>
										<input type="search" class="form-control input-sm input-small   input-inline" ng-change="refreshData()" ng-model="searchtext"
										 aria-controls="datastoredatatable">
									</div>
								</div>
							</div>
							<div ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-exporter ng-style="getGridStyle()">
								<div class="nodatawatermark_results" ng-show="!gridOptions.data.length">No data available</div>
							</div>

							<div class="row">
								<div class="col-md-6" style="margin-top:17px">
									Showing {{pagination.to}} to {{pagination.from}} of {{pagination.totalItems}} records
								</div>

								<div class="col-md-6">
									<ul uib-pagination items-per-page="pagination.pageSize" total-items="pagination.totalItems" ng-model="pagination.currentPage"
									 ng-change="pageChanged()" style="float:right;overflow:hidden;z-index:1;" max-size="pagination.maxSize" class="pagination-md"
									 boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6"></div>
								<div class="col-md-6" >
								  <div class="grey"style="float:right;font-style: italic;">Note : Showing max {{sample.rows}} rows</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-body graph-body" ng-if="showgraphdiv">
						<div class="form-body text-center" id="errorMsg" style="color:blue;"></div>
						<div class="spinner" id="graphloader">
							<div class="bounce1"></div>
							<div class="bounce2"></div>
							<div class="bounce3"></div>
						</div>
						<div class="form-body show-graph-body" id="graphWrapper" tree-graph-directive uuid="vizpoddata.uuid" version="vizpod.defaultVersion.version">
						</div>
					</div>

					<div class="form-body" ng-show="showvizpod" style="padding-top: 50px;">
						<div class="centercontent" style="min-height:500px;" ng-if="isEditVeiwError">
							<h3 style="font-size:14px;color:red;">Some Error Occur</h3>
						</div>
						<div class="centercontent" style="min-height:500px;" ng-if="isEditInprogess">
							<div class="spinner">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
						</div>
						<div ng-show="!isEditInprogess && !isEditVeiwError">
							<form class="form-horizontal" novalidate="novalidate" name="myform" ng-submit="submitVizpod()" prevent-enter-submit>
								<div class="form-body">
									<div class="form-group" ng-show="vizpoddata.uuid">
										<label class="col-md-3 control-label">UUID</label>
										<div class="col-md-6">
											<input type="text" class="form-control" ng-disabled="true" ng-model="vizpoddata.uuid" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">Name
											<span class="required" aria-required="true"> * </span>
										</label>
										<div class="col-md-6">
											<input type="text" class="form-control" ng-disabled="{{mode}}" ng-change="onChangeName(mapdata.name)" ng-model="vizpoddata.name"
											 required="">
										</div>
									</div>

									<div class="form-group" ng-show="vizpoddata.uuid">
										<label class="col-md-3 control-label">Version</label>
										<div class="col-md-6">
											<select class="form-control" select2 ng-change="selectVersion()" ng-disabled="isversionEnable" data-ng-model="vizpod.defaultVersion.version"
											 ng-options="c.version as c.version for c in vizpod.versions">
											</select>
										</div>
									</div>

									<div class="form-group" ng-show="vizpoddata.uuid">
										<label class="col-md-3 control-label">CreatedBy</label>
										<div class="col-md-6">
											<input type="text" class="form-control" ng-disabled="true" ng-model="vizpoddata.createdBy.ref.name" disabled="disabled">
										</div>
									</div>

									<div class="form-group" ng-show="vizpoddata.uuid">
										<label class="col-md-3 control-label">CreatedOn</label>
										<div class="col-md-6">
											<input type="text" ng-model="vizpoddata.createdOn" ng-disabled="true" class="form-control" disabled="disabled">
										</div>
									</div>

									<div class="form-group">
										<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Tags</label>
										<div class="col-md-6">
											<tags-input class="tag-scroll-height" ng-model="tags" ng-disabled="{{mode}}" min-length="0" add-from-autocomplete-only="false"
											 add-on-enter="true" add-on-space="true">
												<auto-complete source="loadTag($query)" min-length="0" debounce-delay="0" highlight-matched-text="true" max-results-to-show="10">
												</auto-complete>
											</tags-input>
										</div>
									</div>

									<div class="form-group">
										<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Desc</label>
										<div class="col-md-6">
											<textarea class="form-control" ng-disabled="{{mode}}" ng-model="vizpoddata.desc" rows="2" style="resize:none;"></textarea>
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Source
											<span class="required" aria-required="true"> * </span>
										</label>
										<div class="col-md-2 col-sm-2 col-xs-12">
											<select class="form-control" ng-change="onChangeSourceTypes()" data-ng-model="sourcetype" ng-options="r for r in VizpodSourceTypes"
											 ng-disabled="{{mode}}" required="">
											</select>
										</div>
										<label class="control-label col-md-3 col-sm-3 col-xs-12" style="width: 8.5%;margin-left:-13px; padding-right:0px;">Name
											<span class="required" aria-required="true"> * </span>
										</label>
										<div class="col-md-3 col-sm-3 col-xs-12" style="width:26%;">
											<select class="form-control" select2 name="" data-ng-change="onChangeSource()" data-ng-model="allSource.defaultoption" ng-options="r as r.name for r in allSource.options | orderBy: 'datapodname' track by r.uuid"
											 ng-disabled="{{mode}}" required="">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Type
											<span class="required" aria-required="true"> * </span>
										</label>
										<div class="col-md-6">
											<select class="form-control" data-ng-model="vizpodtype" ng-options="r for r in vizpodTypes  | orderBy:orderByValue" ng-disabled="{{mode}}"
											 required="">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Limit</label>
										<div class="col-md-6">
											<input type="number" ng-model="vizpoddata.limit" class="form-control" ng-disabled="{{mode}}">
										</div>
									</div>

									<div class="form-group">
										<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Sort Order
											
										</label>
										<div class="col-md-6">
											<select class="form-control" data-ng-model="vizpoddata.sortOrder" ng-options="r for r in sortOrders  | orderBy" ng-disabled="{{mode}}">
											</select>
										</div>
									</div>
                                    <div class="form-group">
										<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Sort By</label>
										<div class="col-md-6">
											<tags-input class="tag-scroll" ng-model="sortByAttributeTags" ng-disabled="{{mode}}" display-property="dname" key-property="id"
											 add-from-autocomplete-only="true" ng-focus="onTagFocuse()">
												<auto-complete source="loadAttrAndFormula($query)" min-length="1" debounce-delay="0" highlight-matched-text="true" load-on-focus="true"
												 load-on-empty="true">
												</auto-complete>
											</tags-input>
										</div>
									</div>

									<div class="form-group">
										<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Detail Attribute</label>
										<div class="col-md-6">
											<tags-input class="tag-scroll" ng-model="filterAttributeTags" ng-disabled="{{mode}}" display-property="dname" key-property="id"
												add-from-autocomplete-only="true" ng-focus="onTagFocuse()">
												<auto-complete source="loadAttrAndFormula($query)" min-length="1" debounce-delay="0" highlight-matched-text="true" load-on-focus="true"
													load-on-empty="true">
												</auto-complete>
											</tags-input>
										</div>
										<div class="col-md-1" style="left:-19px">
										
											<span ng-hide="{{mode}}" class="fa fa-list-alt" title="Select All" data-toggle="tooltip" data-placement="top" tooltip aria-hidden="true"
												ng-click="addAll()" style="top:6px;left:-24px;cursor: pointer;display: block;margin-bottom: 1px;margin-top: 10px;"></span>
											<span ng-hide="{{mode}}" class="glyphicon glyphicon-erase" title="Clear All" data-toggle="tooltip" data-placement="top" tooltip
												aria-hidden="true" ng-click=" clearAllDetailAttr()" style="top:3px;left:-1px;cursor: pointer;"></span>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<div class="btn-group" ng-init="vizpoddata.active='Y'">
												<label class="btn btn-default" ng-model="vizpoddata.active" uib-btn-radio="'Y'" ng-disabled="{{showactive}}" uncheckable>Yes</label>
												<label class="btn btn-default" ng-model="vizpoddata.active" uib-btn-radio="'N'" ng-disabled="{{showactive}}" uncheckable>No</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Locked</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<div class="btn-group">
												<label class="btn btn-default" ng-model="vizpoddata.locked" uib-btn-radio="'Y'" ng-disabled="{{showactive}}" uncheckable>Yes</label>
												<label class="btn btn-default" ng-model="vizpoddata.locked" uib-btn-radio="'N'" ng-disabled="{{showactive}}" uncheckable>No</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<div class="btn-group" ng-init="vizpoddata.published='N'">
												<label class="btn btn-default" ng-model="vizpoddata.published" uib-btn-radio="'Y'" ng-disabled="{{showactive}}" uncheckable>Yes</label>
												<label class="btn btn-default" ng-model="vizpoddata.published" uib-btn-radio="'N'" ng-disabled="{{showactive}}" uncheckable>No</label>
											</div>
										</div>
									</div> 
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">Public</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
										  <div class="btn-group" ng-init="vizpoddata.publicFlag='N'">
											<label class="btn btn-default" ng-model="vizpoddata.publicFlag" uib-btn-radio="'Y'"
											  ng-disabled="{{mode}}" uncheckable>Yes</label>
											<label class="btn btn-default" ng-model="vizpoddata.publicFlag" uib-btn-radio="'N'"
											  ng-disabled="{{mode}}" uncheckable>No</label>
										  </div>
										</div>
									  </div>
									
									<div class="form-group">
										<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Attribute</label>
										<div class="col-md-6">
											<ul class="tagitdd" style="height:100px;" ng-class="({{mode}} ==true)?'disabled-ul':'default'">
												<li class="btn-draggable tagit-choice-dd  tagit-choice-readonly-dd {{item.class}}" ng-repeat="item in allSourceAttribute track by item.id"
												 data-drag="true" jqyoui-draggable="{index:{{$index}}}" data-jqyoui-options="{helper:'clone',deepCopy:'true'}"
												 ng-model="allSourceAttribute">
													<span class="tagit-label">{{item.dname}}</span>
													<a class="tagit-close-dd">
														<span class="ui-icon ui-icon-close"></span>
													</a>
												</li>
											</ul>
										</div>
									</div>


									<div class="form-group">
										<label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label"></label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<div class="form-group ">
												<div class="col-xs-4">
													<label for="name">Key
														<span class="required" aria-required="true"> * </span>
													</label>
													<ul class="tagitdd" ng-class="({{mode}} ==true)?'disabled-ul':'default'" style="height:150px;" data-drop="true" ng-model='keylist'
													 ng-disabled="{{mode}}" jqyoui-droppable="{multiple:true,'onDrop':'onDropKey($index)','onOver':'onOverCallBackKey()','beforeDrop':'beforeDropKey'}">
														<li ng-disabled="{{mode}}" title="{{item.dname}}" class="tagit-choice-dd tagit-choice-editable-dd"
														 ng-repeat="item in keylist" style="background-color:#99ddff" required="">
															<span class="tagit-label">{{item.dname}}</span>
															<a class="tagit-close-dd">
																<span class="text-icon" ng-click="removekey($index)">×</span>
																<span class="ui-icon ui-icon-close"></span>
															</a>
														</li>
													</ul>
												</div>
												<div class="col-xs-4">
													<label for="name">Group</label>
													<ul class="tagitdd" style="height:150px;" data-drop="true" ng-model='grouplist' ng-class="({{mode}} ==true)?'disabled-ul':'default'"
													 jqyoui-droppable="{multiple:true,'onDrop':'onDropGroup($index)','beforeDrop':'beforeDropGroup'}">
														<li title="{{item.name}}.{{item.attributeName}}" class="tagit-choice-dd tagit-choice-editable-dd" ng-repeat="item in grouplist"
														 style="background-color:#ffb380">
															<span class="tagit-label">{{item.attributeName}}</span>
															<a class="tagit-close-dd">
																<span class="text-icon" ng-click="removeGroup($index)">×</span>
																<span class="ui-icon ui-icon-close"></span>
															</a>
														</li>
													</ul>
												</div>

												<div class="col-xs-4">
													<label for="name">Value 
														<span class="required" aria-required="true"> * </span>
													</label>
													<ul class="tagitdd" style="height:150px;" data-drop="true" ng-model='valuelist' ng-class="({{mode}} ==true)?'disabled-ul':'default'"
													 jqyoui-droppable="{multiple:true,'onDrop':'onDropValue($index)','beforeDrop':'beforeDropValue'}">
														<li title="{{item.dname}}" class="tagit-choice-dd tagit-choice-editable-dd" ng-repeat="item in valuelist" style="background-color:#e6ff99"
														
														 required="" popover-placement="bottom-left" uib-popover-template="'functionPopoverTemplate.html'" popover-is-open="item.popoverIsOpen" popover-enable="item.popoverIsOpen" ng-click="onClickPopoverOpen($index)"  popover-trigger="'click'" >
															<span class="tagit-label">{{item.dname}}</span>
															
															<a class="tagit-close-dd">
																<span class="text-icon" ng-click="removeValue($index)">×</span>
																<span class="ui-icon ui-icon-close"></span>
															</a>
															<script type="text/ng-template" id="functionPopoverTemplate.html">
																<div style="height:100px;">
																	<ul class="list-group">
																		<li class="list-group-item"  ng-class="{active:item.function=='NONE'}"ng-click="applyFunctionOnValue($index,'NONE')">NONE</li>
																		<li class="list-group-item"  ng-class="{active:item.function=='MAX'}"ng-click="applyFunctionOnValue($index,'MAX')">MAX</li>
																		<li class="list-group-item"  ng-class="{active:item.function=='MIN'}" ng-click="applyFunctionOnValue($index,'MIN')">MIN</li>
																		<li class="list-group-item"  ng-class="{active:item.function=='COUNT'}"ng-click="applyFunctionOnValue($index ,'COUNT')">COUNT</li>
																		<li class="list-group-item"  ng-class="{active:item.function=='AVG'}" ng-click="applyFunctionOnValue($index,'AVG')">AVG</li>
																	</ul>
																</div>
															</script>
														</li>
													</ul>
													
												</div>
											</div>
										</div>
									</div>

									<div class="form-group" style="padding-top: 10px;">
										<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
											<a ng-click="okVizpodSave()" class="btn btn-primary">Cancel</a>
											<input type="submit" class="btn btn-success" value="Submit" ng-disabled="(!iSSubmitEnable == false|| mode == false || myform.$dirty == true)?false:true"
											 name="submit" ng-mouseover="checkValue()">
											<span class="spinner" style="padding-left:15px;font-size:23px;vertical-align:middle;" ng-if="dataLoading">
												<div class="bounce1"></div>
												<div class="bounce2"></div>
												<div class="bounce3"></div>
											</span>
										</div>
									</div>

								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="downloadSample" class="modal fade bs-modal-lg in" style="display: none;">
		<div class="modal-dialog" style="width:40%">
			<div class="modal-content" style="resize: both;overflow: auto;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" ng-click="ClosePop()" aria-hidden="true"></button>
					<h4 class="modal-title">Download</h4>
				</div>
				<form class="form-horizontal" name="myform3" id="downloadModel" ng-submit="submitDownload()" novalidate="novalidate">
					<div class="modal-body" style="padding-top:0px">
						<div class="slimScrollDiv" style="position: relative; overflow-y: auto !important; width:auto;padding:10px;">
							<div class="scroller" style="max-height:150px;min-height:110px; overflow-y: auto !important; width: auto;margin-top:30px"
							 data-always-visible="1" data-rail-visible1="1" data-initialized="1">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="col-md-3 control-label">Rows</label>
											<div class="col-md-8">
												<!-- limit-to="{{download.limit_to}}" -->
												<input type="number" min="1" class="form-control" ng-model="download.rows" max="{{download.maxrow}}" required max-err-type="maxLimitDownload">
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">Format</label>
											<div class="col-md-8">
												<select class="form-control" data-ng-model="download.selectFormate" ng-options="r for r in download.formates" required>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--End Model Body-->
					<div class="modal-footer">
						<button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
						<button type="submit" class="btn green">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- END MAIN CONTENT -->