
<div>
  <app-breadcrumb [breadcrumbData]="breadcrumbDataFrom"></app-breadcrumb>
  <br>
  <p-growl [(value)]="msgs"></p-growl>
  <div notifybar style="position:fixed;top:40px;right:0;z-index:1000"></div>
  <!-- BEGIN MAIN CONTENT -->
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN: ACCORDION DEMO -->
      <div class="portlet box green">
        <div class="portlet-title">
          <div class="caption" *ngIf="!isEditInprogess && !isEditError">
            <i class="fa fa-gift"></i>{{algorithm.name}}
          </div>
          <div class="tools">
            <a style="color:white" pTooltip="Main" tooltipPosition="top" [ngClass]="(showForm==true)? 'currentpage':'notcurrentpage'"
              data- (click)="showMainPage(algorithm.uuid,algorithm.version)">
              <i class="fa fa-home" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);font-size:16px;"></i>
            </a>

            <a href="javascript:;" pTooltip="Edit" tooltipPosition="top" tooltip [ngClass]="isEdit == true? 'currentpage':'notcurrentpage'"
              data-(click)="enableEdit(algorithm.uuid,algorithm.version)">
              <i class="fa fa-edit" style="display: block;margin:0px 2px 0px 0px;color:white;transform:scale(1.1,1.1);"></i>
            </a>

            <a href="javascript:;"  pTooltip="Knowledge Graph" tooltipPosition="top" [ngClass]="showForm==false? 'currentpage':'notcurrentpage'"
              data-(click)="showGraph(algorithm.uuid,selectedVersion.label)">
              <i class="fa fa-sitemap" style="display: inline;margin:2px auto;color:white;"></i>
            </a>
            <a  pTooltip="Refresh" tooltipPosition="top" (click)="showGraph(algorithm.uuid,selectedVersion.label)">
              <i class="fa fa-refresh" aria-hidden="true" style="display: block;margin: 2px auto;color:white;"></i>
            </a>
            <a pTooltip="Close" tooltipPosition="top" style="height:14px;" (click)="goBack()">
              <i class="fa fa-times" aria-hidden="true" style="display: block;margin: 2px auto;color:white;transform:scale(1,1.2)"></i>
            </a>
          </div>
        </div>

        <div class="portlet-body form">
          <div class="form-body graph-body" *ngIf="showDivGraph" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQYV2NkIBIwgtStWrXqf1hYGJiNC+CVRNY0qhBv0AMAsKgECyGgekgAAAAASUVORK5CYII=');">
            <div class="form-body text-center" style="color:blue;" *ngIf="isGraphError">Some Error Occur</div>
            <div class="spinner" *ngIf="isGraphInprogess">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div class="show-graph-body" id="graphWrapper">
              <knowledge-graph></knowledge-graph>
            </div>
          </div>
          <div class="form-body" style="padding-top:50px;" *ngIf="showForm">
            <div class="centercontent" style="min-height:500px;" *ngIf="isEditError">
              <h3 style="font-size:14px;color:red;">Some Error Occur</h3>
            </div>
            <div class="centercontent" style="min-height:500px;" *ngIf="isEditInprogess">
              <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </div>
            <div *ngIf="!isEditInprogess && !isEditError">
             
              <form class="form-horizontal" name="myform" novalidate="novalidate" (ngSubmit)="myNewForm.form.valid && submitAlgorithm(myNewForm.form)"
                #myNewForm="ngForm">
                <div class="form-group" *ngIf="mode" >
                  <label class="col-md-3 control-label">UUID</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="algorithm.uuid" name="uuid" placeholder=""
                      [disabled]="true" required>
                  </div>
                </div>
                <!-- <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" [(ngModel)]="algorithm.name" #firstName="ngModel" [ngClass]="{ 'is-invalid': myNewForm.submitted && firstName.invalid }" required />
                    <div *ngIf="myNewForm.submitted && firstName.invalid" class="invalid-feedback">
                        <div *ngIf="firstName.errors.required">First Name is required</div>
                    </div>
                </div> -->
                <div class="form-group">
                  <label class="col-md-3 control-label" [ngClass]="{'has-error': myNewForm.submitted || (name.invalid && (name.dirty || name.touched))}">Name
                    <span class="required" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="algorithm.name" name="name" (ngModelChange)="onChangeName($event)"
                      [disabled]="mode == 'true'" #name="ngModel" required [ngClass]="{'has-error':myNewForm.submitted || (name.invalid && (name.dirty || name.touched))}" >
                      <div *ngIf="myNewForm.submitted || (name.invalid && (name.dirty || name.touched))">
                          <div class="help-block has-error error-msg">
                              This field is required
                          </div>
                      </div>
                    </div>

                </div>
              
              
                <div class="form-group" *ngIf="mode">
                  <label class="col-md-3 control-label">Version </label>
                  <div class="col-md-6">
                    <p-dropdown [options]="VersionList" [(ngModel)]="selectedVersion" name="selectedVersion" [style]="{'width':'100%','padding':'3px'}"
                      [filter]="true" [disabled]="mode == 'false'" (onChange)="onVersionChange()">
                    </p-dropdown>
                  </div>
                </div>

                <div class="form-group" *ngIf="mode">
                  <label class="col-md-3 control-label">CreatedBy</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" [disabled]="true" [(ngModel)]="algorithm.createdBy.ref.name"
                      name="createdBy">
                  </div>
                </div>

                <div class="form-group" *ngIf="mode">
                  <label class="col-md-3 control-label">CreatedOn</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" [disabled]="true" [(ngModel)]="algorithm.createdOn" name="createdOn">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Tags</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- <tag-input [(ngModel)]="algorithm.tags" [disable]="mode == 'true'" name="tags" theme='bootstrap' style=" max-height: 40px;overflow-x: hidden; border: 1px solid #ccc;overflow-y: scroll; border-radius: 5px; padding-left:5px"></tag-input> -->
                    <p-chips [(ngModel)]="algorithm.tags" styleClass="pchip-height" [disabled]="mode == 'true'" name="tags"></p-chips>

                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Desc</label>
                  <div class="col-md-6">
                    <textarea [disabled]="mode == 'true'" [(ngModel)]="algorithm.desc" name="desc" class="form-control noresize "
                      rows="2" style="resize:none;"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group">
                      <ui-switch  [(ngModel)]="active" name="active"
                      [disabled]="((isEdit ==true ||isEdit == false) && isAdd ==false)?true:false"></ui-switch>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Lock</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group">
                      <ui-switch [(ngModel)]="locked" name="locked"
                      [disabled]="((isEdit ==true ||isEdit == false) && isAdd ==false)?true:false"></ui-switch>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Save PMML</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group">
                      <ui-switch [(ngModel)]="savePmml" name="savePmml"  [disabled]="((isEdit ==true ||isEdit == false) && isAdd ==false)?true:false"></ui-switch>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group">
                      <ui-switch [(ngModel)]="published" name="published"
                      [disabled]="((isEdit ==true ||isEdit == false) && isAdd ==false)?true:false"></ui-switch>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Type
                    <span class="required" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-6">
                    <p-dropdown [options]="typesOption" [(ngModel)]="algorithm.type" name="type" [style]="{'width':'100%','padding':'3px'}"
                      [disabled]="mode == 'true'">
                    </p-dropdown>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Library
                    <span class="required" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-6">
                    <p-dropdown [options]="librarytypesOption" [(ngModel)]="algorithm.libraryType" name="libraryType"
                      [style]="{'width':'100%','padding':'3px'}" [disabled]="mode == 'true'">
                    </p-dropdown>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Custom Flag</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group">
                      <ui-switch (change)="onChangeCusFlg($event)" [(ngModel)]="customFlag" name="customFlag"
                        [disabled]="mode == 'true'?true:false"></ui-switch>
                    </div>
                  </div>
                </div>
                <div class="form-group" *ngIf="customFlag ==true">
                  <label class="col-md-3 control-label">Script Path
                    <span class="required" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="algorithm.scriptName " name="scriptName "
                      placeholder="" [disabled]="mode == 'true'">
                  </div>
                </div>
                <div class="form-group" *ngIf="customFlag ==false">
                  <label class="col-md-3 control-label">Script Path
                    <span aria-required="true"> * </span>
                  </label>
                  <div class="col-md-6">
                    {{algorithm.scriptName}}
                    <input type="text" class="form-control" [(ngModel)]="algorithm.scriptName" name="scriptName "
                      placeholder="" [disabled]="true">
                  </div>
                </div>
                <div class="form-group" *ngIf="customFlag ==false">
                  <label class="col-md-3 control-label">Train Class
                    <span class="required" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="algorithm.trainClass " name="trainClass "
                      placeholder="" [disabled]="mode == 'true'">
                  </div>
                </div>
                <div class="form-group" *ngIf="customFlag ==true">
                  <label class="col-md-3 control-label">Train Class
                    <span class="" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="algorithm.trainClass " name="trainClass "
                      placeholder="" [disabled]="true">
                  </div>
                </div>

                <div class="form-group" *ngIf="customFlag ==false">
                  <label class="col-md-3 control-label">Model Class
                    <span class="required" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="algorithm.modelClass " name="modelClass "
                      placeholder="" [disabled]="mode == 'true'">
                  </div>
                </div>
                <div class="form-group" *ngIf="customFlag ==true">
                  <label class="col-md-3 control-label">Model Class
                    <span class="" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="algorithm.modelClass " name="modelClass "
                      placeholder="" [disabled]="true">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Label Required</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn-group">
                      <ui-switch  [(ngModel)]="labelRequired" name="labelRequired"
                        [disabled]="mode == 'true'?true:false"></ui-switch>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Summary Methods</label>

                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <p-chips [(ngModel)]="summaryMethods" styleClass="pchip-height" [disabled]="mode == 'true'" name="summaryMethods"></p-chips>
                    <!-- <tag-input [(ngModel)]="summaryMethods" [disable]="mode == 'true'" name="summaryMethods" theme='bootstrap' style=" max-height: 40px;overflow-x: hidden; border: 1px solid #ccc;overflow-y: scroll; border-radius: 5px; padding-left:5px"></tag-input> -->
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Default Param List
                    <span class="required" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-6">
                    <p-dropdown [options]="allParamlist" [(ngModel)]="paramListWoH" name="paramListWoH" dataKey="uuid"
                      placeholder="Select" [style]="{'width':'100%','padding':'3px'}" [disabled]="mode == 'true'">
                    </p-dropdown>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Param List (Hyper Param)
                    <span class="required" aria-required="true"> * </span>
                  </label>
                  <div class="col-md-6">
                    <p-dropdown [options]="allParamlist" [(ngModel)]="paramListWH" name="paramListWH" dataKey="uuid"
                      placeholder="Select" [style]="{'width':'100%','padding':'3px'}" [disabled]="mode == 'true'">
                    </p-dropdown>
                  </div>
                </div>

                <div class="form-group" style="padding-top: 10px;">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <a class="btn btn-primary" (click)="goBack()" style="margin-right: 5px;">Cancel</a>
                    <button class="btn btn-success" name="submit" >Submit</button>
                    <span class="spinner" style="padding-left:15px;font-size:23px;vertical-align:middle;" *ngIf="isSubmitInprogess">
                      <div class="bounce1"></div>
                      <div class="bounce2"></div>
                      <div class="bounce3"></div>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>